[2018-10-06 08:42] Swati4star commented on #460
Sure @amy6 👍

[2018-10-06 08:45] Swati4star commented on #346
@Arbalest007 Doodle effect is brush effect only.

[2018-10-06 16:32] #108 closed

[2018-10-06 17:25] #460 closed, assigned to nobody

[2018-10-06 17:28] #456 closed

[2018-10-07 08:59] Swati4star opened #470 "[Welcome tutorial page] Add get started button on last fragment"
- On the last fragment of welcome activity, add a `Get Started!` button.
- on clicking this, finish the welcome activity.

[2018-10-07 09:03] Swati4star opened #471 "[Welcome Activity] Add more fragments"
- Add more fragments on Welcome activity related to,
  - text to PDF & qr code to PDF
  - remove, reorder, extract images from PDF

[2018-10-07 10:21] Swati4star opened #472 "Add margins is not working properly"
## Steps
- Select few images
- Go to `Add Margins`
- Add values
- create PDF

### Expected behaviour
Margin should be there in the images

### Actual behaviour
No margins are there

[2018-10-07 15:21] 444Duarte opened #473 "No smooth scrolling in the "Images to PDF" or "Create PDF" fragments"
When using the app I noticed the scrolling was not smooth and getting stuck. I believe this is due to the fact that the nested scrolling is not enabled in the RecyclerView that is inside the NestedScrollView

[2018-10-07 16:56] dgavio commented on #470
Can I handle this?

[2018-10-07 17:37] Swati4star commented on #473
Great finding 👍

[2018-10-07 17:38] #473 closed

[2018-10-07 17:39] Swati4star commented on #470
Sure @dgavio 👍

[2018-10-07 18:14] sc450ew commented on #431
Hi
can i do on this issue ?

[2018-10-07 18:14] Swati4star commented on #431
Sure @sc450ew 👍

[2018-10-07 19:11] AndresMx35 commented on #471
Hi. I would like to try to solve this one, can I?

[2018-10-07 19:12] Swati4star commented on #471
Sure @AndresMx35 👍

[2018-10-08 00:59] marti1125 commented on #472
@Swati4star  please review 👍

[2018-10-08 05:24] #472 closed, assigned to nobody

[2018-10-08 14:40] sandraprog opened #479 "View Files"
In View Files fragment checkbox in the ActionBar remains unchecked even after file selection.
**How to reproduce:**
- Home -> View Files
- Click on a checkbox in the ActionBar
- All files are checked, but checkbox remains unchecked

**Expected Behaviour:**
- Checkbox should change its state

I would like to fix it

[2018-10-08 14:46] #470 closed

[2018-10-08 14:46] Swati4star commented on #479
You can work on fixing it 👍

[2018-10-08 17:51] #479 closed

[2018-10-08 18:05] Swati4star commented on #250
@santoshhiremani Any updates here?

[2018-10-08 18:06] Swati4star commented on #441
@Rimjhim28 Updates?

[2018-10-08 18:06] Swati4star commented on #445
@PseudoAj Updates?

[2018-10-08 18:06] Swati4star commented on #446
@bunhann Any updates here?

[2018-10-08 18:09] Swati4star opened #482 "Show a button also to open the created PDF in Reorder/Remove/Compress PDF"
### Steps
- Go to Reorder/Remove/Compress PDF
- Select the PDF, fill up the entries.

### Actual behaviour
Only a snackbar with `view` action is displayed to open the PDF

### Expected behaviour
Add a button also on the screen `Open PDF` after the PDF is created.

[2018-10-09 02:53] Diksha2008 commented on #482
@Swati4star I would like to take this up!

[2018-10-09 05:18] santoshhiremani commented on #250
Its in progress....will update with PR.

[2018-10-09 05:28] Swati4star commented on #482
Sure @Diksha2008 👍

[2018-10-09 07:19] santoshhiremani commented on #250
I'll be using compile `com.droidninja:filepicker:2.1.5` for file picker since

 doesn't support other than images.

[2018-10-09 08:11] sandraprog commented on #440
It's not taken yet? When I'd like to take it

[2018-10-09 10:30] Swati4star commented on #250
Also, you can show a list of all the ppts on user's device in the bottom sheet (that's what we are doing for the PDFs on user's system)

[2018-10-09 10:31] Swati4star commented on #440
Yes @sandraprog ! You can take up this one 👍

[2018-10-09 10:46] santoshhiremani commented on #250
![](https://user-images.githubusercontent.com/644341/46664364-6b68ab00-cbde-11e8-85be-432077fb4451.png)

[2018-10-09 15:06] #482 closed

[2018-10-10 05:58] Swati4star opened #485 "[Image enhancement option] Allow users to set image scale type"
- Add a new option in `more enhancement options` in `images to pdf` fragment : `Set Image scale type`. This should have all the scale type options available (refer the link below in the reference)
- As the user would be unaware of what different scaling will actually do, provide a sample image too.

### Current behaviour
Currently, we are using `scaleToFit` (https://github.com/Swati4star/Images-to

[2018-10-10 15:17] DJCrashdummy commented on #442
since 2.5 is in f-droid for more than a week and according to https://gitlab.com/fdroid/fdroiddata/issues/1394 it should just be a mater of time until 8.0.0 and 8.3.3 is also online... so i guess this issue can be closed?

[2018-10-10 16:04] Swati4star commented on #442
Sure! 👍

[2018-10-10 16:04] #442 closed

[2018-10-10 18:42] Swati4star opened #489 "Lock icon color in view files"
- Go to  view files
- The encrypted PDFs have a lock icon at top right

### Issue
The icon color is white, so it is not visible

## Fix
Change the icon color to black in white theme.
Take care of icon color in different themes too.

[2018-10-10 19:04] sandraprog commented on #489
Hi, it seems ViewFiles is my favorite fragment :D Can I take this issue?

[2018-10-10 21:06] soulspark666 commented on #489
Can you please point me out to the drawables. I can take on this issue if @sandraprog is not interested now.

[2018-10-11 03:16] Swati4star commented on #489
Sure! @sandaprog you can take it up! :)

[2018-10-11 10:21] Swati4star commented on #471
Status update @AndresMx35 ?

[2018-10-11 16:57] #489 closed

[2018-10-11 17:39] #440 closed

[2018-10-11 17:52] Swati4star opened #494 "The animation in bottom sheet (while the files are getting fetched), doesn't look good in different themes"
Here are the screenshots:
<img width="310" alt="screenshot 2018-10-11 at 11 20 08 pm" src="https://user-images.githubusercontent.com/9164477/46823625-4e81d280-cdac-11e8-9329-cad10e49128a.png">
<img width="309" alt="screenshot 2018-10-11 at 11 20 26 pm" src="https://user-images.githubusercontent.com/9164477/46823626-4f1a6900-cdac-11e8-8416-143710ecbb15.png">
<img width="336" alt="screenshot 2018-10

[2018-10-11 17:59] antercepter commented on #494
@Swati4star I'll do this

[2018-10-11 18:02] Swati4star commented on #494
Sure @antercepter 👍

[2018-10-11 18:08] antercepter commented on #494
@Swati4star Can you please please provide steps to reproduce this issue?

[2018-10-11 18:12] Swati4star commented on #494
you will have to look into the code. If there are few PDFs on your device, you might not be able to see this animation (as it is being shown while files are getting loaded)

Here [ https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/util/PopulateBottomSheetList.java ] - the background task is being called

https://github.com/Swati4star/Images-to-PDF/blob/

[2018-10-11 19:14] antercepter commented on #494
@Swati4star I'm sorry again, but I  can't reproduce this issue. Can you please provide some video when bug happened?

[2018-10-12 08:14] sandraprog commented on #494
I'm afraid when the white block will be removed the animation will be almost invisible on a black background.

[2018-10-12 08:50] Swati4star commented on #494
I think, for the black themes, we should change the animation file colors.

[2018-10-12 10:41] anirudh8860 commented on #454
From the looks of it, I think it's a deadlock caused by different applications and not allowing your app to work. It might vary from device to device.

[2018-10-12 10:49] anirudh8860 commented on #438
it's actually working on my device

[2018-10-12 10:51] anirudh8860 commented on #420
Will try to do it

[2018-10-12 10:54] Swati4star commented on #454
Is there anything I can do in this application's code to fix this issue?

[2018-10-12 10:55] anirudh8860 commented on #454
More or less, it is just a memory issue of a particular device caused by running multiple apps or something else.

[2018-10-12 10:55] Swati4star commented on #438
I have fixed the crash.
In my device, if I click the image from this camera, the image is empty.

[2018-10-12 10:56] Swati4star commented on #420
Sure @anirudh8860 👍

[2018-10-12 10:56] anirudh8860 commented on #438
Ok cool

[2018-10-12 15:17] HarryHeights opened #495 "FAQs and Privacy Policy Statement."
Hello, I'm Harry. I'm a content creator and a copywriter and I engage in contributing to open source projects by creating documents I feel is necessary. Documents I create range from Terms of service, privacy policy to FAQs.
For your project, if it's needed by you, I could help to create FAQS and Privacy Policy for your project.
I'd love to hear your thoughts on this. Thanks

[2018-10-12 16:34] Swati4star commented on #495
Hi Harry,
We already do have a privacy policy : https://sites.google.com/view/privacy-policy-image-to-pdf/home

You can check this, and if you feel like some change is required. Do let me know.
Also, would be happy to have a FAQ

[2018-10-12 18:45] Swati4star opened #496 "Create an instant App version of PDF Converter"
Reference:
https://codelabs.developers.google.com/codelabs/android-instant-apps/index.html#0

Refactor the code as mentioned above...

[2018-10-12 18:57] sandraprog commented on #494
It seems that one does not simply change background color of animation to transparent:
https://github.com/sonaye/lottie-editor/issues/12
And i'm not sure that there is a way to set it programmatically

[2018-10-12 19:42] HarryHeights commented on #495
Alright then. I'll work on the FAQs and send a pull request.

[2018-10-13 11:09] scanyboss commented on #392
Hi, can I work on this ?

[2018-10-13 13:31] Swati4star commented on #250
@santoshhiremani This looks good! You can send a PR.

[2018-10-13 13:32] Swati4star commented on #431
@sc450ew Any updates?

[2018-10-13 13:33] Swati4star commented on #445
I have mentioned a link in the issue description. We already are using itext for a number of other features also, we can itext only for text extraction also.

[2018-10-13 13:52] Vanethos commented on #441
HI @Swati4star I picked up this Issue since there was no further updates

I added the two buttons to the drawer and linked them to the current Add and Remove Password screens, is that okay?

[2018-10-13 13:55] Swati4star commented on #441
Do you mean to the `View Files` fragment?

[2018-10-13 14:00] Vanethos commented on #441
Yes @Swati4star, exactly.

In the meantime I added the PR https://github.com/Swati4star/Images-to-PDF/pull/498

I can change it to create the layout that you desire later

[2018-10-13 14:14] Vanethos commented on #496
I'm going to try this, and will update if I can get it to work :D

[2018-10-13 15:41] Swati4star opened #499 "[New feature] PDF pages to images"
- Add a new option in the navigation drawer: `PDF to images`. Add this to home page also.
- Make this fragment similar to `Extract images` from PDF

### Purpose of this feature
To extract each page of PDF as a different image

### How to do it?
- Use PDF renderer. It can be used to convert each page of a PDF as bitmap (https://github.com/Swati4star/Images-to-PDF/blob/f4f1a61c3c7e099d9f8f0028f3e2ca

[2018-10-13 15:43] Swati4star commented on #441
Change it to the desired layout...

[2018-10-13 15:49] Swati4star commented on #496
Sure @Vanethos 👍

[2018-10-13 16:03] #495 closed

[2018-10-13 16:39] Vanethos commented on #496
Added PR https://github.com/Swati4star/Images-to-PDF/pull/500

[2018-10-13 17:34] Vanethos commented on #441
I won't be able to solve this today, but I will solve it asap

Sorry for the misunderstanding on my part... 😞

[2018-10-13 17:59] amy6 commented on #499
Hey @Swati4star, I'd like to take this up.

[2018-10-13 18:17] Swati4star commented on #499
Sure @amy6 👍

[2018-10-13 18:18] Swati4star commented on #441
No problem! You can complete the other PR for now!

[2018-10-13 20:35] kvscse commented on #499
Hi..can I take this up?

[2018-10-13 20:53] IndianKoder commented on #496
Hi..can I take this up?

[2018-10-13 21:09] Vanethos commented on #496
@IndianKoder I have been working on the instant app, and went through creating the link for the main activity, in PR #500

[2018-10-14 05:46] Swati4star commented on #499
@amy6 is already working on this one. You can pick up some other issue.

[2018-10-14 06:26] Swati4star opened #502 "Use Image cropper in own custom activity"
The UI should look similar to filter images screen
<img width="347" alt="screenshot 2018-10-14 at 11 53 21 am" src="https://user-images.githubusercontent.com/9164477/46913282-c8ca7680-cfa7-11e8-9876-2634353a5772.png">

- Right & left arrows should be there.
- Ignore the filter effects at the bottom
- Add a `crop` button instead of `save current` and `reset` button
- Add a check icon at the top rig

[2018-10-14 06:26] #222 closed, assigned to nobody

[2018-10-14 11:56] sc450ew commented on #431
@Swati4star  problem with Android studio, still work on it,
next week the issue can be fix, and push

[2018-10-14 22:59] Giuseppe250 commented on #248
I want to work on this task, Can I take it?

[2018-10-14 23:00] Giuseppe250 commented on #413
Can I take this task? Is it still free?

[2018-10-15 04:45] santoshhiremani commented on #250
@Swati4star, Have some issue in pdf creation since POI library doesn't support android and i did not get other alternative in android for PPT to PDF....

[2018-10-15 06:04] Swati4star commented on #250
Is there any other alternative?

[2018-10-15 06:13] Swati4star commented on #248
You can start with this issue. Pick the other one, when this is done 👍  @Giuseppe250

[2018-10-15 06:39] santoshhiremani commented on #250
Creating custom jars out of apache POI, lets see..

[2018-10-15 16:05] marika9 commented on #413
Hi, can I take this task?

[2018-10-15 16:10] Swati4star commented on #413
Sure @marika9 👍

[2018-10-16 11:11] Lilus commented on #217
Hi, is anybody working on this issue?

[2018-10-16 11:12] Swati4star commented on #217
No..

[2018-10-16 11:14] Lilus commented on #217
Okay, then I will take this issue. Thank you

[2018-10-17 07:11] #499 closed

[2018-10-17 12:48] santoshhiremani commented on #186
I'm also looking solution on Apache POI in #250. Once we figure out something we can convert all MS docs using this library, I tried including all dependent jars of POI which was around 15-20 MB but still failed.  Library has native java awt dependency a lot thats making  trouble.

[2018-10-17 16:48] Doubl3MM commented on #446
Hi,

since there is no progress on this issue, can I work on this?

[2018-10-18 07:28] PseudoAj commented on #445
Would be interesting to see accuracy vs performance between them. But I will go with your recommendation for now @Swati4star.

[2018-10-18 17:19] #502 closed

[2018-10-18 17:22] Swati4star opened #507 "Add a previous button in image cropper activity"
<img width="316" alt="screenshot 2018-10-18 at 10 50 25 pm" src="https://user-images.githubusercontent.com/9164477/47172130-3ff56700-d328-11e8-8997-85eb0b1507cb.png">

Currently, user can't go to previous image.

### Expected behaviour
Add a left arrow icon in the bottom bar (before `crop image no. x`)
On clicking this, the image should change to previous one.

[2018-10-18 18:42] karimerikanto commented on #507
Hi, just installed this app (looking nice). I could take a look at this issue :)

[2018-10-19 05:37] Swati4star commented on #507
Sure @karimerikanto !
Just create a PR :)

[2018-10-19 05:39] Swati4star commented on #507
Hey @karimerikanto ! Thanks for appreciating. This issue is already fixed by https://github.com/Swati4star/Images-to-PDF/pull/508 from @vbvjain!
You can pick up some other issue, or create a new one 👍

[2018-10-19 05:40] #507 closed

[2018-10-19 18:35] Swati4star opened #510 "Issue with the image clicked from camera"
### Steps
- Go to Images to PDF
- click `select images`
- go to `camera`
- click & image. create PDF

### Expected behaviour
PDF should have an image

### Actual behaviour
A null PDF is created

[2018-10-20 02:52] kartikarora commented on #510
I'm having a look at this

[2018-10-20 13:51] #510 closed

[2018-10-21 06:42] Swati4star commented on #446
Fixed by 59271469cb10c5bd0d1144a9d521f742207baea7

[2018-10-21 06:42] #446 closed

[2018-10-21 08:58] Swati4star opened #512 "[New feature] Invert PDF"
### what to do?
- add a new option in home page, as well as in navigation drawer: `Invert PDF`
- On clicking this, open up a new fragment : UI similar to remove pages
- As name suggests, the output PDF should have inverted colors.

[2018-10-21 13:48] dixi3 commented on #512
I'll try this

[2018-10-21 15:24] Swati4star opened #513 "Allow users to remove password when entered password is master password"
- The master password of PDFs converted via the application is : `PDF Converter`
- While removing password from PDF (in View files), we just check for user password

### Expected behaviour
If user enters master password correctly, then also, decrypt the PDF

[2018-10-21 15:29] Swati4star opened #514 "[New feature] Remove duplicate pages from a PDF"
- Add a new option in the navigation drawer & home page : `Remove duplicate pages`
- Allow users to select a PDF file, and then create a new PDF with duplicate pages removed from that PDF

[2018-10-25 00:52] dadams89 commented on #513
Going to look into this one, will comment if no longer looking!

[2018-10-26 07:34] ajax333221 opened #515 "Canceling grayscale PDF bug"
1. Go to "Images to PDF".
2. Select one or more images.
3. Click on "Create grayscale PDF".
4. Cancel the "Create grayscale PDF" prompt box.

At this ponit the bug happens, you still see X image(s) selected but they are *likely gone.

*Note: there is a 10% chance the bug won't occur.

5. Click on "Add margins" to see if the images are gone (if not, go to step 3 and try again).

6. Click on "Create

[2018-10-26 09:48] Swati4star commented on #515
Hi, thanks for reporting the bug & giving such a detailed explanation!
Will surely fix it in next update 💯

[2018-10-26 14:20] #515 closed

[2018-10-27 19:29] Shivamdhuria commented on #514
Would love to get started on this.

[2018-10-28 09:04] Swati4star opened #516 "Add a whats new fragment"
- Whenever the app is updated (for each new app version), show a `What's New` dialog
- This dialog should have bullets with heading, content & icon (optional)
- The UI should be similar to this:
![screenshot](https://user-images.githubusercontent.com/9164477/47613986-5fc22300-dabe-11e8-8117-779bda72227e.png)

- The data should be parsed from a local json file (whatsnew.json) [ there is no json for

[2018-10-28 10:26] #513 closed, assigned to Swati4star

[2018-10-28 10:59] #441 closed

[2018-10-28 11:39] Swati4star commented on #516
Sure @SaMumcu 👍

[2018-10-28 11:41] Swati4star commented on #514
Sure @Shivamdhuria

[2018-10-29 07:53] PseudoAj commented on #445
Made some progress over the weekend added UI components and basic functionality. Fixing some bugs with the file selection. Will send the PR shortly @Swati4star.

[2018-10-29 09:46] Swati4star commented on #445
Awesome @PseudoAj 💯

[2018-10-29 12:57] SaMumcu commented on #516
Hello again. I could implement this issue with closing the checkstyle rules. I open today before to request PR but I couldn't understand the errors about checkstyle. It is referencing this path app/build/reports/checkstyle/checkstyle.html. Am I missing some point about the rules like camelCase or something like that?

[2018-10-29 16:16] Swati4star commented on #516
Did you checked this html file: `app/build/reports/checkstyle/checkstyle.html` in your repo.

It'll show you a list of errors. We have a set of checkstyle rules to maintain coding standard.
You can open a PR, I'll tell the fixes.

[2018-10-30 18:54] Giuseppe250 commented on #248
Can I ask? Is my issue only allow users to select .doc and .docx files or I have to implement also the conversion of these files?

[2018-10-31 04:37] Swati4star commented on #248
Allow users to select these files & get the string from these files

The code to convert string to PDF is already there.

[2018-11-01 03:31] lgoloh commented on #164
Hi! Could I add these features for Google Drive?

[2018-11-01 05:10] Swati4star commented on #164
Sure @lgoloh 👍

[2018-11-01 15:18] Swati4star commented on #514
I dont have any. You can pick...

[2018-11-09 21:29] ajax333221 opened #523 "Sorting option should not only be accesible via Preview"
For a second, I thought the app couldn't **Sort**¬ by image name/date, since I was looking for it inside the **Rearrange Images** section. I gave up looking it in there, then thought maybe it had a section on its own on the main tools? Nope.

It was not until I went to **Preview** that I found the **Sort**¬ option (next to **Rearrange Images**).

Not sure if it should have a section on its own, or

[2018-11-10 06:16] Swati4star commented on #523
Your doubt is clearly valid. Let's add a sort option in `Rearrange images` section also.

[2018-11-10 06:28] #431 closed, assigned to nobody

[2018-11-10 21:59] ondro2208 commented on #523
I could look at this issue

[2018-11-11 06:46] Swati4star commented on #523
Dont remove the option in `Preview images` section. Add it to rearrange images too 👍

[2018-11-13 10:16] #523 closed

[2018-11-13 14:59] #516 closed

[2018-11-14 08:09] ajax333221 opened #526 "Spanish (ES) translation to strings.xml"
Can someone review this updated version of the Spanish (ES) **strings.xml** I made?

https://github.com/ajax333221/Images-to-PDF/tree/master/app/src/main/res/values-es

Spanish is my first language, I'm pretty confident this is a solid translation and I plan on keep reviewing it a bit more for consistency. But this should be a good starting point, took me 3-4 hours, hope it works.

**Note:** if fu

[2018-11-14 08:17] ajax333221 opened #527 "Some small changes to strings.xml"
While I was doing a complete translation of the Spanish (ES) strings.xml , I noticed some stuff. I will list them here as **[line-number]** (by the time I noticed it was better to list it as the _name=""_ attribute, it was too late, sorry I did it by line number):

- **[141]**: `"Directory does not exists"`, I think it should be "exist" (https://ell.stackexchange.com/a/23944)
- **[145]**, **[215]*

[2018-11-14 17:07] Swati4star commented on #527
This is awesome observation! I will fix these soon in my upcoming PRs.

[2018-11-14 17:10] Swati4star commented on #526
@ajax333221 I have created a PR on your behalf only (using your forked repo)

Can you just verify in the PR(https://github.com/Swati4star/Images-to-PDF/pull/528) if the changes are fine.

I dont know spanish, so I cant help in translation

[2018-11-14 18:55] ajax333221 commented on #526
The changes were applied yes. I will do some more testing to see if I accidentally translated something wrongly, (sometimes the verbs and things like that can be tricky in my language).

Anyway, so far so good. (:

[2018-11-15 15:03] ctodobom opened #529 "Sharing images from third party apps isn't working"
If try to share an image from any third part app, like the phone default gallery, PDF Converter is shown as an option, but when choosed it only shows the app initial screen. It was expected that the app use the shared images to make a new pdf file or merge to an existant.

[2018-11-15 15:47] Swati4star commented on #526
So, is there anything left?
or should i merge your changes?

[2018-11-15 17:46] ajax333221 commented on #526
it's fine now :+1:

[2018-11-18 18:51] Shivamdhuria commented on #514
Hey,I am almost done with the feature, except the icon for this.Currently I am using just one of the resource file (same that of merge) .Can you let me know where did you find the rest of the icons ?

[2018-11-20 15:38] #526 closed

[2018-11-20 15:59] Swati4star commented on #514
I found most of the icons from the Android Studio only, and few from the online resources. If you didn't find anything relevant, you can make a PR with placeholder icon only. @Shivamdhuria 👍

[2018-11-20 22:19] Bernmeister opened #530 "Allow selection of text files (for text to pdf) in location other than "Downloads""
Would like to convert a text file (visible under the default File Manager app) in say "Phone Storage / Documents" or "Phone Storage / Download" to pdf, but the option of selecting a file only goes to "Downloads" and I cannot find that under the file manager.

Any chance to browse/select a text file in the general phone storage area please?

[2018-11-21 18:09] Shivamdhuria commented on #514
Hey ,I tried making a PR but got overwhelmed by merge conflicts. I am trying to move forward by referring to this article
http://ronanmoriarty.com/uncategorized/git-basics-by-example-05-resolving-merge-conflicts/
Does this seem an appropriate way to get rid of merge conflicts?

[2018-11-23 04:00] Swati4star commented on #530
Great finding!
This issue is up for grabs if anyone is interested. 👍

[2018-11-23 04:10] Swati4star commented on #514
@Shivamdhuria Yes, this is a correct way.
You can try this to remove merge conflicts.

[2018-11-23 13:39] arboledasaa commented on #530
Hi, i was checking on my phone and i can see all my files on the phone

![screenshot_20181123-083445_files](https://user-images.githubusercontent.com/7919060/48946308-44023f00-eefb-11e8-92a1-241a52634c88.jpg)

May i know your phone model/rom? to see if it is a version specific issue

[2018-11-23 16:43] #527 closed

[2018-11-29 08:35] #413 closed

[2018-12-06 21:41] ajax333221 opened #533 "Rotating images usability"
I find it a bit confussing that:
1) rotating the image(s)
2) pressing the confirm arrow

doesn't actually rotate them, you need to:
i) rotate the image(s)
ii) stretch the crop window to 100% (as to not crop anything, since default window is a bit less than 100%, and for some reason the changes are only saved when the cropping button is pressed)
iii) click on the crop button
iv) press the confirm a

[2018-12-06 22:06] ajax333221 opened #534 "Clicking on the password visibility toggler icon applies changes"
I noticed toggling this "eye" icon to show/hidde password was triggering the "password can't be blank" message, so after my obervation I did the following:
-added some images for a new pdf
-went to the Protect with Password option
-filled some password
-toggled visibility
-canceled the box
-finish the PDF creation
-opened the PDF
-found that the Password Protection got applied even though I cancel

[2018-12-09 17:30] Shivamdhuria commented on #514
Hey,
I have sent a PR, however I am not sure if it's the right way(this is my first).If this doesn't work I can clone again and make changes.

[2018-12-09 17:46] Shivamdhuria commented on #514
Hey,
I think I ruined my repository,I'll clone again and make changes and send a PR in a couple of days.

[2018-12-15 06:22] ajax333221 opened #537 "Weird behavior when selecting PDFs on View Files with elements at the beginning"
In the View Files section, the PDF file list seems to be composed of: "**BuggedStarters**" and "**Normals**" (let's call them like that, I will elaborate more below).

- _BuggedStarters_ can be **the first** 0 to (4?) items from the list.

- _Normals_ will be all the normal non-bugged remaining items from the list.

The "BuggedStarters" seem to appear when the list of view files list is greater th

[2018-12-15 07:35] ajax333221 opened #538 "Update to Spanish (ES) translation to strings.xml"
My followup to https://github.com/Swati4star/Images-to-PDF/issues/526 with some corrections + translated a new section that was added after the initial translation.

I don't know how to pull-request, if it can be created on my behalf like last time, I would appreciate.

Here is the forked branch: https://github.com/ajax333221/Images-to-PDF/blob/master/app/src/main/res/values-es/strings.xml

[2018-12-15 14:08] fzjcdt opened #539 "The size of the compressed pdf becomes larger"
### Describe the bug
If the compression ratio is small, the compressed file size will become larger.

### Context
Device: honor v10
OS Version: Android 9.0.0
App version: [8.4.8](https://github.com/Swati4star/Images-to-PDF/commit/7a1cad3cc2db7dd39021900686a67ead1fa3d87e )

### How to reproduce
1. Open the application
2. Press the "Compress PDF" button
3. Select a pdf file
4. **Enter a small compre

[2018-12-15 14:52] fzjcdt opened #540 "Font size does not work unless set to default"
### Describe the bug
In Text To PDF, if you want to change the font size, you must check "Set as default", otherwise it will not work.

### Context
Device: honor v10
OS Version: Android 9.0.0
App version: [8.4.8](https://github.com/Swati4star/Images-to-PDF/commit/7a1cad3cc2db7dd39021900686a67ead1fa3d87e )

### How to reproduce
1. Open the application
2. Press the "Text To PDF" button
3. Select a d

[2018-12-15 15:10] Swati4star commented on #533
I agree with you.

Will it be fine if the window is by default stretched to 100%?
This should fix the issue.

[2018-12-15 15:11] fzjcdt opened #541 "Click on "Rotate Pages" to display the Add Watermark page."
### Describe the bug
Click on "Rotate Pages" and the Add Watermark page will appear first.

### Context
Device: honor v10
OS Version: Android 9.0.0
App version: [8.4.8](https://github.com/Swati4star/Images-to-PDF/commit/7a1cad3cc2db7dd39021900686a67ead1fa3d87e )

### How to reproduce
1. Open the application
2. Press the "Rotate Pages" button
3. Press a pdf file
4. Press the "Rotate Pages"

### Exp

[2018-12-15 15:19] Swati4star commented on #538
I have created https://github.com/Swati4star/Images-to-PDF/pull/542

If there are any more changes to be made, you can do it in your fork only.

[2018-12-16 03:49] ajax333221 commented on #533
I think it would be fine if:
-starting at 100%
-adding some visual indicator that shows if changes were made (i.e the button is disabled, and after any rotation or cropping it becomes clickable), but in this case, the crop button should be named something like "apply/apply changes"
-(optional) after applying changes, it moves to the next image (or exit if it is the only image)

[2018-12-17 10:09] Swati4star commented on #533
This seems good.

### What to do?

The requirements are then:
- by default, window should be stretched by 100%
- change the name of `crop` button to `Apply`
- The `Apply` button should be disabled by default.
- The button should be enabled, when the crop window is moved, or the image is rotated.

[2018-12-17 10:12] #541 closed

[2018-12-17 10:50] Swati4star commented on #530
@Bernmeister Even I am able to access the files in other location too.
Can you please provide more info?

[2018-12-17 10:55] Bernmeister commented on #530
Phone is a ZTE Blade A110, Android 5.1

[2018-12-17 15:22] #529 closed

[2018-12-18 07:16] Swati4star opened #543 "Show a toast in `edit images` if user proceed without saving"
### Steps
- select few images
- go to `edit images`
- make some changes (like rotate/crop image)
- press the right arrow button

### Expected behaviour
- A toast message should be shown asking the user to save the current image or they will be discarded
- If no change is made to current image, allow user to proceed without the toast message

[2018-12-18 07:18] Swati4star commented on #514
@Shivamdhuria Any updates?

[2018-12-18 14:15] #533 closed

[2018-12-18 14:15] #543 closed

[2018-12-18 18:46] Shivamdhuria commented on #514
Hey,
When I run ./gradlew aseemble,I get a ton of issues regarding sdk version and few more.(files that I never edited.)
I just ran the same command on your master branch and I still got those errors(overview attached)
[Lint Report.pdf](https://github.com/Swati4star/Images-to-PDF/files/2691829/Lint.Report.pdf)
Is there something I am missing?

[2018-12-19 09:18] Swati4star commented on #514
I ran your PR locally. I have already mentioned the issues on PR.

[2018-12-19 15:37] #538 closed

[2018-12-19 18:15] Shivamdhuria commented on #514
Hey,
I have sent in a new PR,some issues crept in while I was resolving merge conflicts.I made this a new repo from scratch.Also it's still failing ./gradlew assemble but everything else seems to be working.

[2018-12-24 05:41] Shivamdhuria commented on #514
Hi,I have removed all unwanted comments and typos ,Thanks for being so patient!
:)

[2018-12-26 17:00] #514 closed

[2018-12-26 17:09] Swati4star commented on #530
Good finding @arboledasaa 👍

I think, a pop-up warning message should work.

[2018-12-26 17:13] Swati4star commented on #17
Here is another one, https://play.google.com/store/apps/details?id=imagetopdf.createpdf
and they are even using the same screenshots!

I have reported these applications on google, and didn't receive any reply. Does anybody have any idea what else can I do?

[2018-12-26 17:26] Swati4star opened #549 "The formatting of Doc file is removed"
### Steps
Go to text to PDF
Select a doc/docx file with images & headings

### Actual behaviour
The converted PDF has all the text formatting removed and images are also not there in the final PDF

### Expected behaviour
The text formatting should be retained & images should also be there.

[2018-12-26 17:30] Swati4star commented on #445
@PseudoAj are you working on this?

[2018-12-26 19:36] PseudoAj commented on #445
Hey @Swati4star,

Apologies for the delay. I am yet to fix the issue with file selection. I will try to make some progress over the next few days.

[2018-12-28 15:52] Swati4star commented on #445
You can create a work-in-progress PR. I'll help with the file selection issue.

[2019-01-05 02:34] PseudoAj commented on #445
Sounds good. Will post WIP PR.

[2019-01-05 16:10] Swati4star opened #551 "PDF to images is not working fine"
### Steps
- Go to `PDF to images` from navigation drawer or home page
- select a PDF
- Select convert

### Expected behaviour
The images should be as that in the PDF

### Actual behaviour
The images saved have the inverted colors as the actual pages

[2019-01-06 16:05] Swati4star commented on #551
Did you checked the images by `View Images` or by sharing/viewing them in gallery.
For this PDF:http://www.africau.edu/images/default/sample.pdf
I am getting output as these images (when i click on `share images`)
![1](https://user-images.githubusercontent.com/9164477/50738517-e7cd5300-11fa-11e9-9155-0bb4a8f2989b.jpeg)
![2](https://user-images.githubusercontent.com/9164477/50738518-e8fe8000-11fa-1

[2019-01-07 23:19] obpacheco commented on #551
I was able to recreate this problem
1. From action bar click >PDF to Images
2. >Select a File
3. Pick a pdf
4. Make sure you pick a PDF that has text data as it seams like the tool handles images fine
5. Anything that has text turns to black while images are converted correctly
Here is an example of the output I was getting
![1337_1](https://user-images.githubusercontent.com/46357909/50799094-915e

[2019-01-07 23:19] obpacheco commented on #551
I'll try looking into what is causing this issue

[2019-01-08 16:48] #551 closed

[2019-01-12 11:46] Poussinou commented on #17
It's down now :)

[2019-01-21 09:43] #534 closed

[2019-01-29 13:04] sunnyjain commented on #444
the issue still persists  when selecting the PDF that was created earlier, in 'compress pdf' section

[2019-01-29 14:08] Swati4star commented on #444
Is it happening if the select the PDF from the bottomsheet or using the blue button? @sunnyjain

[2019-01-29 14:10] sunnyjain commented on #444
the blue button!

[2019-01-29 14:11] Swati4star commented on #444
We have this issue with a lot of PDFs (if they are selected using the blue button), we are unable to correctly convert their path to uri.

[2019-02-04 09:31] Swati4star commented on #444
We can open up a different issue for the above. 👍

[2019-02-11 05:28] Shivamdhuria commented on #512
Hey, Is this in progress?I'd be glad to take over if not.

[2019-02-11 05:29] Swati4star commented on #512
Yeah sure. You can take it up. 👍

[2019-02-11 14:55] yedhink opened #557 "History activity, dates are overlapping with the type"
### Describe the bug
The date written in the history section is being cut off. More specifically the TextView "@+id/operationDate" overlaps with the TextView "@+id/operationType" in history layout.

### Context
Device          : Redmi 3S Prime
Os              : Android 6.0.1 MMB29M
App versionCode : 83
App versionName : 8.5.6

### Installation
* Installed apk from building the repo
* Used master b

[2019-02-11 15:24] yedhink commented on #557
@Swati4star i would like to work on this issue and make a PR asap. is it okay?

[2019-02-11 17:48] Shivamdhuria commented on #512
Hey,
While inverting colors, Should I invert all the colors or just black & white?

[2019-02-11 17:51] Swati4star commented on #512
All the colors.

Regards,
Swati Garg

On Mon, Feb 11, 2019, 11:18 PM Shivamdhuria <notifications@github.com wrote:

[2019-02-12 01:58] jddeep commented on #530
@Swati4star I am GSSOC 19 participant and would like to work on this issue. Should I start working now and make a PR. Or should I wait for the coding period to begin?
And is there is a slack channel for this project?
Thanks.

[2019-02-12 02:09] Swati4star commented on #530
If you want this PR to be scored in gssoc19 scoring, do it during the coding period only.
Yes, we do have a slack channel. It's link is in the readme only.

Also, if you are gssoc19 participant, you must have got an invite to gssoc19 slack group. We can discuss more over there also.

[2019-02-12 02:15] jddeep commented on #530
@Swati4star yes i have already joined the gssoc19 slack channel. Okay will now be joining this projects slack channel too. Thanks.

[2019-02-13 19:26] Shivamdhuria commented on #512
Implemented with all colors then.
:)

[2019-02-14 16:25] AfolabiDonko commented on #549
I would like to work on this issue, is it okay?

[2019-02-16 06:05] #557 closed

[2019-02-16 14:36] mohammaduvez commented on #454
seems to be ANRs.
`PDFUtils#isPDFEncrypted` is opening PDF. It should be done on IO not on main thread.

[2019-02-17 09:32] Swati4star opened #561 "Different icon for remove pages & remove duplicate pages"
### Steps
- Open navigation drawer
- or go to home page

### Actual behaviour
<img width="343" alt="screenshot 2019-02-17 at 3 00 42 pm" src="https://user-images.githubusercontent.com/9164477/52910963-f2ccd600-32c4-11e9-9fcb-20b2b0ee7a08.png">

### Expected behaviour
- Add different icon for remove pages & remove duplicate pages

[2019-02-17 09:34] Swati4star opened #562 "Add sections and section headers in navigation drawer"
### Steps
Open navigation drawer
<img width="291" alt="screenshot 2019-02-17 at 3 03 15 pm" src="https://user-images.githubusercontent.com/9164477/52911086-3293bd80-32c5-11e9-99c6-894e21bf38fb.png">

### Actual behaviour
All the items are listed in one big group

### Expected
- Add the items in different sections (in accordance with the home page)

[2019-02-17 09:37] Swati4star opened #563 "Add Favourites section on `Home Page` at the top"
- Add a new section on home page - `Favourites`
- It should be empty initially, Just show an icon (or animation) to allow users to add new items there
- When user clicks on the icon, open up a dialog with multiple selectable checkboxes. They should have all the item names that are there on the home page
- The items should then be shown in favourites
- These should be stored in shared prefs

[2019-02-17 09:38] Swati4star opened #564 "Add option to `View images in Gallery` in PDF to Images and Extract Images"
- In  PDF to Images and Extract Images, add a new option (after the images are created) - `View Images in Gallery`
- On clicking this, open the folder in which images are created in the gallery

[2019-02-17 09:41] Swati4star opened #565 "Add Whats New to navigation drawer"
- We already have a whats new fragment which is shown once, when app is upgraded/downloaded
- Add this option in navigation drawer also ( in Extras)
- On clicking this, a new fragment should open up. It should have a list of all the whatsnews with the versions We keep it in the form of json : https://github.com/Swati4star/Images-to-PDF/blob/1688389c5ce71b5bea046b602142d1ad3eefe59f/app/src/main/ass

[2019-02-17 11:33] mohammaduvez commented on #494
Any progress here?
I want to take this.

[2019-02-17 14:35] #512 closed

[2019-02-17 14:36] Swati4star commented on #494
No progress here. You can take it up 👍 @mohammaduvez

[2019-02-18 06:36] Shivamdhuria commented on #420
I'd be glad to work on this if no one else is.However can you please explain more what "allow users to split files randomly" is? As in splitting into PDF's of more than 1 page?

[2019-02-18 08:31] #494 closed

[2019-02-19 11:11] Swati4star commented on #420
Yes @Shivamdhuria
So, currently on splitting the PDF, all the pages are converted to single page PDFs.
What if user wanted to split the PDF into 2 only.
So, allow users to select the page range in which they want to split PDF

[2019-02-19 11:40] Shivamdhuria commented on #420
Alright I'll start working on it

[2019-02-19 19:10] infiniteoverflow commented on #561
I would like to do this task

[2019-02-20 00:48] Rita-Okonkwo commented on #471
Hi @swati4star..can the fragments be blank?

[2019-02-20 00:57] ajax333221 commented on #420
that doesn't include randomness at all mm, I don't know the right word for being able to split it that way, but I'm positive is not _random_.

[2019-02-21 08:31] Swati4star commented on #471
No. They cant be blank. They are supposed to contain the information about the features our app has.

[2019-02-21 08:40] Rita-Okonkwo commented on #471
Okay thank you for the reply. Does it mean that I should put the information in view pager and tab layout format? Because I'm quite confused. Very sorry if I'm stressing you

[2019-02-21 17:05] Ni3verma opened #568 "build.gradle file error"
compile sdk version and support library versions do not match
![bug](https://user-images.githubusercontent.com/20037625/53187333-ec25c200-3628-11e9-8246-d2c5214fd117.png)

[2019-02-22 09:15] yati1998 commented on #565
Hello, can I cintribute to this?

[2019-02-22 09:16] yati1998 commented on #565
Hey, Can I contribute to this issue?

[2019-02-22 16:28] Swati4star commented on #471
If you have issues on how to code this, should continue the chat on slack.

[2019-02-22 16:29] #420 closed

[2019-02-22 16:30] Swati4star commented on #445
@PseudoAj are you working on this?

[2019-02-22 16:33] Swati4star commented on #458
Fixed!

[2019-02-22 16:33] #458 closed

[2019-02-24 02:14] jddeep commented on #568
@Swati4star I am a gssoc19 Participant and I would like to work on this issue. When should I consider making a PR in this case?

[2019-02-24 02:15] jddeep commented on #565
@Swati4star I would like to look into this issue too as a part of gssoc19.

[2019-02-24 04:06] vyankatesh24 commented on #568
@jddeep You can make PR right now. But PRs after 1st March will be counted in GSSoC'19 .

[2019-02-24 08:10] PseudoAj commented on #445
Still interested to finish it up @Swati4star.

[2019-02-24 23:30] Rita-Okonkwo commented on #561
Would love to contribute to this

[2019-02-25 07:08] Shivamdhuria opened #569 "App crashes when invalid input is entered into Split PDF Fragment"
<a href="url"><img src="https://user-images.githubusercontent.com/10262897/53320053-6c367b00-38fa-11e9-8283-8be4fb1a4a7f.png" align="left" width="300" ></a>
The Edit Text  in Split Fragment takes in the input in **1,2-3,5-7,8** format which then splits the pdf accordingly.
When the user enters anything like alphabets,special characters etc the App crashes.The edittext input needs to be validated a

[2019-02-25 09:47] Swati4star commented on #561
@infiniteoverflow has already commented. He will be working on this issue.

[2019-02-25 10:45] Swati4star commented on #445
If you are really interested, create a partial PR
(atleast!)

[2019-02-25 17:04] AfolabiDonko commented on #562
Hi, I'm going to try this

[2019-02-25 18:25] quicksilver28 commented on #569
Hello! I am a gssoc participant. I am interested in solving this issue!

[2019-02-26 14:59] Ni3verma commented on #568
If no one is assigned, I would like to work on this issue

[2019-02-26 14:59] Ni3verma commented on #569
I would like to work on it

[2019-02-26 15:03] jddeep commented on #568
I am willing to work on this issue and i also approached to resolve it first. But i am waiting only for 1st March after which i shall make a PR. @Swati4star kindly confirm.

[2019-02-26 16:08] Swati4star commented on #562
Sure @AfolabiDonko  👍

[2019-02-26 16:11] Swati4star commented on #569
Sure @Ni3verma

[2019-02-26 16:12] Swati4star commented on #568
@jddeep commented first on this issue. You can start working on it & create a PR.

[2019-02-26 16:13] Swati4star commented on #565
Sure @yati1998

If @yati1998 is not working on it, then you can @jddeep

[2019-02-26 16:42] yati1998 commented on #565
@swati4star I am working on this issue..can you assign me this issue??

[2019-02-26 17:06] jddeep commented on #564
I would like to work on this issue. @Swati4star (gssoc19)

[2019-02-26 17:08] jddeep commented on #563
@Swati4star i would like to work on this issue please. (Gssoc19) please assign it to me.

[2019-02-26 17:11] Swati4star commented on #564
You'll be assigned only one issue at a time. and you already have one assigned.
So, comment on other issue when you are done with previous one. @jddeep

[2019-02-26 17:13] Swati4star commented on #565
Sure @yati1998
You can create a PR for this

[2019-02-26 17:16] yati1998 commented on #565
But all the PR will be counted after 1st March..so will it be ohk if I make PR on 1st of March

[2019-02-26 17:17] Swati4star commented on #565
Fine @yati1998
Create PR on 1st.

[2019-02-26 17:18] Swati4star opened #570 "History section shows wrong entry for Invert PDF"
### Steps
- go to invert PDF section. select a PDf, invert it.
- go to history section

### actual behaviour
<img width="353" alt="screenshot 2019-02-26 at 10 45 41 pm" src="https://user-images.githubusercontent.com/9164477/53432313-499a8400-3a18-11e9-8b95-122b00ea7540.png">

### expected
- The entry should show 'Inverted', instead of 'The PDF could not be inverted'

[2019-02-26 17:21] Swati4star opened #571 "The title bar shows image selected count after pressing back"
### steps
- go to view files section
- select few files by selecting the checkbox
- press back

### actual behaviour
The title bar shows the selected images count
<img width="355" alt="screenshot 2019-02-26 at 10 50 23 pm" src="https://user-images.githubusercontent.com/9164477/53432680-f70d9780-3a18-11e9-9ebe-9a72a13b9fd8.png">

### expected behaviour
It should show app name : "PDF Converter"

[2019-02-26 17:23] realrufans opened #572 "V8.5.7 is available for download?"
Hello PO, kudos to you and the rest of the contributors for this great project. I'd like to know if there's anyway i can get the latest version? or it's not officially released yet? because you are still working on it? Thank you as you reply.,😊

[2019-02-26 17:27] Swati4star commented on #572
Hi. Thank you @realrufans 👍

We dont directly release the latest update for all the users on playstore. If you want early access to the updates, you can enroll in our beta program on playstore: https://play.google.com/apps/testing/swati4star.createpdf
💯

We roll out the update to production only after we feel it is bug free! :D

[2019-02-26 17:30] realrufans commented on #572
Thank you ❤

[2019-02-26 17:30] #572 closed

[2019-02-26 17:33] Swati4star opened #573 "Add color picker in `Filter Images` section"
<img width="335" alt="screenshot 2019-02-26 at 11 02 50 pm" src="https://user-images.githubusercontent.com/9164477/53433637-c6c6f880-3a1a-11e9-8678-619bb30e793d.png">

- select **Images to PDF**
- Select few images. select filter images option
- select brush icon

Currently, we can select only a limited number of colors for brush.

### What to do?
- At the end of the color boxes that show up on se

[2019-02-26 21:21] pranay2063 commented on #570
Hi Swati, I could not find any invert PDF section. Do you mean reorder PDF? Also, when I try to select any PDF file (including the ones generated in the app or selected from drive), I get an error saying "We are unable to access PDF. File may be encrypted or in external storage". Please elaborate.

[2019-02-27 02:10] jddeep commented on #564
@Swati4star Okay. I want to make a PR but I need to wait for 1st March for gssoc19 coding period to start. If there is another way please inform me. Thanks.

[2019-02-27 02:57] Swati4star commented on #570
No. I mean invert PDF only.
The feature is not yet there in play store app. Either you can enroll in beta program on playstore, or run the app by building it from Android studio.

[2019-02-27 02:58] Swati4star commented on #564
No. There isn't any other way. Create the PR for the other issue first.

Meanwhile, you can work on this also. (If you want)

[2019-02-28 09:31] jddeep commented on #571
@Swati4star I have taken up one issue earlier and shall create a PR for the same on 1st March. Can this be my 2nd issue? I would like to work on this. Kindly confirm and assign.

[2019-02-28 09:38] Swati4star commented on #571
Hi, you cant be assigned 2 issues at a time. You can be assigned second issue, only after your first Pr is approved.

[2019-02-28 09:46] jddeep commented on #571
@Swati4star okay i shall make a PR for my first issue tommorow (1st March) . Alongside can i also start working on this issue and make a PR for the same tomorrow? Is it cool?

[2019-02-28 09:48] Swati4star commented on #571
Have you committed the changes for your first issue in your forked repo? If you want, I can review those for now. And you can create PR (and I'll approve it)

[2019-02-28 10:02] jddeep commented on #571
@Swati4star yes i did. You can do that.

[2019-02-28 10:06] jddeep commented on #571
@Swati4star should I share you the link of my forked repo?

[2019-02-28 11:48] jddeep commented on #571
@Swati4star I made a commit resolving this issue as well to my forked repo in the ` titlebarcount ` branch. Please review and approve that so I can take up another issue. Thanks.

[2019-02-28 11:53] jddeep commented on #573
@Swati4star I would like to work on this issue next as I resolved #571 . Do check my forked repo for the same. Kindly confirm and assign to me.

[2019-02-28 16:25] vyankatesh24 opened #574 "The Next button is not visible in Filter Images"
### Description
The Next button is not visible in Filter Images may be only on 5 inch or below screen phone.

### Steps
* Create PDF
* Select few files
* Select Filter Images.

### actual behaviour
The Next button is not visible
![4b5ef35f-380e-48e5-abed-c4a71a7c94eb](https://user-images.githubusercontent.com/18503975/53581195-205a2f00-3ba3-11e9-866c-25f7d4a5aa59.jpeg)

### expected behaviour
The

[2019-02-28 16:30] jddeep commented on #574
I would like to work on this issue.

[2019-02-28 16:31] jddeep commented on #573
@Swati4star then as #571 is approved by you. Please assign me this issue. I would like to work on this. Thanks

[2019-02-28 17:01] Swati4star commented on #573
@jddeep please comment on one issue at a time. you have commented on https://github.com/Swati4star/Images-to-PDF/issues/574 too.

First, get started with this one.

[2019-02-28 17:02] Swati4star commented on #574
Change the textview  **Save Current** to **Save**

[2019-03-01 01:25] infiniteoverflow commented on #561
@Swati4star Do u have any specific icons that have to be provided or any custom one will do?

[2019-03-01 01:39] jddeep commented on #573
Okay, I will get started with this. Thanks.

[2019-03-01 01:48] jddeep commented on #574
After resolving #573 I will get to this, Thanks,

[2019-03-01 02:58] Swati4star commented on #561
Any custom one will do. Check online.
Don't use pngs, use vector drawables.

[2019-03-01 06:02] yati1998 commented on #549
Hello, I would like to work on this issue?

[2019-03-01 06:22] Ni3verma commented on #569
Everytime I click on split pdf, i get the snackbar saying "we were unable to access pdf, files may be encrypted or in the external storage".
I have tested with many different pdf files. Problem even happens if I open a pdf which I created using this app.
Running on miA1 android 9

[2019-03-01 07:30] Shivamdhuria commented on #569
Hey, @Swati4star  I downloaded the app from the playstore on my One Plus ,Android 8 and I can't seem to access any of the features.So far I have tried to Remove Pages,Merge Files,Add water Mark,Split files,Invert colors but all of these give "file may be encrypted" snackbar.I tested all these features before on a Pixel 2 emulator where they worked smoothly.Perhaps a new issue for this needs to be

[2019-03-01 09:47] AfolabiDonko commented on #549
Sure ;)

[2019-03-01 11:27] #568 closed

[2019-03-01 11:28] Swati4star commented on #569
Did you select files from the bottom bar or using the orange slider?

[2019-03-01 11:35] #571 closed

[2019-03-01 11:43] Shivamdhuria commented on #569
It is working when file is selected using orange slider ,but gives error when I try to select using "Select a File" (blue Button)

[2019-03-01 17:12] amy6 commented on #537
@Swati4star  I'd like to give this a try.

[2019-03-02 02:43] jddeep commented on #573
@Swati4star I have added another button for the color palette on the seekbar. Can you help a bit on how to open up the pallete which you were saying was there in the watermark section?

[2019-03-02 02:44] Swati4star commented on #569
@Ni3Verma @shivandhuria
Let's this issue be as is. Select file using orange slider.

I'll create a different issue that sometimes files are not getting selected when we use blue button.

[2019-03-02 02:45] Swati4star commented on #573
Go to view files. Select a PDF. Select add watermark option. There is a color picker in the dialog

[2019-03-02 02:55] Swati4star commented on #537
Sure @amy6  👍

[2019-03-02 03:00] Swati4star opened #577 "Add `Add Watermark` option to navigation bar also"
- This option is already there on home page
- Add this to navigation bar also.
- The behaviour should be same as what happens when we select it from home page.

[2019-03-02 04:26] Ni3verma commented on #569
Okay

[2019-03-02 06:05] Swati4star opened #579 "Error message is displayed when PDF is selected using blue button"
- In many of the features (Remove Pages,Merge Files,Add water Mark,Split files,Invert colors), we are getting following error message when PDF is selected using blue button
- This snackbar is displayed "we were unable to access pdf, files may be encrypted or in the external storage"

[2019-03-02 07:12] vyankatesh24 opened #581 "Theme is not getting applied on Help Activity"
### Description
    Theme is not getting applied on Help Activity
### Steps to reproduce
   * Goto Settings
   * Change Theme
   * Now open Help Activity from Navigation Drawer
### Actual behaviour
![image](https://user-images.githubusercontent.com/18503975/53678651-44735880-3ce8-11e9-8338-166631decf78.png)
![image](https://user-images.githubusercontent.com/18503975/53678652-489f7600-3ce8-11e9-86c

[2019-03-02 07:47] Tanyavarshney16 commented on #577
I would like to work on this issue..(gssoc P)

[2019-03-02 10:13] Ni3verma commented on #562
@Swati4star can I do it?
(Gssoc P)

[2019-03-02 10:26] SGagan commented on #570
I would like to do this task. I am a GSSOC participant.

[2019-03-02 13:39] AfolabiDonko commented on #581
Hi, can i work on this issue?

[2019-03-02 16:35] Swati4star commented on #577
Sure 👍

[2019-03-02 17:13] Swati4star commented on #217
@Lilus Did you do any work related to this issue?

[2019-03-02 17:15] Swati4star commented on #562
@AfolabiDonko are you working on this issue?
( Please take up only one issue at a time. You have commented on #581 too)

[2019-03-02 17:19] Swati4star commented on #454
@mohammaduvez Can you create a PR with this fix?

[2019-03-02 17:20] Swati4star commented on #471
@Rita-Okonkwo Are you working on this one?

[2019-03-02 17:21] #496 closed

[2019-03-02 17:56] AfolabiDonko commented on #562
@Swati4star yes, i am currently working on this issue. I'll begin the #581 after.

[2019-03-03 05:43] #573 closed

[2019-03-03 05:44] #562 closed

[2019-03-03 05:45] Swati4star commented on #574
You may work on this now @jddeep

[2019-03-03 06:37] jddeep commented on #579
@Swati4star I would like to work with this. Can you please a describe a bit more on how exactly to reproduce here on my device.

[2019-03-03 06:41] Swati4star commented on #579
It's reproducible on my device also. (one plus 5)
- go to  compress PDF section from navigation drawer (or home page)
- press the blue button. File Explorer opens up. select a PDF
- Enter something in the text
- When you select 'Create PDF`, the snackbar opens up "PDF is password protected"

I think, It happens because, we are not parsing the file path correctly.

(Also, complete https://github.co

[2019-03-03 06:43] Swati4star commented on #564
@jddeep You comment on multiple issues at a time. Please pick one first, then comment on it & wait before your previous PR is approved.

[2019-03-03 06:46] jddeep commented on #564
@Swati4star Sorry for any inconveniences caused.

[2019-03-03 07:01] #574 closed

[2019-03-03 07:02] Swati4star commented on #564
Okay @jddeep. Just comment on the issue you are working on currently.

[2019-03-03 11:53] AfolabiDonko commented on #581
@Swati4star can i work on this issue??

[2019-03-03 12:35] vyankatesh24 opened #585 "App Crashing when clicked on History on HomeActivity"
### Description
  App Crashes when clicked on History, Add Password, Remove Password, Add Images and some others on HomeActivity.
Error: IndexOutofBoundException

Also appropriate menu is not getting highlighted in Navigation Drawer.
### Steps to reproduce
* Open App.
* And click on any of the above option
### Actual behaviour
App Crashes

### Expected behaviour
Should open respective fragment.

[2019-03-03 13:25] srv-twry commented on #585
@vyankatesh24 Could you please paste the whole stacktrace instead of just the Error?

[2019-03-03 13:44] Swati4star commented on #581
Sure @AfolabiDonko

(Also, are you a gssoc participant?)

[2019-03-03 13:51] Swati4star commented on #570
@SGagan sure, you can work on it 👍

[2019-03-03 13:53] Swati4star commented on #565
@yati1998 are you working on this?

[2019-03-03 13:55] yati1998 commented on #565
yes I am.  Bit confused with the code.  Will try to make the PR as soon as possible

[2019-03-03 13:55] AfolabiDonko commented on #581
Thank you ! I am not yet a gssoc participant @Swati4star

[2019-03-03 13:56] Swati4star commented on #561
@infiniteoverflow This issue should be completed in 1-2 days. Are you facing any issue? are you working on this?

[2019-03-03 13:57] Swati4star commented on #549
@yati1998 Please comment on one issue at a time. You have committed on one more issue.

[2019-03-03 13:59] yati1998 commented on #549
@swati4star ohk.  I will first try to finish that issue and than would work on this if anyonelse haven't.

[2019-03-03 14:02] infiniteoverflow commented on #561
@Swati4star Sorry mam for the delay. I had some personal issues. I will complete the task first thing in the morning tmrw.

[2019-03-03 14:04] Swati4star opened #586 "Invert PDF icons is different in navigation bar and home page"
Invert PDF icons is different in navigation bar and home page

### Steps to reproduce
<img width="275" alt="screenshot 2019-03-03 at 7 32 56 pm" src="https://user-images.githubusercontent.com/9164477/53696249-2e9a8c00-3deb-11e9-9e54-2c4afc0eac44.png">

<img width="361" alt="screenshot 2019-03-03 at 7 33 02 pm" src="https://user-images.githubusercontent.com/9164477/53696251-30644f80-3deb-11e9-9f0c-

[2019-03-03 14:09] Swati4star opened #587 "Error displayed when images are removed in `Rearrange images` section"
Describe your issue here.

### Steps to reproduce
- go to `images to PDF`
- select few images.
- go to `rearrange images`. Select `X` for every image
- press back button on title bar
- select `Create PDF` button

### Expected behaviour
- `create PDF` button should be disabled when no images are currently selected
- The textview at bottom which shows `X images selected` should also hide

### Actual

[2019-03-03 14:21] Swati4star opened #588 "Add `Filter` option in history section"
Add `Filter` option in history section

### Steps to reproduce
Go to history from navigation drawer or home page

### Expected behaviour
- add a `filter` menu option in the title bar
- on selecting it, open up a dialog with checkboxes on following options:
Created, Deleted, Renamed, Rotated, Printed, Decrypted, Encrypted, Inverted
- By default, all the option should be checked
- Based on the optio

[2019-03-03 17:02] mohammaduvez commented on #454
@Swati4star sure, I will look into it. One thing I wanted to know about is that, the project is scaling up, but not following any pattern, Is there any plan of that?

[2019-03-03 18:39] gateway2rohan commented on #587
I want to work on this issue.

[2019-03-04 04:02] vyankatesh24 commented on #585
java.lang.IndexOutOfBoundsException: Index: 11, Size: 7
        at java.util.ArrayList.get(ArrayList.java:411)
        at android.support.v7.view.menu.MenuBuilder.getItem(MenuBuilder.java:758)
        at swati4star.createpdf.activity.MainActivity.setNavigationViewSelection(MainActivity.java:398)
        at swati4star.createpdf.fragment.HomeFragment.setNavigationViewSelection(HomeFragment.java:138)

[2019-03-04 04:09] Swati4star commented on #454
Hi. I have creating issues on an adhoc basis only. If you have any plan suggestion, do share it with me. We can discuss it over mail also. swati4star@gmail.com

[2019-03-04 04:12] #564 closed

[2019-03-04 04:19] Swati4star commented on #587
Go ahead 👍

[2019-03-04 04:19] vyankatesh24 opened #590 "Error when creating grayscale pdf"
### Describe your issue here.
Error occures "Error on creating application folder".

### Steps to reproduce
* Create PDF
* Select Images
* Create grayscale PDF.
* Enter Name and Press OK

### Expected behaviour
* PDF should be created correctly
* Images shouldn't become grayscale when `Cancel` is pressed.

### Actual behaviour
* Error occures "Error on creating application folder".
* Shows images

[2019-03-04 08:34] jddeep commented on #563
@Swati4star Can i start working on it now?

[2019-03-04 08:35] Swati4star commented on #563
Sure. Go ahead 👍

[2019-03-04 08:41] #570 closed

[2019-03-04 08:43] vyankatesh24 commented on #570
Congratulations @SGagan for First Contribution to #Images-to-PDF
Happy Coding :+1:

[2019-03-04 13:37] jddeep commented on #563
@Swati4star I think #582 has broken something the app crashes due to ` IndexOutofBoundsException ` for the ArrayList. I can tell so because the errors oroginate from setNavigationViewSelection methods.

[2019-03-04 13:39] jddeep commented on #563
@Swati4star to Reproduce : Click on any Card on home page example Add Password, History, etc. many more.

[2019-03-04 13:41] vyankatesh24 commented on #563
@jddeep There is #585 issue for this.

[2019-03-04 13:43] Swati4star commented on #563
@jddeep If you want, you can work on #585 first. That seems to be a major bug

[2019-03-04 13:47] jddeep commented on #563
@Swati4star you are right. But that ain't a easy level issue. It needs much time and work.

[2019-03-04 13:48] jddeep commented on #563
Btw I will be working on it anyway.

[2019-03-04 18:37] itnug987 commented on #590
I want to work on this issue

[2019-03-04 21:50] sseryani commented on #586
I will do this

[2019-03-05 03:42] Swati4star commented on #590
Sure @itnug987

[2019-03-05 03:45] Swati4star commented on #586
Sure @sseryani

[2019-03-05 05:50] Ni3verma commented on #588
I want to work on it

[2019-03-05 09:27] #585 closed

[2019-03-05 09:45] SupreethBaliga commented on #561
Is this issue still open? I am interested in contributing.

[2019-03-05 10:00] Swati4star commented on #561
@infiniteoverflow is working on it. @SupreethBaliga You can pick up any other open issue

[2019-03-05 10:28] SupreethBaliga commented on #561
Okay. In case he @infiniteoverflow leaves it, please allow me to have a try on it.Thanks.

[2019-03-05 12:12] infiniteoverflow commented on #561
Yeah sorry for the delay. I will be completing this today itself :)

[2019-03-05 14:19] #586 closed

[2019-03-05 14:29] #569 closed

[2019-03-05 14:29] Swati4star commented on #588
Sure @Ni3verma
You can work on it 👍

[2019-03-05 14:33] Swati4star commented on #586
Congrats on your first contribution to this project! @sseryani

[2019-03-05 14:35] Shivamdhuria commented on #579
I found out if we select a Pdf using the blue button,the mPath String is
document/primary:Download/doc.pdf
while selecting from orange slider it is
/storage/emulated/0/Download/agenda1.pdf
I would like ti further work on this if it's unassigned.

[2019-03-05 14:36] Swati4star commented on #577
Updates @Tanyavarshney16

[2019-03-05 14:37] Swati4star commented on #579
@jddeep is working on https://github.com/Swati4star/Images-to-PDF/issues/563
So, you can start with this issue @Shivamdhuria

[2019-03-05 14:38] Shivamdhuria commented on #579
Alright!

[2019-03-05 14:40] Swati4star commented on #537
any updates @amy6 ?

[2019-03-05 14:48] amy6 commented on #537
@Swati4star Issue has been resolved. Sending a PR in a few minutes.

[2019-03-05 14:58] Ni3verma commented on #588
@Swati4star
should I persist filter settings in shared prefs **or** everytime user clicks on filter option, every checkbox should be selected by default ?

[2019-03-05 15:22] srv-twry opened #594 "testing: Write unit tests for the user input validator(isInputValid) in PDFUtils"
The user input validator named `isInputValid` in PDFUtils is untested. It would be great if unit tests could be added with various test cases in order to test if the method works as expected.

Please write tests for the method with various user input cases.

[2019-03-05 15:27] Swati4star commented on #588
No. By default, the filter should be 'All'

add 'all' option also to the filters list

[2019-03-05 15:29] #537 closed

[2019-03-06 08:02] aqeelparpia commented on #577
Hello there, I have stated working on this issue assuming it hasn't been worked on yet.
I shall be able to get it done soon @Swati4star

[2019-03-06 10:52] srv-twry commented on #577
@aqeelparpia The issue was already claimed by someone else. You can't just assume it.

[2019-03-06 11:06] srv-twry opened #598 "Write unit test for calculateFitSize method in ImageUtils"
The `calculateFitSize` method in ImageUtils is untested. It would be great if unit tests could be added with various test cases in order to test if the method works as expected.

Please write tests for the method with various input arguments.

[2019-03-06 15:47] vyankatesh24 opened #599 "Add action to Snackbar when PDF is Rotated"
### Description
When we rotate PDF the Snackbar shows `PDF Created!` but does not show `View` action.
### Steps to reproduce
* View Files
* Click on PDF the dialog will open
* Select Rotate Pages
* Select Angle and Click Ok

### Expected behavior
The snackbar should show  `View` action and on Clicking it the PDF should be Displayed.

### Actual behavior
Snackbar does not show `View` action.

[2019-03-06 16:23] Ni3verma commented on #599
I would like to work on it

[2019-03-06 16:37] #577 closed

[2019-03-06 16:39] #579 closed

[2019-03-06 16:42] jddeep commented on #563
![screenshot_20190306-221112](https://user-images.githubusercontent.com/43133646/53897749-cc48c200-405c-11e9-9f82-96fa1306b86d.png)
![screenshot_20190306-221112](https://user-images.githubusercontent.com/43133646/53897785-e08cbf00-405c-11e9-9e80-d816db761d49.png)

[2019-03-06 16:43] jddeep commented on #563
@Swati4star Please tell of this is okay?

[2019-03-06 16:47] Swati4star commented on #563
This looks good. 💯
--and what are you going to show on selecting the `+` icon? If you have created that dialog, do share it's screenshot too

[2019-03-06 16:55] jddeep commented on #563
@Swati4star Am working on it. Will make a PR soon.

[2019-03-06 17:28] gateway2rohan commented on #587
Done. Already made a pull request

[2019-03-06 17:49] #588 closed

[2019-03-06 18:30] Shivamdhuria opened #602 "Back button leads to Home Fragment when orange file selector is still open"
This is more like a UX bug.
<a href="url"><img src="https://user-images.githubusercontent.com/10262897/53904382-efc73900-406b-11e9-9d4c-3cbdbf945b45.gif" align="left" width="300" ></a>

### Steps to reproduce
Go to any fragment such as invert pdf ,remove page etc wherever there's is the orange slider in use.Click on the slider to pull up.Click back button.

### Expected behaviour
Clicking on back

[2019-03-06 18:35] Shivamdhuria commented on #602
Again,This might just be intuitive for me.

[2019-03-06 18:37] Ni3verma opened #603 "change isInputValid method in pdfUtils.java"
change method to something like this:

[code]

then it'll be easier to unit test checkRangeValidity (issue #594 )

[2019-03-06 18:37] Ni3verma commented on #603
I would like to work on it

[2019-03-06 18:40] Ni3verma commented on #594
should be done after #603

[2019-03-06 19:23] srv-twry commented on #599
I don't have the access to assign you but you can go ahead with the issue and solve it.

[2019-03-07 02:36] Ni3verma commented on #599
okay

[2019-03-07 03:49] jddeep commented on #563
![screenshot_20190307-091842](https://user-images.githubusercontent.com/43133646/53931173-1b711000-40ba-11e9-8acf-53c64219ef78.png)

[2019-03-07 03:50] jddeep commented on #563
@Swati4star On clicking the + button this type of Preference Screen appears. Is it cool? And @Swati4star can you provide me a list of Preference options that need to appear? Thanks

[2019-03-07 03:54] Swati4star commented on #563
@vyankatesh24 @srv-twry can you look into this? I am a bit busy today

Regards,
Swati Garg

On Thu, Mar 7, 2019, 9:20 AM Jaideep Prasad <notifications@github.com>
wrote:

[2019-03-07 04:54] jddeep commented on #563
@vyankatesh24 @srv-twry Please provide a list of preference options that should be there in the pref screen

[2019-03-07 05:48] ahmedaboalata commented on #599
can i join

[2019-03-07 05:52] Ni3verma commented on #599
@ahmedaboalata I have already made PR of this issue.

[2019-03-07 09:23] #599 closed

[2019-03-07 09:24] Swati4star commented on #602
This is a valid issue

[2019-03-07 09:49] Swati4star commented on #563
Looks good.
Add all the options that are there on the home page. @jddeep

[2019-03-07 09:50] Swati4star commented on #603
Sure @Ni3verma

[2019-03-07 10:03] jddeep commented on #563
@Swati4star Thanks for the response. :)

[2019-03-07 10:46] vyankatesh24 commented on #563
@Swati4star @jddeep Sorry for unavailability.

[2019-03-07 10:57] sidhuparas commented on #602
Would you like to work on this @Shivamdhuria?

[2019-03-07 11:06] sidhuparas commented on #565
@yati1998 It's taking significant amount of time. If you need help, share your problem in #images-to-pdf Slack channel.

[2019-03-07 11:08] sidhuparas commented on #581
@AfolabiDonko How's the progress? Any updates?

[2019-03-07 11:13] yati1998 commented on #565
@sidhuparas I am sorry for being this late.  I was stuck some where.  I have asked for the help in slack.  Will try to make a Pr by tomorrow.

[2019-03-07 12:18] AfolabiDonko commented on #581
I am on it now. I will make a pull resquest soon

[2019-03-07 13:16] infiniteoverflow commented on #561
Sorry i wont be able to work on this as i am engaged with some other works.

[2019-03-07 13:41] sidhuparas commented on #561
@SupreethBaliga You can start working on this issue.

[2019-03-07 14:18] vyankatesh24 commented on #445
@PseudoAj Any updates?

[2019-03-07 14:21] vyankatesh24 commented on #346
@Swati4star is anyone working on it?

[2019-03-07 14:25] vyankatesh24 commented on #250
@santoshhiremani Are you still working on it?

[2019-03-07 14:28] vyankatesh24 commented on #164
@lgoloh Are you still working on it?

[2019-03-07 14:31] vyankatesh24 commented on #346
@Arbalest007  Are you still working on it?

[2019-03-07 15:05] vyankatesh24 opened #605 "Count of images doesn't update when images removed from 'Rearrange Images' option"
Count of images doesn't update when images removed from 'Rearrange Images' Enhancement option

### Steps to reproduce
* Images to PDF
* Select Images
* Select `Rearrange Images` option from More Enhancement options
* Remove some images
* press `Back`

### Expected behaviour
Count of file ` x images(s) selected` should update which is there at bottom of `ImagesToPDF Fragment`
### Actual behaviour
F

[2019-03-07 15:07] SupreethBaliga commented on #561
Ok. Can I get a bit of info about where exactly I have to make the changes? As in can you tell me the name of the files associated with it? Thanks.

[2019-03-07 15:21] Shivamdhuria commented on #602
@sidhuparas ,a but busy so no.

[2019-03-07 15:26] Shivamdhuria commented on #561
@SupreethBaliga  Go to resources>layout>fragment_home.
Edit the option_icon property to the new icon.
Do the same for layout file of navigation menu.

[2019-03-07 15:52] vyankatesh24 opened #606 "Bug in Add Images Fragment"
`Create PDF` button becomes blue but does not get Enabled When Images Added.
`Create PDF` button becomes blue & Enabled after only the File is selected i.e. without adding images.

### Steps to reproduce
* Add Images
* Click on `ADD IMAGES` or `SELECT A FILE`

### Expected behaviour
The process should be in a flow
* `Select A File` (Already enabled and Blue) others button should Disabled and Gray

[2019-03-07 15:54] Swati4star commented on #346
@vyankatesh24 We are dependent on library for fixing this issue. Check https://github.com/Swati4star/Images-to-PDF/pull/477

[2019-03-07 15:54] vyankatesh24 commented on #606
@Swati4star Have a look over Expected Behaviour.
Do suggest changes needed if any

[2019-03-07 15:59] #603 closed

[2019-03-07 16:05] #587 closed

[2019-03-07 16:09] SupreethBaliga commented on #561
Ok got it. Working on it. Will let you know as soon as I am done. Thanks.

[2019-03-07 16:14] Swati4star commented on #606
@vyankatesh24 Good finding! The proposed actual behaviour looks good 👍

[2019-03-07 16:33] Ni3verma commented on #594
@srv-twry I'll try to do it

[2019-03-07 17:48] SupreethBaliga commented on #561
I have a bit of an issue. I am not being able to test the application. My phone API level is than 20 and hence not being able to test. Also, emulator is really slow and app crashes. What do I do?

[2019-03-08 01:00] ahmedaboalata commented on #605
can i join

[2019-03-08 04:16] SupreethBaliga commented on #561
Done.

[2019-03-08 15:04] vyankatesh24 commented on #605
@ahmedaboalata
If you want to work on this issue, you may!

[2019-03-08 17:48] #561 closed

[2019-03-09 09:41] theabhishekavi commented on #602
@Swati4star @sidhuparas shall i work on this issue?

[2019-03-09 09:58] sidhuparas commented on #602
@theabhishekavi Sure, go ahead!

[2019-03-09 11:32] sidhuparas commented on #590
@itnug987 How's the progress? Any updates?

[2019-03-09 12:30] itnug987 commented on #590
Installed the project in my local machine. Found out where the error is occurring. Trying to fix it.

[2019-03-09 19:40] theabhishekavi opened #613 "Wrong display of snackbar showing rearrange image"
Snackbar shows images are rearranged even if they are not rearranged.

### Steps to reproduce
1.Select Images to PDF
2.Select Images
3.Select 2-3 images and click sure
4.Click Rearrange images and just press back button

### Actual behaviour
Snackbar displays images are rearranged although it is not arranged

### Expected behaviour
Message should be displayed only if images are rearranged

### Wou

[2019-03-10 02:52] jddeep commented on #549
@Swati4star I would like to work with this after #607 has been reviewed. Please take a look on #607 it has been going on for a while now. I want to quickly finish it and focus on this. Cheers!

[2019-03-10 02:54] jddeep commented on #549
And coming to this issue, any initial approach you would like to suggest? @Swati4star

[2019-03-10 03:32] theabhishekavi commented on #613
@Swati4star should i work on this?

[2019-03-10 06:05] Swati4star commented on #549
@jddeep I dont have any approach in mind for this. You'll have to look why is this happening and alternate.

@srv-twry @sindhuparas might be able to help

[2019-03-10 06:07] #581 closed

[2019-03-10 06:11] Swati4star commented on #613
Sure @theabhishekavi

[2019-03-10 11:57] srv-twry commented on #549
@jddeep sorry, I also don't have any initial approach in mind. You might have to dig deep to figure out the error.

[2019-03-10 12:19] #563 closed

[2019-03-10 12:26] #613 closed

[2019-03-10 13:13] theabhishekavi opened #615 "View beneath textview should not be clickable"
When we click a bottom textview the view beneath it is clicked

### Steps to reproduce
1.Open Images to pdf fragment
2.Select images and click sure
3.Now try to click the bottom text view showing number of images selected

### Actual behaviour
The view which is beneath the textview opens

### Expected behaviour
The view which is beneath the textview should not be clicked

### Would you like to wor

[2019-03-10 13:13] theabhishekavi commented on #615
@Swati4star shall i work on this?

[2019-03-10 13:17] jddeep commented on #598
@Swati4star @srv-twry I would like to work on it. Can I proceed?

[2019-03-10 13:20] jddeep commented on #598
@Swati4star I would take a look at #549 at a little later time. As I am a bit short on time now. The issue #549 remains open btw and if someone other wants can claim it in the mean time. Thank you.

[2019-03-10 13:24] theabhishekavi commented on #615
should i include the preview of selected images in onclick of textview or no work should be done on clicking the bottom textview ?

[2019-03-10 13:59] sidhuparas commented on #549
@jddeep Sorry but this needs a good amount of research. A good option is to explore similar kind of open-source projects.

[2019-03-10 14:12] Swati4star commented on #615
Nothing should be done on clicking the text views.

[2019-03-10 14:13] #615 closed

[2019-03-10 14:13] Swati4star commented on #598
Sure @jddeep 👍

[2019-03-10 15:39] Ni3verma commented on #539
In my case, everytime I click on create PDF, i get snackbar saying **pdf is password protected**.

[2019-03-10 15:53] Ni3verma commented on #217
@Swati4star I didn't understand the issue :confused:
what do you mean by this?

and all of the files are stored in PDFfiles folder in phone storage. so why do you want a directory structure?

[2019-03-10 18:10] vyankatesh24 opened #618 "Navigation Drawer Items doesn't get highlighted."
When we click on any navigation drawer items, Items doesn't get highlighted.

### Steps to reproduce
* Open App
* Navigation Drawer
* Select Any Item (Fragment)

### Expected behaviour
Selected Item should be highlighted.

### Actual behaviour
`Home` remains highlighted always.

[2019-03-10 18:48] vyankatesh24 opened #619 "[Favourites Menu] Actionbar gets removed"
Actionbar gets removed when clicked on Favourites menu.

### Steps to reproduce
* Open the App
* Click on Favourite menu.
* Click back(Phone's Button)

### Actual behaviour
There is no Actionbar on Activity after clicking back.

![image](https://user-images.githubusercontent.com/18503975/54089812-17334400-4393-11e9-9ad4-a6d479242a76.png)

### Expected behaviour
Actionbar should be there in Activit

[2019-03-11 01:39] kunalmulwani commented on #606
Anyone working on this issue?

[2019-03-11 05:48] PseudoAj commented on #445
@vyankatesh24 @Swati4star Couldn't spend time to rebase and make any progress. Apologies for hogging this task for so long. If someone is interested feel free to re-assign.

[2019-03-11 08:17] theabhishekavi commented on #619
@vyankatesh24 there are some more issues in this favourite fragment:-
1.favourites items are not clickable
2.if we add favourite folders then again we get favourite button on the actionbar(although we are still in actionbar)
3.Shared peferences is not used properly in showing the favourite list(once we close the fragment all the favourite list are disappeared)
4.View of selecting the favourite fol

[2019-03-11 08:19] theabhishekavi commented on #619
@vyankatesh24 @Swati4star if you allow i want to solve all the above said issues

[2019-03-11 08:53] Swati4star commented on #619
@theabhishekavi You can create a different combined issue for all the things you listed in the above comment. and can start working on it. 👍

[2019-03-11 09:13] Swati4star commented on #606
No. You can @kunalmulwani

Are you a gssoc participant?

[2019-03-11 09:18] Swati4star commented on #217
We can leave this issue.

@Ni3verma We used to have a functionality to move PDFs to a new directory in `view Files`. But now, I have removed it, as it was creating confusion with the users

[2019-03-11 09:18] #217 closed

[2019-03-11 09:19] Swati4star commented on #539
Select the PDF using the orange slider. You wont get the snackbar then

[2019-03-11 09:20] #594 closed

[2019-03-11 09:32] Ni3verma commented on #159
@Swati4star, I'll try to solve it.

[2019-03-11 13:00] theabhishekavi opened #622 "Redesign of the Favourite Menu"
### Description
## 1.Onclick folder issue:-
Favourite folders are not clickable
 ## 2. Action bar issue:-
If we add favourite folders then again we get favourite button on the actionbar (although we are still in actionbar)
## 3. Shared Preference issue:-
Shared peferences is not used properly in showing the favourite list(once we close the fragment all the favourite list are disappeared)
## 4. UI

[2019-03-11 13:02] theabhishekavi commented on #619
Okay, thanks! i have submitted a new issue combining all the issues including issue number #619

[2019-03-11 13:42] kunalmulwani commented on #606
No, I am not. Is it necessary to participate to work on this?

On Mon, Mar 11, 2019, 4:13 AM Swati Garg <notifications@github.com> wrote:

[2019-03-11 17:06] Swati4star commented on #606
No no, it's not.
You can work on this issue 👍

[2019-03-11 17:06] Swati4star commented on #622
Go ahead with this 👍

[2019-03-12 18:10] Ni3verma commented on #618
I'll solve it

[2019-03-13 15:08] jddeep commented on #471
@Swati4star I would like to work on this.

[2019-03-13 15:08] jddeep commented on #471
Please review #620 before that. Thanks,

[2019-03-14 07:39] santoshhiremani commented on #250
@vyankatesh24 Currently i'm not working on this

[2019-03-14 16:52] #598 closed

[2019-03-14 16:53] Swati4star commented on #471
Sure @jddeep

[2019-03-14 17:08] #454 closed

[2019-03-15 15:35] #618 closed

[2019-03-16 07:37] #619 closed

[2019-03-16 07:38] #602 closed

[2019-03-16 07:38] #471 closed

[2019-03-16 07:41] SupreethBaliga commented on #605
Is @ahmedaboalata  still working on it? Or can I have a try?

[2019-03-16 07:42] sidhuparas commented on #622
@Swati4star It can be closed now.

[2019-03-16 07:45] sidhuparas commented on #606
@kunalmulwani Are you working on this? Any updates?

[2019-03-16 07:46] sidhuparas commented on #590
@itnug987 Updates?

[2019-03-16 07:49] theabhishekavi commented on #622
@sidhuparas  i am still working on this.

[2019-03-16 08:13] sidhuparas commented on #622
@theabhishekavi Oops... I picked wrong one. Fine, continue with it.

[2019-03-16 08:33] theabhishekavi commented on #622
@sidhuparas i will try to solve this issue asap.

[2019-03-16 15:17] Ni3verma commented on #159
I have extracted the images out of zip file to a temp directory.
Now how do I use images to pdf fragment to make pdf out of these images?

[2019-03-16 16:11] srv-twry commented on #590
@itnug987 It is not a fatal error. It might be because you're not following the conventions of the project. for eg. maybe you're not using variable names according to project convention or maybe using 2 space indentation etc.

[2019-03-16 16:49] Swati4star commented on #530
Sure. Go ahead

[2019-03-16 18:19] vyankatesh24 opened #626 "'Get Started' Button Opens 'ImagesToPDF' Fragment"
Earlier the `ImagesToPDF` fragment was the main fragment.
Now in a new design `HomeFragment` is the main fragment.

### Steps to reproduce
* Open `View Files` or `History Fragment`
* To see `Get Started` button you will delete all files/history.
* Click `Get Started`

### Expected behaviour
`HomeFragment` should open on `Get Started` Click

### Actual behaviour
`ImagesToPDF` opens up on `Get Start

[2019-03-16 19:45] piedcipher commented on #626
I would like to work on this issue @vyankatesh24

[2019-03-17 05:32] sidhuparas commented on #590
@itnug987 It's exactly what @srv-twry said. Just refer to the file `checkstyle.html` whose path is included in the error message. That will help you solve the error(s).

[2019-03-17 05:52] sidhuparas commented on #159
What problem are you facing? Have you taken a look at `createPdf()` function and `mImagesUri`?

[2019-03-17 05:53] #626 closed

[2019-03-17 06:17] Swati4star commented on #605
@ahmedaboalata Are you working on this?

[2019-03-17 06:25] Swati4star commented on #17
https://play.google.com/store/apps/details?id=com.okashaakmal.imagetopdf

[2019-03-17 07:00] vyankatesh24 opened #629 "Add Font Colour Enhancement Option in Text to PDF fragment"
### What to do?
Add Font Colour Enhancement Option in Text to PDF fragment.

* Add New Enhancement Option
* Open colour chooser dialog on click
* Set the selected colour as Font colour for pdf.
* Add a checkbox `Set as default` also in the dialog.
* Set selected colour as default when `checkbox` is checked.
* Colour should be `Black` by default.

[2019-03-17 08:11] bharatmk257 opened #630 "AppBar doesn't show name of current activity/fragment"
how user will know which option he has selected
suppose user has selected Add Password option and user will redirected to the activity/fragment
but on the AppBar it should show name of fragment

### Steps to reproduce
if user has selected Add Password option and user will redirected to the activity/fragment

### Expected behaviour
Name of current fragment should be in AppBar, because user can know

[2019-03-17 12:03] vyankatesh24 opened #631 "[View Files] Checkboxes get unchecked when scrolled"
### Steps to reproduce

![2019_03_17_17_23_36_trim](https://user-images.githubusercontent.com/18503975/54490266-653bd080-48da-11e9-8aa9-a5c8ed1ed512.gif)

### Expected behaviour
Files should remain selected even after scroll.

[2019-03-17 13:13] piedcipher commented on #631
I would like to work on this issue. I'm a GSSoC 19 Participant.
Slack Display Name - `tirth[P]`

[2019-03-17 13:33] sidhuparas commented on #631
@piedcipher Go ahead!

[2019-03-17 15:18] Ni3verma commented on #159
I solved it.
But I have a new one... Should I also add bottom sheet in this fragment? If yes, how do I populate it with zip files?

[2019-03-17 15:21] vyankatesh24 commented on #159
No need of bottom sheet.

[2019-03-17 15:56] Ni3verma commented on #159
okay

[2019-03-17 16:46] Ni3verma commented on #629
@vyankatesh24 do we have a color chooser dialog somewhere else in app?

[2019-03-17 17:01] itnug987 commented on #590
Thank you so much @sidhuparas @srv-twry  for the guidance. I am able to follow the conventions of the project now. Regarding the update of the issue: Error is occurring because the new file is not created in saveCurrentImageInGrayscale() in imagetopdfFragment.java file. Here dir.mkdirs() is returning false. I am not understanding what should be the pathname to be given. I will try to fix it.
![Scr

[2019-03-17 17:49] sidhuparas commented on #590
Try something like this for debugging purposes:
` File file = new File(
                Environment.getExternalStorageDirectory(), "/Folder");`

[2019-03-17 17:50] vyankatesh24 commented on #629
Yes in Add Watermark

[2019-03-18 02:25] kunalmulwani commented on #606
I haven't started working on this yet.

[2019-03-18 08:59] Ni3verma commented on #629
Okay. I'll start to work on this once my existing PR is merged

[2019-03-18 09:14] sidhuparas commented on #630
Sure @bharatmk257, you can start the work!

[2019-03-18 09:22] bharatmk257 commented on #630
ok

[2019-03-18 13:21] pankajpoply45 commented on #606
I want to work on this issue as a gssoc participant. @sidhuparas  @Swati4star

[2019-03-18 13:49] vyankatesh24 commented on #630
@bharatmk257 Are you a GSSoC participant?

[2019-03-18 13:52] bharatmk257 commented on #630
Yes

[2019-03-18 14:19] vyankatesh24 commented on #565
@yati1998
Any Progress?

[2019-03-18 14:50] itnug987 commented on #590
Tried it. Not working.

[2019-03-18 15:23] sidhuparas commented on #606
@kunalmulwani Please clear your stand if you really want to work on this. It's been a week and you haven't started. If you're not willing to work, @pankajpoply45 can be given a chance.

[2019-03-18 15:26] kunalmulwani commented on #606
I am sorry. Please assign it to someone if they are available.

On Mon, Mar 18, 2019, 10:23 Paras Sidhu <notifications@github.com> wrote:

[2019-03-18 15:29] Swati4star commented on #606
@pankajpoply45 You can start working on this issue

[2019-03-18 18:26] vyankatesh24 opened #635 "Bug in Filter Images screen"
### Steps to reproduce
* Images to PDF
* Select Images
* Open Filter Images
* Apply any filter
* Click Reset
* Click Next/Previous

### Expected behaviour
On  Next/Previous Click
* Snackbar should not be displayed if `reset` is clicked after changes
* Next/Previous image should be displayed.

### Actual behaviour
Snackbar opens with message "Save current image first"

[2019-03-19 02:07] sidhuparas commented on #590
Make sure you have granted read and write permissions for external storage.

[2019-03-19 02:26] #631 closed

[2019-03-19 10:37] pankajpoply45 commented on #606
I think the issue has been resolved in updated version of the app. If not please elaborate it. @sidhuparas  @Swati4star

[2019-03-20 03:14] theabhishekavi commented on #606
@pankajpoply45 are you working on this issue?

[2019-03-20 03:52] theabhishekavi opened #638 "layout of qrbarcodescan fragment"
1.Linear layout of qrbarcode fragment is not properly constrained.
2. There is unnecessary space at the top.

### Steps to reproduce
Open qr & barcodes

### Expected behaviour
Layout should be properly constrained and padding should be removed

### Would you like to work on the issue?
yes

[2019-03-20 05:15] #346 closed

[2019-03-20 05:17] #530 closed

[2019-03-20 05:21] Swati4star commented on #638
Sure you can work on this

[2019-03-20 12:03] pankajpoply45 commented on #606
#641 please review it @Swati4star @sidhuparas

[2019-03-20 13:27] theabhishekavi commented on #565
@vyankatesh24 can i work on this?

[2019-03-20 13:36] vyankatesh24 commented on #565
Sure @theabhishekavi :+1:

[2019-03-20 13:46] jddeep commented on #565
But @vyankatesh24 @theabhishekavi I am supposed to work on this . See this : https://github.com/Swati4star/Images-to-PDF/issues/565#issuecomment-467502107

[2019-03-20 13:55] vyankatesh24 commented on #565
Sorry @theabhishekavi !
You may take up some other issue.

[2019-03-20 15:58] pankajpoply45 commented on #635
Can I work on this issue as a gssoc participant.?
@Swati4star @sidhuparas @vyankatesh24

[2019-03-20 15:59] sidhuparas commented on #635
Yes sure @pankajpoply45, go ahead!

[2019-03-20 15:59] marwahmanbir opened #642 "UI/UX Enhancements"
Various elements can be redesigned throughout the app interface to enhance the look and feel of the app. The following elements can be tweaked/added:
  - Button layout
  - On-click effect/feedback
  - Padding and margin across various activities
  - Splash screen, and more.

### Would you like to work on the issue?
Yes, I'll work on this issue.

[2019-03-20 16:04] sidhuparas commented on #642
That's a lot of work in a single issue without even having a concept of redesign. @Swati4star New design elements can be thought one by one.

[2019-03-20 16:08] marwahmanbir commented on #642
Sure, I can break down this issue into multiple ones.

[2019-03-20 17:06] pankajpoply45 commented on #635
#641 Done with solving issue please  review it. @sidhuparas  @vyankatesh24  @Swati4star

[2019-03-21 06:05] itnug987 commented on #590
Yes, I have granted read and write permissions for external storage also.

[2019-03-21 10:55] #638 closed

[2019-03-21 10:57] Swati4star commented on #642
The description is kind of vague. We can discuss more in this issue, like, what exactly do you wish in each enhancement.

[2019-03-21 11:09] #622 closed

[2019-03-21 14:34] #606 closed

[2019-03-21 14:34] #635 closed

[2019-03-21 14:37] marwahmanbir commented on #642
To begin, I'm planning to make a splash screen that shows the app's logo and name for 2-3 seconds and then reverts to the main activity. I would require the app logo for that.

In the QR & Barcodes activity, there's some extra margin below the action bar that can be removed.
![Screenshot_20190321-195707__01](https://user-images.githubusercontent.com/22788214/54759785-cafac600-4c14-11e9-95c8-f388e4

[2019-03-21 16:40] SupreethBaliga commented on #605
@Swati4star Can i try this?

[2019-03-21 16:47] piedcipher commented on #642
@marwahmanbir Why 2-3 seconds for a splash screen? Also can you tell us that why do we need a splash screen here? There should be some purpose behind having one, we just can't have splash screen for showing app logo. That's just bad UX, it wastes user's time. Checkout [this](https://android.jlelse.eu/right-way-to-create-splash-screen-on-android-e7f1709ba154) article.

[2019-03-21 17:01] marwahmanbir commented on #642
@piedcipher I agree that the splash screen will take precious 2-3 seconds of user, but many apps, including apps by Google (e.g. Crowdsource) use a splash screen on app launch just as an eye-candy or an additional form of advertising. No worries, if you don't want one.

[2019-03-22 04:34] Swati4star commented on #605
Sure @SupreethBaliga 👍

[2019-03-22 04:37] #159 closed

[2019-03-22 09:39] SupreethBaliga commented on #605
Can you tell me the relevant files please?

[2019-03-22 14:44] Swati4star commented on #605
You'll have to look through the code & get familiar. If you still face any issue, contact any mentor on slack.

[2019-03-22 14:51] #629 closed

[2019-03-22 15:44] Ni3verma opened #644 "feedback dialog "never" button doen't do it's work"
feedback dialog opens up after every 15 app launches. we have "never" button there so that we are **never** asked to rate the app. however if we click on never button then this dialog will still appear on next 15th app launch. This is clearly a bug.

### Steps to reproduce

- clear the app data
- open it, click on never button on rate us dialog
- open and close app 15 times :sweat_smile:
- dialog

[2019-03-22 15:48] Swati4star commented on #644
Sure. You can start working on it!
Good finding :)

[2019-03-22 16:46] SupreethBaliga commented on #605
Ok sure. Thanks.

[2019-03-23 01:03] jddeep commented on #164
@Swati4star I would like to work on it. But before that please review #645

[2019-03-23 03:28] jddeep commented on #132
@Swati4star I would like to work on this before #164 . Can I proceed?

[2019-03-23 03:55] #644 closed

[2019-03-23 04:18] #565 closed

[2019-03-23 05:56] Swati4star commented on #132
sure @jddeep

[2019-03-23 08:34] jddeep commented on #164
@Swati4star I am working on this issue first and then will go back to #132 .

[2019-03-23 09:09] Ni3verma opened #647 "prev button error in edit images"
In edit images, prev button doesn't function properly

### Steps to reproduce

- open images to PDF
- select 5-6 images
- In enhancement options, select **edit images**
- click on prev image button at bottom right corner
- do it 2-3 times
- now click on next image button. It won't work for 2-3 clicks

### Expected behaviour
when we are on first image, then either prev button shouln't do anything o

[2019-03-23 09:10] Ni3verma commented on #647
I think that on click of prev button, if we are on first image, then nothing should happen

[2019-03-23 09:52] vyankatesh24 commented on #647
@Ni3verma Start working on it.
Good Finding :+1:

Expected behaviour
it should wrap around back to last image

[2019-03-23 13:43] piedcipher opened #649 "In AboutUsFragment - In first CardView, 2 TextViews are not aligned in same line. [Screenshot Attached Below]"
- In [AboutUsFragment](https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/fragment/AboutUsFragment.java) - In first CardView, 2 TextViews ("Version:" & Version Number) are not aligned horizontally. **[Screenshot Attached Below]**

![App Screenshot](https://i.imgur.com/pYuGL7o.png)

### Steps to reproduce
Open In [AboutUsFragment](https://github.com/Swati

[2019-03-23 17:04] sidhuparas opened #652 "PermissionsUtils Class"
A new class is required to handle Permissions related code. In many places, permissions code is duplicated.

### Requirements
- Make at least two `static` functions. One to check if permissions are granted and one to ask for permissions
- Remove duplicate code and directly use utils class' code at all instances
- Function asking for permission should have argument(s) so as to specify which permiss

[2019-03-23 17:04] #647 closed

[2019-03-23 17:47] #649 closed

[2019-03-24 01:56] jddeep commented on #652
@Swati4star @sidhuparas I would like to work on this. Please give some tags to this issue.

[2019-03-24 05:35] vyankatesh24 opened #653 "[Edit Images] Few UI Changes"
Few UI changes in Edit Images option of ImagesToPDF Fragment

### Changes to be done
* Increase size of `prev` and `next` buttons
* Remove left and right margin of `Rotate` and `Save Current` button
* Change text `Crop Image No. i` to `Crop Image i of n`
* Remove Toast `Images Sucessfully Croped` as Snackbar is there with same message.

[2019-03-24 06:54] sidhuparas commented on #652
@jddeep Aren't you working on multiple issues at the same time?

[2019-03-24 06:55] jddeep commented on #652
@sidhuparas I have already resolved #164 in the form of #648 . It is waiting to get merged.

[2019-03-24 07:01] piedcipher commented on #653
I would like to work on this. I'm GSSoC 19 Participant. Slack Display name - `tirth[P]`

[2019-03-24 07:15] vyankatesh24 opened #654 "Add Page Colour Enhancement Option in Text to PDF and Images To PDF fragment."
## What to do?

* Add New Enhancement Option
* Open colour chooser dialog on click
* Set the selected colour as Page colour for pdf.
* Add a checkbox `Set as default` also in the dialog.
* Set selected colour as default when `checkbox` is checked.
* Colour should be `White` by default.

## Reference
https://stackoverflow.com/questions/30206160/how-can-i-add-page-background-color-of-pdf-using-itext

[2019-03-24 07:16] jddeep commented on #652
@sidhuparas Please confirm me should I proceed?

[2019-03-24 07:17] vyankatesh24 commented on #653
Sure @piedcipher :+1:

[2019-03-24 07:21] vyankatesh24 commented on #605
@SupreethBaliga Any Progress?

[2019-03-24 07:22] vyankatesh24 commented on #590
@itnug987 Any Progress?

[2019-03-24 07:48] Ni3verma commented on #654
I'll do it

[2019-03-24 10:26] sidhuparas commented on #652
@jddeep Go ahead!

[2019-03-24 11:10] piedcipher commented on #652
Just a suggestion, we can use [Dexter](https://github.com/Karumi/Dexter) library for Runtime Permissions.

[2019-03-24 13:20] itnug987 commented on #590
@vyankatesh24 I am able to create the pdf but not in grayscale. I am working on it.

[2019-03-24 14:28] SupreethBaliga commented on #605
I got familiar with most part of the code. Just not being able to find the part which displays "Images Rearranged" in the snackbar.

[2019-03-24 15:05] sidhuparas commented on #652
@Swati4star Should we go for basic permissions implementation or should we use `Dexter` library as @piedcipher suggested?

[2019-03-24 15:14] Swati4star commented on #652
@sidhuparas @piedcipher We should go for our implementation only. There is no added benefit of using Dexter, apart from easy-to-implement

[2019-03-24 15:24] #653 closed

[2019-03-24 15:28] Swati4star commented on #605
https://github.com/Swati4star/Images-to-PDF/blob/64b1cfeaccacc8a46f663b2db2b667a4dd2832f4/app/src/main/java/swati4star/createpdf/fragment/ImageToPdfFragment.java#L380

You can just find the string in the whole project

[2019-03-24 16:35] SupreethBaliga commented on #605
Ok thanks. Done.

[2019-03-24 18:08] vyankatesh24 opened #659 "[Favourites] Show Lottie Animation when there are no favourite items"
### Changes to be done
* Change FAB `+` icon colour to white.
* When there aren't any favourite items show following Lottie animation.
      https://lottiefiles.com/347-like
* Change animation's colour from Red to App's Theme using Lottie Editor

[2019-03-25 02:25] piedcipher commented on #659
I would like to work on this issue. I'm GSSoC 19 Participant.

Slack Display Name - `tirh[P]`

[2019-03-25 09:32] sidhuparas commented on #659
Sure, @piedcipher!

[2019-03-25 11:35] Ashok2393 opened #660 "Add signature place holder with drag and drop funtctionality to pdf"
Hi,
 I am working on a project which includes customization of pdf like adding a signtaure place holder to pdf with drag and drop functionality is it possible to implement with this library? Please help if you have any idea, thanks in advance for your valuable time.

[2019-03-25 16:41] #605 closed

[2019-03-26 05:13] #659 closed

[2019-03-26 05:21] #654 closed

[2019-03-26 06:57] Ni3verma opened #662 "bug in text to pdf "create PDF" button"
create PDF button won't work when you click on it the first time

### Steps to reproduce

- open TEXT to PDF fragment
- select a text file
- now click on create PDF
- **nothing will happen**
- click on it again and then name of new file will be asked

### Expected behaviour
create pdf dilaog where we enter the file name should be opened when we click on **create PDF** the first time. but because o

[2019-03-26 12:40] jddeep commented on #186
@Swati4star @vyankatesh24 I would like to work on this.

[2019-03-26 12:51] jddeep commented on #186
@Swati4star please merge #648 and add APP_ID from your side and test it. Thanks.

[2019-03-26 17:20] Ni3verma commented on #662
@Swati4star should I start to work on this?
also add appropriate labels

[2019-03-27 00:12] vyankatesh24 commented on #662
@Ni3verma
Good Finding :+1:
You may start working on it.

[2019-03-27 00:21] vyankatesh24 commented on #186
Wait till your PRs get merged.

[2019-03-27 00:40] vyankatesh24 opened #663 "Bug in Reorder Pages"
### Steps to reproduce
* Reorder Pages
* Select PDF
* Click `Create PDF`
* Click `back` (New File gets created even if we don't change the order of pages.)
* Select New File using `Bottom Sheet`. (`View PDF` button remains visible after selecting the next pdf.)

### Expected behaviour
* New File shouldn't get created even if we don't change the order of pages.
* `View PDF` should become invisible

[2019-03-27 00:49] vyankatesh24 commented on #590
The PDF is already getting created in grayscale, but when the `cancel` is clicked.

Any Progess Now?

[2019-03-27 01:28] vyankatesh24 opened #664 "Navigation Drawer Items doesn't get highlighted."
When we open any fragment by clicking any item in favourites, Navigation Drawer Item doesn't get highlighted.

### Steps to reproduce
* Open App
* Favourite
* Click Any Item (Add Items to Favourites if there isn't any)

### Expected behaviour
Opened Item/Fragment should be highlighted in Navigation Drawer.

### Actual behaviour
The `item` remains highlighted which is selected earlier.

[2019-03-27 02:14] Ni3verma commented on #664
I will solve it

[2019-03-27 11:20] #652 closed

[2019-03-27 11:22] Swati4star commented on #186
@jddeep You can start working on this one now! 👍

[2019-03-27 11:39] Swati4star commented on #660
I don't think this is possible. We are not allowing any kind of PDF editing directly.

[2019-03-27 11:50] Ashok2393 commented on #660
Hi,
This is not PDF editing directly, I just want to add annotations. Is it possible?

[2019-03-27 15:42] #664 closed

[2019-03-27 17:23] JohnoverBoard commented on #663
Can I work on this issue? Pointers on how to go about would be appreciated

[2019-03-28 03:02] sidhuparas commented on #663
@JohnoverBoard Go ahead, it’s easy.

[2019-03-28 16:26] sidhuparas opened #669 "PermissionsUtils Improvements"
A new method is required in `PermissionsUtils` class and some minor refactors are required.

## Bug Fix
After the implementation of `PermissionsUtils` class, `onRequestPermissionsResult()` is not getting executed in Fragment class. There's a workaround though.

- Modify the existing method as:
[code]

- Introduce the new method:
[code]
- Use it wherever necessary like this:
`                if ((C

[2019-03-28 17:15] Ni3verma commented on #669
Yes, I'll work on it

[2019-03-29 01:48] sidhuparas commented on #669
Sure @Ni3verma, go ahead but have a look at the last new requirement added.

[2019-03-29 08:50] Ni3verma commented on #669
@sidhuparas
there is one more probem, if we use PermissionUtils class then **OnPermissionResults** overloaded method in fragment is not running

[2019-03-29 16:52] #662 closed

[2019-03-30 09:01] vyankatesh24 opened #670 "Add an action to snackbar to view created PDF in Add Watermark"
### Description
When we add watermark to PDF the Snackbar shows `Watermark Added` but does not show `View` action.

### Steps to reproduce
* View Files
* Click on PDF the dialog will open
* Select Add Watermark
* Enter text and click `Ok`

### Expected behavior
The snackbar should show  `View` action and on Clicking it the PDF should be Displayed.

### Actual behavior
Snackbar does not show `View`

[2019-03-30 10:27] piedcipher commented on #670
I would like to work on this issue.

[2019-03-30 17:03] vyankatesh24 commented on #670
Sure :+1:

[2019-03-30 18:11] vyankatesh24 opened #671 "Bug in Invert PDF"
The button `View  PDF` remains visible even after selecting the next PDF.

### Steps to reproduce
* Invert PDF
* select pdf
* click `Invert PDF`
* After Inverting `View  PDF` button becomes visible
* Now select another PDF.

### Expected behaviour
The button `View  PDF` should become invisible after selecting the next PDF.

### Actual behaviour
The button `View  PDF` remains visible even after sel

[2019-03-30 19:11] vyankatesh24 opened #672 "Add Watermark not working"
`Add Watermark` is not working when used explicitly from an option on `Home Fragment` but works when applied while creating PDF in `ImagesToPDF Fragment`.

### Steps to reproduce
* Add Watermark
* Select File
* Choose add watermark option
* Enter text and click Ok

### Expected behaviour
The watermark should be applied

### Actual behaviour
The watermark doesn't get applied

[2019-03-30 19:22] vyankatesh24 commented on #663
@JohnoverBoard Any progress?

[2019-03-31 03:33] JohnoverBoard commented on #663
I was busy last 3 days. Kindly grant me time till 2nd April and I will updatw status

[2019-03-31 04:35] itnug987 commented on #590
I am not working on this issue. Please make this issue open to everyone @vyankatesh24.

[2019-03-31 07:09] sidhuparas commented on #669
@Ni3verma That's a big point out. I just checked and found that `onRequestPermissionsResult()` isn't being called in fragment class but when we use `PermissionsUtils`, `onRequestPermissionsResult()` is directly getting called in Activity class. Quick google search revealed it to be an issue with Android.

@Swati4star you should have a look here. Although I was having a look at `PermissionsUtils` P

[2019-03-31 08:01] jddeep commented on #669
@sidhuparas I had made all the changes you asked for in that PR and after that it got merged. I thought of testing it in the app itself and in the meantime, you opened this issue as improvements needed. So I shall test it now. Please allow me work on this issue and make all the asked improvements here and test as you mentioned. Thanks

[2019-03-31 11:00] Ni3verma commented on #669
@sidhuparas
yes it's a huge bug. I suggest to revert that whole PR. and moreover according to me it's best to request permission in fragment. we should use permissionUtils to only check whether permission is granted or not. **onRequestPermissionsResult** is a very important callback so requesting permission should be done in fragment itself.

[2019-03-31 14:10] rob729 commented on #672
@vyankatesh24 Can you help me by telling what should be done to solve this issue?

[2019-03-31 15:23] #671 closed

[2019-03-31 15:51] sidhuparas commented on #669
@jddeep When we make changes to our app, we test it regularly after changing a thing or two. You made a whole lot of changes and didn't test it even once and considering the fact that PR wasn't merged for 4-5 days at least.

[2019-03-31 15:52] sidhuparas commented on #669
@Ni3verma I am also thinking of reverting that PR but let @Swati4star have a look at it to decide what's best.

[2019-03-31 16:14] jddeep commented on #669
@sidhuparas @Ni3verma why to revert that PR? It has got all the asked changes that were required by @sidhuparas at that time. I get that the permissions needed to be tested i ln the app but i was not informed/reminded about that. I get that it was probably a mistake from my side. But that is the reason this issue is here. @sidhuparas allow me to work on this. Thanks.

[2019-03-31 16:16] jddeep commented on #669
But if it such a desperate measure as of to revert the whole PR you can go ahead with that.

[2019-03-31 16:39] Ni3verma commented on #669
@jddeep I am suggesting to revertit because by requesting permission outside the fragment, we are lossing a very important callback. think about a case when we want to execute some piece of code, when user grants permission. or in future if we want to do different thing when user grants storage and different thing when he grants camera permission.

[2019-03-31 16:44] jddeep commented on #669
Yes @Ni3verma I completely get what you are saying. Actually while coding the PermUtils class i was focused only on the code. And forgot about the issues in fragments. I will be happy to work on it fixing and testing everything if you have no problem buddy. Cheers!

[2019-03-31 17:00] Ni3verma commented on #669
@jddeep what do you mean by **fixing** it? can you work something out and solve the problem that I have written in the previous comment?
only way I can think of it is by requesting and handling permission in fragment itslef. In-short reverting previous PR.

[2019-03-31 17:05] jddeep commented on #669
@Ni3verma Yes i might come up with a better solution. Currently i am a bit busy with my internals. I will let you know tomorrow. If not pull the upstream with the PR merged making modifications in the fragments. Hint : There aren't many changes. Android studio is clever and will help you finding with the permission requests in the fragments. This idea was given by @sidhuparas

[2019-03-31 18:04] vyankatesh24 commented on #672
Actually, I haven't also seen where the problem is.
Can you please try finding where the problem is? If you don't get message here or on slack

[2019-03-31 18:33] vyankatesh24 opened #675 "Add Rotate Pages option to Navigation Drawer"
`Rotate Pages` is missing from Navigation Drawer add this option to Navigation Drawer in `Enhance Created PDFs` section.

[2019-04-01 02:05] piedcipher commented on #675
I would like to work on this issue. I'm back GSSoC 19 Participant.

Slack Display Name - `tirth[P]`

[2019-04-01 12:54] rob729 commented on #672
![](https://media.giphy.com/media/1kTI6cuWF6EzBxjRK6/giphy.gif)
@vyankatesh24

[2019-04-01 13:29] #670 closed

[2019-04-01 13:38] vyankatesh24 commented on #672
Yeah, this is the actual behaviour in an app.
The expected behaviour is watermark should be applied.

[2019-04-01 16:55] bharatmk257 commented on #642
if you want to change design do let me know I am graphics designer

[2019-04-01 16:59] Swati4star commented on #675
sure @piedcipher 👍

[2019-04-01 17:03] #642 closed

[2019-04-01 20:42] #672 closed

[2019-04-02 06:40] jddeep commented on #250
@Swati4star @vyankatesh24 I would like to work on this,

[2019-04-02 13:48] #630 closed

[2019-04-02 14:43] #186 closed

[2019-04-02 14:59] vyankatesh24 commented on #250
Sure, Go ahead :+1:

[2019-04-03 08:48] Ni3verma commented on #590
@vyankatesh24
assign it to me

[2019-04-03 10:32] vyankatesh24 opened #678 "[Split PDF] PDF is getting created even when there is one page in PDF"
In `Split PDF` PDF is getting created even when there is one page in PDF.

### Steps to reproduce
* Open `Split PDF`
* Select PDF (Which has only one page)
* Click `Split PDF` button.

### Actual behaviour
New PDF gets created with by suffixing `_1` to it's name.

### Expected behaviour
New PDF shouldn't be created and some warning message must be displayed

[2019-04-03 11:18] piedcipher commented on #678
I would like to work on this issue. I'm a GSSoC 19 Participant.

Slack Display Name - `tirth[P]`

[2019-04-03 13:17] rob729 commented on #663
@JohnoverBoard Are you still working on this issue?

[2019-04-03 15:59] #675 closed

[2019-04-03 16:00] vyankatesh24 commented on #678
Sure @piedcipher :+1:

[2019-04-03 16:01] vyankatesh24 commented on #590
Sure @Ni3verma :+1:

[2019-04-03 16:08] BismeetSingh opened #679 "Error Occurred while creating pdf from excel."
Error Occurred while creating pdf from excel.

### Steps to reproduce
Click on Excel to Pdf in the drawer
Select Excel file from google drive path.
Click excel to pdf and enter pdf name.

### Expected behaviour
Pdf should be generated.

### Actual behaviour
Error message  because file path is null in Excel to pdf fragment if file is selected from drive.

[2019-04-03 16:33] BismeetSingh opened #680 "Crash while rearranging pdfs."
Crash while rearrranging the pdfs:  java.lang.IndexOutOfBoundsException
RearrangePdfPages.java:124

### Expected behaviour
The pdf should  be rearranged as per user selection.

### Actual behaviour
Crashes sometimes.
![image](https://user-images.githubusercontent.com/13601266/55496295-54ba8280-565c-11e9-993a-c7d191c1f30e.png)

![image](https://user-images.githubusercontent.com/13601266/55568816-11

[2019-04-03 16:39] JohnoverBoard commented on #663
Yes I have forked the repo and am trying to work on it. Pardon my slow pace as I am trying to figure out android app development in parallel. I'll do my best to deliver by Friday but if I still delay it would be best for the organisation if someone else took it from Saturday. Please give me last 2 more days chance.

[2019-04-03 17:30] vyankatesh24 commented on #679
This problem arises because we are unable to convert `URI` to `file path` successfully on all devices.
It works on some devices, some devices gives issue.

[2019-04-03 17:32] vyankatesh24 commented on #680
@BismeetSingh
Good Finding :+1:
Can you please elaborate steps to reproduce?

[2019-04-04 15:42] BismeetSingh commented on #680
Unable to find the point of exact occurrence but it has occurred twice.

[2019-04-04 15:46] BismeetSingh opened #682 "[Reorder Pages] Input value not accepted for large pdfs."
I have a pdf  of size 3 mb having around 549 pages. It fails to rearrange the pages. The file is named book.pdf

### Steps to reproduce
A medium sized pdf will do.

### Expected behaviour
Should rearrange.

Input value is not valid error
![image](https://user-images.githubusercontent.com/13601266/55569266-e25ea680-571e-11e9-8c1f-a6ccfb185925.png)

[2019-04-04 17:46] vyankatesh24 opened #683 "Bug in Remove Pages"
### Steps to reproduce
* Remove Pages
* Select PDF
* Click `Create PDF`
* Click `back` (New File gets created even if we don't change the order of pages or delete pages.)
* Select New File using `Bottom Sheet`. (`View PDF` button remains visible after selecting the next pdf.)

### Expected behaviour
* New File shouldn't get created even if we don't change the order of pages or remove pages.
* `Vie

[2019-04-04 18:00] vyankatesh24 opened #684 "Warn User when similar Font and Page Color is used."
In `Text To PDF` warn the user (using dialog ) when the user selects similar (not only equal) Font and Page Color.

[2019-04-04 18:29] rob729 commented on #683
@vyankatesh24 I would like to work on this issue.
Please assign me this issue.

[2019-04-05 02:14] vyankatesh24 commented on #683
Sure :+1:

[2019-04-05 03:58] vyankatesh24 commented on #682
Error `File Name too long`
Solution: Keep Name as `PreviousName_rearranged.pdf`

[2019-04-05 04:02] BismeetSingh commented on #682
I am working on this.

[2019-04-05 04:04] vyankatesh24 commented on #682
Sure @BismeetSingh :+1:

[2019-04-05 05:45] piedcipher commented on #684
I would like to work on this issue. I'm a GSSoC 19 Participant.
Slack Display Name - `tirth[P]`

[2019-04-05 15:34] JohnoverBoard commented on #663
I am consistently running in to document has password error hence cannot test and see. It would be better if someone else worked on this issue as fixing is taking excessive time. Apologies for the delay. I shall try to be better equipped before volunteering to fix next time

[2019-04-05 17:58] rob729 commented on #663
@vyankatesh24 PR #686 Solves this issue also.
I have the attach the GIF below for the same.
![2xutxm](https://user-images.githubusercontent.com/31350501/55646742-992f5500-57f9-11e9-9c32-166128626d5d.gif) ![2xutbd](https://user-images.githubusercontent.com/31350501/55646749-9e8c9f80-57f9-11e9-90ee-c1b774552735.gif)

[2019-04-05 18:15] konstzv commented on #660
You can try to work with pdf using https://github.com/TomRoush/PdfBox-Android

[2019-04-06 08:29] vyankatesh24 commented on #663
@rob729
Yeah, actually the fragments beneath are the same.

[2019-04-06 08:29] #663 closed

[2019-04-06 08:48] rob729 commented on #663
@vyankatesh24 so will I get the points for solving this issue as well?

[2019-04-06 08:51] vyankatesh24 commented on #663
No!

[2019-04-06 09:56] piedcipher commented on #678
Why it is reopened?

[2019-04-06 13:32] vyankatesh24 commented on #678
Will be closed by your new PR.

[2019-04-06 20:58] #683 closed

[2019-04-07 18:59] #678 closed

[2019-04-07 19:27] piedcipher commented on #684
Can I start working on it?

[2019-04-08 01:41] vyankatesh24 commented on #684
Sure :+1:

[2019-04-09 04:22] vyankatesh24 commented on #682
@BismeetSingh Any progress?

[2019-04-09 04:24] vyankatesh24 commented on #682
The better solution can be: Keep Name as PreviousName_edited.pdf (No need of adding page no.s) only if a name (with page no.s) exceeds certain no.s of characters (say 50).

[2019-04-09 05:35] piedcipher commented on #684
Can you elaborate a bit on "similar" colors?

[2019-04-09 10:50] Ashok2393 commented on #660
Hi Konstantin,
 I tried with *PdfBox *but i can not able implemt drag and drop
functionality to signature placeholder.
Only I can able to add static signature image to pdf page.

Regards,
Ashok Patil

On Fri, Apr 5, 2019 at 11:45 PM Konstantin Zagulin <notifications@github.com>
wrote:

[2019-04-09 11:28] sidhuparas commented on #684
@piedcipher You can check: [https://i.stack.imgur.com/o6Wdq.png](url)

In short, they should be visibly similar.

[2019-04-09 15:09] Swati4star commented on #684
@sidhuparas Can you provide a mathematical formula or something that will decide if 2 colors are visibly similar?

[2019-04-09 16:29] sidhuparas commented on #684
@Swati4star Yes sure.

[2019-04-09 17:14] vyankatesh24 opened #692 "Update screenshots in Welcome Activity"
### What to do?
* Add Fragment for `Excel to PDF` Feature.
* Update screenshots on the available fragments (most of them are older)
* Use same device image, for all screenshot to embed into (It is different for some now).

[2019-04-10 01:36] vyankatesh24 opened #693 "Add ExcelToPDF in Favourites"
### Steps to reproduce
* Open App
* Click Favourite Menu in ActionBar
* Click FAB
* There isn't `ExcelToPDF` option in an opened screen.

### What to do?
* Add option in favourites
* Also, Title should change when opened an `ExcelToPDF` fragment through Favourites.

[2019-04-10 01:40] vyankatesh24 opened #694 "Actionbar title is not changing when Excel to PDF option is clicked"
Title is not changing when opened an `ExcelToPDF` fragment through navigation drawer or Home Fragment.

### Steps to reproduce
* Open an `ExcelToPDF` fragment through navigation drawer or Home Fragment.

### Expected behaviour
* Title should change.

### Actual behaviour
* The title does not change.

[2019-04-10 02:49] vyankatesh24 commented on #684
[code]
https://stackoverflow.com/questions/9018016/how-to-compare-two-colors-for-similarity-difference

See if this helps!

[2019-04-10 04:35] sidhuparas commented on #684
The method provided above seems good. When I looked at Wikipedia: https://en.wikipedia.org/wiki/Color_difference#CIE76, I found that the returned `double` value should be <= 2.3. Here `2.3` is just noticeable difference.

[2019-04-10 04:43] rob729 commented on #693
@vyankatesh24 I want to work on this issue.

[2019-04-10 06:10] jddeep commented on #692
@vyankatesh24 I would like to do this.

[2019-04-10 06:18] jddeep commented on #679
@vyankatesh24 This issue has been resolved as I have updated the RealPathUtil method in the PPT to PDF PR.

[2019-04-10 06:18] Swati4star commented on #692
Go ahead @jddeep

[2019-04-10 06:19] jddeep commented on #679
@Swati4star Once the PPT to PDF PR is merged this issue will get resolved.

[2019-04-10 06:20] Swati4star commented on #679
okay @jddeep

[2019-04-10 07:35] vyankatesh24 commented on #679
No, I was not able to convert `PPT to PDF` successfully with `Select File` button.
The issue is still present.

[2019-04-10 07:35] vyankatesh24 commented on #693
Sure @rob729

[2019-04-10 09:08] jddeep commented on #679
@vyankatesh24 But you gave screenshots right of converted pdfs?

[2019-04-10 09:22] vyankatesh24 commented on #679
I tested by directly giving path.

[2019-04-10 09:26] jddeep commented on #679
Alright if that is the case I will be looking into this as well.

[2019-04-10 09:26] jddeep commented on #679
@vyankatesh24 Can you please share the paths/URis  which are getting nullified?

[2019-04-10 12:20] jddeep commented on #445
@Swati4star @vyankatesh24 I would like to work on this.

[2019-04-10 12:43] rob729 commented on #694
@vyankatesh24 I would like to work on this issue.

[2019-04-10 18:08] #682 closed

[2019-04-11 02:32] #693 closed

[2019-04-11 04:53] vyankatesh24 commented on #694
Sure :+1:

[2019-04-11 09:55] #692 closed

[2019-04-11 10:01] Swati4star opened #698 "Add more information on favourites page"
<img width="352" alt="Screenshot 2019-04-11 at 3 29 48 PM" src="https://user-images.githubusercontent.com/9164477/55948697-b7200e00-5c6e-11e9-932a-b5b78afef858.png">

### Steps to reproduce
Select heart icon on title bar (on top right)

### Expected behaviour
Add a message below the animation "Select + icon to add your favourite features!"

[2019-04-11 10:03] Swati4star commented on #445
Sure @jddeep 👍

[2019-04-11 10:06] Swati4star commented on #132
Are you working on this @jddeep

[2019-04-11 10:08] jddeep commented on #132
Nope. This needs refactoring work in the FileUtils class.

[2019-04-11 10:08] jddeep commented on #132
Before it can be tested.

[2019-04-11 10:21] jddeep commented on #445
@Swati4star Please give a difficulty tag

[2019-04-11 16:05] rob729 commented on #698
@Swati4star @vyankatesh24 I would like to work on this issue.

[2019-04-11 16:06] sidhuparas commented on #698
Sure @rob729

[2019-04-11 16:06] Swati4star commented on #698
@rob729 You have commented on https://github.com/Swati4star/Images-to-PDF/issues/694 also. Take up only one at a time. Finish first one before & then work on this

[2019-04-11 16:08] rob729 commented on #698
@Swati4star I have made a PR for issue #694.

[2019-04-11 16:24] #694 closed

[2019-04-11 17:25] vyankatesh24 commented on #698
As PR #699 for issue #694 got merged, you may start working on this now :+1:

[2019-04-12 03:57] vyankatesh24 commented on #679
@BismeetSingh
Please share the URI which causes error!

[2019-04-12 04:35] BismeetSingh commented on #679
Uri:
content://com.google.android.apps.docs.storage.legacy/enc%3DO3U_J6b-x3yKQv-1ZOBQqevrYS4k9AuXFST3kWTKiHHpB34YGFYv8J6rSQpbXu2uysEpo5CVrZq8%0ACEYBwSvivW29yPZUXO6jyZjBRt7jI9beQOxF6aboUImcvnzA0tDpayun5g%3D%3D%0A

[2019-04-12 17:40] vyankatesh24 opened #702 "[Images to PDF] Add Set as Default option in Show page numbers"
### Steps to reproduce
* Open app
* Create PDF
* Select Images
* Show page numbers (a dialog will open)

### What to do?
 * Add a checkbox at the bottom: `Set as default`
 * If that checkbox is checked, set the currently selected option as a default option.

[2019-04-13 10:22] #698 closed

[2019-04-13 14:32] piedcipher commented on #684
Hi! Thank you all for the help but I won't be able to work on this issue. Please make this issue up-for-grabs by anyone.

[2019-04-14 10:38] peerzadaaabid opened #703 "Addition of pdf editor"
Describe your issue here.

Hi
I find the app quite interesting as it has the ability to play with pdf files. The thing I noticed is that this app is unable to edit the pdf. So I want to suggest that app should be able to edit pdf files  too.
Moreover I will provide a proposal description if you want it to implement.

[2019-04-14 11:32] #679 closed

[2019-04-14 12:55] jeannewangxin commented on #702
Hello,I'll work on this issue.Thanks.

[2019-04-14 13:01] shalishi commented on #684
Hello, I'd like work on this issue. Can I?

[2019-04-14 16:04] vyankatesh24 commented on #702
Sure :+1: @jeannewangxin

[2019-04-14 16:04] vyankatesh24 commented on #684
@shalishi Sure :+1:

[2019-04-14 16:07] jeannewangxin commented on #702
I have a problem:
if I have set the default option in show page numbers, where can I preserve the currently option.In DataBase?

[2019-04-14 16:11] vyankatesh24 commented on #702
Use shared preferences.

[2019-04-14 16:13] jeannewangxin commented on #702
OK,thanks

[2019-04-15 08:49] Swati4star commented on #703
We dont have any library which can do this directly.
If you have that, I'll be happy to continue ahead with this feature implementation.

[2019-04-15 11:10] Swati4star opened #704 "Suggest new Ui/UX for "Whats new" dialog"
### Steps to reproduce
- update the app & whats new dialog will be shown

<img width="418" alt="Screenshot 2019-04-15 at 4 36 26 PM" src="https://user-images.githubusercontent.com/9164477/56128217-a9cf9000-5f9c-11e9-80aa-dfda2a5b5229.png">

[2019-04-16 09:25] shalishi commented on #684
Hello, I just finished this issue. How can I submit my work?

[2019-04-16 09:26] jeannewangxin commented on #702
Hello,I have finished the task, can you create a new branch, and I can make a push.Or if you have other method, please tell me, thanks

[2019-04-16 09:51] Swati4star commented on #702
https://github.com/Swati4star/Images-to-PDF/blob/master/CONTRIBUTING.md#6-make-a-pull-request

[2019-04-16 09:51] Swati4star commented on #684
https://github.com/Swati4star/Images-to-PDF/blob/master/CONTRIBUTING.md#6-make-a-pull-request

[2019-04-16 14:26] shalishi commented on #684
@Swati4star hello, I got a permission problem when i want to push my new branch. I don't have permission to access your projet yet. Could you check that, please?

[2019-04-16 14:31] Swati4star commented on #684
Please google, "how to create a Pull Request", and if you still have issues, connect with a mentor on slack

[2019-04-16 14:53] shalishi commented on #684
It was not a problem of pull request itseilf. Bbefore do a pull request I have to public my branche, right? But I could't do it because i have no permission. I totally follow the guide page that you showed me nefore

[2019-04-16 14:54] Swati4star commented on #684
please connect on slack. let's not spam the issue with contribution related problems.

[2019-04-16 15:00] shalishi commented on #684
OK. I have to creat a accout firstly. How can I find you guys on slack,
with a team name?

On Tue, Apr 16, 2019 at 4:54 PM Swati Garg <notifications@github.com> wrote:

[2019-04-16 15:02] Swati4star commented on #684
Are you not a gssoc participant? (if not, we can have a discussion over mail : swati4star@gmail.com)
Also, there shouldnt be any need for you to have permission to access my repo.
You are supposed to fork this repo, push the commit there & create a Pull request

[2019-04-16 15:15] #445 closed

[2019-04-16 15:21] shalishi commented on #684
it's done. Thank you for your help

[2019-04-16 16:52] jddeep commented on #704
@Swati4star What kind of UX/UI you want for the Dialog? Like the current dialog looks fair and matches the theme of the App.

[2019-04-17 03:24] #684 closed

[2019-04-17 10:44] jddeep commented on #704
@Swati4star @vyankatesh24 Please discuss so that I can move forward.

[2019-04-17 10:59] Swati4star commented on #704
The current dialogue looks okayish only. If you have some suggestions for the dialogue, you can share.
This issue is for suggestions only. If I have had a UI in mind, I would have created an issue for implementing that,

[2019-04-17 11:10] konstzv commented on #660
The simplest way
- Show pdf in pdf viewer (many options)
- Then you need to implement dragging signature (image for example) to pdf viewer view
- Calculate the position of the image relative to pdf viewer on drop action
- Insert image in pdf via PDFBox or something similar using knowledge about the position

[2019-04-17 11:22] jddeep commented on #704
@Swati4star How I about a sliding Dialog? With a cool UI. Like users can swipe through the new updates knowing more details about them OR could just `continue`

[2019-04-17 11:26] Swati4star commented on #704
It'll be better if you share screenshots or some type of mock up design

[2019-04-17 15:54] jddeep commented on #704
![Screenshot (193)](https://user-images.githubusercontent.com/43133646/56302279-0c6c8b80-6157-11e9-9830-d18a0376447c.png)

@Swati4star Please have a look. The right arrow is there to indicate that this can be slid across.

[2019-04-17 15:55] jddeep commented on #704
[ImageToPdfDialog.zip](https://github.com/Swati4star/Images-to-PDF/files/3090462/ImageToPdfDialog.zip)

@Swati4star For a better quality of my design you can check the actual prototype. Thanks.

[2019-04-17 20:43] realrufans opened #707 "v8.6.4 freezes while converting from Excel to pdf"
#### Expected behavior
I excepted th Excel to Pdf tool to succefully convert excel file without freezing the device.

#### Actual behavior
PDF Converter v8.6.3 freezes the device, and crashed the device. While v8.6.4 only freezes the device during conversion.

#### How to reproduce
- Lunch PDF Converter v8.6.3, or v8.6.4
- locate excel to pdf tool
- select the execel file that is needed to be conv

[2019-04-17 20:45] realrufans commented on #707
I would have provided a crash logcat for v8.6.3 but i decided not to. Because there's v8.6.4 already and it doesn't crash, it freezes only.

[2019-04-18 07:05] jddeep commented on #704
@Swati4star Any Feedback?

[2019-04-18 14:37] Swati4star commented on #704
Need a few more suggestions. These doesnt look that good

[2019-04-18 14:46] jddeep commented on #704
@Swati4star Do you want a more minimal design? Like do you think this is to "colory"?

[2019-04-18 14:47] jddeep commented on #707
@Swati4star I would like to work on this. Can I?

[2019-04-18 14:51] Swati4star commented on #707
sure @jddeep

[2019-04-18 16:46] jddeep opened #709 "The ExcelToPdf needs to be clicked twice."
Describe your issue here.
The ExcelToPdf needs to be clicked twice.

### Steps to reproduce
Go to Excel to PDF.
Select a excel file.
The Excel to PDf button needs to be clicked twice before anything happens.
### Expected behaviour
It should work at once.

### Would you like to work on the issue?
Yes.

[2019-04-18 16:47] jddeep commented on #709
@Swati4star Please provide difficulty tags. I would work on this.

[2019-04-18 17:24] #590 closed

[2019-04-18 18:40] vyankatesh24 opened #710 "Bug in Remove Pages"
The page gets removed even if `cancel` is clicked.

### Steps to reproduce
- Remove Pages
- Select PDF
- Create PDF
- Click `x` icon
- A Dialog will appear, click `cancel`
- Press `Back` a PDF will be created with that page removed.

### Expected behaviour
The page should not be removed.

### Actual behaviour
The page gets removed.

[2019-04-19 03:36] rob729 commented on #710
@vyankatesh24 I would like to work on this issue.

[2019-04-19 06:12] vyankatesh24 commented on #710
Sure @rob729 :+1:

[2019-04-19 10:00] archi14 commented on #710
@vyankatesh24 I would like to work on this.

[2019-04-19 14:49] vyankatesh24 commented on #710
Sorry @archi14
As @rob729 has already got assigned this issue, his contribution will be considered.
You may take up some other issue.

[2019-04-19 14:56] vyankatesh24 opened #713 "[History] Add entry for excel to PDF creation."
Add entry as operation type `Created` when PDF is created using `Excel To PDF` option.

[2019-04-19 14:57] vyankatesh24 commented on #713
@archi14
Are you interested to work on this issue?

[2019-04-19 15:33] #710 closed

[2019-04-19 16:49] archi14 commented on #713
@vyankatesh24 I would like to work on this.

[2019-04-19 16:55] vyankatesh24 commented on #713
Sure @archi14 :+1:

[2019-04-20 07:53] vyankatesh24 opened #714 "Bug in Remove Pages"
When we click `back` without changing anything both the snackbars are shown `PDF Created` and `No changes made in the file`. (Increase animation time if you are not able to see)

### Steps to reproduce
* Remove Pages
* Select PDF
* Click `Create PDF`
* click `Back`

### Expected behaviour
Only `No changes made in the file` snackbar should be shown.

[2019-04-20 13:24] #707 closed

[2019-04-20 13:38] #702 closed

[2019-04-20 14:09] masudr4n4 opened #715 "The app crashes after exit"
<h4>Actual behavior</h4>
The app crashing after double click on back button.
<h4>Expected behavior</h4>
I expected that By double clicking the back button i can successfully  close the app.
<h4>How to reproduce</h4>
<ol>
<li>Download the app from playstore.</li>
<li>Open the apps.</li>
<li>Do anything as your wish</li>
<li>Back to home</li>
<li>Double click on back button on your device.</li>
<li>

[2019-04-20 15:50] srv-twry opened #716 "Improve the checkRangeValidity method of PDF Utils"
The `checkRangeValidity` method of `PDFUtils` can be improved a bit according to the suggestions by Code climate.

[https://github.com/Swati4star/Images-to-PDF/blob/9a613a3784f2e9b7a8940ef52b78afb4d6f670cc/app/src/main/java/swati4star/createpdf/util/PDFUtils.java#L656](https://github.com/Swati4star/Images-to-PDF/blob/9a613a3784f2e9b7a8940ef52b78afb4d6f670cc/app/src/main/java/swati4star/createpdf/u

[2019-04-20 16:05] Swati4star commented on #715
Thank you for reporting this bug!

[2019-04-20 16:35] maaudrana commented on #715
you are welcome.
You are really so fast.

[2019-04-20 19:45] rob729 commented on #714
@vyankatesh24 I would like to work on this issue.

[2019-04-20 20:42] py93 commented on #716
@srv-twry Hi, could you please assign me this issue if it's available?

[2019-04-21 04:26] vyankatesh24 commented on #716
Sure @py93 :+1:

[2019-04-21 04:34] vyankatesh24 commented on #714
Sure @rob729 :+1:

[2019-04-21 05:23] Swati4star commented on #709
@jddeep Are you working on this?

[2019-04-21 05:27] jddeep commented on #709
Yes will make a PR soon.

[2019-04-21 09:41] #714 closed

[2019-04-21 10:13] Swati4star opened #719 "UI freeze when converting text/doc to PDF"
UI freezes when we try to convert big text/PDF files to PDF

[2019-04-21 10:16] Swati4star opened #720 "Add `More enhancement options` in `Excel to PDF` : Password protect"
### Steps to reproduce
- open `Excel to PDF` using navigation drawer/home page

### Expected behaviour
- Add `More enhancement options` section (similar to Merge PDF)
- Add option to create password protected PDF

[2019-04-21 10:18] Swati4star opened #721 "Pressing back from favourites always takes back to Home section"
### Steps to reproduce
- go to any section (let's say `View Files`)
- select favourites from action bar
- press back

### Expected behaviour
It should go back to previous section (`View Files` in this case)

### Actual behaviour
It goes to `Home` section

[2019-04-21 10:22] Swati4star opened #722 "Add `show page numbers` in `Settings` section"
Add the option added in https://github.com/Swati4star/Images-to-PDF/issues/702 to settings section also

[2019-04-21 10:48] sidhuparas commented on #669
Hi @jddeep and @ni3verma, sorry for the delay as the team members were busy. We've decided to revert the existing PR and undo the changes. As @jddeep has created that PR, kindly revert that PR and also remove the uses of `PermissionsUtils` from other places like `ExcelToPDF`.

[2019-04-21 11:36] sidhuparas commented on #669
I looked for a solution and I think I have found a better solution than reverting that PR. I initially assigned this to @Ni3verma so please have a look at updated issue description and comment if you would like to work on it.

[2019-04-21 12:09] archi14 commented on #721
@Swati4star I would like to work on this.

[2019-04-21 12:48] rob729 commented on #720
@Swati4star I would like to work on this issue.

[2019-04-21 14:20] jddeep commented on #669
@sidhuparas So can you let me work on this?

[2019-04-21 14:36] sidhuparas commented on #721
Sure @archi14! Go ahead.

[2019-04-21 14:37] sidhuparas commented on #669
@jddeep Sorry but as the bug is pointed out by @Ni3verma, he will get priority if he wishes to work on this. If he doesn't want to work on this, @jddeep you can then go ahead.

[2019-04-21 15:29] jddeep commented on #722
@Swati4star I would like to work on this.

[2019-04-21 15:52] jddeep commented on #719
@Swati4star Would work on this.

[2019-04-21 16:04] sidhuparas commented on #719
Sure @jddeep!

[2019-04-21 16:07] sidhuparas commented on #722
@jddeep Try to claim one issue at a time. I have assigned you the other one.

[2019-04-21 16:11] Swati4star commented on #720
sure @rob729 👍

[2019-04-21 16:16] rob729 commented on #720
@Swati4star I am trying to convert excel file to PDF but the app is showing "Error occured'.
So, what should I do?

[2019-04-21 16:16] #709 closed

[2019-04-21 16:22] Swati4star commented on #720
It would be nice if you could debug it. I can't say what exactly is the issue. mPath could be turning out to be null

[2019-04-21 16:39] vyankatesh24 commented on #721
@archi14
Aren't you working on #713 ?

[2019-04-21 16:45] Swati4star commented on #713
@archi14 Work on this one first

[2019-04-21 16:46] archi14 commented on #721
@vyankatesh24  I am working on both. Aren't we allowed to take two at the same time?

[2019-04-21 16:47] Swati4star commented on #721
No. You should work on one at a time. You can take up next one after creating a PR for first.
These are easy issues also.

[2019-04-21 16:47] vyankatesh24 commented on #720
@rob729
Mostly the issue will be with the path conversion from URI.

[2019-04-21 16:48] archi14 commented on #721
@Swati4star okay

[2019-04-21 17:25] rob729 commented on #720
@vyankatesh24 so how should I solve this issue?

[2019-04-21 18:11] vyankatesh24 commented on #720
Maybe you create a new issue for it. by stating the URI in the issue description. and solve that.
or just create an issue and use path directly for testing purpose.

[2019-04-22 02:25] Ni3verma commented on #669
@sidhuparas I'll work on it.

[2019-04-22 02:54] sidhuparas commented on #669
@ni3verma Go ahead :+1:

[2019-04-22 06:55] sagorahmed opened #727 "The app crashed when I tried to convert a password protected PDF file to Image"
#### Expected behavior
The users should be able to convert a password protected PDF file to Image without crashing the app.

#### Actual behavior
When I tried to convert a password protected PDF file to Image, sometimes it crashed immediately/ after a few attempts.

#### How to reproduce
1. Open the app.
2. Then go to "PDF to Images".
3. Swipe up the view files menu.
4. Choose and click on a passw

[2019-04-22 10:25] Swati4star commented on #727
Thank you for reporting @sagorahmed !

[2019-04-22 12:12] sagorahmed commented on #727
Thanks, @Swati4star

[2019-04-22 13:35] XAMIR555 opened #729 "[ PDF CONVERTER version 8.6.5] Text to Pdf button is not working properly"
#### Project Information
* Repository    :  https://github.com/Swati4star/Images-to-PDF
* Project Name  :  PDF CONVERTER
* Publisher     : Swati Garg

#### Expected behavior

I Expected that when I use the text to pdf option  in this  application the text document  should be converted into PDF file

#### Actual behavior

The  Text to Pdf button is not working properly  while i convert the file tex

[2019-04-22 14:23] jddeep commented on #722
@Swati4star Updated my PR for the other issue. Please have a look there, so I can start working on this, Thanks.

[2019-04-22 15:10] #713 closed

[2019-04-22 15:34] #719 closed

[2019-04-22 16:41] jddeep commented on #729
@Swati4star I would like to work on this,

[2019-04-22 16:43] Swati4star commented on #722
@jddeep you are still commenting on multiple issues at a time!

[2019-04-22 16:45] jddeep commented on #722
@Swati4star I am very sorry. I forgot to keep track. I thought this issue would have been taken by somebody.

[2019-04-22 16:45] Swati4star commented on #549
@jddeep And what about this?

[2019-04-22 16:46] jddeep commented on #722
@Swati4star I would like to keep this issue open. New Developers can work on this. I would work on #729

[2019-04-22 16:47] jddeep commented on #549
@Swati4star I am not getting time to study other projects. As for this issue I need to that to get some idea,

[2019-04-22 16:49] jddeep commented on #722
@Swati4star Is it okay? And be sure I won't be commenting more than 1 issue from now on and keep a track.

[2019-04-22 16:53] Swati4star commented on #722
Sure

[2019-04-23 13:16] archi14 commented on #721
@Swati4star Is it okay if I work on this now?

[2019-04-23 15:36] Swati4star commented on #721
sure @archi14 👍

[2019-04-23 16:37] #669 closed

[2019-04-23 16:44] Ni3verma commented on #722
I'll work on it

[2019-04-23 16:54] Swati4star commented on #722
sure @Ni3verma

[2019-04-23 17:57] vyankatesh24 opened #732 "Actionbar Title is not changing when 'Get Started' click."
### Steps to reproduce
* Open `View Files` or `History`
* Click `Get Started` Button (delete all files to see the button)

### Expected behaviour
The Action bar title should change.

### Actual behaviour
The Action bar title does not change.

[2019-04-24 11:36] Ni3verma commented on #729
@Swati4star I don't think that this issue is present anymore. It was because of wrong implementation of permissionUtils. I have corrected that in my previous pull request so this issue should be automatically solved as app is working perfect now. but still double check it @Swati4star @jddeep @vyankatesh24

[2019-04-24 14:03] Swati4star commented on #729
Did you check this @vyankatesh24 ?

[2019-04-24 14:09] jddeep commented on #729
@Swati4star the issue here is a little different here than related to permssions which I thought. It was rightly pointed out by @vyankatesh24 . We are working on it.

[2019-04-24 14:31] vyankatesh24 commented on #729
Yes, checking the log provided. I think this issue is device based not in app.
What do you think?

[2019-04-24 15:34] jddeep commented on #704
@Swati4star You didn't tell anything?

[2019-04-24 16:59] jddeep commented on #727
@Swati4star @vyankatesh24 I will work on this.

[2019-04-25 05:01] #722 closed

[2019-04-25 05:33] Ni3verma commented on #715
@Swati4star have you checked it? I don't see any error in log

[2019-04-25 05:45] Ni3verma opened #734 "Add ZipToPdf in Favourite"
No option to add zip to pdf in favourite

### Steps to reproduce
* Open App
* Click Favourite Menu in ActionBar
* Click FAB
* There isn't ZipToPDF option in an opened screen.

### Expected behaviour
There should be a option to add it.

### Would you like to work on the issue?
Yes

[2019-04-25 05:51] Swati4star commented on #734
go ahead @Ni3verma

[2019-04-25 05:52] Swati4star commented on #715
It's not reproducible from my side too. @maaudrana Does this happen every time with your device? or in some specific case?

[2019-04-25 06:32] maaudrana commented on #715
every time happening this.

[2019-04-25 10:41] vyankatesh24 commented on #720
@rob729 Any updates?

[2019-04-25 11:21] rob729 commented on #720
@vyankatesh24 Actually I was quite busy for the past 2-3 days so I was not able to devote time to this issue.
Please give me 2-3 days more to work on this issue.

[2019-04-25 11:27] jddeep commented on #727
@Swati4star @vyankatesh24 Please have a look here. I was trying to reproduce this on my device by creating password protected pdfs and then trying to convert from PDF to Images. But all works fine for me,

[2019-04-25 11:39] NVlad1 commented on #732
Hi, I would like to work on this issue. Is it available?

[2019-04-25 12:16] vyankatesh24 commented on #732
Go ahead @NVlad1 :+1:

[2019-04-25 19:17] vyankatesh24 opened #736 "Bug in View Files"
Count of selected files is not shown every time.

### Steps to reproduce
* View Files
* Select All (count will be shown in action bar)
* Deselect all
* Again Select All (count will not be shown in action bar)

### Expected behaviour
Count of selected files should be shown every time in the action bar.

### Actual behaviour
Count of selected files is not shown every time.

[2019-04-26 01:35] jddeep commented on #736
@vyankatesh24 Can I work on this?

[2019-04-26 17:02] rob729 commented on #736
@vyankatesh24 I would like to work on this issue.

[2019-04-26 19:03] vyankatesh24 commented on #727
@jddeep
This error comes while conversion of password protected PDF and snackbar shows "We could find any image..."

[code]

[2019-04-27 04:16] #720 closed

[2019-04-27 04:21] vyankatesh24 commented on #736
@jddeep
I have commented on #727 with the error log found on my phone. Have a look.

[2019-04-27 04:21] vyankatesh24 commented on #736
@rob729 You may start working on it.

[2019-04-27 10:12] Swati4star commented on #715
Even I am unable to reproduce this.

[2019-04-27 12:00] vyankatesh24 commented on #721
@archi14 Any progress?

[2019-04-27 12:17] #732 closed

[2019-04-27 17:32] rob729 opened #741 "Password reset bug in merge pdf"
### Describe your issue here.
In Merge PDF option, the password setting is not getting reset after the creation of a pdf.

### Steps to reproduce
![2zllin](https://user-images.githubusercontent.com/31350501/56853046-3a648380-6940-11e9-911a-7ab7df5f48da.gif)

### Expected behaviour
Password setting should reset after PDF creation,

### Actual behaviour
The next PDF will also be password protected b

[2019-04-27 17:33] rob729 commented on #741
@Swati4star Please provide difficulty tags. I would work on this.

[2019-04-28 14:25] #734 closed

[2019-04-28 14:26] Swati4star commented on #741
go ahead @rob729

[2019-04-28 14:31] #736 closed

[2019-04-28 14:33] #716 closed

[2019-04-29 14:55] #741 closed

[2019-04-30 09:08] vyankatesh24 opened #743 "Wrong icon to ZipToPDF in Navigation Drawer."
Icon of `ZipToPDF` and `PdfToImages` are swaped.

[2019-04-30 09:17] vyankatesh24 opened #744 "Bug in Add Images Fragment"
`Create PDF` does not get enabled after Selecting file and images.

[2019-04-30 13:28] jddeep commented on #743
@vyankatesh24 I would work on this. Can I come to #739 after this.

[2019-04-30 15:59] rob729 commented on #744
@vyankatesh24 I would like to work on this issue.

[2019-04-30 16:14] vyankatesh24 commented on #744
Sure @rob729 :+1:

[2019-04-30 17:05] Ni3verma commented on #743
I'll work on it

[2019-05-01 03:06] vyankatesh24 commented on #743
Sure :+1:

[2019-05-01 03:30] rob729 commented on #744
@vyankatesh24 can you please tell me how to reproduce this error as I am not able to produce this error on my phone.

[2019-05-01 04:34] vyankatesh24 commented on #744
* Select File
* Select Images using `Add Images` button
* the `Create PDF` button remains disabled.

[2019-05-01 05:11] #743 closed

[2019-05-01 06:16] vyankatesh24 opened #746 "Add 'Add Text' option"
Add `Add Text` option in `Enhance Created PDFs` section.

There should be an option to `Select PDF file`, `Select Text File` and `Create PDF` button.
On clicking `Create PDF` button new PDF should be created by appending the text in a text file to selected PDF.

Maybe this can be useful : [https://www.javamadesoeasy.com/2016/06/how-to-modify-add-text-to-existing-pdf.html](https://www.javamadesoeas

[2019-05-01 06:34] Ni3verma commented on #721
@vyankatesh24 if archi is not working on it, assign it to me

[2019-05-01 06:47] vyankatesh24 commented on #721
@archi14 Are you still working on it?

[2019-05-01 15:45] jddeep commented on #746
@vyankatesh24 I will work on it now.

[2019-05-01 15:49] #727 closed

[2019-05-01 15:50] vyankatesh24 commented on #746
Sure :+1:

[2019-05-02 01:35] jddeep commented on #746
@vyankatesh24 This is completely new feature with lots of work, this should have been a `hard` label issue like other new features.

[2019-05-02 02:38] vyankatesh24 commented on #746
There is not 'lots of work'  in this issue. Mostly everything is ready just copy and paste is required.

[2019-05-02 02:40] vyankatesh24 commented on #721
@Ni3verma Go ahead :+1:

[2019-05-02 03:27] vyankatesh24 opened #747 "Bug in View Files"
Bug in the file selection

### Steps to reproduce
* Select Any file
* Now click `Select All` menu.

### Expected behaviour
All files get selected.

### Actual behaviour
Files get Deselected.

[2019-05-02 03:42] jddeep commented on #746
.

Okay @vyankatesh24 Will see then how things workout. 👍

[2019-05-03 09:11] archi14 commented on #721
@vyankatesh24 sorry had some issues with my laptop.

[2019-05-03 09:12] archi14 commented on #747
@vyankatesh24 please assign this to me.

[2019-05-03 10:41] Swati4star commented on #747
Sure @archi14 (if you have not commented on any other open issue currently)

[2019-05-03 10:42] Swati4star commented on #721
@archi14 Please comment on one issue at a time! We cant keep track of every participant, each time you comment on an issue! :(

[2019-05-03 17:31] vyankatesh24 opened #750 "[Split PDF] PDF gets created even when there is one page in PDF"
In `Split PDF` PDF is getting created even when there is one page in PDF.

### Steps to reproduce
* Open `Split PDF`
* Select PDF (Which has only one page)
* Click `Split PDF` button.

### Actual behaviour
* New PDF gets created with by suffixing `_1` to its name and only the snackbar is shown `PDF has only one page can't be split...`

* The snackbar is shown even when there are multiple pages in

[2019-05-03 17:37] vyankatesh24 commented on #744
@rob729 Any issue?

[2019-05-03 18:16] archi14 commented on #721
@Swati4star I thought this one got assigned to ni3verma. I was just apologizing for not responding.

[2019-05-03 19:36] rob729 commented on #744
@vyankatesh24 I was busy for past 3-4 days due to my semester exam. I will try to solve this issue by tomorrow.

[2019-05-05 07:01] vyankatesh24 opened #751 "Bug in Split PDF"
### Steps to reproduce
* Split PDF
* Select PDF (encrypted)
* Snackbar shows "PDF is password protected."
* `Create PDF` becomes blue/enabled.

### Expected behaviour
`Create PDF` button should not become blue/enabled.

### Actual behaviour
`Create PDF` button becomes blue/enabled.

[2019-05-05 18:28] bkqtnte10 commented on #539
The orange slider works but is not handy when many files are on the device.

Otherwise great app (and thank you)

[2019-05-07 05:17] rob729 commented on #744
![30c4w0](https://user-images.githubusercontent.com/31350501/57273162-55f42a80-70b4-11e9-958e-1c15e09f1b50.gif)

@vyankatesh24 I have been not able to reproduce the error.
Please tell me if I am doing it the right way?

[2019-05-07 05:23] vyankatesh24 commented on #744
@rob729 Bug is in `Add Images` fragment. You are doing in `Images to PDF` fragment.

[2019-05-07 06:46] rob729 commented on #750
@vyankatesh24 I would like to work on this issue.

[2019-05-09 07:49] archi14 commented on #747
Yes working on it.

[2019-05-09 12:57] vyankatesh24 opened #755 "Reset Page Colour and Font Colour after PDF Creation."
Reset `Page Colour` after PDF Creation in `Images To PDF` fragment.
Reset `Page Colour` and `Font Color` after PDF Creation in `Text To PDF` fragment.

### Steps to reproduce
1. Select images/text file
2. Apply Page Color/ Font Color
3. Create PDF
4. Select images/text file again
5. Don't apply Page Color/ Font Color
6. Create PDF.

### Expected behaviour
The second PDF should get the default Page

[2019-05-09 12:58] vyankatesh24 commented on #747
:+1:

[2019-05-09 16:02] Swati4star commented on #755
Sure @rob729

[2019-05-11 05:09] #750 closed

[2019-05-12 07:45] #755 closed

[2019-05-12 07:46] vyankatesh24 commented on #751
@gateway2rohan
Any progress?

[2019-05-12 07:46] vyankatesh24 commented on #747
@archi14
Any updates?

[2019-05-12 09:47] gateway2rohan commented on #751
Sorry informing you that I was not well since last few days, so was unable
to look into the issue. I started today only and I'm trying to submit it
ASAP.

On Sun, May 12, 2019, 13:16 Vyankatesh Berde <notifications@github.com
wrote:

[2019-05-13 13:15] vyankatesh24 opened #757 "[Split PDF] History entry not created properly"
History entry not created properly.
It gets created in some cases, in some cases, it does not.

[2019-05-13 13:28] rob729 commented on #757
@vyankatesh24 I would like to work on this issue.

[2019-05-13 13:33] vyankatesh24 commented on #757
Sure :+1:

[2019-05-13 18:39] #751 closed

[2019-05-14 10:21] Swati4star commented on #747
@archi14 Updates please? the issue is a very small one.
If you are stuck somewhere, let us know.

[2019-05-14 17:05] rob729 commented on #757
@vyankatesh24 Can you please tell what should I do to solve this issue as I am not able to understand how to approach this issue?

[2019-05-15 01:18] vyankatesh24 commented on #757
Are you able to reproduce issue?

Just add database entry using `DataBaseHelper` class. When PDF(s) is created.

[2019-05-15 06:52] archi14 commented on #747
@Swati4star Yes, I am stuck,  still trying to find out the solution.

[2019-05-15 17:36] vyankatesh24 opened #759 "Bug in Merge PDF in file selection"
### Steps to reproduce
* Open `Merge PDF`
* Select files using BottomSheet
* Remove Files using `X` icon
* Open Bottom Sheet
* The files which were selected, remain checked
* Now Uncheck them, They get added in `selected files`

### Expected behaviour
The files which were removed using `X` icon, should be unchecked.

### Actual behaviour
The files which were removed using `X` icon, remain checked.

[2019-05-16 13:51] rob729 commented on #757
@vyankatesh24 sorry for the late reply.
Actually, I am not able to reproduce the error as whenever I am trying to make a PDF it is been mentioned in history.

[2019-05-16 14:15] vyankatesh24 commented on #757
Try with range `1,2` or something like this, history entry is not created for this.
Check if there are more such cases.

It works for `1-5` like cases.

[2019-05-16 17:21] rob729 commented on #759
@vyankatesh24 I would like to work on this issue.

[2019-05-17 10:19] #757 closed

[2019-05-17 10:20] vyankatesh24 commented on #759
Sure :+1:

[2019-05-17 10:21] vyankatesh24 commented on #747
@archi14  If you need any help, discuss on the slack channel!

[2019-05-17 13:27] archi14 commented on #747
@vyankatesh24 I am unable to figure out the solution. please assign to someone else.

[2019-05-17 21:26] sunnyjain commented on #747
Hi, I would like to solve this issue.

[2019-05-18 11:36] vyankatesh24 commented on #747
Sure :+1:

[2019-05-18 17:06] vyankatesh24 opened #762 "Add 'transparency' option in Add Watermark Feature."
In `Add Watermark` dialog, add an option to enter transparency (%) and apply the same to watermark.

[2019-05-18 17:19] rob729 commented on #759
@vyankatesh24 Can you please tell me how to proceed in this issue?
I am not able to find a solution to this issue.

[2019-05-19 04:56] vyankatesh24 commented on #759
Check for selected files in bottom sheet when opened.
Uncheck the ones which are not in selected files.

[2019-05-19 17:40] vyankatesh24 opened #763 "[View Files] Wrong Action bar Title"
After Deleting files ActionBar title resets to `PDF Converter`.

### Steps to reproduce
- View Files
- Select Files
- Delete Files
-  ActionBar title resets to `PDF Converter`.

### Expected behaviour
 `ActionBar` title resets to `View Files`.

### Actual behaviour
 `ActionBar` title resets to `PDF Converter`.

[2019-05-20 22:40] sunnyjain commented on #763
Alright, will cover this as I am working in the same file.

[2019-05-21 03:25] Ni3verma commented on #762
I'll do it

[2019-05-21 11:39] #762 closed

[2019-05-21 18:54] #747 closed

[2019-05-21 18:57] #763 closed

[2019-05-22 20:47] sunnyjain opened #766 "Bug in the View Files when the user returns from Favourites to View Files Section."
### Steps to reproduce

- Go in the `View Files`

- Select All Files

- Now click the `Favourites icon` from the toolbar

- Press the Back button.

### Expected behavior
Either all the icons in the toolbar should reset or all files get selected, basically maintaining the state that was left.

### Actual behavior
All the files get Deselected but the icons in the toolbar are unchanged.

### Would yo

[2019-05-23 04:08] vyankatesh24 commented on #766
Good Finding :+1: @sunnyjain
You may work on this :+1:

[2019-05-23 11:58] vyankatesh24 opened #767 "[Split PDF] Last PDF gets hidden behind Bottom Sheet"
The last created PDF gets hidden behind Bottom Sheet

As in below image 13th PDF is not getting shown on screen

![image](https://user-images.githubusercontent.com/18503975/58250832-e357a000-7d7f-11e9-9e4f-e729efbdb346.png)

[2019-05-23 14:17] rob729 commented on #767
@vyankatesh24 I would like to work on this issue.

[2019-05-24 09:39] vyankatesh24 commented on #767
Sure :+1:

[2019-05-25 05:17] Swati4star commented on #766
@vyankatesh24 Can you add labels also to this issue?

[2019-05-25 17:17] #766 closed

[2019-05-26 17:33] rob729 commented on #767
@vyankatesh24 will it be ok if I use 'layoutMarginBelow' to push the layout above the bottom sheets as I am not able to find any other alternative solution while using coordinate layout as a parent layout?

[2019-05-26 17:55] vyankatesh24 opened #769 "[View Files] Merge PDF not working"
### Steps to reproduce
* Open View Files
* Select Files
* Merge Files menu enables.
* Click Merge Files
* Snackbar shows message 'we are unable access PDF....'

### Expected behaviour
Merge PDF should be created.

### Actual behaviour
Snackbar shows message 'we are unable access PDF....'

[2019-05-26 17:56] vyankatesh24 commented on #767
OK :+1:

[2019-05-27 18:07] #767 closed

[2019-05-28 03:25] #746 closed

[2019-05-28 03:41] vyankatesh24 opened #771 "App crashes on 'Add Text' click on Home Fragment"
`Add Text` works when clicked on Navigation drawer item. App crashes on `Add Text` click on Home Fragment.

[code]

[2019-05-28 15:32] rob729 commented on #769
@vyankatesh24 I would like to work on this issue.

[2019-05-28 16:34] vyankatesh24 commented on #769
Sure :+1:

[2019-05-28 17:57] rob729 commented on #771
@vyankatesh24 I would like to work on this issue.

[2019-05-29 02:15] #769 closed

[2019-05-29 02:22] #771 closed

[2019-05-30 13:57] vyankatesh24 opened #774 "[Add Text] Add Enhancement Option 'Font Size'"
### What to do?
Add Enhancement Option 'Font Size' in `Add Text` Fragment  (as in Text To PDF)

* Add New Enhancement Option
* Open dialog on click to enter size
* Set the entered size as Font size for pdf.
* Add a checkbox `Set as default` also in the dialog.
* Set selected size as default when `checkbox` is checked.
* If size not entered then default size should be applied.

[2019-05-30 14:10] vyankatesh24 opened #775 "[Add Text] Add Enhancement Option 'Font Family'"
### What to do?
Add Enhancement Option 'Font Family' in `Add Text` Fragment  (as in Text To PDF)

* Add New Enhancement Option
* Open dialog on click to select `Font Family`
* Set the selected family as Font family for pdf.
* Add a checkbox `Set as default` also in the dialog.
* Set selected family as default when `checkbox` is checked.
* If font family not selected then default family should be a

[2019-05-31 07:25] rob729 commented on #774
@vyankatesh24 I would like to work on this issue.

[2019-05-31 11:58] vyankatesh24 commented on #774
Sure :+1:

[2019-05-31 13:12] rob729 commented on #774
@vyankatesh24 Is it fine if I solve issue #775 in the same PR?

[2019-06-01 15:14] #774 closed

[2019-06-01 15:16] #775 closed

[2019-06-06 07:09] vyankatesh24 opened #777 "[Add Text] Error when selected text file"
Snackbar shows message `Error Occurred `when text file is selected before PDF file

### Steps to reproduce
* Add Text
* Select Text File (before selecting PDF file)

### Expected behaviour
File should be selected and path to be shown on `select` button.

### Actual behaviour
Snackbar shows message `Error Occurred `

[2019-06-07 06:42] rob729 commented on #759
@vyankatesh24 please remove the 'in progress' tag as I am not working on this issue.

[2019-07-01 16:51] vyankatesh24 opened #778 "PDF file selection not working for some URIs"
- PDF file selection not working for some URIs in `Split PDF` and other fragments where PDF selection is required.
- Error while converting URI to Path.
 - Error:
``` Unknown URI: content://downloads/public_downloads/3798 ```

[2019-07-10 17:10] vyankatesh24 opened #779 "[Text To PDF] Suggest Txt/Doc File name as PDF name."
When text is selected and the `Create PDF` button has clicked a dialog opens to ask file name.

The UX can be improved with the following functionalities:
- Fill `File Name` textbox on dialog with text/doc file name (can also attach `_pdf`)

- Add an option in `Settings` to enable directly name the PDF as text/doc file name and save. So, now the file name dialog will not appear and directly file w

[2019-07-14 10:38] Swati4star commented on #778
Is this just in "split PDF" or somewhere else too?

[2019-07-14 18:10] vyankatesh24 commented on #778
All fragments where we have to select PDF file(s). Like Merge PDF, Invert PDF, Add Password... etc.

[2019-07-22 22:30] just-Nob opened #780 "Wrong paper sizes for DIN A(x) formats in "Set Page Size" dialogue"
When someone wants to convert a picture into a PDF using "PDF Converter", the paper size can be chosen using the eponymous dialogue "Set Paper Size".
When choosing the bullet point "A0 to A10" (which presumably means the standard paper size formats described e.g. [here](https://en.m.wikipedia.org/wiki/Paper_size)) one can select one of these formats via a drop down menu, whose content is as follow

[2019-07-22 22:53] just-Nob opened #781 "Missing possibility to set up "landscape" orientation (currently, only "portrait" seems to be supported)"
I would like to have the possibility to generate PDF documents in landscape orientation as well (instead of being bound to portrait).

### Steps to reproduce
That's the point... - it isn't (re)producable! ;-)

### Expected behaviour
The "Set Page Size" dialogue would be a good place for an additional orientation selector ("portrait/landscape").

### Actual behaviour
It isn't possible to generate a

[2019-08-07 07:13] vankhoa01 opened #783 "Bitmap to PDF"
Hi my friends,

Have any way to convert bitmap to PDF ?

Thanks a lot

[2019-08-10 14:52] Swati4star opened #784 "Crashes reported on playstore"
Pasting few logs which are causing app (v94) to crash:
1.
[code]

2.
[code]

3.
[code]

[2019-08-10 14:54] Swati4star commented on #783
https://stackoverflow.com/questions/14392896/how-i-can-convert-a-bitmap-into-pdf-format-in-android

[2019-08-10 14:54] #783 closed

[2019-08-11 06:01] ioshomebrew commented on #778
Can you give me a sample URL to work with?

[2019-08-14 14:55] Swati4star commented on #778
@ioshomebrew It's already there in issue description.

[2019-08-19 04:07] ioshomebrew commented on #778
Ok, looking thru source code now to diag issue

[2019-08-19 06:41] ioshomebrew commented on #778
Found the issue, it appears that the RealPathUtil.getRealPath is adding extra data to the selected file

[2019-08-20 05:16] ioshomebrew commented on #778
The issue seems to be with some file explorer apps, with EZ File Explorer it didn't work because it added extra characters to the Uri, but with EX File Manager it worked fine

[2019-08-21 09:53] Swati4star commented on #778
@vyankatesh24 Are you facing the issue with just EX file explorer or other explorers too?
cc\ @ioshomebrew

[2019-08-22 09:57] ioshomebrew commented on #778
I've only tested 2 explorers so far

[2019-08-25 04:27] Swati4star opened #788 "Add "Recently used features" section on home page"
Add "Recently used features" section on home page

### Expected behaviour
- This should be hidden initially
- When the user starts using the features, add those cards in an LRU manner (maximum 3 cards)
- On clicking these cards, the respective feature should open up.

[2019-08-25 09:52] #704 closed

[2019-08-25 16:54] Swati4star opened #789 "QR code & bar code scanner not working properly"
### Steps to reproduce
- on home page, select "QR & Barcodes"
- Scan a QR code or bar code
- Enter PDF name

### Expected behaviour
- PDF should get created

### Actual behaviour
- App closes on scanning QR code & crashes on using barcodes.

[2019-08-27 03:28] Himanshu507 commented on #784
Can you solve this issue? Please help me Swati 🥇

[2019-08-27 05:45] Swati4star commented on #784
Hi @Himanshu507, did you try resolving this issue? Are you stuck somewhere? I can help.

[2019-08-27 14:23] Himanshu507 commented on #784
Yes please help me

[2019-08-27 14:24] Himanshu507 commented on #784
just tell me the reason why this eror is occured

[2019-08-27 15:38] Himanshu507 commented on #784
And how i can solve this issue

[2019-08-31 16:03] kunalmulwani commented on #788
@Swati4star should this section be persistent or in memory?

[2019-08-31 16:35] Swati4star commented on #788
@kunalmulwani It should be persistent.
Using sharedpreferences to store this should work.

[2019-09-01 03:06] Swati4star commented on #17
Can you guys also help in reporting the applications?
This one https://play.google.com/store/apps/details?id=nexamuse.createpdf has even copied the whole playstore description & obviously the app code.

[2019-09-01 04:58] Swati4star commented on #17
https://play.google.com/store/apps/details?id=org.com.newalertapps.pdfcreatorandimagecoverter
https://play.google.com/store/apps/details?id=com.nbstudio.imagetopdf.jpgtopdf.camscanner.createpdf
https://play.google.com/store/apps/details?id=imagetopdf.easy.creator
https://play.google.com/store/apps/details?id=com.technoxskill.createpdf
https://play.google.com/store/apps/details?id=com.best.image.to

[2019-09-03 03:54] sayyankhonkhaeng commented on #17
เราต้องการความช่วยเหลือในการติดตั้งแอปสแกน QR code ในการถอนเสา wallet Store
เราไม่สามารถสแกนได้ ช่วยเหลือเราในการติดตั้งแอปในมือถือเพื่อสแกนคิวอาร์โค้ด

ในวันที่ อา. 1 ก.ย. 2019 11:58 น. Swati Garg <notifications@github.com>
เขียนว่า:

[2019-09-03 10:07] Arsalankhan1212 opened #790 "app:transformDexArchiveWithExternalLibsDexMergerForDebug -> java.lang.OutOfMemoryError"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2019-09-03 10:09] Swati4star commented on #790
Please add crash logs too.

[2019-09-03 10:20] Arsalankhan1212 commented on #790
![image](https://user-images.githubusercontent.com/53042787/64165357-5c29c600-ce5e-11e9-859e-c1eb684575a5.png)

[2019-09-03 11:42] Swati4star commented on #790
This is a build issue. and our build is working perfectly fine.
You can try to google this issue. There must be some changed required in your Android Studio settings

[2019-09-03 11:48] Swati4star commented on #788
@kunalmulwani Are you interested in working on this issue?

[2019-09-03 15:41] kunalmulwani commented on #788
@Swati4star If it is time-bounded then I would want someone with the time guarantee to take over. Although I did try to reuse an existing card which was accessed, I got an error of card being associated with a parent. Do we have a place in code where we have mappings of names and icons for functions stored somewhere which can be reused?

[2019-09-03 18:27] nu111 opened #791 "File selection does not work properly"
When I select a PDF from the downloads dir of the phone for the remove password feature, the file is not selected and the wrong path is shown, if I put he file in a subdir it works again
Here is a video reproducing the issue
https://drive.google.com/file/d/10irvh4LMb5tPuex5Fu8lzptTd3Y51_tA/view?usp=drivesdk

[2019-09-04 14:44] #790 closed

[2019-09-04 14:46] Swati4star commented on #788
@kunalmulwani It isn't time bound.
I will be able to help better if you could share the code & error you are facing. You can create a work in progress PR.

[2019-09-05 14:42] darkdragon-001 opened #792 "Version confusion"
[Latest Github release](https://github.com/Swati4star/Images-to-PDF/releases): 8.6.7
[Latest Google Play release](https://play.google.com/store/apps/details?id=swati4star.createpdf): 8.6.9 _(how can this be newer!?)_
[Latest F-Droid release](https://f-droid.org/packages/swati4star.createpdf/): 8.5.6 _(with error [NoSourceSince](https://f-droid.org/wiki/page/Antifeature:NoSourceSince))_

Could you

[2019-09-14 09:33] Swati4star commented on #17
QR code scanner works fine now. Please upgrade to latest version

Regards,
Swati Garg

On Tue, Sep 3, 2019 at 9:24 AM SAYYAN KHONKHAENG <notifications@github.com>
wrote:

[2019-09-30 05:32] ioshomebrew commented on #778
Just found a potential fix

[2019-09-30 05:32] ioshomebrew commented on #778
I added in a feature to replace extra characters with /

[2019-09-30 05:34] ioshomebrew commented on #778
It worked with the 2 file explorers I used

[2019-09-30 05:42] ioshomebrew commented on #778
The Fix is now on my forked repo

[2019-09-30 10:55] Swati4star commented on #778
@ioshomebrew Can you create a PR?

[2019-10-01 04:04] sudeshim3 commented on #779
Is this enhancement open, would love to contribute

[2019-10-01 04:15] Swati4star commented on #779
Yes @sudeshim3
This is open. You can pick it up.

[2019-10-01 07:57] ioshomebrew commented on #778
Just did it

[2019-10-02 08:56] #778 closed

[2019-10-02 09:27] Swati4star commented on #792
I will try to do so from next release on!

[2019-10-02 09:30] Swati4star commented on #715
Fixed in latest build.

[2019-10-02 09:30] #715 closed

[2019-10-02 11:30] sudeshim3 commented on #779
@vyankatesh24 are you sure about this

"_Add an option in Settings to enable directly name the PDF as text/doc file name and save. So, now the file name dialogue will not appear and directly file will be created with text/doc file name._"

Well, I would suggest that we must prompt the file name as it will act as a confirmation note.
also, it will help them identify quickly if they want to access i

[2019-10-02 12:15] sudeshim3 opened #794 ""Error on creating application folder" when selected circular morphed button."
After the successful conversion of image to pdf selecting the morphed success, button prompts will prompt conversion dialogue which fails with the above error message.

### Steps to reproduce
1. Convert an image to pdf
2. Click the success morphed button

### Expected behaviour
Success button shouldn't respond to user input

### Would you like to work on the issue?
Yes, will work on it, by blockin

[2019-10-02 12:45] Swati4star commented on #779
@sudeshim3 I agree. We should prompt the file name. (just like we already do)
The enhancement would be to auto-fill.

[2019-10-02 12:46] Swati4star commented on #794
Great @sudeshim3 👍

[2019-10-05 06:57] hector2 commented on #791
Hey! I can try to solve this

[2019-10-05 11:43] Swati4star commented on #791
Sure @hector2 👍

[2019-10-05 11:45] #794 closed

[2019-10-05 12:24] Swati4star commented on #792
Taking care of this from next release onwards.

[2019-10-05 18:04] TomerPacific commented on #784
@Swati4star , this issue is occurring due to accessing an object which is null. If this is still relevant, I'd like to solve this.

[2019-10-05 21:59] shldhll commented on #777
@vyankatesh24 @Swati4star I would like to work on this issue.

[2019-10-06 05:35] Swati4star commented on #784
Sure @TomerPacific
Go ahead with this!

[2019-10-06 21:56] laurameck commented on #780
Investigating this, can you assign this to me @Swati4star?

[2019-10-07 15:30] sudeshim3 opened #803 "Persistent selection of files."
As of now, I feel two important things are lacking
1. **Persistent selection**: Unable to add an image to an existing selection of images.
2. **Removing images from the selection**: the existing selection is not intuitive if the user is planning to remove pages he has to go to _More Enhancement Option_  -> _Preview_ -> rearrange option.

### Suggested behaviour
There are many ways to solve this, W

[2019-10-07 17:31] Swati4star commented on #803
@sudeshim3 This enhancement looks great!  💯
You can start by implementing it in "images to PDF" section.

[2019-10-07 17:35] #780 closed

[2019-10-07 23:16] TomerPacific commented on #784
@Swati4star ,
I have opened a [PR](https://github.com/Swati4star/Images-to-PDF/pull/804)

Let me know if this is ok.

[2019-10-08 06:26] Swati4star commented on #788
@kunalmulwani Are you working on this?

[2019-10-08 12:35] kunalmulwani commented on #788
@Swati4star No. I haven't got a chance. It is free to take over.

[2019-10-08 18:39] sudeshim3 opened #805 "Build Failure: Execution failed for task ':app:transformDexArchiveWithExternalLibsDexMergerForDebug'."
Describe your issue here.
After updating the fork from master I am unable to build the project due to DexMerger's failure to merge external libraries

### Steps to reproduce
Clone from GitHub and build on the master branch. If successfully built please post here with android version so that we can narrow down the issue.

### Temporary Fix
Downgrade build tool from 3.4.2 to 3.2.1 in project-level d

[2019-10-08 18:40] sudeshim3 commented on #805
![Screenshot 2019-10-08 at 11 56 19 PM](https://user-images.githubusercontent.com/34063388/66423327-16e25080-ea29-11e9-9ef0-ce5ded7cfdb4.png)

[2019-10-09 05:53] Swati4star commented on #805
@sudeshim3 I did clone the repo and everything is working fine on my machine.

You can try out the options mentioned in https://stackoverflow.com/questions/49254785/apptransformdexarchivewithexternallibsdexmergerfordebug-in-android-studio-3-0-1

Seems to be some issue with Android studio only.

[2019-10-10 11:52] #805 closed

[2019-10-10 11:59] Swati4star commented on #792
https://gitlab.com/fdroid/fdroiddata/issues/1838

[2019-10-10 15:59] Swati4star opened #806 "Replace aspose jar file with gradle"
Aspose is being used to convert excel to PDF
Currently, we have added a jar file in code https://github.com/Swati4star/Images-to-PDF/tree/a21bd7298a84427fb04fa7ea3a45851771216167/app/libs

### Todo:
Use aspose gradle repo instead:
https://mvnrepository.com/artifact/com.aspose/aspose-cells/18.4

// https://mvnrepository.com/artifact/com.aspose/aspose-cells
compile group: 'com.aspose', name: 'aspose

[2019-10-10 19:01] kaaquist commented on #806
I can do this for you.

[2019-10-10 19:01] ankitmaheswari commented on #806
@Swati4star Are you just looking for changing the dependency to be pulled from maven instead of jar file locally in the `libs/` folder? I can pick this change.

[2019-10-11 05:31] Swati4star commented on #806
Yes @ankitmaheswari
You may pick up some other issue. This one is already resolved.

[2019-10-11 05:40] Swati4star opened #808 "Empty file getting created in "Extract text""
- Select "Extract text" from navigation drawer in "more options"
- select a PDf which does not have any text and select "Extract text"
- an empty text file gets created.

The expected behaviour is: show a snackbar or toast saying that the PDF does not have any text.

[2019-10-11 05:55] Swati4star opened #809 "[Improve code climate] Mainactivity.java"
Improve code quality for MainActivity.java
Currently, the rating is "F"
Try to bring it to "B"
https://codeclimate.com/github/Swati4star/Images-to-PDF/app/src/main/java/swati4star/createpdf/activity/MainActivity.java

[2019-10-11 07:58] #806 closed

[2019-10-11 12:38] vherasme commented on #808
Can I start working on this?

[2019-10-11 17:34] theparselmouth commented on #808
Hi, this is my first issue. Could I take this up ?

[2019-10-12 06:40] Swati4star commented on #808
Sure @theparselmouth

[2019-10-12 08:54] Swati4star opened #811 "Add a FAQ section in app"
Add a FAQ section in app just before the settings section

[2019-10-12 10:54] nfatma commented on #811
I would like to work on it.

[2019-10-12 11:23] Swati4star commented on #811
Sure. You can take help from https://github.com/Swati4star/Images-to-PDF/blob/master/FAQs.md
But the above version is somewhat outdated. You'll have to go through the app to include all the features.

[2019-10-12 20:04] sudeshim3 opened #812 "App crashes on startup in the recent update."
`java.lang.RuntimeException: Unable to instantiate application android.support.multidex.MultiDexApplication: java.lang.ClassNotFoundException: Didn't find class "android.support.multidex.MultiDexApplication"`

### Probable Reason
[commit Line](https://github.com/Swati4star/Images-to-PDF/commit/e5b591b0f8e4c582ffaf8fb3375b5ff0498b5e3f#r35473863) (multidex dependency removed)

On adding multidex dep

[2019-10-13 03:24] Swati4star opened #814 "Add German translation for strings"
Add German translation for strings

[2019-10-13 04:47] Swati4star commented on #812
@sudeshim3 Thank you for noticing this. This is completely my fault for doing this.
Would you like to create a PR to fix this?
or I can fix it tonight.

TODO: I think we should add some automated UI tests so that a crash on launch is detected automatically.

[2019-10-13 04:51] sudeshim3 commented on #812
Yes, I will create a PR.

[2019-10-13 04:58] sudeshim3 commented on #812
I like the application and planning for a long term commitment to it, already thought about automating UI testing and various other changes. Would you prefer migrating to kotlin gradually?

This will enable us to support coroutine, extension functions and will help minimize verbosity

[2019-10-13 10:47] #812 closed

[2019-10-13 10:48] svignesh93 opened #816 "Extract Text: [Bug]Extracting text failes"
when choosing the pdf file from a "Select PDF File" Button. Only works when choosing PDF from a Bottom Sheet

### Steps to reproduce
1) Go to Extract Text Feature either from Home Screen or from Navigation Slider.
2) Tap "Select PDF File" Button and choose any PDF Doc.
3) A Dialog would appear and give the new text file name.
3) Tap "Extract Text" Button.

### Expected behaviour
PDF Text should be

[2019-10-13 12:25] #814 closed

[2019-10-13 12:25] sudeshim3 opened #819 "extend Kotlin support."
Would like to add new features using kotlin language. This will enable  support coroutine, extension functions and will help minimize verbosity

Any plans of supporting kotlin right now?

_Originally posted by @sudeshim3 in https://github.com/Swati4star/Images-to-PDF/issues/812#issuecomment-541386492_

[2019-10-13 14:05] #819 closed

[2019-10-13 14:34] Swati4star commented on #819
Any reason for closing this issue on your own? @sudeshim3

[2019-10-13 14:39] Swati4star commented on #816
@svignesh93 What is the location of your PDF file?
There are issues with getting path of files from some folders?

[2019-10-13 15:06] sudeshim3 commented on #779
Text-to-pdf name autofill:
https://github.com/Swati4star/Images-to-PDF/pull/820

[2019-10-13 16:00] svignesh93 commented on #816
The file was chosen from /internal storage/Downloads/some_name.pdf. The same file was used when selecting it from the bottom sheet

[2019-10-13 19:16] wictors commented on #759
Hello. This is my first issue. I would like to try to solve this if it is still open.

[2019-10-14 08:23] Swati4star commented on #759
Sure @wictors

[2019-10-14 08:27] #779 closed

[2019-10-14 08:28] #791 closed

[2019-10-14 08:29] Swati4star commented on #816
Can you check if this issue is still there after merging this PR https://github.com/Swati4star/Images-to-PDF/pull/799 ?

[2019-10-14 11:48] sudeshim3 commented on #819
As my contributions will be slow(just weekends) I don’t want to see the repo with few kotlin files here and there. So until unless there are multiple contributors, it won’t add value as migrating will consume significant time and require proper testing so as not to introduce bugs to already working features.
So I thought closing would be better.

[2019-10-14 18:11] svignesh93 commented on #816
Yes, It does solves this bug and it works.

[2019-10-14 18:11] #816 closed

[2019-10-14 18:15] theparselmouth commented on #808
Is this issue done ?

[2019-10-15 09:41] Swati4star commented on #808
Yes! by https://github.com/Swati4star/Images-to-PDF/pull/817

[2019-10-15 09:41] #808 closed

[2019-10-16 05:39] Swati4star commented on #809
Being worked on in https://github.com/Swati4star/Images-to-PDF/pull/821

[2019-10-16 06:11] Swati4star opened #823 "Add an option to "View PDF" in "Excel to PDF" section after PDF is created"
#Steps to reproduce
- go to "Excel to PDF"
- select an excel and convert it to PDF

### Expected behaviour
An option to "View PDF" should appear after PDf is created (like in "Images to PDF" section)

### Actual behaviour
Only snackbar is shown which disapperars after some time.

[2019-10-16 06:14] Swati4star opened #824 "Add unit tests for "getRealPathFromURI_API19""
Add unit tests for getRealPathFromURI_API19 API -  https://github.com/Swati4star/Images-to-PDF/blob/7b04d1b482a3a9534d6f3cc91209bb743a662d8a/app/src/main/java/swati4star/createpdf/util/RealPathUtil.java#L34
with atleast 95% code coverage

[2019-10-16 09:53] Swati4star opened #825 "[Excel to PDF] Show a list of excel files in bottom sheet"
- In Excel to PDF section, show a list of all the excel files in user's device in a bottom sheet (For example in - "Remove password", "Split PDF", "Remove Duplicate pages"... section)

- On selecting the excel in bottom sheet, it should get selected

[2019-10-17 08:42] #809 closed

[2019-10-17 08:43] osirvics commented on #823
I would love to implement this feature. But the option to "view" PDF after converting from excel is already there. Is there something I am missing?

[2019-10-17 08:45] Swati4star commented on #823
@osirvics It's there is snackbar? But not on the main screen.

[2019-10-17 09:41] osirvics commented on #823
Oh, I just figured it. Thank you.

[2019-10-17 09:43] Swati4star commented on #823
Are you going to work on this issue? @osirvics

[2019-10-17 09:50] osirvics commented on #823
Yes, I will give it a shot.

[2019-10-17 11:07] osirvics commented on #823
I'm done. Please review. @Swati4star

[2019-10-19 16:26] Swati4star opened #827 "crashes reported"
Trace 1
[code]

Trace 2:
[code]

[2019-10-20 06:41] Swati4star commented on #759
@wictors Any updates here?

[2019-10-20 06:43] Swati4star opened #829 "Add unit tests for Utils classes"
Add unit tests for various APIs in https://github.com/Swati4star/Images-to-PDF/tree/master/app/src/main/java/swati4star/createpdf/util

Pick any one class and add unit tests for it.

[2019-10-20 13:19] wictors commented on #759
I have problems. I thought the error was in my devices, but not. I downloaded the current code from GitHub, but I can't run it. There's a error . Check the photo. I cannot run the application via AndroidStudio and debug.

Then I downloaded the application from GooglePlay. It was OK, but the actual behavior is different. I can't reproduce the issue. Check the video. There are different issues.

Som

[2019-10-20 15:49] Swati4star commented on #759
@wictors In which locale are you running this app? I am not able to get the exact issue.
Instead of sending the photo, can you copy paste the logs here?

[2019-10-20 18:19] barosch47 commented on #824
Hi i would like to work on this.
I this fine ?

[2019-10-20 20:26] lucianofecampos commented on #824
Hi @Swati4star, can I take this?

[2019-10-21 04:36] niyonx commented on #829
Hi, I plan to do work on unit testing some classes.

[2019-10-21 05:16] Swati4star commented on #829
Sure @niyonx
Just comment the name of classes which you are picking up and start working on it 👍

[2019-10-21 05:16] Swati4star commented on #824
@lucianofecampos Sure. Go ahead 👍

[2019-10-21 05:53] Swati4star opened #830 "Use `Singleton Design pattern` for Utils classes"
Utils classes are present at: (ending with *utils.java)
https://github.com/Swati4star/Images-to-PDF/tree/master/app/src/main/java/swati4star/createpdf/util

For reference:
Use method 3 Lazy initialization from below link for implementation:
https://www.geeksforgeeks.org/java-singleton-design-pattern-practices-examples/

[2019-10-21 05:56] ardlank commented on #830
@Swati4star can I do this?

[2019-10-21 06:05] Swati4star commented on #830
Sure @ardlank 👍

[2019-10-21 06:44] Swati4star commented on #811
Updates @nfatma ?

[2019-10-21 06:58] Swati4star commented on #830
Use 6th implementation: Bill Pugh Singleton Implementation for this

[2019-10-21 08:32] akhil-ghatiki commented on #830
@Swati4star
Implemented Bill Pugh Singleton implementation for AddTextEnhancementOptionUtils, BrushUtils, ColorUtils, CommonCodeUtils. Rasied a PR for the same. Look into it once the checks have passed.

[2019-10-21 09:27] drigio opened #832 "App force closes because of no initialisation of mFragmentSelectedMap."
App force closes on running.

``
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void
        android.util.SparseIntArray.append(int, int)' on a null object reference
        at swati4star.createpdf.activity.MainActivity.setTitleMap(MainActivity.java:275)
        at swati4star.createpdf.activity.MainActivity.initializeValues(MainActivity.java:170)
        at swati4star

[2019-10-21 15:26] Swati4star commented on #832
Please fix it @drigio 👍

[2019-10-21 17:45] drigio commented on #811
@Swati4star I would like to work on this if possible.

[2019-10-21 20:39] wictors commented on #759
I am from Slovakia - Central Europe.
This is complete logs from app.

[Issue.txt](https://github.com/Swati4star/Images-to-PDF/files/3752798/Issue.txt)

[2019-10-22 05:26] #832 closed

[2019-10-22 05:26] Swati4star commented on #759
Please pull the latest code. The crash is now fixed with https://github.com/Swati4star/Images-to-PDF/pull/833

[2019-10-22 06:44] ardlank commented on #830
Implemented Bill Pugh Singleton implementation for DialogUtils and RealPathUtil.

PR: #834

[2019-10-22 08:43] Swati4star commented on #811
yes @drigio
You can start working on this.

[2019-10-22 11:30] nfatma commented on #811
hey @Swati4star apologies for the delay. if this issue is still available for work, I can totally do it this weekend.

[2019-10-24 05:39] #811 closed

[2019-10-24 15:05] Swati4star commented on #825
Fixed by #835

[2019-10-24 15:05] #825 closed

[2019-10-25 15:36] rutujaac opened #840 "Add more and updated FAQs to the application."
More FAQs can be added to the application to provide more information regarding frequent concerns like:
*  What is the format of the images extracted from the PDF?
*  Can I compress the images before creating a PDF?
    and many more.

[2019-10-25 15:38] Swati4star commented on #840
@rutujaac Great suggestion.
Do you think we should categorize FAQs feature-wise? It'll be easier to troubleshoot in that case.

[2019-10-25 16:28] rutujaac commented on #840
Yes. We could do this. I would like to add a few FAQs first, get well acquainted with the repository and then go onto creating categories. We could even try to add a search filter after that and maybe
have a separate issue for this.

[2019-10-26 10:10] #840 closed

[2019-10-26 10:14] Swati4star opened #846 "Add key value pairs for ques-answer in strings.xml for FAQ"
Currently, we have 2 different arrays for questions and answers to FAQ queries.
- https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/res/values/strings.xml#L530
- https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/res/values/strings.xml#L563

Follow this link: https://stackoverflow.com/a/28580502/3623128
Convert above 2 arrays to a single one using a delimiter:

[2019-10-26 10:15] Swati4star commented on #759
@wictors Are you still facing this issue?
Any updates here?

[2019-10-26 10:23] harshalkh commented on #846
I can take this.

[2019-10-26 10:37] Swati4star commented on #846
Sure!

[2019-10-26 11:43] rutujaac opened #848 "Create categories for FAQs and add a search bar to search for specific FAQs."
FAQs can be divided into different categories and displayed category-wise. A search filter can be used to search across the FAQs.

### Steps to reproduce
* Create sectioned views for holding FAQs of same category together.
* Add a search filter.

### Would you like to work on the issue?
Yes.

[2019-10-26 13:15] Swati4star commented on #848
Sure @rutujaac
Go ahead with this

[2019-10-26 13:17] #846 closed

[2019-10-27 17:28] Swati4star opened #850 "Move Remove pages fragment parse operation to async thread"
Move the parse function:
https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/fragment/RemovePagesFragment.java#L189
to background thread

In the meanwhile, show the animation dialog (like in images to PDF)

[2019-10-27 21:40] wictors commented on #759
Yes. I need a week. Maximum. Then I'll close it with the update.

[2019-10-28 05:40] Swati4star opened #851 "Add UI testing for "Images to PDF" functionality"
- Add UI testing to test the "Image to PDF" functionality.
- [optional] use enhancement options too

###Reference
https://developer.android.com/training/testing/ui-testing/espresso-testing

[2019-10-28 06:47] #784 closed

[2019-10-28 16:26] Swati4star commented on #827
fixed by 3b17e9bccf370b3631243bfe6cdca9a4f7e83e37

[2019-10-28 16:26] #827 closed

[2019-10-28 16:26] Swati4star commented on #824
Any updates @lucianofecampos ?

[2019-10-28 16:27] Swati4star commented on #803
@sudeshim3 Are you going ahead with this?

[2019-10-28 16:29] Swati4star commented on #729
Fixed in latest build

[2019-10-28 16:29] #729 closed

[2019-10-28 16:32] Swati4star commented on #132
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/464

[2019-10-28 16:32] #132 closed

[2019-10-28 17:17] sudeshim3 commented on #803
would it be fine If I do it in kotlin?

[2019-10-28 17:20] Swati4star commented on #803
@sudeshim3 We don't have any fulltime project maintainer with proper knowledge of Kotlin
Please do it in java only

[2019-10-28 18:04] sudeshim3 commented on #803
ok, will do it in java itself.

[2019-10-28 20:12] lucianofecampos commented on #824
Sorry. I couldn't do it yet, but this week I will work on that.

[2019-10-30 11:44] Swati4star commented on #850
https://github.com/tanmay23235616/Images-to-PDF/commit/6ead5a0c5e9a42ac113d2c06676f81bf9196b6bd

[2019-10-31 04:26] Swati4star opened #855 "Update gif being used in readme"
Gif path:
https://github.com/Swati4star/Images-to-PDF/blob/master/screenshots/image_to_pdf.gif

### WHY?
The current gif does not have all the features

The gif size shouldn't be greater than 2MB as this decreases the page load size then.

[2019-10-31 04:44] aasutossh commented on #855
Hi, I could do this.

[2019-10-31 04:49] Swati4star commented on #855
Sure @aasutossh

[2019-10-31 06:40] #850 closed

[2019-10-31 06:43] Swati4star opened #856 "[Code Refactor] Reorder strings in strings.xml according to feature they are used in"
Currently, all strings are random. Reorder them as per the feature
https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/res/values/strings.xml

- Separate the strings of same feature together and add apt comments (see Ref below)

### Ref
See `Separate` section in https://medium.com/google-developer-experts/android-strings-xml-things-to-remember-c155025bb8bb

[2019-10-31 15:32] pedroandrades commented on #856
Hi! I will do this.

[2019-10-31 17:31] Swati4star opened #864 "[Code Refactor] Improve code climate for file utils class"
https://codeclimate.com/github/Swati4star/Images-to-PDF/app/src/main/java/swati4star/createpdf/util/FileUtils.java
Try to bring the rating from D to A

### Some suggestion
- Number of lines in this file is huge - try to separate some relevant functions in different utils file

[2019-10-31 17:34] Swati4star opened #865 "[Code Refactor] Improve code climate"
https://codeclimate.com/github/Swati4star/Images-to-PDF/code?sort=maintainability

Try to bring up the rating of files which have a rating worse than B to `A`

[2019-11-01 09:36] Swati4star opened #866 "Add drawables according to density"
Currently, only few of the drawables are arranged as per screen density.
do it for all drawables.

[2019-11-02 11:04] Swati4star commented on #848
@rutujaac Are you working on this issue?

[2019-11-03 06:59] rutujaac commented on #848
Yes I am.

[2019-11-03 07:25] #855 closed

[2019-11-04 15:02] Swati4star commented on #856
@pedroandrades Any updates here?

[2019-11-05 00:09] ryanqfeeney commented on #866
Can you elaborate a little bit? This seems like a good starting point and I'd like to get involved but I'm not sure I fully understand the issue.

[2019-11-05 07:18] Swati4star commented on #866
@ryanqfeeney Check this link: https://developer.android.com/training/multiscreen/screendensities#TaskProvideAltBmp

Give it a read. If there is some doubt, do comment on this issue

[2019-11-05 20:48] ryanqfeeney commented on #866
There is still a little confusion. I understand the link you provided. Can you give me an example of a file in the project that is already done correctly and one that is not?

There are all of the various transformation example webp files in the xxhdpi folder that dont appear anywhere else, like black.webp and auto_fix.webp should those be edited for the lower densities?

[2019-11-08 11:59] 4tip opened #871 "Is there a new version comming to F-Droid soon?"
Hi.
I wonder if there is a new version comming to F-Droid soon, with more functions and/or improvements?
The app has not been updated since version 8.5.6, released 2019-01-13.

[2019-11-12 09:48] Swati4star commented on #871
Duplicate of https://github.com/Swati4star/Images-to-PDF/issues/792

Check https://github.com/Swati4star/Images-to-PDF/issues/792 for communications on this.

[2019-11-12 09:48] #871 closed

[2019-11-12 09:52] Swati4star commented on #866
@ryanqfeeney Yes, you are correct. The files which are not present in lower densities should be edited for those.

You can take help of this plugin to create this: https://medium.com/code-yoga/create-drawables-from-a-large-scale-image-automatically-2128dde61ad9

[2019-11-15 16:16] Jaymin-Bhadani opened #872 "hello can i publish app in play store with using app in advisement ??"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2019-11-17 05:10] Swati4star commented on #872
No. This will be a copyright violation. :)

[2019-11-17 05:10] #872 closed

[2019-11-17 05:10] Swati4star commented on #872
Also, the app is already published on playstore. I don't see a point in publishing the exact thing again.

[2019-11-17 05:38] Jaymin-Bhadani commented on #872
Sorry so why you put gpl 3 licence it is free to publish same copy or
modication with using commercial

On Sun, 17 Nov, 2019, 10:40 AM Swati Garg, <notifications@github.com> wrote:

[2019-11-20 15:37] drigio opened #873 "[Suggestion] Apply for Njack Winter of Code 2019"
Not really an Issue. However I think this repository can definitely benefit from the upcoming **NJACK WOC.** It's like a *mini GSoC* by IIT Patna.

If it feels appropriate, please have a look into it. Last date for mentors to apply is **22nd Nov**.
[Link to NJACK Winter of Code](https://njackwinterofcode.github.io/)

[2019-11-21 15:28] Swati4star commented on #873
@drigio Thank you for the suggestion!
The thing is, I am kind of unavailable during the coding period (most of December).

[2019-11-24 12:38] Swati4star opened #874 "Show a confirmation dialog when deleting single File"
### Steps to reproduce
- go to `View Files`
- select a file. Options show up
- select `Delete File`

### Expected behaviour
A confirmation dialog "Are you sure you want to delete <filename>?" should show up.

### Actual behaviour
No confirmation dialog. File is deleted directly.

[2019-11-24 15:29] drigio commented on #873
Well, I guess this issue can be closed then.

[2019-11-24 15:29] #873 closed

[2019-11-26 14:45] Caps-Looking commented on #864
Can I take this one, please?

[2019-11-27 06:03] Swati4star commented on #864
Sure @Caps-Looking
Please go ahead.
If you get stuck somewhere, we can discuss here.

[2019-12-03 18:47] xxrain-makerxx commented on #874
Hi, I can do this.

[2019-12-03 19:11] Swati4star commented on #874
Yeah. Sure :)

On Wed, Dec 4, 2019, 12:17 AM xxrain-makerxx <notifications@github.com>
wrote:

[2019-12-03 19:14] xxrain-makerxx commented on #874
when the file is deleted should it show the snackbar to undo the delete?

[2019-12-03 19:17] Swati4star commented on #874
That is already there. We should have the snack bar.

Regards,
Swati Garg

On Wed, Dec 4, 2019, 12:44 AM xxrain-makerxx <notifications@github.com>
wrote:

[2019-12-04 05:34] xxrain-makerxx commented on #874
[https://github.com/Swati4star/Images-to-PDF/pull/876](url)

[2019-12-04 05:35] xxrain-makerxx commented on #874
#876

[2019-12-04 05:37] xxrain-makerxx commented on #874
[https://github.com/Swati4star/Images-to-PDF/pull/876#issue-348697753](url)

[2019-12-04 08:57] xxrain-makerxx commented on #874
please review #876

[2019-12-04 10:14] Swati4star opened #877 "Add a "Rate us" button in navigation drawer"
"Rate us on playstore" button is already there on "About us" section. But, this seems quite hidden.
Add this option in navigation drawer also.

[2019-12-04 21:14] amitozs999 commented on #877
please review #878

[2019-12-05 11:36] xxrain-makerxx commented on #874
I updated the PR. Please check.

[2019-12-05 12:04] #874 closed

[2019-12-05 12:07] Swati4star commented on #877
Great @amitozs999 👍
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/878

[2019-12-05 12:07] #877 closed

[2019-12-11 11:44] iprithvitharun opened #879 "Updating FAQs"
Update grammatical errors and rephrase existing sentence to make it concise.

### Would you like to work on the issue?
Yes.

[2019-12-11 14:07] iprithvitharun commented on #879
@Swati4star How can I apply bold to texts?

[2019-12-11 15:35] Swati4star commented on #879
@iprithvitharun
You can use html formatting.
Reference: https://stackoverflow.com/questions/14371092/how-to-make-a-specific-text-on-textview-bold/14371107

[2019-12-12 14:00] iprithvitharun commented on #879
@Swati4star Can I add watermark to PDFs or only to images?

[2019-12-12 16:30] Swati4star commented on #879
@iprithvitharun You can add watermarks to PDFs only for now,

[2019-12-15 10:46] 6point022 commented on #866
I want to start working on this issue. I see drawable directories for three different pixel densities, i.e. `hdpi`, `xxhdpi` and `xxxhdpi`. For every `.webp` image inside the `xxhdpi` directory, we have to generate an `hdpi` and `xxxhdpi` version of it. For `circle.webp`, inside `xxxhdpi` directory we have to generate an `hdpi` and `xxhdpi` version. Please let me know if I have understood the issu

[2019-12-19 13:49] Swati4star commented on #866
Yes Correct @6point022

[2019-12-21 11:59] 6point022 commented on #866
I am trying to use this plugin, however, it will only convert existing `.webp` images to `.png` or `.jpg`. What should I do?

[2019-12-22 11:15] Swati4star commented on #866
@6point022 What's the issue then? you do have to do that only...