[2019-12-22 13:15] jz9888 opened #881 ""Select Files" button in Merge PDF doesn't work"
My cellphone is Android 9.
### Steps to reproduce
1. Click "Merge PDF"
2. Click "SELECT FILES"
3. Select a file from your local file

### Expected behaviour
A file has been added to the list successfully.

### Actual behaviour
The dialog tells me a file has been added to the list successfully. However, the file name is blank. After two files are added, click "MERGE FILES". The dialog tells me "We

[2020-01-04 09:34] ana-nyaa commented on #881
@jz9888 I would like to work on this issue.may I?

[2020-01-04 09:49] Swati4star commented on #881
Sure. Go ahead with it @ana-nyaa

[2020-01-05 15:23] #866 closed

[2020-01-06 14:47] amo13 commented on #792
As per the link above it looks like this could get resolved very soon

[2020-01-06 15:21] Swati4star commented on #792
@amo13 I am busy with my work for some time.
Would you be interested in picking up the issue to fix builds on fdroid?

[2020-01-06 16:10] Swati4star opened #883 "Improve error messages"
At a number of places, we show to user "error occurred" in toast messages.
This isn't helpful.

Change this message to appropriate error message in these places:
https://github.com/Swati4star/Images-to-PDF/search?q=error_occurred&unscoped_q=error_occurred

[2020-01-06 22:56] amo13 commented on #792
I would love to help and I just took a look at it, but I have not even a clue of what exactly needs to be done here. Never did android development or gradle, but if you think it's not too difficult, maybe you can point me in the right direction?

[2020-01-07 06:13] Swati4star commented on #792
@amo13 I am exactly sure on how to fix the build on fdroid.
Based on your previous comment (`it looks like this could get resolved very soon`), I assumed you are aware of the fix.

[2020-01-09 17:23] #879 closed

[2020-01-11 08:46] yewlimc opened #884 "Enhancement on Application"
I have an interest in enhancing three features in the application:
1. Add appropriate error messages (fixed in #883)

The left out items:
2. Search functionality inside FAQ
3. Add Chinese translation for Simplified Chinese (Singapore)

[2020-01-11 09:50] Swati4star commented on #884
The first issue is this one:https://github.com/Swati4star/Images-to-PDF/issues/883

@yewlimc Would you be interested in picking up any of these issue?

[2020-01-18 15:26] iprithvitharun commented on #883
@Swati4star I'm working on it.

[2020-01-22 12:49] yash1ts commented on #884
I would like to work on the search functionality.

[2020-01-22 12:51] Swati4star commented on #884
Sure @yash1ts

[2020-01-22 12:52] yewlimc commented on #884
I am currently working on the search functionality.

[2020-01-22 12:53] yash1ts commented on #884
ok

[2020-01-22 14:11] sunnyjain commented on #788
@Swati4star I would like to work on this issue. But wanted to ask about the UI for the same. Does "Recent Used Feature" on the top "Create new PDF" works?

[2020-01-24 09:13] Swati4star commented on #788
@sunnyjain Yes, It should be on top.

[2020-02-10 08:23] Swati4star commented on #788
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/885

[2020-02-10 08:23] #788 closed

[2020-02-11 19:58] rvhamed commented on #781
Hi, I would like to work on this issue. Can you assign it to me, please?

[2020-02-12 06:25] rvhamed commented on #865
Hi, please let me refactor code. can you assign it to me, please?

[2020-02-12 08:32] Swati4star commented on #865
Sure @rvhamed

[2020-03-04 14:58] imran613 commented on #250
i am working on it using android x

[2020-03-04 14:58] imran613 commented on #250
have some issues on android x hope it will resolve soon.

[2020-03-08 17:33] Swati4star commented on #883
@iprithvitharun  Are you working on this issue?

[2020-03-09 14:34] Swati4star commented on #881
@ana-nyaa Are you working on this?

[2020-03-09 14:35] Swati4star commented on #864
@Caps-Looking Updates?

[2020-03-09 14:36] Swati4star commented on #865
@rvhamed updates?

[2020-03-09 14:36] Swati4star commented on #848
@rutujaac Updates?

[2020-03-10 05:02] rvhamed commented on #865
it's not complete. I still working on it, but slowly.

[2020-03-10 10:12] wetHands04 commented on #883
@Swati4star I can work on it.

[2020-03-10 15:02] Swati4star commented on #883
@wetHands04 Sure..

[2020-03-31 18:47] rns350 commented on #883
Is this issue still up for grabs?  Or is someone actually still working on it.  I can take a look and fix this for you guys.

[2020-03-31 18:48] Swati4star commented on #883
@rns350 this issue is open. You can take it up.

[2020-04-01 10:32] rvhamed commented on #883
Yes, This issue still up for grabs and nobody working on it.  Thanks so
much.

On Tue, Mar 31, 2020 at 11:18 PM rns350 <notifications@github.com> wrote:

[2020-04-02 07:29] phoenix30s commented on #856
hey, can I take this issue??

[2020-04-02 22:41] Abhi-Bhargava1 commented on #829
@Swati4star Do you still need help with unit tests for this issue?

[2020-04-05 14:57] Swati4star commented on #829
This issue is open. You can work on it. @Abhi-Bhargava1

[2020-04-06 08:29] Swati4star commented on #856
sure @phoenix30s

[2020-04-07 11:13] andypoker opened #886 "Can i publish this app on play store?"
Hey, can i publish this app on play store after making name change?

[2020-04-07 19:17] Swati4star commented on #886
No. This will be copyright violation.

[2020-04-07 19:17] #886 closed

[2020-04-08 09:21] andypoker commented on #886
I think you don't know meaning of General Public License v3.0 (GPL) remove this from git hub

[2020-04-09 08:50] andypoker opened #887 "Hey please check this. important!!!!"
Please check this, https://codecanyon.net/item/super-pdf-converter-android-app-professional-pdf-editor-and-creator-ready/26191089

is is good or copyright? can i buy this app code and publish on play store?

[2020-04-10 03:16] dutta14 commented on #865
Hi @Swati4star , I would like to pick these up if it is not being actively worked upon. I can pick up files one at a time, starting from F down to B, and can keep updating this thread as I progress.

[2020-04-10 18:15] neil4droid commented on #883
@rns350 are you working on this issue? There is still an up for grabs label on the issue.

[2020-04-14 12:28] Swati4star commented on #865
@dutta14 You can start working on this. The issue is not being actively worked upon.

[2020-04-14 12:33] Swati4star commented on #883
@neil4droid It's open.

[2020-04-15 11:20] phoenix30s commented on #856
Hey, Swati I have not started it yet, but I will start it soon.

[2020-04-15 17:15] Swati4star commented on #887
This isnt good.

[2020-04-15 17:15] #887 closed

[2020-04-16 01:30] andypoker commented on #887
He he he. nice jock

[2020-04-17 03:36] dutta14 commented on #865
Would it be better to break this issue into individual issues per Java file so that I can send incremental pull requests to different issues?

[2020-04-17 03:37] dutta14 commented on #865
@Swati4star Would it be better to break this issue into individual issues per Java file so that I can send incremental pull requests to different issues?

[2020-04-17 12:39] sebastianjooo commented on #830
Hi there,
can i grab and contribute to that issue?

[2020-04-17 16:00] Swati4star commented on #830
@sebastianjooo sure

[2020-04-19 16:32] jayvishaalj commented on #883
I am working on this issue

[2020-04-20 07:21] sebastianjooo commented on #830
#890

[2020-04-20 08:00] moumini-creator commented on #883
Hello, I want to fix this bug

[2020-04-20 09:42] jayvishaalj commented on #883
@moumini-creator Sorry, I am already working on this issue

[2020-04-20 09:47] sebastianjooo commented on #864
I'd like to go on with this one

[2020-04-20 19:00] #883 closed

[2020-04-21 04:49] Swati4star commented on #865
@dutta14 Yes that seems good.
Whenever you create a PR related to refactoring any file, you can create an issue with that.

[2020-04-21 11:21] neerajrathores opened #894 "Didn't find class "java.awt.Graphics2D""
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2020-04-21 11:21] #894 closed

[2020-04-23 08:43] sebastianjooo commented on #830
i hope, thats it

[2020-04-23 18:01] #830 closed

[2020-04-23 18:04] Swati4star opened #896 "Allow users to create custom theme for app"
In the settings section, we only have 3 themes right now.
Black, Dark, White

Apart from this, also add an option for user to select primary and secondary for app.
For selecting color, use the color library used in "page Color" section

[2020-04-30 11:45] malbunni commented on #884
What kind of improvement you want on the first issue (appropriate error messages)? May you elaborate?

[2020-05-01 05:53] Swati4star commented on #884
@Diksha2008 First one is already fixed by #883

[2020-05-02 05:57] Swati4star commented on #884
@yewlimc doesn't seem to be working on this. You can pick this @yash1ts

[2020-05-02 12:20] Distin7V commented on #884
What other parts that are still left for contribution? Can you point them out please.

[2020-05-04 16:32] dutta14 opened #898 "[Code Refactor]Improve code climate of ImageToPdfFragment"
https://codeclimate.com/github/Swati4star/Images-to-PDF/code?sort=maintainability

ImageToPdfFragment has a rating of F. Bring this up to B or higher.

[2020-05-04 16:33] dutta14 commented on #865
Created issue #898  for refactoring ImageToPdfFragment.

[2020-05-04 18:59] Distin7V commented on #896
I will work on this, assign it to me.
Just recently downloaded the app itself.

On a site note: Can you please share an intact link for the app team in Slack?
I tried to join, but it doesn't work, seems defunct or outdated.

[2020-05-07 21:13] guicoliv commented on #884
Can I work on the search functionality on FAQ? since no one seems to be working on it

[2020-05-07 21:21] guicoliv opened #899 ""No PDFs to show" message should disappear"
When I'm searching for files in the "View Files" option, if I search for something that is not a pdf file the "No PDFs to show" message appears, it should disappear after searching for a valid pdf file.

### Steps to reproduce
Go to "View Files"
Search for an unexisting name of a PDF file
Search for an existing name of a PDF File

### Expected behaviour
Pop-up should disappear and files shown

###

[2020-05-07 21:35] rubenxcjesus commented on #898
Can I work on this issue?

[2020-05-08 05:39] Swati4star commented on #898
@dutta14  Are you working on this issue?

[2020-05-08 05:40] Swati4star commented on #884
Sure @guicoliv

[2020-05-08 05:54] Swati4star commented on #896
Slack link: https://join.slack.com/t/imagestopdf/shared_invite/zt-56xb0xf9-OaOUZ5lPyz2XkUKrJ1E57w

[2020-05-08 08:28] maharishi1 commented on #856
Can i do?

[2020-05-08 11:02] Swati4star commented on #856
yes @maharishi1

[2020-05-08 17:59] dutta14 commented on #898
@Swati4star , yep I have started working on this, it is a little more tightly coupled compared to the text to PDF feature so it is taking some more time.

[2020-05-09 12:31] vishakha-a commented on #884
@guicoliv @Swati4star Is anyone working on the search functionality?

[2020-05-09 13:41] guicoliv commented on #884
@vishakha-a yes, I'm working on it, it's almost done

[2020-05-09 16:52] guicoliv commented on #884
@Swati4star I worked with @rubenxcjesus to create a search feature for the FAQ, he will make a pull request in a minute

[2020-05-15 15:31] Distin7V commented on #896
Been checking for your response, just accidentally saw you assigned it to me.

I will start working on it now.

[2020-05-18 17:41] dutta14 commented on #898
@Swati4star and @rubenxcjesus , I have not been able to contribute a lot of time in the past two weeks and am booked for the next 2 weeks, so if you want, you can pick this one up.

[2020-05-24 15:18] mariosj99 opened #906 "Check code quality"
Hello, I'm a third year student of Aristotle University of Thessaloniki, in Greece. We have been given a task to analyze the quality of the code of an open source project. Your project seems interesting so I'd like to analyze the quality if that's ok with you!

[2020-05-24 17:40] sakthivigneshkumar commented on #829
@Swati4star Is this still open? If yes, Can I contribute to this task? Please let me know. Thanks!

[2020-06-08 13:42] Swati4star commented on #906
@mariosj99 Is there any input required on this from my side?
This is an open source project. You are free to analyse quality, and if something seems bad, you can let us know, and we'll try to improve on that.

Also, we are already using codeclimate (https://codeclimate.com/github/Swati4star/Images-to-PDF) to analyse code quality.

[2020-06-08 13:42] #906 closed

[2020-06-08 13:44] #899 closed

[2020-06-08 13:45] Swati4star commented on #896
@Distin7V Are you working on this?

[2020-06-08 13:52] #856 closed

[2020-06-08 14:09] Swati4star commented on #17
https://play.google.com/store/apps/details?id=com.vision.pdfconvert&hl=en
https://play.google.com/store/apps/details?id=techindiainc.pdfcreate
https://play.google.com/store/apps/details?id=com.freecreatePDF.imageofpdf.IMGPDF

[2020-06-10 04:20] Distin7V commented on #896
Yes dear, I am.
Soon I'm gonna post up my updates.

[2020-06-10 09:59] Swati4star opened #908 "crashes reported on playstore"
1
[code]

2
[code]

3.
[code]

[2020-06-15 05:44] priyapotnis commented on #864
can I take this one?

[2020-06-16 17:04] FelipeBonadykov commented on #884
Hello! I am beginner in GitHub but with some experience. Could you please point to some issues or tasks to work on?

[2020-06-16 23:55] ddopik commented on #824
Hello  @Swati4star
i would like to contribute with this issue if you wouldn't mind
but i am not versed in so mush in Unit Testing
so i have set my objective and i would your opinion to be assure if i am on the right track
this is how i would to write my test
[code]
thank you .....

[2020-06-17 20:51] telvinzhong commented on #884
I'd be willing to work on the Chinese translations. Could anyone give me pointers for where to do that and how? Also a beginner but happy to learn!

[2020-06-18 18:47] dutta14 commented on #898
@Swati4star , I can start working on this again in a week if no one has picked this up yet.

[2020-06-19 12:30] ksurulo commented on #865
@Swati4star Is anyone working on this issue? If no, I would like to pick it up. Should I also create a separate issue for any file?

[2020-06-20 17:54] Swati4star commented on #865
@ksurulo Sure, go ahead.
You can just comment here the file on which you are working.

[2020-06-21 00:28] GlitchyDev commented on #865
I just finished a refactor of WatermarkUtils, I did so by breaking the 73 line code into 3 methods.

I'm a bit new to working in open source. How should I go about merging this in and making sure its all good? Merge ( Or Request Pull ) into origin/PDFOpen or upstream/PDFOpen?

[2020-06-21 11:54] ksurulo commented on #865
I am working on TextToPDFUtils

[2020-06-21 11:56] Swati4star commented on #865
@GlitchyDev You can see the steps here: https://github.com/Swati4star/Images-to-PDF/blob/master/CONTRIBUTING.md#6-make-a-pull-request

[2020-06-21 14:53] ksurulo commented on #865
@Swati4star I made a pull request. Please review

[2020-06-21 21:19] GlitchyDev opened #910 "[Code Refactor] Improve Watermark Utils Readability"
https://codeclimate.com/github/Swati4star/Images-to-PDF/app/src/main/java/swati4star/createpdf/util/WatermarkUtils.java

[2020-06-21 21:25] GlitchyDev commented on #910
Alright it appears there are further refactoring that will need to be done. I'll see to working on those changes then squashing them

[2020-06-22 23:37] GlitchyDev commented on #910
Looking into fixing the Codestyle and Complexity issues, I'm not seeing much in terms of potential progress. Both helper methods can't reduce parameters any further without breaking the lambda they both carry apart. Any potential suggestions or should I just work on going through the checklist and getting it ready otherwise

[2020-06-24 07:04] #865 closed

[2020-06-26 16:27] Swati4star commented on #908
@rajeevrajeshuni sure

[2020-06-26 17:55] Swati4star commented on #898
@dutta14 This issue is up for grabs.

[2020-06-26 17:58] Swati4star commented on #884
@telvinzhong You can see a similar PR (https://github.com/Swati4star/Images-to-PDF/pull/2). You can check this to add chinese translations

@FelipeBonadykov Please check this project, and if you feel like you can work on any issue, just comment on it. You can create your own issue also. Mail me if you want any further help :)

[2020-06-26 17:59] Swati4star commented on #864
Yes @priyapotnis

[2020-06-27 13:48] navkumar258 commented on #864
I am looking for my first contribution, is it still open..?? thanks !

[2020-07-04 10:59] rajeevrajeshuni commented on #908
Is there any more information about how to reproduce these crashes?

[2020-07-04 17:23] rushichatur opened #913 "gradle issue"
Steps to reproduce
It appears when you use gradle 4.0.0

Expected behaviour
It should work with gradle version 4.0.0

Actual behaviour
The option android.enableSeparateAnnotationProcessing is deprecated.
The current default is false.
It was removed in version 4.0 of the Android Gradle plugin.
This feature was removed in AGP 4.0

Would you like to work on the issue?
Yes

[2020-07-06 03:05] Shobu908 commented on #864
I am interested in helping you out to refactor the code @Swati4star

[2020-07-09 02:06] maharishi1 commented on #884
is Search functionality inside the FAQ issue is still open if yes can I work on it?

[2020-07-09 20:27] antenore opened #914 "Cannot donate"
First of all thanks so much for this amazing application!!!

I'd like to donate some money, but the "Buy me a coffee" page says that as you don't have set a payment method I cannot do the payment.

As you deserve it, please set one and consider that most of the people that would like to donate money won't let you know that it doesn't work ;-)

Liberapay may be another light option if you like.

Al

[2020-07-11 09:12] zdennisz commented on #864
@Swati4star Can i take this one too ?

[2020-07-11 15:50] Swati4star commented on #913
@rushichatur You can work on this. Submit a PR.

[2020-07-11 15:51] Swati4star commented on #914
@antenore Thank you for the encouraging words.

I've updated the BuyMeACoffee link now :)

[2020-07-11 15:51] #914 closed

[2020-07-11 15:51] Swati4star commented on #910
Let's leave this file then, and work on some other ones.

[2020-07-11 15:51] #910 closed

[2020-07-11 15:56] Swati4star commented on #864
@navkumar258 @ShobhitTripathi @zdennisz The issue is open. You can check the label `up-for-grabs` to check it's availability. Please comment that you are working on the issue, and get started with it :)

[2020-07-11 16:02] #792 closed

[2020-07-11 16:04] #680 closed

[2020-07-11 16:05] Swati4star commented on #803
@sudeshim3 Are you working to complete this feature?

[2020-07-11 16:06] Swati4star commented on #759
duplicate of https://github.com/Swati4star/Images-to-PDF/issues/881

[2020-07-11 16:06] #759 closed

[2020-07-11 17:46] maharishi1 commented on #884
Actually I have written the code for this. Could you please tell me can I pull the request?

[2020-07-13 15:33] sudeshim3 commented on #803
currently, I have lost track of the feature. will close it.

[2020-07-13 15:33] #803 closed

[2020-07-14 20:20] WilliamDann commented on #864
I am going to try this.

[2020-07-15 17:37] Swati4star commented on #884
@maharishi1 You can check any tutorial online. Like, https://opensource.com/article/19/7/create-pull-request-github

[2020-07-20 04:53] dutta14 commented on #898
@Swati4star  Working on this starting today.

[2020-07-21 05:13] AT1452 commented on #896
Is this issue open? I'd like to take a shot!

[2020-07-29 12:05] Ahmadmohiddin opened #917 "the gpl code is selling for 18$ on code canyon"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2020-07-29 12:07] Ahmadmohiddin commented on #917
LINK:= https://codecanyon.net/item/pdf-creatorconverter-edit-admob/23665682

[2020-08-03 01:34] Sinhcoms-LLP commented on #917
Actually this is not guy who is selling it. follow this link
[https://www.codester.com/items/24157/pdf-converter-android-source-code](https://www.codester.com/items/24157/pdf-converter-android-source-code
) This guys is selling it

[2020-08-24 13:44] mohamedelkashif commented on #913
Still opened? @Swati4star

[2020-08-28 02:55] jestes0 commented on #864
I want to take a crack at this since it is still open and see what I can come up with.

[2020-09-12 10:19] yyyoungha opened #918 "saythanks link in README is not working"
When you click saythanks button on README page, 404 Not Found error appears.

### Steps to reproduce
Just click saythanks button at 'Support Us' section on README page.
![image](https://user-images.githubusercontent.com/67358133/92993290-5cf23f00-f52b-11ea-983c-5b8c95c51064.png)

### Expected behaviour
Showing the correct project owner's saythanks web page

### Actual behaviour
404 Not Found

###

[2020-09-14 20:59] qoheniac opened #920 "F-Droid still on 8.5.6"
Version on F-Droid is 8.5.6 while the most recent release here is 8.8.1.

### Steps to reproduce
Go to [F-Droid repo](https://f-droid.org/app/swati4star.createpdf) and look up most recent version there. Then go to [GitHub repo](https://github.com/Swati4star/Images-to-PDF/releases) and look up most recent version there.

### Expected behaviour
Version numbers are the same.

### Actual behaviour
F-D

[2020-09-24 10:07] seshasaisuhashdesu commented on #864
I would like to work on this.

[2020-09-30 19:39] anirudh8860 commented on #908
Issue 1 is reproduced because a signed PDF has been tried to be updates

[2020-09-30 23:25] theekrystallee commented on #884
id like to help

[2020-10-01 01:02] mbokinala commented on #864
Can I also try this?

[2020-10-01 01:04] nenzan commented on #864
I would like to try work on this

[2020-10-01 04:06] Swati4star commented on #864
You can start working on this issue, and mention here than you are working on it.

[2020-10-01 04:13] #918 closed

[2020-10-01 10:53] priyanshnama commented on #864
@Swati4star can you assign this to me plzz

[2020-10-03 08:51] umairayub79 commented on #864
I'm gonna give it a shot too

[2020-10-03 14:16] rashanjyot commented on #884
Hi @Swati4star, I'm interested in implementing the Search functionality inside FAQ. Please let me know if it's still open since the thread has been open for quite a while now.

[2020-10-03 18:19] Swati4star commented on #884
@rashanjyot The issue is open, which means it's not resolved yet.
It's open for you to take up and send PR

cc @theekrystallee

[2020-10-03 18:23] Swati4star commented on #864
@priyanshnama Are you working to bring the rating further down to A? (It's B now :) )

[2020-10-03 18:24] Swati4star opened #930 "Add search functionality inside FAQ"

[2020-10-03 18:25] Swati4star opened #931 "Add Chinese translation for Simplified Chinese (Singapore)"

[2020-10-03 18:25] Swati4star commented on #884
creating a new issue because of too much spam messages here
https://github.com/Swati4star/Images-to-PDF/issues/930
https://github.com/Swati4star/Images-to-PDF/issues/931

Please comment on the issue you want to work on

[2020-10-03 18:25] #884 closed

[2020-10-03 18:26] Swati4star commented on #917
Do you guys know a resource where I can report such things?

[2020-10-03 18:27] Swati4star commented on #913
This issue is open :)

[2020-10-03 18:29] Swati4star opened #932 "Improve code climate for CommonCodeUtils"
https://codeclimate.com/github/Swati4star/Images-to-PDF/app/src/main/java/swati4star/createpdf/util/CommonCodeUtils.java

The file currently has rating of D. Try to bring it down to B atleast

[2020-10-03 18:39] #703 closed

[2020-10-03 18:43] Swati4star opened #934 "Add unit test for BrushUtils class"
https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/util/BrushUtils.java

[2020-10-03 18:55] priyanshnama commented on #864
@Swati4star
Sorry was a bit busy in other repo...
but was looking into it..
basically i think we need to omit or club some function in order bring it down.

[2020-10-03 19:02] m4tr1k commented on #932
Hi @Swati4star can I take a look at this issue?

[2020-10-03 19:04] Swati4star commented on #932
sure @m4tr1k

[2020-10-03 19:45] raghavddps2 commented on #930
Hi Swati,

I would like to take up the search functionality inside the faqs.

[2020-10-03 19:56] gaurav9822 commented on #934
Hi @Swati4star I would like to take this issue. Please assign it to me.

[2020-10-03 20:28] HenriDellal commented on #917
I'm afraid that even if this guy sells the source code, it doesn't make him the license violator since GPL doesn't limit ability to sell software. If he actually did violated it by other means (e.g. has no license mentions in the application), then you may contact Free Software Foundation (read more at https://www.gnu.org/licenses/gpl-violation.html). I'd also get in touch with Envato/CodeCanyon f

[2020-10-03 21:00] HenriDellal commented on #920
The reason is that it depends on a proprietary library since 8.6.3 according to F-Droid data:

https://gitlab.com/fdroid/fdroiddata/-/blob/master/metadata/swati4star.createpdf.yml

[2020-10-03 22:17] pedrohaccorsi commented on #931
Hi, would it be nice to have a translation to Brazilian portuguese? If so, I could do that :)

[2020-10-04 05:11] Swati4star commented on #931
you can create a new issue for that, and mention that youn are working on it.

[2020-10-04 05:13] Swati4star commented on #930
sure @raghavddps2

[2020-10-04 14:52] raghavddps2 commented on #930
Hi @Swati4star

I raised a pull request adding the feature. Please review it.

[2020-10-04 15:11] gaurav9822 commented on #934
@Swati4star BrushUtils is a Singleton and has an API to return a list of brush items.
Tests -
1. If there is only one instance
2. If the respective brush items are returned.

Any other tests than that?

Also, getBrushItems() creates a new ArrayList object each time. Can there be a refactoring to return a static list only?

[2020-10-04 15:13] Swati4star commented on #934
Let's have test for this one method only.

static list sounds good, but initialize that list only when instance of this method is requested.

[2020-10-04 15:14] gaurav9822 opened #939 "'android.useAndroidX' property is not enabled error while importing the project in android studio"
Getting the error -

### Steps to reproduce
Import project in Android studio

### Expected behaviour
No error

### Actual behaviour
Error is thrown in Android studio build sync.

### Would you like to work on the issue?
Yes

Solution -
Set the property to true in the gradle.properties file

[2020-10-04 15:15] gaurav9822 commented on #939
@Swati4star Please add hacktoberfest label and assign the issue. I would like to take this up.

[2020-10-04 15:18] gaurav9822 commented on #939
Also, one more error -

Need to remove that as well.

[2020-10-04 16:04] gaurav9822 commented on #934
Please review the pull request #940

[2020-10-04 16:08] #934 closed

[2020-10-04 17:29] pedrohaccorsi opened #941 "Add translation for Brazilian Portuguese"
I'm currently working on this one.

[2020-10-04 19:33] gaurav9822 commented on #913
@Swati4star Please assign this issue to me. It is getting covered as part of #939

Please review #942

[2020-10-04 19:34] gaurav9822 commented on #939
Please review #942

[2020-10-05 09:26] hajro92 opened #943 "Add translation for Bosnian language"
I am workin on it. Please add label "hacktoberfest" to it. Thanks. :)

[2020-10-05 10:17] PapailleEnQueue commented on #864
I would like to try work on this.

[2020-10-05 11:33] #939 closed

[2020-10-05 11:33] #913 closed

[2020-10-05 11:35] #930 closed

[2020-10-05 14:40] #943 closed

[2020-10-05 14:41] #864 closed

[2020-10-05 14:46] Swati4star opened #947 "Configure test coverage on code climate"
Currently, code climate does not calculate test coverage.

https://codeclimate.com/github/Swati4star/Images-to-PDF/code?sort=maintainability

Ref: https://docs.codeclimate.com/docs/configuring-test-coverage

[2020-10-05 14:48] Swati4star opened #948 "Improve code climate for ExcelToPdfFragment"
https://codeclimate.com/github/Swati4star/Images-to-PDF/app/src/main/java/swati4star/createpdf/fragment/ExceltoPdfFragment.java

The file currently has rating of D. Bring it up to B or above.

[2020-10-05 16:59] cunhazera commented on #948
Can you assign to me?

[2020-10-06 04:12] Swati4star commented on #250
Removing this feature as I can't find any open source library for this which doesnt have watermark.

[2020-10-06 04:12] #250 closed

[2020-10-06 04:47] cunhazera commented on #948
@Swati4star how can I compile the project locally?

[2020-10-06 04:50] Swati4star commented on #948
https://github.com/Swati4star/Images-to-PDF/blob/master/CONTRIBUTING.md#3-build--run-the-project-locally

[2020-10-06 08:53] McModknower commented on #898
Can i work an this issue?

[2020-10-06 11:36] HezinTUKE commented on #896
Hello I'd like to help you with this issue , i like Android, please assign me ;)

[2020-10-06 14:00] Swati4star commented on #896
@HezinTUKE Go ahead, and start working on it. Raise a PR :)

[2020-10-06 14:00] Swati4star commented on #898
Sure @McModknower

[2020-10-06 15:40] HezinTUKE commented on #896
@Swati4star  assign me , please )

[2020-10-08 10:02] monusk111 opened #954 "Can we make an app for play store from this repo ?"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2020-10-08 16:20] HaripriyaB commented on #829
Hey @Swati4star is this issue still up? if so can I take it?

[2020-10-08 16:30] Swati4star commented on #954
No, you can't.
The license don't allow you to do so

[2020-10-09 11:30] HaripriyaB opened #955 "Different locations not supported in Add Text under Enhance pdf section"
### Description
As a user, When I try to enhance a pdf with a text file of both different locations, then it is expected to do the service but it failed to do so currently.

### Steps to reproduce
1. Go to Add Text under Enhance PDF section
2. Select a pdf from any location
3. Select a text file from some other location than the pdf location
4. See error "Sorry, we are unable to access the file at

[2020-10-09 13:31] McModknower opened #957 "Requesting permissions is not done everywhere"
While making PR #956 i noticed not all fragments requested permission when the permission was not already given. After looking a bit into it, the analysis showed me that the following classes are NOT asking for storage/camera permissions when they need:
- HistoryFragment
- InvertPdfFragment
- MergeFilesFragment
- PdfToImageFragment
- QrBarcodeScanFragment (camera gets asked, but not storage for sa

[2020-10-09 14:22] McModknower opened #958 "Merging in view files not working with encyption"
The merge function in the view files segment can't use encrypted input files.

### Steps to reproduce
1. Create a password protected pdf
2. got to "View Files"
3. Select some pdfs including the encrypted one
4. click on the merge icon
5. input a valid name an click ok

### Expected behaviour
A promt for the password of a pdf appears

### Actual behaviour
the snackbar plops up with the message that

[2020-10-09 18:49] #932 closed

[2020-10-09 23:35] ganeshbhargav commented on #958
We can check all pdf files for encryption and create a prompt for password only if any PDF is encrypted.
We can check if a pdf is encrpyted using Apache PDFBox library - https://pdfbox.apache.org/

Sample Code:

try
{
    document = PDDocument.load( "C:\\abc.pdf");

    if(document.isEncrypted())
    {
      //Then the pdf file is encrypeted.
      // Display a prompt for password of the file.

[2020-10-10 06:16] Swati4star commented on #958
Thank you for providing the code pointers for this library.

But, we also have a encryption utility here which can check if document is encrypted:
https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/util/PDFEncryptionUtility.java#L127

[2020-10-10 07:07] #920 closed

[2020-10-11 07:32] JohnX4321 commented on #957
I would like to work on this

[2020-10-11 11:01] #955 closed

[2020-10-11 15:14] HaripriyaB commented on #958
I would like to work on this issue. I have a doubt regarding the expected behaviour. If we are trying to merge more than 1 password encrypted files then should there be a prompt asking to unlock each and every pdf which is password protected before merging? @Swati4star @McModknower can any of you clarify me this so that I can start the work?

[2020-10-11 15:47] Swati4star commented on #958
Yeah @HaripriyaB
So, whenever user selects a encrypted file, we can show a promt "This PDF is password protected. Please enter your password to select this" and a edittext to allow user to enter password.
Add 2 options to this dialog: "Submit" and "Remove File".

If the password is incorrect, show the above prompt again.

[2020-10-11 15:56] HaripriyaB commented on #958
Thanks @Swati4star 😊 I'll start working on it and if I need some more clarification I'll reach out to you.

[2020-10-13 05:04] #881 closed

[2020-10-13 09:19] HaripriyaB commented on #958
I have a doubt. When I tried to removePassword(already existing function) of a file it creates a new file which is the decrypted version of that file and the encrypted file still exists. I want to ask if there is any way to decrypt the file while merging in runtime? If not then I'l planning to implement it as follows:
1. Remove password of the file and add the newly created file to the list of fil

[2020-10-13 11:18] naslakboss commented on #829
I have the same whim as Hari
Do they still want to be coded?

[2020-10-15 14:03] Swati4star commented on #958
@HaripriyaB your approach sounds good.
In the 1st step, i hope we don't show to user that we are doing all this in background

[2020-10-15 14:04] Swati4star commented on #957
@JohnX4321 Sure, go ahead.

[2020-10-15 14:07] Swati4star commented on #941
@pedrohaccorsi Any updates?

[2020-10-17 05:12] gayathri-krishnan commented on #829
Can I contribute to unit tests?

[2020-10-17 05:23] saurabhmarpadge commented on #829
Would like to contribute to above issue.

[2020-10-17 06:30] leelaram-j commented on #829
@Swati4star  working on ThemeUtils.java unit tests.

[2020-10-17 06:32] Swati4star commented on #829
@gayathri-krishnan @saurabhmarpadge @leelaram-j @HaripriyaB @naslakboss
Guys, as mentioned in my previous comment on this issue also

[2020-10-17 13:52] KAbhijeet2105 commented on #957
Is this issue still open? I would like to work on this issue.

[2020-10-18 04:21] KAbhijeet2105 commented on #957
Is this issue still open? I would like to work on it.

[2020-10-18 07:10] Swati4star commented on #957
yes, the issue is still open (It's not closed :) )
@KAbhijeet2105

[2020-10-18 12:41] JohnX4321 commented on #957
#965 Sorry for delay. My system was configured to run androidx . so to work with legacy support library required lot of redownloading and configuration

[2020-10-19 06:52] kashifkhanbaloch opened #966 "Convert to AnroidX"
Describe your issue here.
When we convert to androidx project crash on image to pdf when we select image and Add image to pdf.

[2020-10-19 10:13] Swati4star commented on #966
I don't get the issue here.

You want to convert the project to adroidX?

[2020-10-20 14:05] jswildcards commented on #931
I'm working on it.

[2020-10-20 18:49] samin-batra commented on #848
Hi @Swati4star I see this issue is still open. May I work on this?

[2020-10-21 01:06] errohitdev commented on #966
When we convert to androidx project crash on image to pdf when we select image and Add image to pdf. And in some device after image to pdf conversion pdf not open it show " Error occurred".
![Screenshot_20201021-063439](https://user-images.githubusercontent.com/53206054/96660643-bdb13a80-1367-11eb-9c66-6f6c099c7ef8.png)

[2020-10-21 16:04] #931 closed

[2020-10-21 16:05] Swati4star commented on #966
It means you converted to androidx incorrectly. What do you expect to be fixed in this current project?

[2020-10-21 16:05] #966 closed

[2020-10-21 18:41] HaripriyaB commented on #948
Can I take this up pls?

[2020-10-22 15:20] Swati4star commented on #948
Sure @HaripriyaB

[2020-10-22 15:20] #957 closed

[2020-10-26 04:08] KAbhijeet2105 commented on #947
@Swati4star I would like to work on this issue. But I don't have any kind of experience. Can you provide me guidance?, How can I resolve this issue?

[2020-10-26 17:18] Swati4star commented on #947
@KAbhijeet2105 You will have to figure out using the ref link mentioned in the issue description. I don't have bandwidth to provide continuous guidance on this issue.

[2020-10-28 12:31] Arsalankhan1212 opened #973 "App Crashed while Converting Images to PDF or Text to PDF in API 29"
[code]

[2020-11-05 18:57] IsraaHamed1195566 commented on #973
I want to try solve it

[2020-11-05 19:41] IsraaHamed1195566 commented on #973
did you check your android API level ?

[2020-11-06 17:17] IsraaHamed1195566 commented on #829
Hi @Swati4star , I plan to do unit tests in some classes.

[2020-11-06 17:18] IsraaHamed1195566 commented on #829
Hi, @Swati4star  can I contribute to unit tests?
thanks
Israa

[2020-11-06 17:33] Swati4star commented on #829
Sure @IsraaHamed1195566

[2020-11-13 11:21] kashifkhanbaloch commented on #973
update the image picker library in build.gradle file

[2020-11-22 11:06] Arsalankhan1212 commented on #973
I've already solved all the crash
Most crashes was about the file path in API 29 and i solved it by using
this file picker library 'com.github.hedzr:android-file-chooser:1.2.0'
but its limitation is, it only work upto android 10 (api level 29) and not
on android 11

And also some crashes occur, i don't exactly remember the crash but mostly
the app crashed as it was unable to create a directory on

[2020-12-03 07:22] czlucius commented on #917
If the seller did not distribute it together with the original source code, it is a violation of the GPL.

[2020-12-03 07:27] czlucius commented on #973
Can I still work on this issue?

Thanks.

[2020-12-05 06:31] PatelVatsalB21 opened #975 "Merge feature is describes 2 times in introduction"
Merge feature fragment is shown at 3rd and 9th position.

### Steps to reproduce
On app start for first time.

### Expected behaviour
It should be on 3rd or 9th page.

![Screenshot_20201205-115000](https://user-images.githubusercontent.com/70195106/101235665-3d188480-36f0-11eb-9a7e-b0169b82400e.jpeg)
![Screenshot_20201205-115008](https://user-images.githubusercontent.com/70195106/101235667-40ac0b8

[2020-12-08 16:17] Arsalankhan1212 commented on #973
Yes, please do, and also upgrade code to latest SDK i.e. Api Level 30

On Thu, Dec 3, 2020 at 12:27 PM czlucius <notifications@github.com> wrote:

[2020-12-12 09:59] Swati4star commented on #973
yes @czlucius 👍

[2020-12-14 08:40] Nahoyhp commented on #975
Hi, I am new to contributing to OSS and I will like to contribute.
Any help on how to set up this project locally?

[2020-12-14 13:20] porelsoumen commented on #975
I have a PR ready and would like to contribute. Please allow me.

[2020-12-26 09:24] WilliamCheng12345 commented on #975
Hi, I am interested in solving this issue. Has the issue been resolved? Thank you!

[2020-12-26 09:27] errohitdev commented on #973
Anyone resolve this issue??

[2020-12-26 10:17] czlucius commented on #973
I couldn't reproduce this issue on Android 10

[2020-12-27 02:52] Nahoyhp commented on #975
I have made a PR about it. Waiting for review.

[2021-01-01 07:57] SayanDas92 commented on #975
I want to solve this issue. I'm new to open-source contribution. Thank you!

[2021-01-04 16:32] avneeshkumar1 commented on #973
Yes i have fixed this issue and its working in android 11 also.

[2021-01-04 21:31] avinashpatnaik commented on #908
@Swati4star I looked at issue number 2. Looks like there is a good possibility of leakage of context in TextToPdfFragment. I noticed getContext() is being used to get the context for TextToPDFOptions.Builder(getContext()).

There is a possibility getContext() may return null if the fragment is not attached to the activity. Since we already have mActivity as context coming as part of onAttach, we c

[2021-01-14 03:08] LukaSt99 commented on #829
Hi @Swati4star  , can I contribute to unit tests? Are there available classes that need to be tested?

[2021-01-24 06:06] errohitdev commented on #973
can you share your source code at allmistree@gmail.com

[2021-01-24 19:01] SmritiSharmaBG commented on #975
Hello. I am new to Open Source and GitHub in general. I made some changes to fix the bug and made the pull request. What should be my next step? How do I know that these changes are incorporated in the app or in this repo?

[2021-02-02 03:54] milosagasdc11 commented on #941
Hello, I see that it is open. Can I work on this?

[2021-02-02 04:00] milosagasdc11 commented on #975
Hello, I see that it is open. Can I work on this?

[2021-02-02 08:37] Swati4star commented on #941
@milosagasdc11 -Sure

[2021-02-02 22:09] milosagasdc11 commented on #848
Hi @Swati4star,  I'm working on this

[2021-02-03 21:58] camo0112 commented on #975
I know what causing this.
in res>layout>fragment_excelto_pdf.xml
        the value for text attribute for TextView with id tv_desc is  "@string/welcome_merge_message" which is wrong for this
        activity
To fix
-> create a new string value with id welcome_excel_to_pdf_message with appropriate value in different languages
->change in res>layout>fragment_excelto_pdf.xml
        the value for tex

[2021-02-22 15:37] Shreya479 opened #986 "Editing Images with Text"
Sometimes when we convert some images to pdf , we need to photoshop them. This feature can be added which allow people to edit their documents.

### Steps to reproduce
We can simply add this feature like we reorder pages in the associated app likewise there can be an option where we will edit the content.

### Expected behaviour
We can expect the change in the editing section of the file.

### Act

[2021-03-02 15:45] aishwaryavasu0509 commented on #160
hey, I am interested in this can I help?

[2021-03-16 07:42] sergey-levv commented on #975
It looks like the issue has already been fixed and is no longer reproducible.

[2021-03-18 13:42] Rautarchit001 opened #987 "Crop feature similar to cam scanner"
I want to change the crop feature to work like camscanner crop can we do it?

[2021-03-19 14:25] hhhh-max opened #988 "Maigrate the project to androidx"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2021-03-20 14:24] Rautarchit001 commented on #973
Hii everyone

we just need to update the image picker library, can anyone say me how to update that in this git project?

[2021-03-20 17:30] Rautarchit001 commented on #973
Any update on this?

[2021-03-21 06:50] Rautarchit001 commented on #973
This issue resolve my updating image picker library but now there is another isuue after picking/selection image does not show in preview and also does not create pdf.

[2021-03-21 06:52] Rautarchit001 opened #989 "After updating to API 29 Image does not show in preview and also does not create pdf."
Image Picker issue resolve by updating image picker library but now there is another isuue after picking/selection image does not show in preview and also does not create pdf.

_Originally posted by @Rautarchit001 in https://github.com/Swati4star/Images-to-PDF/issues/973#issuecomment-803522379_

[2021-03-22 03:14] AvneeshGupta1 commented on #989
Hi Rautarchait001 i have release kotlin code with same function.
Please check this.
Let me know if you have any issue

https://github.com/AvneeshGupta1/DocScanner

[2021-03-22 04:39] codegsaini commented on #17
Correct me, If wrong!

---------
I think we can't do anything for these copies. Because in the preamble of GPL v3 licence it is stated that

What we can do is to make this original app better so that it automatically stands out from crowed. If there is original and free app then why people will pay for another paid copy same app.

[2021-03-22 10:18] Swati4star commented on #988
Can you mention the utility of migrating to androidx?

[2021-03-22 10:18] Swati4star commented on #987
@Rautarchit001 - Is there any existing library you plan on using?
Please share the plans here to have this feature.

[2021-03-22 10:22] Shreya479 commented on #986
Yes !!!
We can have a photo merging option. Like we can add text or some sort of
images in between the pages.

On Mon, 22 Mar, 2021, 3:50 pm Swati Garg, ***@***.***> wrote:

[2021-03-22 16:35] Rautarchit001 commented on #988
for updating to API 29 or 30 wen need to migrate to androidx

[2021-03-22 16:47] Rautarchit001 commented on #987
openCVLibrary & documentscanner library can be used to add advanced crop feature like Cam Scanner.

You can check this repository for that library repository [https://github.com/kajalsinhait/camScanner-India](https://github.com/kajalsinhait/camScanner-India)

[2021-03-23 08:28] Rautarchit001 opened #992 "Add a new feature: PDF Search Engine"
As this is PDF Toolkit so there should be one more feature like PDF Search and download, so can I do research on that and add it to this project? @Swati4star  and all others please respond so that I can add it.

[2021-03-23 08:38] Swati4star commented on #992
Hey @Rautarchit001 - Can uou elaborate more on this feature? - "PDF search and download"

[2021-03-23 08:39] Swati4star commented on #986
@Shreya479  - If you have any library in mind to implement this, please share?

[2021-03-23 08:48] Rautarchit001 commented on #992
Users can search pdf through pdf search engine and download them directly from search results itself.

[2021-03-23 08:50] Swati4star commented on #992
- Download the PDF from where?
- Do you have a repository of PDFs?

I dont understand the utility of this feature. This app is more about creating or editing a PDF.

[2021-03-23 08:53] Rautarchit001 commented on #992
Like google bing which are Search engine of whole web there are pdf search engine too so we can add that using chrome custom tab so that our user can not only create or edit pdf but now they can also search and download pdf too.

[2021-03-23 08:55] Swati4star commented on #992
- I am not sure this feature will be helpful.
- Adding a custom chrome tab to the app will just make it a search engine also. Is there any specific PDF search engine you have in mind? : Can you share that.

[2021-03-23 08:58] Swati4star commented on #988
We have enable android x in our project. There are no issues in migrating it to API 29/30

[2021-03-23 08:58] #988 closed

[2021-03-23 08:59] #917 closed

[2021-03-23 08:59] Rautarchit001 commented on #992
One of that type of search engine which i manage is https://pdfdrivesearch.com

[2021-03-23 08:59] #941 closed

[2021-03-23 09:03] Swati4star commented on #992
This looks like a great project on it's own. But, I am not so keen on adding this as a tab in the app.

You can pick up some other issue, or suggest a new issue?

[2021-03-23 09:05] Rautarchit001 commented on #992
Ohhk np 👍

[2021-03-23 09:05] Rautarchit001 commented on #992
Did you got solution of updating target sdk to 29 does not create pdf?

[2021-03-23 09:08] Swati4star commented on #992
You are talking about this - https://github.com/Swati4star/Images-to-PDF/pull/990

I updated API to 29 locally, but didnt update the matisse library. I think the issue is with that.

[2021-03-23 09:08] #992 closed

[2021-03-23 09:10] Rautarchit001 commented on #992
After updating library then also that error occurr while creating pdf

[2021-03-24 15:41] #986 closed

[2021-03-24 18:33] codegsaini commented on #973
@Rautarchit001 I updated to API 30 and not found any issue yet. Can you please tell me more about where you encountered error after updating to API 29.

[2021-03-24 18:42] Rautarchit001 commented on #973
After updating clean project and app from installed device and emulator then build and check it will not create pdf

[2021-03-24 19:02] codegsaini commented on #973
Are you talking about **Images to PDF** feature.

[2021-03-24 19:26] Rautarchit001 commented on #973
Yes

[2021-03-24 19:34] codegsaini commented on #973
Please mention your device's android version in which you are testing app.

[2021-03-24 20:01] Rautarchit001 commented on #973
One Plus 6T - Android:- 10
Google Pixel X Emulator Android:- 9&10

[2021-03-25 05:16] codegsaini commented on #973
Please confirm : If you encountered this issue in android 9 (or below android 9 )!

[2021-03-25 06:01] Rautarchit001 commented on #973
Yes in below version of Android 9 preview was working but pdf is not creating.

[2021-04-02 14:37] mohitkanodia713 commented on #896
Hey, would like to work on the issue, could you please assign it to me. have worked on android application before. Also brief on feature and library, description not very clear.

[2021-04-12 12:52] prateekcode opened #995 "Can we use custom PDF Viewer?"
Custom Pdf Viewer

### Steps to reproduce
On clicking the open files, the app shows a bunch of other apps to show pdf.

### Expected behavior
Instead of those apps, with the help of PDF Renderer, that can be easily integrated to show the pdf file inside the same app.

### Would you like to work on the issue?
Yes, I work on the same project, so I love to solve this issue.

[2021-04-15 02:39] codegsaini opened #996 "The method `getExternalStoragePublicDirectory()` is deprecated since API 29 !"
### According to [Android Documentationon on `getExternalStoragePublicDirectory()`](https://developer.android.com/reference/android/os/Environment#getExternalStoragePublicDirectory(java.lang.String))

To improve user privacy, direct access to shared/external storage devices is deprecated. When an app targets Build.VERSION_CODES.Q, the path returned from this method is no longer directly accessible

[2021-04-15 05:39] alpha00-coder opened #997 "Provider for javax.xml.parsers.DocumentBuilderFactory cannot be found"
While merging to pdf files or doing rotation operation on pdf file app gets crashed and the above titled error is shown in logcat error i have tried solving it many times but i have failed sorting it out...

[2021-04-15 08:11] alpha00-coder commented on #997
// libraries for reading from doc and docx files
//    implementation group: 'org.apache.xmlbeans', name: 'xmlbeans', version: '2.4.0'
//    implementation group: 'org.apache.poi', name: 'poi', version: '3.9'
//    implementation group: 'org.apache.poi', name: 'poi-ooxml', version: '3.9'
//    implementation group: 'org.apache.poi', name: 'poi-ooxml-schemas', version: '3.9'
//    implementation gr

[2021-04-19 07:47] cewbdex opened #998 "Add automatic system theme detection"
I would like to have an automatic app theme switch, I normally use dark theme and in some bad light conditions also light theme. A lot of apps have an automatic option in the menu. Also it will be cool to choose which dark theme will be used in automatic switch, I would prefer true black for my AMOLED, but some people might prefer the classic dark.

![IMG_20210419_093744](https://user-images.githu

[2021-04-19 07:51] cewbdex opened #999 "Page numbering UI is broken with black theme"
Theming issue

![IMG_20210419_093558](https://user-images.githubusercontent.com/9021297/115200374-6f051300-a0f4-11eb-8085-7641e8642a7b.jpg)

### Steps to reproduce
Switch to black theme and navigate to page numbering.

### Expected behaviour
Text should be visible and background black.

### Actual behaviour
It's broken.

### Would you like to work on the issue?
Sure, but don't know how 🙄

[2021-04-27 16:57] MariaGiannaki commented on #999
Hello, I was interested in contributing by solving this issue but I cannot reproduce it on my phone. Has this issue already been fixed?
![Screenshot_20210427_194919_swati4star createpdf](https://user-images.githubusercontent.com/57483777/116281768-b2195300-a792-11eb-9bc6-528992200743.jpg)

[2021-04-28 18:40] cewbdex commented on #999
@MariaGiannaki
Try light theme on phone, but dark in-app. Makes a little sense, but it's still a bug u would say.

[2021-04-28 18:49] cewbdex opened #1000 "Update app on fdroid"
The last app release was more than two years ago, at least on F-Droid, maybe make a new release? About 50 commits have been made since.

[2021-04-30 13:30] Kolwyntjie581 opened #1001 "Highlight bug"
The extra options in the menu such as "Settings" are not highlighted.

### Steps to reproduce
1. download app
2. open menu
3. click on any non-extras options (the option will be highlighted)
4. open menu
5. click on extras options "Settings"
6. "Settings" are not highlighted

I have attached the gif in https://media.giphy.com/media/1WD62sZNAGmjOSjOs8/giphy.gif

### Expected behaviour
"Settings" ar

[2021-04-30 14:46] Kolwyntjie581 opened #1002 "Synchronous scrolling error"
When I scroll down/up the menu, the back content is also scrolling.

### Steps to reproduce
1. open menu
2. scrolling down

I have attached the gif in https://media.giphy.com/media/1jUQwe5tNahZahScXZ/giphy.gif

### Expected behaviour
The back content should be still when scrolling menu.

### Actual behaviour
The back content is scrolling synchronously.

[2021-05-01 11:58] Arsalankhan1212 commented on #973
Can you share your kotlin version code that target android 11?

[2021-05-02 12:27] codegsaini commented on #973
@Arsalankhan1212 this issue is already fixed in pull request #994, Please consider reviewing it.

[2021-05-02 14:10] #973 closed

[2021-05-02 14:10] #975 closed

[2021-05-02 14:10] #989 closed

[2021-05-04 18:32] codegsaini commented on #1002
Looks like you are working on a old version of code, **Please fetch latest!**

[2021-05-04 18:34] codegsaini commented on #1001
@Kolwyntjie581 Sir, it looks like you're working on old version of repository. **You should fetch latest version**, then try to produce this bug.
Thanks

[2021-05-07 09:18] Ravipatel401 opened #1003 "Error on Other Functionlity Showing :- "we are unable to access the file at this location""
Also Upgraded from current commit.

I have checked and test the recent commit, Creating a PDF file is working perfectly but facing an issue in Add Password, Merge PDF, Add Text, and others, Like showing "we are unable to access the file at this location" after selecting PDF file.

 compileSdkVersion 30
 buildToolsVersion '30.0.3'
 targetSdkVersion 30

[2021-05-10 06:42] santutunga commented on #1003
Same issue. i'm using it android 10. not working

[2021-05-12 05:32] codegsaini commented on #1003
I'm unable to reproduce the issue!!!
## What I've tried
- Add password ( no issue )
- Merge PDF ( no issue )

## Tested on
Android studio Emulator Pixel 2 API 30

### Provide more information or step to reproduce the issue, OR Consider sharing specific detail of your testing environment.

## Side Note ~
Similar warning ( "We were unable to access PDF. File may be encrypted or in internal storage."

[2021-05-12 05:55] Ravipatel401 commented on #1003
@codegsaini

I have checked password protection, but still showing same issue. (No protected or no encryption)
Using Android 11
Oneplus nord
Android Studio 4.1.3
Tried  building on both Version on Android 10(29) and 11(30)

(https://user-images.githubusercontent.com/3479149/117924936-2962f100-b314-11eb-9296-8063cd4f2a8a.jpeg)
(https://user-images.githubusercontent.com/3479149/117924938-29fb8780-b3

[2021-05-12 06:01] codegsaini commented on #1003
Thanks for more information, I'm working on it...

[2021-05-12 13:17] codegsaini commented on #1003
@Ravipatel401 After several try I'm still unable to reproduce this issue. It'll be great if I get to know exactly what's going wrong at your side.
## Do a task
In your local machine add a new line  `Log.d("MergePDFFragment", "Localized message: " + e.getLocalizedMessage() + "\nException: " + e.getMessage() + "\nCause:" + e.getCause());`  after -
https://github.com/Swati4star/Images-to-PDF/blob/8f6

[2021-05-12 15:10] codegsaini commented on #999
@cewbdex Still cannot be reproduced.

## SideNote ~
It look like you are working on old version of repo. Please work on latest fetched !

[2021-05-12 15:17] Swati4star commented on #1000
There was some issue with one of the libraries previously. I'll check again and try if it is possible to update on Fdroid. This may take some time. thanks!

[2021-05-12 15:17] #1002 closed

[2021-05-12 15:19] Swati4star commented on #995
@prateekcode - Do you have any specific PDF viewer in mind?

The app currently provides functionalities to only edit or enhance existing PDFs.

[2021-05-12 15:19] Swati4star commented on #996
@codegsaini  - Are you loooking into this?

[2021-05-12 15:20] Swati4star commented on #997
@alpha00-coder Can you please fetch latest code? Still getting this error?

[2021-05-12 15:21] #1001 closed

[2021-05-12 15:36] codegsaini commented on #996
@Swati4star I'm not working on this issue because I will remove this method once I get solution of entire storage related problem to satisfy android's new [Scoped storage](https://developer.android.com/about/versions/11/privacy/storage) policy.
This `getExternalStoragePublicDirectory()` method is not future proof, So I'm still working on the entire storage related solution that fits the android's

[2021-05-12 16:42] codegsaini commented on #996
Actually this issue is useless because this method is for short term. I am working to solve the problem while saving files using scoped storage. After I'll get solution, this method will be removed thus the deprecation issue will be gone.
As this issue is temporary because the root cause of this issue ( the method ) will be removed in near future. So I'm closing this issue!

[2021-05-12 16:42] #996 closed

[2021-05-12 18:35] prateekcode commented on #995
Android provides [PdfRenderer](https://developer.android.com/reference/android/graphics/pdf/PdfRenderer) class through which we can make our custom PDF Viewer.
Using this class, I have created one project that can do the same functionalities i.e. [PDFViewer](https://github.com/prateekcode/PdfViewer)
So using the same we can make a custom Pdf Viewer in this project so any user can easily preview wh

[2021-05-13 09:41] Ravipatel401 commented on #1003
@codegsaini
 Found something like this.

[code]

[2021-05-13 09:52] codegsaini commented on #1003
Thanks for sharing, I'm looking into it...

[2021-05-13 15:51] codegsaini commented on #1003
The message 'Operation not permitted' took my concern toward read storage permission related issue. So I tried testing with every scenario of permission allowed or denied but **Still everything went fine as expected**. I'm still unable to reproduce the issue.

I need more info related to the issue.
## Help me understand the issue
- Please share a gif showing the error appearance

[2021-05-14 07:24] Ravipatel401 commented on #1003
Thanks, @codegsaini for making everything proper, I really appreciate your efforts, Please have look at here attach videos.

https://user-images.githubusercontent.com/3479149/118236220-6f09f000-b4b3-11eb-9662-eb0466c9645b.mp4
https://user-images.githubusercontent.com/3479149/118236227-70d3b380-b4b3-11eb-8ce0-bde483e69892.mp4

[2021-05-14 08:08] codegsaini commented on #1003
@Ravipatel401 Your welcome mate :) and thanks for your cooperation. I'm looking into it...

[2021-05-15 19:52] #998 closed

[2021-05-15 19:52] #999 closed

[2021-05-16 11:09] Swati4star opened #1006 "Add "Italian" translation for app strings"

[2021-05-16 12:57] codegsaini commented on #1003
Work is in progress...

[2021-05-19 19:13] codegsaini commented on #1003
Done!
PR in the morning will have the solution.

[2021-05-20 10:38] Ravipatel401 commented on #1003
@codegsaini Thank you, I will check and let know.

[2021-05-29 10:43] alpha00-coder commented on #997
ok thanks well for my next release i will try the latest changes

On Wed, 12 May 2021 at 20:21, Swati Garg ***@***.***> wrote:

[2021-06-03 15:52] #1006 closed

[2021-06-14 00:52] vikassaini opened #1009 "Store access issue"
Describe your issue here.

when app newly installed on device it after permission granted and try to convert any pdf file it show error in document directory create

i am facing this issue in android 10, 6 & 9

when i created Documents directory in internal storage. app working fine.

[2021-06-24 01:16] TPS commented on #1000
v8.8.1 is released on F-droid 6-17-21!  Close FTW?

[2021-06-24 15:06] #1000 closed

[2021-06-29 08:35] saigoud25 commented on #1009
Can I work on this issue?

[2021-06-29 08:36] Swati4star commented on #1009
Sure @saigoud25

[2021-06-29 10:09] saigoud25 commented on #1009
Ma'am I am getting some build issues while try to run the App. Where can I get help Ma'am

[2021-07-05 18:24] MSid01 opened #1013 "Add feature for continuous input of images through camera"
### Expected behaviour

1. The user will open camera through this App and will take multiple shots on his camera.
2. User selecting 'Select image' button and then clicking camera is **time consuming.**
3. Adding crop feature right after taking capture would be cherry on the cake.

### Actual behaviour

- It is bit lengthy process when it comes to take images right from the camera from the app.

##

[2021-07-05 18:39] MSid01 opened #1014 "Add "Hindi" and "Marathi" translation for App strings"
I have seen many people like to set their **native language** in device's setting.
I have good command over Hindi and Marathi.

[2021-07-05 18:40] MSid01 commented on #1014
I would be happy if you assign this issue to me..
I am just starting out with open source contribution.

[2021-07-13 17:52] atinagrawal commented on #1009
I am also facing this issue, but it works perfectly on Android 11.
Any solution?

[2021-07-14 08:22] atinagrawal commented on #1003
@codegsaini I tried your solution. It now gives a popup to select the folder to save files but the original issue is still there. Can't save any PDFs (Error on creating application folder.) I tried granting permission to the app after creating a new folder (from the popup from your solution)

Please help.

[2021-07-14 12:11] Swati4star commented on #1014
Sure, you can send out a pull request with these translations

[2021-07-14 15:33] codegsaini commented on #1003
@atinagrawal I am extremely sorry dear, but due to exams I am unable to work on it right now. Once exams are over I will start working on it in no time. Sorry for now. I hope you will understand.

[2021-07-16 05:04] atinagrawal commented on #1003
Sure @codegsaini, will be waiting for a solution.
All the best for your exams.

[2021-07-16 05:14] atinagrawal commented on #1003
This is the log:

D/MergePDF: Localized message: /storage/emulated/0/Download/PDF Converter/dy.pdf: open failed: EACCES (Permission denied)0

[2021-07-17 05:02] codegsaini commented on #1003
@atinagrawal Thanks for this information, it will really help in debugging.

[2021-08-03 14:44] niranjangirhe commented on #1014
I have added the support for Hindi, Please check my pull request #1015.

Thank you.

[2021-08-06 11:10] b450mhdv opened #1016 "A confusing icon on "PDF Converter" 's UI"
@Swati4star

Hello, I found a problem with the app's UI design.
The widget "Image to PDF" in the home page looks like a camera, and I thought it is used to taking photos without noticing its explanations.
When I clicked on it, it take me to a new page for selecting images. I think, although this camera icon seems to have something to do with "Image to PDF", selecting images and taking photos may b

[2021-08-11 13:45] L0gi opened #1017 "Change language in App"
Hi,

I have not seen any option to change the language within the app to something different than locale.

It's nice that you're trying to be "inclusive" by offering "native" languages to users, but it really isn't helpful if the translation is dogshit.

At least for german, I would rather see the 'original' or more likely properly translated and vetted english strings than the half assed 'german'

[2021-08-12 16:10] felixniemeyer opened #1018 "Feature request: draw on an existing pdf."
I want to sign an existing pdf.
I would like to use my finger, to write my signature on the touchscreen of my mobile phone.

[2021-08-19 12:45] yuhuitech opened #1019 "Part of texts and the swiper of SwipeRefreshLayout are blocked"
**Describe the bug**

Dear developer!
In the process of using, I found a bug in layout / display. As shown in the figure below, on the "view files" page, **a part of texts and the swiper of SwipeRefreshLayout are blocked**. This may be an adaptation problem. I suspect it is because **display and font size** are set to large **(mainly due to display size)**.
Because of some problems with my eyesigh

[2021-08-20 12:03] ironmanvivekjangir42 commented on #1013
I would like to work on this.

[2021-08-21 05:38] Muskan7Tripathi commented on #1017
Ma'am I want to work on it.
Please check your mail.

[2021-08-23 04:37] #1019 closed

[2021-08-23 04:37] Swati4star commented on #1017
@Muskan7Tripathi - Sure, you can pick this up.

[2021-08-31 11:13] rajesh-v5 opened #1022 "Default output folder PDFfiles not getting created during mergr"
Describe your issue here.
The default output directory /storage/emulated/0/PDFfiles is not gettimg created during merging of multiple PDF files. So it is giving error as the files may be encrypted.
I have used latest version 8.8.1 from f-droid
### Steps to reproduce
Tell us how to reproduce this issue.
Install the app freshly or clear app data from settings.
Grant permissions.
Select option Merge.

[2021-09-03 12:00] Muskan7Tripathi commented on #1017
To solve this issue, I'm making an application of language selection option in this app.

[2021-09-03 17:13] Muskan7Tripathi commented on #1017
Check  #1024 (pull request).
Finally, I make an application of language selection option in this app to solve this issue.
@Swati4star ma'am , Please check my pull request of my application program. #1024 .
Thankyou.

[2021-09-03 17:25] Muskan7Tripathi commented on #1017
Ma'am, finally this is solved. Please check my PR https://github.com/Swati4star/Images-to-PDF/pull/1024#issue-987957893 and please have a look on 2 other PR also. https://github.com/Swati4star/Images-to-PDF/pull/1021#issue-722994577 https://github.com/Swati4star/Images-to-PDF/pull/1023#issue-726740971 THANKYOU SO MUCH MA'AM, FOR GIVING ME THIS OPPORTUNITY.   Sent from Mail for Windows From: Swati

[2021-09-03 18:37] codegsaini commented on #1003
Well, please consider this [stackoverflow answer](https://stackoverflow.com/a/24842735). And let me know if it solve your issue or not.

[2021-09-03 19:05] codegsaini commented on #1022
Hi @rajesh-v5 Can you provide detail about following -
- If you are working with latest changes in project
- Android version of the device on which you are running the app

[2021-09-03 19:10] codegsaini commented on #1009
@vikassaini If you are working with latest changes in the project? As the app available at play store is outdated and some issue may already be resolved in the latest version of this repo.

[2021-09-04 15:58] Muskan7Tripathi commented on #1017
M a ' a m ,   f i n a l l y   t h i s   i s   s o l v e d .   P l e a s e
 c h e c k   m y   P R
  h t t p s : / / g i t h u b . c o m / S w a t i 4 s t a r / I m a g e s -
t o - P D F / p u l l / 1 0 2 4 # i s s u e - 9 8 7 9 5 7 8 9 3   a n d   p
l e a s e   h a v e   a   l o o k   o n   2   o t h e r   P R   a l s o .

 h t t p s : / / g i t h u b . c o m / S w a t i 4 s t a r / I m a g e s -
t

[2021-09-04 16:26] rajesh-v5 commented on #1022
I have used the app from f-droid version is 8.8.1 on android 10 device.

[2021-09-04 17:10] Swati4star commented on #1016
Sure @Chinmaynaik0126

[2021-09-07 10:30] codegsaini commented on #1022
@rajesh-v5 I think your problem is almost identical to what we are trying to solve in PR #1007 (the storage permission related problem according to [Scoped Storage model](https://developer.android.com/about/versions/11/privacy/storage) of android's new storage security policy). If it is so, then please wait until it is solved.

[2021-09-20 03:59] ParitoshChaudhari opened #1025 "Feature Requested : Document file into pdf"
Please add a feature in which we will be able to convert document files into pdf files. That will be very helpful for the student.

[2021-09-25 13:50] berlin4apk commented on #1017
Please make it an AND

For me with dyslexia, with this German Translations in the App, it's really not usable!

[2021-09-29 05:05] SB2318 commented on #1025
I want to work on this issue. Please assign it to me.

[2021-09-29 05:19] SB2318 commented on #896
I want to work on it. recently,I have worked on such a project. Here I need to do a little more modified work. But I will try, Please assign it to me.

[2021-10-01 11:49] MannarAmuthan commented on #851
Could I try this?

[2021-10-05 08:37] keyur5201 opened #1028 "Error on creating application folder"
Error on creating application folder

[2021-10-07 03:52] ruby100edfdefe opened #1029 "Error on creating application folder Android 10+ Not Working Code"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2021-10-07 03:54] ruby100edfdefe commented on #1022
Android 10 And Android 11 Not  Working This Code

[2021-10-07 05:09] codegsaini commented on #1022
Trying to resolve this issue in PR #1007, Wait until resolved...

[2021-10-10 09:26] Chinmaynaik0126 commented on #1016
@Madanaa sure. You can work on this issue

[2021-10-14 05:37] ruby100edfdefe commented on #1029
@codegsaini Please Check This blog I think this blog solved problem   : https://www.codenari.com/android/android-10-q-permission-to-get-access-all-storage/

[2021-10-15 15:26] ruby100edfdefe commented on #1028
Anyone Working This Problem?

[2021-10-16 11:10] codegsaini commented on #1029
@ruby100edfdefe Sure, I am working on it...

[2021-10-19 18:22] rajeshpanjiyar opened #1032 "Add Nepali Language support for the app"
Adding support of Nepali language in the app can be very helpful for users who are comfortable in Nepali or are habituated with that language.

*Being a native **Nepali language** speaker with Nepali as one of the subjects in academics so I would like to work on this issue*

[2021-11-03 00:55] meoldae opened #1033 "A corrupt text on 'History'"
I checked that corrupted text in 'History'.
Like this picture

![Uploading Issue.png…]()

Can i work on this issue?

[2021-11-03 10:43] baekyumi opened #1034 "When applying the theme, I can't see the text in Help."
When applying the theme(Dark or Black), I can't see the text in Help.
Can I work on this issue?
![image](https://user-images.githubusercontent.com/67865411/140046391-f13db885-735d-4864-b937-95aa690285db.png)
![Help](https://user-images.githubusercontent.com/67865411/140046604-f1029449-be7a-47f4-ad2e-bff4e6b60c8e.JPG)

[2021-11-03 10:47] hyeyeon919 opened #1035 "Add Korean support for the app"
Adding support of Korean in the app can be helpful for users who use Korean.

Being a native Korean speaker I would like to work on this issue

[2021-11-12 19:13] codegsaini commented on #1035
English Version
(영문판)

Yes, you can work on this issue. You should read and learn how to contribute with this repository in the begining https://github.com/firstcontributions/first-contributions or Follow below steps -
- Just fork this repository.
- Pull it to your local machine.
- Do some changes (add Korean language string resources).
- push your commit to your forked remote repository.
- Then c

[2021-11-18 02:31] baekyumi commented on #1034
@Swati4star @codegsaini
Can I work on this issue?

[2021-11-18 10:43] codegsaini commented on #1034
@baekyumi Yes, you can work on it. but I think these fragment should be removed and these slides should be shown in single activity. (May be horizontal recyclerview or changing src of imageview and changing text of textView with slide gesture or something like that). You can try that. And of course, you can work on the issue of white text color in white background [this issue].

[2021-11-19 05:17] meoldae commented on #1033
@codegsaini
I want to solve it by increasing the compartment or reducing the font size.
Can I work on this Issue?

[2021-11-19 11:51] codegsaini commented on #1033
@meoldae Yes, please! It will be great and your contribution will be appreciated :)

Suggestion - Don't ask anyone not even the author to solve any issue already present in the issue list or if you found any new issue. Just follow these steps -

### Case 1 - If you found any new issue
- If you found any new issue just create/submit that issue and if you want to work on it then solve it and create

[2021-11-19 11:54] codegsaini commented on #1032
@rajeshpanjiyar You can work on it. Your efforts will be appreciated.

[2021-11-19 11:55] #1003 closed

[2021-11-19 11:55] #1009 closed

[2021-11-19 11:55] #1028 closed

[2021-12-18 08:32] shuvashish76 opened #1044 "App crashes while adding big size images"
Describe your issue here.
App crashed when I tried to add 3 images of 7.1MB, 16.1kB, 5.6MB to a single PDFL

### Steps to reproduce
1. Home > Images to PDF > Select Images
2. Pick anyof the following Enhancement options
 - Filter Images
 - Preview PDF
 - Rearrange Images
3. App crashes

###Crash logs
[code]

### Would you like to work on the issue?
Sorry, I'm not a dev.

[2021-12-18 10:19] nu111 opened #1045 "Some file, password remove fails on Android 12, but works on Android 9"
I moved from Sony Xperia Zx1 Compact (Android 9) to Google Pixel 4a (Android 12).

For the same file, on Xperia the password remove works, but not on the Pixel, appears the message "the password seems to be incorrect. Maybe you have changed the master password".
The master password is the same on both phones "PDF".

Off course I've double checked the password and it is correct. I have also tried t

[2022-01-01 15:49] ZanderHuang opened #1048 "APP crashes while converting PDF to"
Describe your issue here.

### Steps to reproduce
Tell us how to reproduce this issue.

### Expected behaviour
Tell us what should happen

### Actual behaviour
Tell us what happens instead

### Would you like to work on the issue?
Tell us if you would like to work on this issue

[2022-01-03 15:17] codegsaini commented on #1048
Please build the app from latest version of repository. And also if you are still curious to know the crash reason, please have a look at corresponding log data from logcat tab in Android Studio.

[2022-01-03 15:20] codegsaini commented on #1045
It will be very helpful if you can share visuals of error viz. screen_recording or screen_shots.

[2022-01-03 16:15] nu111 commented on #1045
Hi, as soon as possible I'll provide a screen recording. By the way I suspect that there is a major problem for the app accessing the Android 12 file system. I also tried the merge function but it fails, I am sorry for not being precise but the error message says something like "error accessing the filesystem".

[2022-01-04 12:08] codegsaini commented on #1045
@nu111 Also check if you are working on the build cloned with the latest version of the repository.

[2022-01-05 07:33] KopiasCsaba opened #1049 "Merging multiple files: missing multi select"
Hi!

Today I wanted to use this app to merge 10+pdfs quickly, but I realized that the "add files" option only allows adding files one by one.

Therefore it would be great if selecting multiple files would be enabled.

Also pdf file names were invisible in the rows for me on a light theme.

And while at it, it would be great to be able to share pdfs with the app and being able to do various things

[2022-01-05 13:09] nu111 commented on #1045
I am using version 8.8.1 from f-droid

[2022-01-05 17:46] codegsaini commented on #1045
@nu111 It is very likely possible that your mentioned issue is already resolved in the latest version of this repository.

[2022-01-05 19:13] nu111 commented on #1045
I am a bit confused, on [Google Play Story](https://play.google.com/store/apps/details?id=swati4star.createpdf) the version is 8.8.4 but on [f-droid](https://f-droid.org/en/packages/swati4star.createpdf/) is 8.8.1, and on [GitHub](https://github.com/Swati4star/Images-to-PDF/releases) the latest release is 8.8.1.

When the most recent version will be available on f-droid?

[2022-01-06 17:43] codegsaini commented on #1045
Let me be clear, there are two things in Github...

One is) The raw code
The raw code of the repository can be used by any developer to analyze and propose changes in it through PRs (Pull Requests).

Second is) The Release
This is the compiled file ready to be used on the device or ready to be published on any app store.

What I want to say is, It is very likely possible that the raw code updated

[2022-01-16 14:49] Ramanand-Yadav commented on #1049
hey, @KopiasCsaba  let me know. if you are working to fix this issue or assign me this issue I want to work on this.

[2022-01-16 18:26] KopiasCsaba commented on #1049
Dear @Ramanand-Yadav, please go ahead! Im just a user of the app!

[2022-01-17 01:26] Ashutoshlakhnaora commented on #1048
@codegsaini @Swati4star
I can't understand How to fix this crash manually please  fix the crashes and provide an update

[2022-01-23 03:39] emireken commented on #1016
@Swati4star looks like this issue is remained open. Can I work on this?

[2022-01-23 12:28] 5lttrz opened #1050 "Feature Request: Resize page to fit image"
Describe your issue here.

### Steps to reproduce
Image to PDF
When image is not A4 size or other fixed aspect ratio, white borders appear even when border size is set to 0.

### Expected behaviour
Border must have zero size and page must resize to fit image.

"Set Page Size" must have "Resizable to fit image" option.

### Actual behaviour
White borders appear.

### Would you like to work on the i

[2022-01-27 18:47] corygrossman commented on #1016
I can additionally look into this issue and provide a possible fix.

[2022-01-31 17:18] codegsaini commented on #1050
@5lttrz Please add some screenshots for a better understanding of your issue.

[2022-01-31 17:23] codegsaini commented on #1049
@KopiasCsaba
Thanks for your feedback.
1.) Multi-PDF select feature will be added soon.
2.) Regarding PDF name invisible in rows in light theme. It will be fixed soon.
3.) Share PDF feature along with other essential features will be considered to be added soon.

[2022-01-31 17:35] codegsaini commented on #1049
@Ramanand-Yadav If you want to work on any issue, you can start work on the same as soon as you have the idea about fixing it. There is no need to ask for assignments from anyone ([for information] only the owner of the repository can assign ).
As [doc.github.com states](https://docs.github.com/en/issues/tracking-your-work-with-issues/assigning-issues-and-pull-requests-to-other-github-users#:~:tex

[2022-01-31 17:37] codegsaini commented on #1048
@Ashutoshlakhnaora We will consider fixing this issue in the next update.

[2022-02-01 02:37] 5lttrz commented on #1050
When image is cropped in editor

![Screenshot_20220201-080308_PDF Converter.png](https://user-images.githubusercontent.com/75839799/151905187-fa911d8d-7fef-47f9-95d5-ebb33add97e8.png)

White borders appear

![Screenshot_20220201-080437_MiXplorer.png](https://user-images.githubusercontent.com/75839799/151905206-d9e7e27a-5b5c-4c8c-8113-bdcd5c293045.png)

This can be fixed by having resizable page si

[2022-03-05 13:28] shady2027 commented on #160
I would like to work on this feature, can you assign it to me?
Thank you!

[2022-03-11 10:52] JustinLiang522 commented on #549
I am having a course project on fixing issues of open source andriod apps. Can I work on this issue?

[2022-03-11 14:10] JustinLiang522 commented on #1049
I am having a course project on fixing issues of open-source android apps, I would like to work on it as well.

[2022-03-11 14:38] JustinLiang522 commented on #1048
@codegsaini I am having a course project on fixing issues of open-source android apps. Can I work on this issue?

[2022-03-11 14:39] SB2318 commented on #896
Okay 👍

[2022-03-11 15:03] deepoceansame commented on #1044
I want try working on this

[2022-03-11 15:11] deepoceansame commented on #539
I want to try working on this

[2022-03-12 09:27] codegsaini commented on #1048
@JustinLiang522 Yes, you can.
Even anyone can work on any issue. The only thing he\she should check is whether someone already working or not on the same issue hence avoiding conflicts.
So until or unless you don't find an assignee you can start solving the issue.

[2022-03-12 09:28] codegsaini commented on #1049
@JustinLiang522 You can work on it.

[2022-03-12 09:29] codegsaini commented on #1050
@Pragya001 You can work on it.

[2022-03-27 12:40] valeryvpetrov-dev commented on #1050
@Pragya001 @codegsaini https://github.com/Swati4star/Images-to-PDF/pull/1052 ✨

[2022-03-28 07:39] Pragya001 commented on #1050
@valeryvpetrov-dev is that what you already worked on?

[2022-03-29 06:39] valeryvpetrov-dev commented on #1050
@Pragya001 no. I've seen issue and decided to help.

[2022-04-14 01:10] VA1DER commented on #17
The GPL requires them to publish source code, which they are not.

This already happens.  But do you think they are just going to leave their version the same when the source code for the new improved version i'd freely available?

They have to be forced to publish their source code.  Then people will realize that it's open source.

[2022-04-14 01:21] VA1DER opened #1053 "Storage location not created and setting not honored"
On initial installation, the output storage location defaults to /storage/emulated/0/PDFfiles

This directory is not, however, created and any attempts at saving output will claim to succeed but won't.  If the directory is created, however, saving output will succeed.

If the storage location is changed it will make no difference, the app will always only try the  PDFfiles directory and always sil

[2022-04-17 14:13] YZ11813227 commented on #1049
Has this feature been implemented? I'd like to participate in this issue.

[2022-04-18 11:21] wzy1935 commented on #539
Hi, I'm a teammate with @deepoceansame, we've been work on this for a while, and we think the problem is here:

PDFUtils.java line 175
[code]
when this method gets an image stream, it will first decode it into a bitmap and then compress it. But the problem is the image stream itself could be compressed already, so when converting it into a bitmap, it could become much larger. This explains why som

[2022-04-18 15:13] KOISHI-CHEN commented on #1044
Hi, I am a teammate of deepoceansame and now we are working on the same project. I consider that I have found the cause of this problem. When I add some large size png format images and try to pick one of the enhancements which shuvashish76 mentions in the question.  The crash happens. A similar situation is also found when I simply convert a large size png image to pdf format.  When the program t

[2022-04-19 03:25] codegsaini commented on #1044
@KOISHI-CHEN  You can have some help by these references.

---

I came across Android Documentation page which has provided the way to efficiently decode bitmaps.

As the [Android documentation says ](https://developer.android.com/topic/performance/graphics/load-bitmap#:~:text=To%20avoid%20java.lang.OutOfMemory%20exceptions%2C%20check%20the%20dimensions%20of%20a%20bitmap%20before%20decoding%20it%2

[2022-04-19 03:25] KOISHI-CHEN commented on #1044
我已经收到邮件，谢谢发送

[2022-04-21 09:24] VinAjuu commented on #1018
I would like to work on it.

[2022-04-23 04:07] lotjjj opened #1056 "The program may need a check step"
### Description
The program may need a check step.

### Steps to reproduce
1. Convert a png file into a pdf file forcibly
2. Use pdf to image
3. Choose the pdf file which converted before

### Expected behaviour
Maybe output that the file is not a pdf file.

### Actual behaviour
Action succeeded and needs a password.

### Would you like to work on the issue?
No, I am just a user.

![test](https://

[2022-04-23 04:08] Jay-Ernest commented on #1056
Can I work on this issue?

[2022-04-23 07:21] codegsaini commented on #1053
What you want to say is,

Case 1) App display directory path as */storage/emulated/0/PDFfiles* in the settings and doesn't even create such directory there.
And When it try to save output file there, then it show success message but fail to do so internally.
But when we manually create the directory, then it works as expected.

Case 2) When we change location path from settings then app still tryi

[2022-04-23 07:27] codegsaini commented on #1056
What does that mean? Can you elaborate a bit more!

Please explain why that should not be a pdf file.

[2022-04-23 07:51] Jay-Ernest commented on #1056
That is, if I just change the suffix of the file, the program will recognize it as a pdf file. However, it's origin suffix is png, jpg, etc.
The encoding format of the file is quite different, we may need to check the file head to make sure that the file is with a pdf file head.

[2022-04-23 10:07] haodi19 opened #1058 "In PDF to Images function, feature "View Images in Gallery" could not show generated images in gallery."
### Describe your issue here.
   While using PDF to Images function, if a user clicks "View Images in Gallery" button after creating the images from a PDF, nothing will be shown in the gallery.
### Steps to reproduce
   (1) Click "PDF to Images" button, choose a source PDF file and click "create images" button, then goes into the below page.

![7LQV11}9SGUQ~_F(RW5_SB4](https://user-images.githubus

[2022-04-23 12:19] KOISHI-CHEN commented on #1058
May I work on this?

[2022-04-23 13:22] deepoceansame opened #1059 "Converting large image to pdf causes app to crash"
Describe your issue here.

### Steps to reproduce
(1) Open app
(2) Click images to pdf
(3) choose a large png image size of about 50MB

### Expected behaviour
Convert images to pdf

### Actual behaviour
App crash and the logging shows

[code]

### Would you like to work on the issue?
Yes I would work on this issue.

[2022-04-23 15:26] Leosang-lx opened #1061 "The APP continously crashes due to OOM"
### Describe
A specific crafted (malicious) pdf crashes the APP while converting PDF to image.

### Steps to reproduce
Select converting PDF-to-Image feature and choose 'testOOM.pdf' to reproduce crash.

### Expected behaviour
Do not crash

### Actual behaviour
The APP continously crashes due to OOM

### Would you like to work on the issue?
No
[testOOM.pdf](https://github.com/Swati4star/Images-to-

[2022-04-23 15:45] Jay-Ernest commented on #1061
Can I work on this issue?

[2022-04-23 23:23] VincentHe12 opened #1063 "Feature Request: Edit images using quadrilateral selection in image to PDF"
Describe your issue here.
When I add images and choose `Edit Images`, the image can only crop by a rectangle. If a quadrilateral can be used to crop the image, it will be much more convenient to process documents and other images.
![image](https://user-images.githubusercontent.com/104281711/164949245-33fff690-6fbd-431d-8bdc-c031a7cae26c.png)

[2022-04-24 00:05] VinAjuu commented on #1063
Hi, I'd like to work on it.

[2022-04-24 04:18] TOM8961 opened #1065 "Language selection switching function"
Now that the language is automatically selected, I want to be able to switch languages freely.

[2022-04-24 04:27] TOM8961 opened #1066 "In Pdf To Img feature，img seems doesn't save correctly"
Describe your issue here.
I can't find the converted image. When I try to share or open it, it shows that the file is corrupted.
### Steps to reproduce
Tell us how to reproduce this issue.
Use the pdf to image feature, try to share, open, or find it.  It doesn't exist.
Images were also not found in the phone's own photo album
### Would you like to work on the issue?
Tell us if you would like to wo

[2022-04-24 07:12] TOM8961 commented on #1018
I hope to work on it

[2022-04-24 12:35] TOM8961 opened #1068 "Add traditional Chinese support for software"
Adding traditional Chinese support to the app will also help users in Hong Kong, Taiwan and Macau.

[2022-04-24 13:02] kagosin commented on #1068
I want to try working on this

[2022-04-25 09:56] YZ11813227 commented on #1065
I've added a button to jump to the language selection page

[2022-04-28 05:08] priyanshnama commented on #1025
I would like to work on this, kindly assign this task to me.

[2022-05-07 02:43] KOISHI-CHEN commented on #1013
@[ironmanvivekjangir42](https://github.com/ironmanvivekjangir42) Hi, Are you still work on this issue? May I work on this?

[2022-05-07 03:05] KOISHI-CHEN commented on #1053
@codegsaini @VA1DER Hi, I would like work this, but could you give more examples how this problem happen? Does this error occur in some spefic function or Is this mistake associated all of the storage location

[2022-05-07 03:33] deepoceansame opened #1071 "Can't use camera when select images when creating pdf"
Describe your issue here.

### Steps to reproduce
1. open app
2. select Images to PDF
3. click "SELECT IMAGES" button
4. click camera of Matisse

### Expected behaviour
Go to camera and shot a picture and back to the Image to PDF page with the shot image.

### Actual behaviour
The screen becomes white for a while and then back to the home page.

### Would you like to work on the issue?
Yes

[2022-05-07 03:40] KOISHI-CHEN commented on #1071
@codegsaini Hi, my teammates @deepoceansame find the crash while fixing another issue, could we work on this?

[2022-05-07 06:54] ironmanvivekjangir42 commented on #1013
@KOISHI-CHEN I am not working on this now. you can work on this issue

[2022-05-14 16:55] Swati4star commented on #1033
Agree with @codegsaini.

[2022-05-15 10:27] ShashaankHari commented on #1000
Does the play Store and fdroid ones have the same features?
Since on fdroid is 8.8.1 and on play Store it's 8.84

[2022-05-19 11:34] KOISHI-CHEN commented on #1016
It has been three monthes since the previous person  promise to work on this problem. Are you still work on this? May I work on this?

[2022-05-19 15:49] KOISHI-CHEN commented on #1053
@codegsaini  Hi, it seems like I have find what the problem is.
First is about the path "/storage/emulated/0/PDFfiles" mentioned in the problem.
The only one place I find in the whole project which is related to that path is this code fragment in PdfToImageFragment.java
[code]
Although it is named as viewImagesInGallery, it just request some external app to view the image. And the direction is nev

[2022-05-19 18:11] codegsaini commented on #1053
@KOISHI-CHEN These two changes may solve the issue. Consider these ....

[2022-05-24 02:17] VincentHe12 opened #1075 "The file chooser in Add Image to PDF can't work correctly."
Describe your issue here.
When I choose several images and a pdf file, trying to create a new pdf. It throws a message: 'The input value is not valid'.
### Steps to reproduce
Tell us how to reproduce this issue.
Choose a pdf file and some images to create a new pdf file.
### Expected behaviour
Tell us what should happen
It should output a pdf file with some new images.
### Actual behaviour
Tell us

[2022-05-28 13:12] haodi19 opened #1078 "Can't load zip file in 'Zip To PDF'"
In module 'ZIP to PDF', the app can not load the chosen zip file, instead it will raise an exception.
Besides, during 'ZIP to PDF', the images in the zip file will be saved in a temp directory and will not be deleted after generating the PDF file, which will waste the disk memory.

### Steps to reproduce
1. In 'ZIP to PDF' module, select a zip file and click button 'Convert To PDF'.

![~VDF{)G0G 3

[2022-06-06 14:40] #1075 closed

[2022-06-18 04:16] priyanshnama commented on #1066
I would like to work on this

[2022-08-02 08:07] SkewedZeppelin opened #1083 "Potentially vulnerable PDF library used"
I am going though apps that use old native libraries on F-Droid: https://gitlab.com/fdroid/fdroiddata/-/merge_requests/11496/

Your app uses `com.itextpdf:itextg:5.5.10` from 2016-10-07, which seems to have ~5 known security issues.
https://github.com/Swati4star/Images-to-PDF/blob/8.8.1/app/build.gradle#L98

Newer versions are available: https://github.com/itext/itextpdf/releases

[2022-09-03 20:09] IbrohimDev commented on #1066
Can I work on this issue

[2022-09-14 00:37] SamithaKosanam commented on #1066
I would like to work on this issue.

[2022-09-30 05:26] SamithaKosanam commented on #1058
Can I work on this issue?

[2022-09-30 05:26] KOISHI-CHEN commented on #1058
我已经收到邮件，谢谢发送

[2022-09-30 05:48] #1078 closed

[2022-10-01 05:35] shubhamshah14102 commented on #848
Hey @Swati4star.
Can I work on the issue considering it open?
Would Create a separate section for FAQs and add a search filter to sort according to tags/

[2022-10-01 05:38] shubhamshah14102 commented on #958
Hii @Swati4star .
Wanted to work on this issue and would soon raise a PR with the changes.
Could you please assign this issue to me?

[2022-10-05 05:59] harshvijay63 commented on #1071
ya camera is not working it says fix the camera

[2022-10-06 08:29] amaan118921 commented on #1032
i would like to take this up as a hacktoberfest contribution, please assing me this.

[2022-10-08 08:41] amaan118921 commented on #1032
Hey can i take this up @codegsaini

[2022-10-14 19:38] codegsaini commented on #1032
@amaan118921 Yes, of course, you can contribute. Look, an assignment is just an indicator of the occupancy of a person on that issue, just to tell the world that someone is already working on it thus preventing different people to work on the same issue to prevent conflict. The absence of an assigned tag never restricts you to contribute.

[2022-10-20 08:40] U6729988 commented on #1068
I am interested in adding traditional Chinese support for the software. Can I try to work on this issue?

[2022-10-26 10:40] Haikyuu77 commented on #947
is the issue still open ?

[2022-10-28 10:36] 6xur commented on #1065
Hello, I've added an option in the navigation drawer to jump to the language switching page

[2022-10-28 10:42] 6xur commented on #1066
Hello, I've changed the file download path to "Download", the saved image should now show up in the phone's gallery @Swati4star

[2022-10-29 05:45] aishwaryasonavane79 commented on #1014
Hello, I've added support for Marathi. I have good command over Marathi. Please check my PR #1096 .

Thank you.

[2022-11-20 15:37] Tiklyt commented on #1083
Hello, I fixed this issues with the #1097 PR, can you check it ? :)

[2022-11-20 16:21] SkewedZeppelin commented on #1083
@Tiklyt
that gets it done!