[2016-09-10 09:03] YoungNFoolish opened #1 "Insufficient Permissions error!"
Hi swati,
I got a Huawei Honor 4c running Android 6 and installed the app from f-droid and gave it the permissions at the first run. Then i selected some images and once i tapped "Create PDF", it shows me a toast saying "insufficient permissions".
What's the matter?

sorry for my bad english :sweat_smile:

[2016-09-11 13:36] Swati4star commented on #1
Thank you for pointing it out.
There was some problem in code with runtime permissions stuff.
Fixed by https://github.com/Swati4star/Images-to-PDF/commit/773eb6fd416c4a00dd4f11a4bcf3927165ee224b

[2016-09-11 13:36] #1 closed

[2016-09-30 04:33] Swati4star opened #3 "Lot of work in main thread"
The app is doing a lot of work in main thread.
Needs to be moved to Async task.

[2016-12-14 23:33] poppypundit commented on #1
I'm still getting this error...all the time.

[2016-12-15 07:47] Swati4star commented on #1
You must be downloading the app from fossdroid.
I need to update the app on fossdroid.

If you download the app by building it from latest code, or from this [link](https://dl.dropboxusercontent.com/s/ugpju98f0y2t947/app-debug.apk), you won't get this error.

[2016-12-15 08:57] poppypundit commented on #1
Thank you. Yes, I did download from fossdroid. By no means a builder... Cheers

[2017-02-15 09:10] Swati4star opened #6 "Cache is very large"
itext and TedPicker are generating a huge amount of cache and data in the app as the app starts. Need to figure out something to implement something similar to TedPicker.

[2017-03-12 10:06] pharidali opened #7 "6.0 Force stop problem"
Hello.

6.0 android force stop problem.

[2017-03-12 10:12] Swati4star commented on #7
@pharidali How exactly are you facing the problem?
I tested it on android 6.0
Can you post logs or screenshot ?

[2017-03-12 15:31] pharidali commented on #7
![screenshot_20170312-211104](https://cloud.githubusercontent.com/assets/24604834/23833100/1f68d530-0769-11e7-97e4-37875a8f1f77.png)

[2017-03-13 15:54] pharidali commented on #7
????

[2017-03-13 15:55] Swati4star commented on #7
Did you download the app from fdroid?

[2017-03-14 14:28] pharidali commented on #7
Yes.
Fdroid Also Same problem..
And App-debug also Same Problem.

On Mar 13, 2017 9:40 PM, "Swati Garg" <notifications@github.com> wrote:

[2017-03-16 18:32] #7 closed

[2017-03-16 18:35] Swati4star commented on #7
Hi. Please see the apk on this link
https://dl.dropboxusercontent.com/s/ugpju98f0y2t947/app-debug.apk

I have resolved the issue.
Thanks for noticing :+1:

[2017-03-29 08:32] webnusapp commented on #6
Hello
I'm grateful for help and resolve the errors

[2017-04-01 10:45] Swati4star commented on #6
Sure @webnusapp You can work on this.
Let me know...if you need some help

[2017-04-01 13:30] ShivamArora commented on #3
I see this might have been already handled as the pdf is being created within an AsyncTask called creatingPdf which is executed in the createPdf() method.

Is there anything else to be done?

[2017-04-02 09:51] Swati4star commented on #3
You can move this tasks to Async Tasks.
[View Files](https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/ViewFiles.java#L62)

[2017-04-11 00:20] veyndan opened #9 "Purpose of two continuous integration services?"
CircleCI support was added in [this commit](460aa2bfddce0482e392e8eb0f6af9514fa4f72f) but I don't see the point considering Travis is already in use. Also when making a PR, only Travis is run and CircleCI doesn't appear to be in use.

My suggestion would be to delete `circle.yaml` as it doesn't appear to be adding any benefit to the code base. Even if CircleCI was set up correctly, the use of two

[2017-04-12 12:02] mihudevcom commented on #3
@Swati4star You need a loading dialog as well? Or just moving those to an AsyncTask will be enough? And why do you need an AsyncTask for this? I don't think it's loading that slow but maybe I'm missing something?

[2017-04-12 12:20] mihudevcom opened #10 "Rotated pdf photos on Samsung Galaxy S5"
Loading a simple image does create a regular pdf file. But loading a picture taken with Samsung Galaxy S5(and I have a feeling that with most samsung devices) the end result is rotated.

It's probably a camera issue since I've seen it before on other apps. Should I take care of it?

Here is an example.
![20170407_130122](https://cloud.githubusercontent.com/assets/7577378/24957003/df8e390e-1f92-11e

[2017-04-12 12:33] mihudevcom commented on #10
UPDATE
Pictures take from the app are not rotated. Just the ones taken with the device camera.

[2017-04-13 22:15] iMouath commented on #10
Maybe this was caused because of com.gun0912.tedpicker.ImagePickerActivity library

[2017-04-18 14:21] Swati4star commented on #9
Thanks for the suggestion. This actually seems sensible. I will remove circle.yaml :+1:

[2017-04-18 14:23] #9 closed

[2017-04-18 14:25] Swati4star commented on #3
Just adding the tasks to AsyncTasks would be enough. Also, adding a dialog would be an enhancement.

The addition of this is just for worst case scenarios. It might take a significant amount of time in slower phones or if there is some exception. This is just for those cases.

[2017-04-18 14:31] Swati4star commented on #10
So, the images you take from the app are good?

[2017-04-18 14:32] Swati4star commented on #6
@webnusapp Are you working on this?

[2017-04-19 07:22] mihudevcom commented on #10
@Swati4star No, what I meant was that pictures, normal pictures, not photos, work okay. Just photos taken with my device seem to get rotated.

[2017-04-19 07:22] mihudevcom commented on #10
@iMouath It might be. I'll investigate and let you know.

[2017-04-19 07:24] mihudevcom commented on #3
@Swati4star Okay, sounds logical. Can I take care of this?

[2017-04-19 13:56] Swati4star commented on #3
@mihudevcom Sure. Go ahead with this. If there is some issue, let me know. :+1:

[2017-04-20 10:58] mihudevcom commented on #10
@iMouath Yep, the issue is with the image picking library.
@Swati4star How should we proceed with this?

[2017-04-20 11:06] mihudevcom commented on #6
@Swati4star I have about 1 MB of cache in the app after creating several pdfs. What cache memory are you refering to?

[2017-04-20 21:31] iMouath commented on #10
@mihudevcom why not use the native camera and gallery API? I tried to implement the camera but facing issues cause my programming skills are limited, got the picture taken but couldn't process it.

[2017-06-04 15:09] Swati4star commented on #6
Seems like no one is facing this issue. I am gonna close this one.
Thank you @mihudevcom for mentioning. :+1:

[2017-06-04 15:09] #6 closed

[2017-06-04 15:11] Swati4star commented on #10
@mihudevcom @iMouath Should we use native camera and gallery API? OR should we wait for updates in TedPicker.

[2017-06-11 18:28] ishaandhamija opened #12 "Task Done Appearance"
After the PDF is created, Done appears as a simple text on the white area of the activity. It will be better if it will appear as a Toast or in a snackbar !

[2017-06-14 09:44] Swati4star commented on #12
Sure! If you want, you can work on this issue.

[2017-06-14 11:52] ishaandhamija commented on #12
Ok,  great :)

[2017-06-27 12:33] mihudevcom commented on #10
@Swati4star I'll report it on the tedpicker library and after they will fix it we should update the library version and it should be fixed here as well.

[2017-06-27 12:36] mihudevcom commented on #3
@Swati4star Any other issues for this case?

[2017-06-27 12:40] mihudevcom commented on #10
The TedPicker is using a deprecated library :

We should probably implement something else. What do you think @Swati4star ?

[2017-08-21 18:15] Kartik2016 commented on #3
I am new t open source. Can i go ahead with the issue?

[2017-08-23 12:45] khokharnikunj8 commented on #3
I think its time for closing this issue . .. @Swati4star  @mihudevcom

[2017-08-24 10:27] mihudevcom commented on #3
@khokharnikunj8 Let's wait for @Swati4star and see what she says.

[2017-09-25 22:30] Poussinou opened #17 "Copyright violation"
Hi @Swati4star

I found [this app](https://play.google.com/store/apps/details?id=com.adan.createpdf) on the Google Play Store. This guy just took your source code, give it a price (!!!!!!) and put it on the Store, without warning this is free software... He doesn't respect the GPL v3 at all...

As you are the owner of the source code, feel free to open a request to google [here](https://support.go

[2017-09-27 11:49] Achintya999 opened #18 "Error After Deleting Files"
If we delete a pdf it still appears there first we have to go back to the main screen and then come back again there then our pdf file is deleted.

[2017-09-28 19:17] Swati4star commented on #17
Thanks a lot for reporting this issue. I will surely take action against it. Thank you! 👍

[2017-09-30 17:59] Swati4star commented on #18
Thanks for pointing it. Will take care of this one.

[2017-09-30 18:57] Swati4star commented on #3
@khokharnikunj8 @mihudevcom Yes, I think I should close this issue.

[2017-09-30 18:57] #3 closed

[2017-09-30 18:57] #12 closed

[2017-09-30 18:57] Swati4star commented on #12
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/16

[2017-09-30 18:59] Swati4star commented on #10
@mihudevcom Do you have any other library in mind, or should we create something on our own from scratch?

[2017-10-01 18:29] #18 closed

[2017-10-02 10:42] mihudevcom commented on #10
@Swati4star There must be some library that can do this. If not, I believe we should do it. It's not that complicated to do. I'll check back in a few days with what I believe would be the easiest way to do it.

[2017-10-02 17:25] Swati4star commented on #10
Sure. I will also look into it by the time.

[2017-10-05 11:34] Azooz2014 opened #21 "Supporting tablets in landscape view."
Hi , this is my first time contributing to an open source software and i tried this app and its pretty good , but i noticed that it's doesn't rotate to landscape when the device is in landscape, so i came up with two layout designs , the first one is pretty simple but it has a lot of empty space.

![design 1](https://user-images.githubusercontent.com/7429229/31225205-a78254b0-a9d9-11e7-8dc4-9fc276

[2017-10-08 08:26] Swati4star commented on #21
Hi @Azooz2014
It's a great suggestion.
In my opinion, it would be easier to implement the first right now, because, we are using TedPicker for Camera/gallery operations.

also, in the  left, are you displaying the already existing PDFs?

[2017-10-08 09:28] Azooz2014 commented on #21
yes

[2017-10-08 09:29] Azooz2014 commented on #21
@Swati4star
Yes

[2017-10-08 11:01] Swati4star commented on #21
Okay. You can start with it 👍

[2017-10-10 10:54] Azooz2014 commented on #21
@Swati4star Hi,
I have finished putting the layout together, i had to make few modification to MainActivity.java and AndroidManifest.xml.

In MainActivity i have created a new method that checks wither the device is in landscape or portrait in order to choose the right layout to display.

In AndroidManifest i had to change both android:screenOrientation from portrait to sensor.

I hope you don't m

[2017-10-10 13:10] Swati4star commented on #21
Do some changes. Create a PR. I will review that, and in case, it requires some changes, keep pushing the code into that branch.

[2017-10-11 05:41] Azooz2014 commented on #21
What branch should i create PR to it?

[2017-10-11 05:54] Swati4star commented on #21
make it to master only.

[2017-10-12 17:56] Azooz2014 commented on #21
It's done please check the pull request 👍🏻

[2017-10-16 15:57] Swati4star commented on #21
Being solved by https://github.com/Swati4star/Images-to-PDF/pull/22

[2017-10-16 16:02] Swati4star opened #23 "Do not allow spaces as PDF name."
Right now, the user can pass space or tabs as pdf name. This should not be allowed. Just add a check for it, and notify the user.

[2017-10-16 16:07] Swati4star opened #24 "Persist selection of images"
Steps to reproduce this bug.
1. Select some images
2. Click on tick mark
3. Click again on select images.

It shows no selected images already.

[2017-10-16 16:18] Swati4star opened #25 "Allow PDFs to be send via Whatsapp"
Modify the current option 'E-mail file' to share the file, and allow it to be shared via WhatsApp, Gmail and other document sharing apps.

[2017-10-16 17:13] AshanthaLahiru commented on #25
Working on this.!

[2017-10-16 17:22] blottn commented on #23
I can take a look at this.

[2017-10-16 17:24] Swati4star commented on #23
This is already being worked on  by @AshanthaLahiru
https://github.com/Swati4star/Images-to-PDF/pull/27

[2017-10-16 17:56] blottn commented on #24
If nobody is already looking at this I can.

[2017-10-16 18:01] Swati4star commented on #24
Sure. Go ahead with this. :+1:

[2017-10-16 18:01] AshanthaLahiru commented on #23
Completed.

[2017-10-16 18:19] blottn commented on #24
Should be fixed, see PR #29

[2017-10-17 05:01] #23 closed

[2017-10-17 05:07] Swati4star commented on #24
Fixed.

[2017-10-17 05:07] #24 closed

[2017-10-17 15:57] IamMukulTaneja commented on #25
Hey, please Look into pull request #31 regarding this issue.
Thanks.

[2017-10-18 06:49] Swati4star commented on #25
Fixed by be7a4ccceed681aa111a9f3a74144dfe8f914665.
Thanks @IamMukulTaneja 👍

[2017-10-18 06:49] #25 closed

[2017-10-18 13:01] Swati4star opened #33 "add image border options"
Allow user to specify if he wants to add border to images.
You may add other enhancements too.

[2017-10-19 10:22] Swati4star opened #35 "add checkstyle"
https://github.com/checkstyle/checkstyle
Integrate checkstyle to make the java code uniform
and modify the code so that it passes the checkstyle

[2017-10-19 10:35] Swati4star opened #36 "image editing options : crop"
Allow user to crop image before creating a PDF.

[2017-10-20 10:55] Swati4star opened #38 "Allow user to set viewing order of PDFs"
In View Files section, user should be allowed to specify the viewing order, like,
By name
By date
By size

[2017-10-20 19:27] axelf4 commented on #38
I'm working on this. 😃

[2017-10-23 05:08] Pl4gue commented on #36
I am working on this, almost finished.

[2017-10-23 07:00] #35 closed

[2017-10-23 07:07] Swati4star opened #42 "Image editing options : filters"
Allow user to apply effects/filters to images.

[2017-10-23 07:56] Pritom14 commented on #42
I would like to work on this. May I know what type of effects/filters are needed

[2017-10-23 15:21] Swati4star commented on #42
I think we can start with the basic ones like black & white and sepia.

[2017-10-23 15:34] Pritom14 commented on #42
Could you please guide me as to how to proceed in this issue. I was
thinking of putting the option for the filters when the user clicks on a
certain file(PDF), along with the options : `Open File` , `Delete File` ,
`Rename File` , `Print File` , `Share File` . When the user clicks on
`Apply Filter` three options will be there black, white and sepia.
Is it ok if I proceed in this way?

On 23-Oct-20

[2017-10-23 15:44] Swati4star commented on #42
Yeah sure. Just comment here in case of any doubts.

The problem for your case will be, you are editing the images in PDF after it is created. I want to apply filters before creating PDF.

So, my suggestion for doing this is by,
after user has selected few images, show an option on home screen only 'Apply Filters'. Upon clicking on this option, user should be able to apply the filter to the images

[2017-10-24 05:25] Pl4gue opened #44 "Butterknife in master"
I have got a question: Why don't use Butterknife in the master branch?

[2017-10-24 09:07] Swati4star commented on #44
I remember adding it but was facing some issue.
Feel free to integrate it in the code.

[2017-10-24 18:03] #38 closed

[2017-10-25 04:52] Pl4gue commented on #44
Alright, will do that.

[2017-10-26 07:01] Pl4gue commented on #44
@Swati4star I will integrate it as soon as you merged my other PR 👍

[2017-10-29 07:05] #36 closed

[2017-10-29 12:26] Swati4star opened #47 "Delete Selected / Delete All files features."
Add an option on the action bar (along with the filter icon).
Upon clicking that option, checkboxes should appear on the left of PDF file names. ( should allow selecting the PDF files)
On clicking the delete icon on action bar, a dialog for confirmation should appear & files should be deleted.

[2017-10-29 16:01] Pl4gue commented on #47
Working on that 👍

[2017-10-30 07:46] liuatgit opened #49 "New feature : compress image"
Would you add "compress image" function in it? The PDF file is too big.

[2017-10-30 15:13] Swati4star commented on #49
Sure. We will work on a new feature in 'Image enhancement options'.
That will include the level of compression.

[2017-11-02 07:39] phuyuk opened #51 "Broken F-Droid build ("Insufficient Permissions" error)"
Why are you linking to a broken 2016 F-Droid build ("Insufficient Permissions" runtime error)?  Even the Google Play link is sketchy - it's categorized under "education" and is more or less unsearchable on Google Play.

The F-Droid and Google Play badges infer credibility to your app; please fix/update/explain (or remove) them.  Thx.

[2017-11-11 21:45] pleycpl opened #52 "Convert Images to Pdf, how?"
I'm sorry. I don't know android.

1.road: you are converting to it with pure your codes.
2.road: you are using service (camscanner, office lens api...)

which road do you use? if it is the first road, can you make another java package?

[2018-01-31 15:56] Swati4star commented on #52
I am using this package for converting images to PDF:

https://developers.itextpdf.com/itextg-android

[2018-01-31 15:56] #52 closed

[2018-01-31 16:00] Swati4star commented on #51
I will fix the F-droid build soon. By the time, you can download the app from playstore
https://play.google.com/store/apps/details?id=swati4star.createpdf

[2018-02-23 09:05] zhangzzqq opened #53 "Converting to PDF is too slow"
Converting to PDF is too slow in Lenovo YT3-X50F and HUAWEIG750-T00. is it the image to big (i see the image is 2M in album ) or others?

you can refer to the websites  :

https://github.com/zetbaitsu/Compressor

https://github.com/zetbaitsu/Compressor

[2018-02-23 09:06] zhangzzqq commented on #53
It usually takes 5-10 seconds.

[2018-02-23 09:07] zhangzzqq commented on #53
Usually a photo takes 5-10 seconds.

[2018-02-23 09:07] zhangzzqq commented on #53
Usually a photo takes 5-10 seconds.

[2018-03-05 06:41] Swati4star commented on #53
This seems to be a valid issue. If anyone is interested in taking it up, they can.

[2018-03-06 16:21] Swati4star commented on #47
Thanks @Pl4gue for fixing this 👍 🎆

[2018-03-06 16:22] Swati4star commented on #44
Fixed by @Pl4gue

[2018-03-06 16:22] #44 closed

[2018-03-07 12:36] Swati4star commented on #47
This issue still needs work. The UI should be as specified in the description.

[2018-04-07 19:25] Poussinou commented on #17
@Swati4star There is another one [here](https://play.google.com/store/apps/details?id=com.baniapptech.createpdf)

[2018-04-08 06:55] flxwu commented on #17
This is such an abhorrent action lol, you should take them down immediately @Swati4star

[2018-04-13 05:58] kmark1625 commented on #53
I submitted a pull request for this issue to use the linked compressor instead.  I saw improved performance using a normal sized file (3.74 MB).  Please let me know if you have any questions or if there is anything additional I can add to this investigation.  Thanks!

[2018-04-18 21:11] meleiys commented on #33
#56
Hello, I added a pull request with the following features:

- Button to allow the user to specify if he wants border or not
- TextView displays the selected option
- PDF is created as requested (margin border or no border at all)

[2018-05-12 17:41] #53 closed

[2018-05-13 17:39] muditvijay opened #57 "please check your email"
Hey Swati Mudit This Side I would be highly obliged if you check your email and reply

[2018-05-14 10:15] #57 closed

[2018-05-17 14:45] Swati4star opened #58 "Crop Images option is not working on going back once & pressing it again"
Steps to reproduce :
1. Press 'Select Images'
2. Select atleast 1 image
3. Press 'Crop Images' option
4. Press back button on top
5. Press 'Crop Images' again.
It does nothing.

[2018-05-17 15:38] Swati4star opened #59 "Do not allow empty name on Renaming the file."

[2018-05-17 15:51] #47 closed

[2018-05-17 15:53] Swati4star opened #60 "Create PDF option can't be seen on creating PDF second time."
1. Select few images, create a PDF
2. Click on Select Images. Select Few images, Click on check button.
When you come back to main screen, you can't see create PDF option again. The option should be available.

[2018-05-17 16:00] #21 closed

[2018-05-17 18:20] Swati4star opened #61 "Add an option to create password protected PDFs"

[2018-05-17 18:22] Swati4star opened #62 "New Feature : Merge 2 PDFs"

[2018-05-21 05:18] sbhandare3 commented on #60
Hello,
I have created a pull request for this issue.
Fixed this issue to morph 'Create Pdf' button as Square when coming back after selecting images.

[2018-05-21 05:41] #60 closed

[2018-05-22 09:06] Swati4star commented on #17
I just found another one also :
https://play.google.com/store/apps/details?id=com.iaz.image.to.pdf.convertor.pdf.creator

[2018-05-22 09:37] Swati4star opened #64 "Don't show delete all alert when no image is selected"
1. Go to view files
2. Don't select any PDF
3. Click on Delete button
4. An alert shows up, "Do you want to delete all selected files"
Instead, show a toast message that no PDF is selected

[2018-05-22 09:42] Swati4star opened #65 "Use Snackbar instead of Toast everywhere in the app"
All Snackbar related tutorials are there at this link : https://www.androidhive.info/2015/09/android-material-design-snackbar-example/
Remove toast from the code.

[2018-05-22 11:20] Poussinou commented on #17
Thanks for the report 👍

[2018-05-23 02:22] sbhandare3 commented on #58
Hi, I am working on this issue. Resetting mImageCounter solves this issue. But if we crop images first time, come back and then press crop again, images are original. Is this the way it should be? Just wanted to know. Thanks!

[2018-05-23 07:14] Swati4star commented on #58
@sbhandare3 , Pressing back means that user wants to cancel it. So, we can safely assume that on pressing 'Crop Images' again, user should get original images only.

[2018-05-24 12:47] patelrohan22 opened #66 "Demo apk is continuously getting crash"
Demo apk getting crashed on each opening

[2018-05-24 12:49] Swati4star commented on #66
Thanks for reporting the issue!

You can download the app from playstore. I will update the demo apk link.

[2018-05-24 17:37] Swati4star commented on #66
I'll be removing the sample-apk link, as we already have playstore link for the folks who wish to download the app. There is no need of updating the sample-apk link.

[2018-05-24 17:39] #66 closed

[2018-05-25 07:57] patelrohan22 commented on #66
Thanks for quick update. In  our project, we are going to add feature which
allows user to create pdf from selected images. During going through your
project I noticed that you have used "

'com.itextpdf:itextg:5.5.9' library."

I have following queries can you please can help out.

1. Is itext library paid?

2. Any alternate free pdf creator lib. which works same as iText?

3. What is the subscri

[2018-05-25 14:34] Swati4star opened #67 "camera opens up after getting persmissions."
Have a fresh install of app or clear app data
Open the app
Allow the permissions
The camera opens up. It shouldn't open up on first time.

[2018-05-26 06:45] Swati4star commented on #66
You should first checkout this link : https://developers.itextpdf.com/itextg-android

[2018-05-27 11:06] Swati4star opened #68 "Viewing order is not retained after pressing refresh."
Go to view files
Click on View order option
Select date/name
The files are ordered accordingly
Swipe the list
The files are again listed in default order

[2018-05-29 08:39] eXeeLD commented on #59
i'l get it

[2018-05-29 09:18] eXeeLD commented on #59
Can you please review my pr , i'm new to pr, and if i did something wrong, please feel free to tell me, thank you

[2018-05-29 09:59] #59 closed

[2018-05-29 10:03] eXeeLD commented on #64
Can i work on it ?

[2018-05-29 10:03] Swati4star commented on #59
Thanks to @eXeeLD ! This issue is resolved 🎆

[2018-05-29 10:06] Swati4star commented on #64
@eXeeLD Sure! You can work on this one.

[2018-05-29 11:18] #64 closed

[2018-05-29 11:19] Swati4star commented on #64
Thanks to @eXeeLD !!

[2018-06-02 11:40] #67 closed

[2018-06-03 12:19] anandkumarkparmar commented on #68
Hi @Swati4star, Can I work on this?

[2018-06-03 12:20] Swati4star commented on #68
Sure. Go ahead! Leave a comment if you get stuck somewhere.

[2018-06-03 12:21] anandkumarkparmar commented on #68
Sure... Thanks.

[2018-06-03 13:05] anandkumarkparmar commented on #68
Hi @Swati4star, I have fixed the bug. Please look into PR #74

This is my first contribution to open source project. Thanks for giving me this chance.

[2018-06-03 13:08] anandkumarkparmar commented on #65
Hi @Swati4star, Can I work on this?

[2018-06-03 15:11] Swati4star commented on #68
Welcome to the community :)

I am reviewing your PR now!

[2018-06-03 15:20] Swati4star commented on #65
Hi! yeah sure, you can work on this one. But, I would suggest doing the necessary changes for your previous PR first. 👍

[2018-06-04 05:29] subham9777 commented on #65
Hello Swati, I want to work on this and am new to open source contribution.

[2018-06-04 05:41] anandkumarkparmar commented on #65
Hi @subham9777, I have already started working on this. Can you please pick any other issue?

Welcome to the open source community dude.

[2018-06-04 05:54] Swati4star commented on #65
Hi @subham9777, @anandkumarkparmar  is already working on this. You can pick up any other issue, or you can even create a new one.

[2018-06-04 14:26] anandkumarkparmar commented on #65
Hi @Swati4star, I have two questions related to this change.

1. Some toast had duration as **_LENGTH_SHORT_** and some had **_LENGTH_LONG_**. Is it intentional? Or do you want to make it consistent across app(any one of these durations)?

2. Every message string is starting with **toast_***. Do you want to change the name of every message which we are showing with Snackbar now?

[2018-06-04 14:31] Swati4star commented on #65
1. It is not intentional. You can make the duration as per your wish.
2. Yes please, change the strings also to snackbar_*

[2018-06-04 17:31] Swati4star opened #75 "Add an option in 'View Files' to sort images by 'size' too"
Currently, we can sort the file on the basis of date and name only. Add 'size' also an additional option.

[2018-06-05 14:11] anandkumarkparmar commented on #65
Hi @Swati4star, Please review the pull request.

[2018-06-05 14:16] anandkumarkparmar commented on #75
Can I take this up, @Swati4star ?

[2018-06-05 14:27] #65 closed

[2018-06-05 14:28] Swati4star commented on #65
This issue is fixed. Thanks to @anandkumarkparmar 👍

[2018-06-05 14:28] Swati4star commented on #75
@anandkumarkparmar Yeah sure. Go ahead! 👍

[2018-06-05 14:52] anandkumarkparmar commented on #75
@Swati4star Do you want files in increasing order or decreasing order in size?

[2018-06-05 15:06] Swati4star commented on #75
![image](https://user-images.githubusercontent.com/9164477/40984564-db9ee304-68ff-11e8-947f-541c1b446209.jpg)
As attached in the screenshot, (see the name ⬆️ ).

Add both options for size:
1. Size ⬆️: increasing order
2. Size ⬇️: decreasing order

[2018-06-05 17:49] Swati4star opened #78 "UI enhancement when there are no PDFs"
When there are no PDFs, it just shows an empty screen with a text message saying 'No PDFs right now'. Enhance this UI.

Few examples of such enhancement is :
<img width="246" alt="screen shot 2018-06-05 at 11 16 29 pm" src="https://user-images.githubusercontent.com/9164477/40993291-d0fd1ce2-6916-11e8-9003-9f69cc78ee44.png">

<img width="251" alt="screen shot 2018-06-05 at 11 16 50 pm" src="https:/

[2018-06-05 17:52] Swati4star opened #79 "Change delete icon in 'View Files' section"
The delete icon looks a bit odd.
![list](https://user-images.githubusercontent.com/9164477/40993396-2a12e000-6917-11e8-80ba-ec7777bc547e.jpg)

Change this icon to look more like the 'sort' icon. Sort icon was downloaded from http://www.google.com/design/icons/

You can search for a delete icon also from there only.

[2018-06-05 18:04] Swati4star opened #80 "Remove Android Lint:Performance warning in ViewFilesFragment.java"
- Open the project in Android Studio
- Go to Analyze --> Inspect Code.
- We are getting this warning in **Android Lint:Performance**
Do not place Android context classes in static fields; this is a memory leak (and also breaks Instant Run)

<img width="1462" alt="screen shot 2018-06-05 at 11 32 08 pm" src="https://user-images.githubusercontent.com/9164477/40994014-b7331a94-6918-11e8-9eda-e209b2b1f

[2018-06-05 18:11] Swati4star commented on #75
Fixed by 9e47711626c2e660e66866a1c4ededfea6fa4b1b.
Thanks to @anandkumarkparmar 👍

[2018-06-05 18:11] #75 closed

[2018-06-05 18:12] anandkumarkparmar commented on #75
@Swati4star Suggest me any other project(s) as well, where I can contribute. Thanks.

[2018-06-05 18:14] Swati4star commented on #75
You can start digging into this project: https://github.com/project-travel-mate/Travel-Mate

[2018-06-05 18:22] anandkumarkparmar commented on #79
Hi @Swati4star, How about this icon?

![whatsapp image 2018-06-05 at 23 51 03](https://user-images.githubusercontent.com/20661863/40994968-66785d5a-691b-11e8-9639-252a9775e075.jpeg)

[2018-06-05 18:36] anandkumarkparmar commented on #80
Hi @Swati4star, Can I take this up?

[2018-06-05 18:39] Swati4star commented on #79
Fixed!

[2018-06-05 18:39] #79 closed

[2018-06-05 18:41] Swati4star commented on #80
Sure. Go ahead! 👍

[2018-06-05 18:43] Swati4star opened #82 "Add image enhancement option for rotating images."
add an option to rotate images before creating a PDF

[2018-06-06 05:29] Swati4star commented on #80
Fixed 👍

[2018-06-06 05:29] #80 closed

[2018-06-06 11:47] anandkumarkparmar commented on #61
Hi @Swati4star, is anyone working on this? Can you suggest the flow how do you want this? So, I can start.

[2018-06-06 11:51] Swati4star commented on #61
Yeah sure. You can take it up. I'll share the flow soon. Can you search, how will you create password protected PDF by the time.

[2018-06-06 12:01] anandkumarkparmar commented on #61
Yes, I have searched already.

Please refer this:
https://viralpatel.net/blogs/password-protect-pdf-itext-java/

[2018-06-06 14:37] Swati4star commented on #61
Perfect.
So, the UI I have in mind is:
We can add this as similar to the 'image enhancement options'.
Right now, you can just add a button 'Add password to the PDF', which will open up a dialog with the entry for username & password.

The UI might look bad for now. (The 'image enhancement options' -> 'Crop Images' also look a bit weird right now) Just implement this, for now, I'll look some better

[2018-06-06 14:54] anandkumarkparmar commented on #61
My Suggestion:

1. Capture photo
2. Press the button "Create PDF"
3. Show toggle button with text "Password protected PDF?" on "Creating PDF" dialog
3.1. If Toggle is yes show one EditText for entering password, then create pdf with password provided.
3.2. Else don't show EditText and create pdf without password protected.

[2018-06-06 14:59] Swati4star commented on #61
How does this look like for UI?

We can add appropriate icons for the options.
![whatsapp image 2018-06-06 at 8 24 47 pm](https://user-images.githubusercontent.com/9164477/41046522-305fd24a-69c8-11e8-9414-e6e5571fa0f6.jpeg)

This will make adding further enhancement options also easier.

[2018-06-06 15:00] anandkumarkparmar commented on #61
Looks great.

[2018-06-06 15:06] anandkumarkparmar commented on #61
Great 👍

[2018-06-06 15:23] anandkumarkparmar opened #84 "Change in the existing UI (Home Screen)"
![abc](https://user-images.githubusercontent.com/20661863/41048053-8f0a15c8-69cb-11e8-8e7d-42a00cd3bc3c.jpeg)
[](url)

Make it like this.

[2018-06-06 16:46] Swati4star commented on #84
Create a custom view for the elements ( 'Crop Images' , 'Password Protected PDF')

We will reuse this view for adding new features in the UI

[2018-06-06 16:53] Swati4star commented on #58
@sbhandare3 Are you working on it?

[2018-06-06 17:37] anandkumarkparmar commented on #84
What is the Accent color for the app?

[2018-06-06 17:38] Swati4star commented on #84
You can check the colors here :
https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/res/values/colors.xml

[2018-06-06 17:40] anandkumarkparmar commented on #84
Do you want to change the button color? ( 'Crop Images' , 'Password Protected PDF')

[2018-06-06 17:42] Swati4star commented on #84
If you think changing the color looks good, you can post the screenshot here. We can decide the final UI here now.

[2018-06-06 18:23] anandkumarkparmar commented on #84
![](https://i.imgur.com/ybndnpl.png)

[2018-06-07 02:53] Swati4star commented on #84
This is actually great. :+1:

Just a few suggestions :
1. The grey color of 'select images' button make it look like it is disabled. Can we change it back to blue only?
2. Make the text 'password *protect* PDF'
3. Password protect PDF is not a image enhancement option, so change the heading to 'More enhancement options'

[2018-06-07 08:05] aayushinigam commented on #82
When Crop Images option is selected, we do get an option for rotating it. So what exactly are you expecting?

[2018-06-07 08:23] aayushinigam opened #85 "Bug - Images which have not been cropped do not get added to pdf."
Steps to produce the bug -
1. Choose multiple images.
2. Click on Crop Images option
3. Crop only a few of them
4. Create pdf
5. Pdf is created only for those which have been cropped.Other images are discarded.

[2018-06-07 08:58] Swati4star commented on #82
@aayushinigam Thanks for it pointing it out. Rotate images option is already present.

[2018-06-07 08:58] #82 closed

[2018-06-07 09:00] Swati4star commented on #84
Change 'crop images' to 'Edit images'

This is because that option allows us to crop as well as rotate the images.

[2018-06-07 10:16] Swati4star opened #86 "New feature : Add option to 'Show details' in PDF Actions"
![screenshot_20180607-154157](https://user-images.githubusercontent.com/9164477/41093647-82310048-6a69-11e8-96b7-f5a721a72c9e.jpg)

Add one more option in this dialog
'Show details'

On clicking this option, we will get another dialog with the following details about the selected PDF :
1. Name
2. Path
3. Size
4. Date Modified
5. Date created

An example of this dialog :
![screenshot_20180607-15435

[2018-06-07 10:18] Swati4star commented on #10
We now have an 'Image Enhancement option' which allows us to crop & rotate images. The user can confirm the images from there. I think this should not be a problem now.

[2018-06-07 10:18] #10 closed

[2018-06-07 10:27] Swati4star opened #87 "Blurry icons"
![screenshot_20180607-155229](https://user-images.githubusercontent.com/9164477/41094301-717ab13e-6a6b-11e8-907d-96e17c89830c.jpg)
The Share & Rate us icon looks blurry.

[2018-06-07 10:36] Swati4star opened #88 "Add option to preview images before creating PDF"

[2018-06-07 10:37] Swati4star opened #89 "Add option to rearrange the images selected for creating the PDF"

[2018-06-07 10:45] Swati4star opened #90 "New feature : Add option to extract images from PDF"
For reference :
https://developers.itextpdf.com/examples/content-extraction-and-redaction-itext5/extracting-objects-pdf

[2018-06-07 10:47] Swati4star opened #91 "New feature : Split PDF"
Add option to split a PDF

Reference :
https://developers.itextpdf.com/examples/stamping-content-existing-pdfs-itext5/splitting-pdf-file

[2018-06-07 10:49] Swati4star opened #92 "New feature : Add watermark to the PDF"
Reference :
https://developers.itextpdf.com/examples/stamping-content-existing-pdfs/watermark-examples

[2018-06-07 14:49] Swati4star opened #93 "Aspect ratio of images is not maintained"
Add an option to do so.

- Maintain Aspect ratio, or,
- Fit to the page

[2018-06-07 14:59] Swati4star opened #94 "New feature : Set page size & margin options"
Refer this :
https://developers.itextpdf.com/examples/itext5-building-blocks/page-size

[2018-06-08 13:36] anandkumarkparmar commented on #84
Is this fine?

![](https://i.imgur.com/Oc40TCC.png)

[2018-06-08 13:38] Swati4star commented on #84
Yes. Perfect!

[2018-06-11 10:39] #84 closed

[2018-06-11 10:44] Swati4star commented on #61
@anandkumarkparmar Are you working on this now?

[2018-06-11 12:22] anandkumarkparmar commented on #61
@Swati4star yes.

[2018-06-11 13:06] Swati4star commented on #87
Fixed. Thanks to @anandkumarkparmar  👍

[2018-06-11 13:06] #87 closed

[2018-06-11 17:44] Swati4star opened #98 "Code Cleanup : Create a new class 'PDFCreator' or 'PDFUtils' for all PDF related options"
- Create a new class 'PDFCreator' or 'PDFUtils' (or some other name), and move all the PDF creation related code to this class only.

Purpose: We will add more PDF creation related APIs ( for example password protected PDF, for merging or splitting PDF ) to this class only.

[2018-06-11 17:53] Swati4star opened #99 "Code Cleanup : Move utility functions from ViewFilesAdapter to a new class 'FileUtils'"
- Move all files related functions from https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/fragment/ViewFilesFragment.java like `sortByNameAlphabetical ` , `sortFilesByDateNewestToOldest `, `sortFilesBySizeIncreasingOrder ` , `sortFilesBySizeDecreasingOrder ` , `getPdfsFromPdfFolder ` and more to a new class 'FileUtils'.

Purpose :
- Code cleanup
- Impro

[2018-06-11 18:08] Swati4star commented on #49
For reference : https://developers.itextpdf.com/examples/image-examples-itext5/reduce-image

[2018-06-11 18:14] #51 closed

[2018-06-11 18:15] Swati4star commented on #51
Removed the fdroid link now.
Now, we have playstore link for those who wish to try out the app without building the code.

[2018-06-11 18:31] Swati4star opened #100 "Bug - View files show nothing in a particular case"
1. Create one or more PDFs
2. Go to view files
3. Press home button now. Go to any directory app or acrobat, and delete all the files in PDFfiles folder
4. Come back to PDF converter app
5. Swipe the screen. It will show nothing. ( See the screenshot )

Expected: we should get 'No PDF files right now' message.

![i1](https://user-images.githubusercontent.com/9164477/41250136-ab8ed808-6dd3-11e8-8c2

[2018-06-13 19:05] Swati4star opened #102 "Bug - 'Sharing failed' message"
- Got to navigation drawer
- Click in feedback button
- Select 'Whatsapp' app. The following error message is displayed :
![screenshot_20180613-214831](https://user-images.githubusercontent.com/9164477/41372356-afc8daac-6f6a-11e8-9c27-21436c4da8de.jpg)

[2018-06-14 11:10] sholkay commented on #102
Use this in feedback function:
[code]

This will ensure that our intent is handled only by an email app (and not other text messaging or social apps).

[2018-06-14 16:22] Swati4star commented on #102
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/103

[2018-06-14 16:22] #102 closed

[2018-06-14 17:58] sholkay commented on #86
I created a dialog which will show the following details about the selected PDF:
- _Name_
- _Path_
- _Size_
- _Date Created_
But I am unable to understand and implement the _Date Modified_ part.

[2018-06-14 18:10] Swati4star commented on #86
You can leave the date modified part.

The other 4 fields are enough.

[2018-06-14 18:11] Swati4star commented on #86
Also, try to make these fields copyable. so that the user can copy the file path.

[2018-06-19 05:34] Swati4star commented on #61
Fixed by #101! Thanks to @anandkumarkparmar 👍

[2018-06-19 05:34] #61 closed

[2018-06-20 18:32] tanvidadu commented on #86
@Swati4star I think it would be helpful if we display some information like size, date of creation in the pdf converter list too. Would love to know your opinion!

[2018-06-20 18:38] tanvidadu opened #106 "Add option to Password Protect PDF after its creation"
I think it would be useful if provide users to add passwords to their files even after they have been created.
Option for this can be in the dialog box itself.
<img src="https://user-images.githubusercontent.com/29161745/41677857-2ba3806a-74e7-11e8-8fa1-e738ecb01466.png" width = "50%" height="50%" />

[2018-06-20 18:48] tanvidadu opened #107 "Add logo in the navigation Drawer"
Adding logo in the navigation drawer will improve the UI of the app. Many apps use this approach.
Example:
<img src= "https://user-images.githubusercontent.com/29161745/41678366-8640a006-74e8-11e8-8089-0554854f386b.png" width="50%" height = "50%"/>

[2018-06-20 18:50] tanvidadu opened #108 "Add a basic tutorial to explain user the functioning of app"
Add a basic tutorial explaining user the functionality of app using material showcase.

[2018-06-21 06:05] Swati4star commented on #108
Great idea.
Here are some other libraries for this:
https://github.com/wooplr/Spotlight
https://github.com/iammert/MaterialIntroView

This tutorial library also looks good:
https://github.com/msayan/tutorial-view
( we can implement something similar on our own, we don't want to be dependent on more libraries)

[2018-06-21 16:52] sholkay commented on #106
I guess we can use `passwordProtectPDF` method here that @anandkumarkparmar created after making certain changes to it.

[2018-06-22 16:34] Swati4star commented on #100
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/109. Thanks to @sholkay 👍

[2018-06-22 16:34] #100 closed

[2018-06-23 10:28] Sandip75 opened #110 "View Files"
If I have no pdf in view files  that time we can remove  delete and sort icon

![view](https://user-images.githubusercontent.com/29688336/41808614-d29b1618-76fd-11e8-82b0-0f76c73fcfe7.jpeg)

[2018-06-23 12:01] ac491 commented on #99
I would like to work on this.

[2018-06-23 12:09] Pritom14 commented on #107
I would like to work on this issue

[2018-06-23 12:21] Swati4star commented on #107
Sure. Go ahead! 👍

[2018-06-23 12:21] Swati4star commented on #99
Sure. Go ahead! 👍

[2018-06-23 12:36] Sabihashaik commented on #78
Hi! I'd like to work on a few UI Screens :)

[2018-06-23 12:39] Swati4star commented on #78
@Sabihashaik Sure. Go ahead. You can post the screen sample here on this thread only.

[2018-06-23 15:39] sholkay opened #114 "Files with the same name"
Whenever we create a file with the same name as an existing file, the content of the previous files gets overwritten.

[2018-06-23 15:47] Swati4star commented on #114
Good finding!

When user fills the filename, show a dialog (an alert informing the user that this filename already exists? and if he wishes to overwrite that one).

[2018-06-23 15:49] sholkay commented on #114
I am working on it.

[2018-06-23 15:49] Swati4star commented on #114
Great! 👍

[2018-06-23 16:13] Swati4star commented on #86
@tanvidadu Yes. It does sound good. You can create a different issue for that.

[2018-06-23 17:43] Sabihashaik commented on #78
![proposed](https://user-images.githubusercontent.com/21033484/41812141-48906bcc-772e-11e8-955b-f324c8cb1dbd.png)
![proposed2](https://user-images.githubusercontent.com/21033484/41812147-68037440-772e-11e8-96fb-e11a2ae38e46.png)
I've Attached Proposed UI Screens. @Swati4star

[2018-06-23 17:51] Swati4star commented on #99
Fixed by 06e5bb6f99fda5122a4ce05578bce9f1217477e0

[2018-06-23 17:51] #99 closed

[2018-06-23 17:51] Swati4star commented on #99
Thanks to @ac491 👍

[2018-06-23 17:56] Swati4star commented on #78
The screens look really good. @Sabihashaik Great job!!
 I have a few questions & suggestions:
- What will happen when user clicks on 'Get Started now'. That looks a lot like a button.
- Use a lighter version of the orange color.
- Add some space between the circular view & the text after that.

[2018-06-23 18:08] Sabihashaik commented on #78
-  Maybe it could be a button to take the users to the main page?<br> I can make it look like normal text if you don't want to put a button on that screen.
- Sure,  made the above mentioned changes.
<img src=https://user-images.githubusercontent.com/21033484/41812308-92f989ac-7731-11e8-8150-6c988e38d857.png width=555px height=800/>

[2018-06-23 18:09] raghavpuri31 opened #115 "Change the word "Choice Image" on the screen when clicking an image."
When you go in "Select Images" option, you can see the word "Choice Image" below notification bar. Correct this word.

![imgpdf](https://user-images.githubusercontent.com/15330327/41812334-b2ca3968-773e-11e8-98f4-02436824c57d.jpeg)

[2018-06-23 18:11] Swati4star commented on #78
Yes. Don't make it like a button.

Change 'No PDFs Yet' to 'No PDFs to show'

[2018-06-23 18:30] Swati4star commented on #78
@Sabihashaik A suggestion for the code. Keep all these strings in strings.xml file only. For other locales, you can add the english translation only.

[2018-06-23 18:30] Sabihashaik commented on #78
@Swati4star Great! :)
Do I send a PR with the updated UI Screen?

[2018-06-23 18:50] raghavpuri31 opened #117 "Hide the Password while setting it for protection."
When Password Protecting your PDF file, the password is visible. Change that text field into password field.
You can make UI for it like this:

![paschan](https://user-images.githubusercontent.com/15330327/41812638-6358d2ee-7744-11e8-85e9-156c824a11cf.jpeg)

<img width="190" alt="121" src="https://user-images.githubusercontent.com/15330327/41812630-4653dafe-7744-11e8-8d00-94baa13dca2b.png">

[2018-06-23 18:52] Swati4star commented on #117
`The user can click on the eye icon to hide or show the password.

[2018-06-23 20:24] shiv07tiwari commented on #117
I would really love to start working on this issue under GSSoC !

[2018-06-24 04:07] Swati4star commented on #117
Sure. You can 👍

[2018-06-24 17:00] uemarica commented on #108
Hey, i would like to work on it.

[2018-06-24 17:12] Swati4star commented on #108
Sure. You can start on it.

[2018-06-24 17:29] ac491 commented on #86
I would like to try to solve this issue

[2018-06-24 17:32] Swati4star commented on #86
@sholkay Are you working on this issue?

( @ac491 , If he is not working on this issue, you can pick it up)

[2018-06-24 17:51] tanvidadu opened #119 "Add information to the pdf list"
Add information like date of creation  and size of file in the list view

[2018-06-24 19:19] sholkay commented on #86
@ac491 Go ahead, I am working on something else right now.

[2018-06-24 19:50] sholkay commented on #114
I have a doubt.

- If  the file exists then we will display a new dialog which will warn the user and say that file already exists do you want to overwrite. If he clicks yes, it will overwrite the file and what to do when he clicks no?

[2018-06-25 05:33] ac491 commented on #86
![details_screen](https://user-images.githubusercontent.com/31413484/41831888-2ece34d2-7867-11e8-8499-82f5981b167c.png)
@Swati4star, Is this alright?

[2018-06-25 05:42] sholkay commented on #115
Should I change the text to "Select Image"?

[2018-06-25 05:47] Swati4star commented on #115
`Select Images`

[2018-06-25 05:51] Swati4star commented on #86
looks good. Can you add on icon(copy icon) after the path, so that the user is able to click on the icon & copy path.

[2018-06-25 05:57] Swati4star commented on #114
What you are doing right now is good. Show the dialog to rename the file.

[2018-06-25 05:59] ac491 commented on #86
I'll try it out.

The path is selectable though.

[2018-06-25 06:03] Swati4star commented on #86
I hope it's not editable.
After selecting, can I copy it?

[2018-06-25 06:08] ac491 commented on #86
yes, it's not editable and it can be copied.
![copy](https://user-images.githubusercontent.com/31413484/41833003-3453f4d2-786c-11e8-8902-1906f72580dc.png)

[2018-06-25 06:10] Swati4star commented on #86
Coo. You can leave the icon then.
There is a lot of difference between left margin of content & heading. Move the `Details` heading a bit to the left.

[2018-06-25 06:49] ac491 commented on #86
![screenshot_2018-06-25-12-17-35-768_swati4star createpdf](https://user-images.githubusercontent.com/31413484/41834429-e3aaafde-7871-11e8-9466-a4c7c3bb0e33.png)

[2018-06-25 07:59] Swati4star commented on #86
looks good. You can create a PR for this.

[2018-06-25 13:50] syedjahangirpeeran commented on #115
I would like to work on this!

[2018-06-25 13:52] raghavpuri31 commented on #115
@syedjahangirpeeran, Maybe @sholkay is already working on it. You can work on another issue.

[2018-06-25 13:59] syedjahangirpeeran commented on #115
i guess he is already working on #114  currently.

[2018-06-25 14:36] raghavpuri31 commented on #115
@syedjahangirpeeran Go ahead then!

[2018-06-25 15:46] sholkay commented on #115
@syedjahangirpeeran Sorry, but I already fixed this bug and also created a pull request for it.

[2018-06-25 18:04] Swati4star commented on #78
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/123
Thanks to @Sabihashaik 👍

[2018-06-25 18:04] #78 closed

[2018-06-26 08:17] Swati4star commented on #62
Sure. Go ahead 👍

[2018-06-26 08:31] Swati4star commented on #62
- This is kind of a big feature, so adding it on long click in View files menu won't make it easily discoverable. I would suggest adding it somewhere on the home screen only, or adding it as a new option to navigation drawer

- I think, it should be extended to all the PDF files present in the user's device.

[2018-06-26 08:46] Swati4star commented on #62
@Sabihashaik
Add new option in navigation bar only : `Merge PDF`
and change `Home` to 'Create PDF`

[2018-06-26 09:10] Sabihashaik commented on #62
@Swati4star Sure.

[2018-06-26 09:49] ashish4321 commented on #85
Can i work on it?

[2018-06-26 09:50] Swati4star commented on #85
Sure. Go ahead 👍

[2018-06-26 09:54] ashish4321 commented on #85
Can you explain what has to be done?

[2018-06-26 09:55] Swati4star commented on #85
- Are you able to reproduce the issue? Follow the steps mentioned above.
- Figure out why is it happening.

[2018-06-26 17:24] Swati4star commented on #117
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/126

[2018-06-26 17:24] #117 closed

[2018-06-26 17:33] shiv07tiwari commented on #119
Can I start working on this issue ?

[2018-06-26 17:34] Swati4star commented on #119
Sure. You can. 👍

[2018-06-28 05:42] shiv07tiwari commented on #119
@Swati4star  In the date last modified, should I display only the date or time as well ?

[2018-06-28 06:14] Swati4star commented on #119
@shiv07tiwari Can you post a screenshot of how it is looking right now?

[2018-06-28 06:33] shiv07tiwari commented on #119
![img_20180628_120333](https://user-images.githubusercontent.com/38163725/42017003-321568ac-7acb-11e8-8963-7796cd79657d.JPG)

[2018-06-28 06:35] Swati4star commented on #119
add comma(,) after `thu`
and write time as well (would love to see the screenshot first; hope it doesn't look messy)

[2018-06-28 06:48] shiv07tiwari commented on #119
Okay, what should be the format for time
![img_20180628_122051](https://user-images.githubusercontent.com/38163725/42017620-5f9e9292-7acd-11e8-8d55-d955089ddd43.JPG)

@Swati4star  Added time

[2018-06-28 07:05] Sabihashaik commented on #62
@Swati4star For the Icon for the Nav Menu which one do you prefer?

![baseline_picture_as_pdf_black_18dp](https://user-images.githubusercontent.com/21033484/42018215-6d2d2a8c-7ac2-11e8-8728-aa3b525d9be8.png)
![baseline_call_merge_black_18dp](https://user-images.githubusercontent.com/21033484/42018435-2a4e7f12-7ac3-11e8-8185-5a7cd36735bd.png)

[2018-06-28 07:11] Swati4star commented on #119
Is the time in 24 hr format?

[2018-06-28 07:13] Swati4star commented on #62
The second one looks good. 👍

[2018-06-28 07:45] shiv07tiwari commented on #119
@Swati4star  Yes.

[2018-06-28 10:00] Swati4star commented on #119
There is a space between Thu & ,
Remove that.
Other than that, it looks good

[2018-06-28 14:38] Swati4star commented on #119
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/128

[2018-06-28 14:38] #119 closed

[2018-06-28 14:41] Swati4star commented on #110
@Sandip75 is already working on this issue in https://github.com/Swati4star/Images-to-PDF/pull/116

@shiv07tiwari You can pick up any other issue

[2018-06-28 14:41] shiv07tiwari commented on #110
Okay

[2018-06-28 14:42] shiv07tiwari commented on #106
Can I work on this issue ?

[2018-06-28 14:44] Swati4star commented on #106
Sure @shiv07tiwari 👍

[2018-06-28 15:12] Swati4star opened #129 "Add option to search PDF"
- In `View files`, add a search bar on the action bar
- Add option to search PDF

[2018-06-28 15:16] Swati4star opened #130 "Share multiple files in one go"
- In`View Files` option, users can select multiple files by clicking on the checkbox
- Add a share option at top that allows user to share multiple files in one go

[2018-06-28 15:21] Swati4star opened #131 "Catch files shared via another image viewing app"
Allow user to do the following :
- User can view images in `some` application & click on share option
- Our application should appear as an option to `Convert to PDF`
- On clicking this, our `PDF Converter` app should open up on home page with those images selected. ( A message should appear saying that those images are already added & user can just click on `Create PDF` and PDF will be created)

[2018-06-28 17:01] Swati4star opened #132 "Include Android unit testing for FileUtils class"
- Add unit tests for all the functions in the `FileUtils` class
- Include `./gradlew test` in .travis.yml

[2018-06-29 08:28] #86 closed

[2018-06-29 10:03] ac491 commented on #129
I would like to try to solve this issue

[2018-06-29 11:46] anandkumarkparmar commented on #130
Hi @Swati4star, I would like to work on this feature. May I?

[2018-06-29 11:54] anandkumarkparmar commented on #98
@Swati4star Can I work on this?

[2018-06-29 12:07] Swati4star commented on #130
Please take up any one issue. Either this one or #98

[2018-06-29 19:07] ac491 commented on #129
I have added the search icon which when clicked opens edit text.
![screenshot_2018-06-30-00-27-20-696_swati4star createpdf](https://user-images.githubusercontent.com/31413484/42109951-13cd3c84-7bfd-11e8-8c9f-c9e1d3ac6d5f.png)

As the user types the search query, the listView is dynamically updated

![screenshot_2018-06-30-00-26-38-442_swati4star createpdf](https://user-images.githubusercontent.com

[2018-06-30 04:55] Swati4star commented on #129
@ac491 This looks amazing!
Just one thing, when user has clicked on the search bar, shouldn't we hide the `delete` and `sort` icon. There appears to be so many icons on the action bar at that time.

[2018-06-30 05:09] Swati4star commented on #130
@anandkumarkparmar Which issue are you working on then?

[2018-06-30 06:02] ac491 commented on #129
It's a submit button

[2018-06-30 06:02] Swati4star commented on #129
Okay :+1:

[2018-06-30 08:37] anandkumarkparmar commented on #130
@Swati4star I am working on this issue now. Later I will pick another one.

[2018-06-30 08:38] Swati4star commented on #130
Great :+1:

[2018-06-30 08:43] Swati4star commented on #130
Add 3 dots to the right. Move share & option over there only. The action bar will get quite messed up with so many options.

[2018-06-30 08:59] anandkumarkparmar commented on #130
sure 👍

[2018-06-30 09:19] ac491 commented on #129
I tried to implement onClick listener with searchView to remove the other icons when the search icon is pressed but it doesn't seem to work with searchView. Do you have some suggestions on how should I implement it

[2018-06-30 09:21] Swati4star commented on #129
Move search icon to leftmost. Don't hide sort or delete for now. We'll move them to extra settings options ( 3 dots on the right)

[2018-06-30 11:01] ac491 commented on #129
![screenshot_2018-06-30-16-24-58-022_swati4star createpdf 1](https://user-images.githubusercontent.com/31413484/42124578-c02da592-7c82-11e8-9785-84901ab04796.png)

![screenshot_2018-06-30-16-25-03-798_swati4star createpdf 1](https://user-images.githubusercontent.com/31413484/42124566-9c13eb58-7c82-11e8-90e0-638363b96e22.png)

[2018-06-30 11:04] Swati4star commented on #129
Awesome! @ac491 You can create a PR for this 👍

[2018-06-30 11:11] ac491 commented on #129
Where should I display a message when no PDF matches the search query?

[2018-06-30 11:12] Swati4star commented on #129
A toast or snackbar would be enough.

[2018-06-30 11:12] ShrreyaBehll commented on #110
May I work on this issue?

[2018-06-30 13:05] Swati4star commented on #106
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/134 👍

[2018-06-30 13:05] #106 closed

[2018-06-30 13:11] #129 closed

[2018-06-30 13:16] shiv07tiwari commented on #49
Can I start working on it @Swati4star  ?

[2018-06-30 13:17] Swati4star commented on #49
Sure @shiv07tiwari 👍

[2018-06-30 13:37] shiv07tiwari commented on #49
Exactly where should I add this feature ?

[2018-06-30 13:38] Swati4star commented on #49
In the home page only, where we have crop images & password protect PDF option

[2018-06-30 13:38] shiv07tiwari commented on #49
Okay !

[2018-06-30 13:42] Swati4star opened #136 "Create directory type structure in view files"
Following should be implemented in this feature:
- The `View Files` should have an option to create a directory
- The user should be able to move PDFs inside that directory or from that directory to home directory
- Removing the directory option should also be there
- By default, new PDF should be created where it is getting created right now

[2018-06-30 13:51] Swati4star opened #137 "Show conversions history"
- Add a new option in the navigation bar `History`
- It should have the following type of operations performed by the user in chronological order :
     - PDF created
     - PDF renamed
     - PDF deleted
     - PDF printed
     In each time, show the name of the PDF & the date when the operation was performed.
- Add an option on the action bar to delete this history also. ( Add a confirmation dia

[2018-06-30 14:07] Swati4star opened #138 "Add an option to create grayscale PDF"
Add a new option in `More Enhancement options` to create grayscale PDFs

[2018-06-30 16:01] Sabihashaik commented on #62
@Swati4star Hi! I'm still working on this issue, sorry for any delay since I was running into an issue with the PDF File Paths. I managed to get that working though. :)
I'll work on the layout a little bit and send a PR quite soon.

[2018-06-30 16:15] Swati4star commented on #130
Fixed by #139! Thanks to @anandkumarkparmar 👍

[2018-07-01 05:18] Swati4star commented on #108
@uemarica Any updates?

[2018-07-01 05:18] Swati4star commented on #85
@ashish4321 Any updates? It's a cakewalk issue. Shouldn't take 5 days.

[2018-07-01 05:45] ashish4321 commented on #85
Which images to chose and how to crop the images?? I am not getting any idea?? Cn you pls help?? What has to be done and how?

[2018-07-01 05:46] Swati4star commented on #85
Did you even download the app?
( Connect on slack. )

[2018-07-01 17:33] uemarica commented on #108
Yeah, working on it
Used various libraries but nothing seem to be that impressive so finally will be using fragments like "ola" does

[2018-07-01 17:34] Swati4star commented on #108
It's been a week. If you face any problem, comment here only.

[2018-07-01 20:14] shiv07tiwari commented on #49
Some doubts  :
1. The pdf can be compressed only when the pdf is already created, so I should add a toast asking the user to first create the pdf , if they press the option without doing so (as the option is below password protect pdf) ?
2. We have to keep both(compressed and uncompressed) files or just compressed file ?
(If both, what should be the name of compressed one ?)

[2018-07-02 05:18] Swati4star commented on #49
@shiv07tiwari Sorry for putting up the wrong reference link. This feature will be added in `Other enhancement options` in the home page only.
'Compress image`: By default it should be 100%.
The user should be allowed to enter (in %) the compression level of image. Compress the images accordingly then, before creating PDF

(Reference: https://stackoverflow.com/questions/18545246/how-to-compress-ima

[2018-07-02 05:50] shiv07tiwari commented on #49
@Swati4star  I saw the reference, and found a nice library for image compression.
https://github.com/zetbaitsu/Compressor
Can I use this library ?

[2018-07-02 06:07] Swati4star commented on #49
Sure @shiv07tiwari
Use the library

[2018-07-02 08:24] #62 closed, assigned to nobody

[2018-07-02 09:08] Sabihashaik commented on #42
@Swati4star Hi! I'd like to give this feature a try. :)
I was thinking of using a library for the filters, [Zomato Android Photo Filters.](https://github.com/Zomato/AndroidPhotoFilters)

[2018-07-02 09:10] Swati4star commented on #42
@Sabihashaik
The library looks good! You can start with this one 👍

[2018-07-02 14:50] raghavpuri31 opened #142 "Disable "Create PDF" Button when no image is selected."

[2018-07-02 15:07] raghavpuri31 opened #143 "Remove "Images added" toast even when no image is being selected."
When no image is selected and we tick-check it, it still says image added. Remove it.
![issue]
(https://user-images.githubusercontent.com/15330327/42171722-adbbb2e4-7e37-11e8-978c-383d27b4a718.gif)

[2018-07-02 15:17] raghavpuri31 opened #144 "Prevent navigation of "Main" to "Choose image", when name of the PDF file is left blank."
When images are selected and we leave blank for the name of PDF file it goes back to choose images activity.  It should stay on same activity.

[2018-07-02 15:30] ShrreyaBehll commented on #142
Hi! Once 'Create PDF' button is clicked(when no images are selected) a snackbar shows up,does this is issue involves only disabling of the button or any other enhancement too?

[2018-07-02 15:37] Swati4star commented on #142
No. just disable the button when there are no images selected.

[2018-07-02 15:39] ShrreyaBehll commented on #142
May I work on this?

[2018-07-02 15:40] Swati4star commented on #142
Sure @ShrreyaBehll 👍

[2018-07-02 21:08] Kirti0808 commented on #115
I would like to work on this issue if noone is working on it

[2018-07-02 21:10] raghavpuri31 commented on #115
@Kirti0808 Sorry it's been fixed, but you can go ahead and check other issues..

[2018-07-03 02:57] Swati4star commented on #115
No @raghavpuri31, the issue has not been fixed (otherwise it would have been closed)

@Kirti0808 you can start with this issue. (You can take help from #122 )

[2018-07-03 05:07] kvsjxd opened #145 "Add themes to the app that can be chosen by the user"
Add themes to the app that can be chosen by the user like:

1) Black (Also known as AMOLED theme)
2) Dark
3) White (Already exists)
4) Any other variation(s) that you think would look good

[2018-07-03 05:23] kvsjxd opened #146 "Improving UI for devices with 5.x Inch or smaller screen"
UI should be improved for devices with 5.x Inch or smaller screen, I attached screenshots I took on such device i.e. Galaxy S5. The UI feels very cramped if you see camera output on UI. Also the portion of XML where "No Image is written" is taking up a lot of screen space.
![screenshot_pdf_converter_20180703-104317](https://user-images.githubusercontent.com/17274550/42200074-4fcaf28a-7eaf-11e8-92d

[2018-07-03 05:52] Swati4star commented on #146
@kvsjxd The explanation is not that clear. Give specifics of what you want in the issue.

PS: Don't add GSSoc in issue name. It is open to other people also to take up. I have added GSSoC label

[2018-07-03 06:16] kvsjxd commented on #146
Sorry for not being clear, as you can see in the new image, I have marked the areas where the screen space is being wasted.
1) The black area that I marked in the box is wasting screen space, can we expand camera canvas to cover up the black area?
2) The white area in the bottom that I marked is very large, can we minimize that area horizontally and give more screen space to the camera canvas?

![

[2018-07-03 06:18] Swati4star commented on #146
Right now, we are using a library TedPicker for above screen. I don't think we can add it these enhancements in that library.
So, we'll have to implement the whole image picker & camera clicking UI ourselves, if we want it to be this much customizable.

[2018-07-03 08:10] Kirti0808 commented on #115
Yes sure...i will be working on it then.
Thank you.

On 03-Jul-2018 8:27 AM, "Swati Garg" <notifications@github.com> wrote:

[2018-07-03 09:14] Swati4star commented on #146
I'll add a topcoder tag. It's gonna take up a lot.

[2018-07-03 12:06] kvsjxd opened #147 "Add app shortcuts for Android 7.0 and up"
Define shortcuts to specific actions in app. These shortcuts can be displayed in a supported launcher. Shortcuts let your users quickly start common or recommended tasks within the app. You can see the screenshot for reference. We can add shortcuts for actions like:
1) Select PDF (The action will make user select images first)
2) View Files
3) Merge PDF
4) [Any other feature]

For more information

[2018-07-03 12:08] kvsjxd opened #148 "Add adaptive icon support for Android 8.0 and up"
Android 8.0 (API level 26) introduces adaptive launcher icons, which can display a variety of shapes across different device models. For example, an adaptive launcher icon can display a circular shape on one OEM device, and display a squircle on another device. Each device OEM provides a mask, which the system then uses to render all adaptive icons with the same shape. Adaptive launcher icons are

[2018-07-03 12:24] kvsjxd opened #149 "Use same font throughout the whole app"
In View Files layout a different font is being used. Please keep a standard font throughout the whole app.
![screenshot_pdf_converter_20180703-174529](https://user-images.githubusercontent.com/17274550/42219609-1d33f0fc-7eea-11e8-804f-bcaf97f7615b.png)

[2018-07-03 12:34] kvsjxd opened #151 "Add ability to watermark the images when creating a PDF"
Adding ability to watermark the images/PDF with user defined text or image. The user can be given a slider to set the opacity of the watermark.

[2018-07-03 12:42] kvsjxd opened #152 "Add ability to remove the existing password from a PDF file"
Adding the ability to remove the password from an existing PDF file either created using this app or some other app (of course user must know the password of the file before doing this operation). After removing the password of the file, the app can offer the user to overwrite the existing PDF file or save unlocked PDF as an another PDF file.

[2018-07-03 12:56] kvsjxd opened #153 "Remove some TextViews from Merge PDF"
Remove the following TextViews from Merge PDF since they are destroying the aesthetics of the app since they don't seem to be useful:

1) File Path for PDF one
2) File Path for PDF two
3) Files present on SD Card are supported.

Alternatively we can use SharedPreferences to detect if the user is viewing the Merge PDF screen for the first time and show 3rd TextView in that case or even show it as a

[2018-07-03 13:19] Swati4star commented on #151
Duplicate issue : https://github.com/Swati4star/Images-to-PDF/issues/92

[2018-07-03 13:19] #151 closed

[2018-07-03 13:20] Swati4star commented on #149
Remove all the custom fonts used in the app. Let there be default font only, everywhere.

[2018-07-03 14:18] Swati4star opened #154 "[Bug] Nothing happens when we try to add password to already password protected PDF"
### Steps to reproduce
- Go to `View Files`
- Click on any pdf ( abc.pdf for example)
- Click `Add password`. Write a password
- A new pdf `abc_encrypted.pdf` is created
- Now, click on `abc_encrypted.pdf`
- Click `Add Password`. Type a password.
- Snackbar shows `Password added`, but nothing happens in the listing.

### Expected behaviour
- Show a snackbar with the error message `Password could n

[2018-07-03 14:20] kvsjxd opened #155 "Make refresher appear in front of all the widgets in View Files layout"
As you can see in the screenshot, the pull down refresher appear behind the yellow circle in View Files layout when pulling down to refresh. Make it appear in front of the circle when pulling down (for reference I'm using 5.1 inch screen device).
![screenshot_pdf_converter_20180703-191618](https://user-images.githubusercontent.com/17274550/42225473-3ec78cd2-7efa-11e8-97ec-bafb8650e076.png)

[2018-07-03 14:21] Swati4star commented on #152
Reference : https://developers.itextpdf.com/examples/security-itext5/encrypting-decrypting-pdfs#1056-decryptpdf.java

[2018-07-03 14:24] kvsjxd opened #157 "Use a button instead of a simple TextView in View Files"
As you can see view files in the screenshot, you should remove the "Get Started Now" TextView and instead use a button to select images (the same thing that is performed by using select images button in Create PDF layout).
![screenshot_pdf_converter_20180703-191629](https://user-images.githubusercontent.com/17274550/42225734-df584a42-7efa-11e8-939b-9032bf9497cd.png)

[2018-07-03 14:27] Swati4star opened #158 "[Bug] Encrypted PDF gets overwritten in case same pdf is encrypted again"
### Steps to reproduce
- Go to View Files
- Click on any pdf ( abc.pdf for example)
- Click Add password. Write a password
- A new pdf `abc_encrypted.pdf` is created
- Again, click on abc.pdf & select `Add password`
- Type new password & click ok
- The previous file `abc_encrypted.pdf` is overwritten

### Expected behavior
Create a new `abc_encrypted[some unique number].pdf`. Don't overwrite exist

[2018-07-03 15:11] kvsjxd opened #159 "Add ability to select images from a zip archive and create a PDF out of those images"
The app should be able to to select images from a zip archive and create a PDF out of those images.

Tip: The order of images to create PDF can be found easily by examining the order of images by their file names i.e. alphabetical order.

Note: There is a high possibility of images to have numerals and symbols in their file names, so look out for those conditions too!

[2018-07-03 15:24] gibcheesepuffs opened #160 "Add support to convert PDF to and from other file formats"
The app should be able to do the following tasks in this issue:
1) Convert PDF to and from below given file formats.
2) Join group of images together in the given file formats.
3) Convert the below given file formats to PDF.
4) Extract images from the below given file formats.
5) Extract images from the below given file formats and archive them to zip.
6) Convert the PDF to set of images and archi

[2018-07-03 17:17] Sabihashaik commented on #42
@Swati4star I might have to use a new activity with a few fragments on it to get the sliding view for the filters like in instagram. Is that okay? Since I noticed as of now there is only 1 activity (The main Activity).

[2018-07-03 17:49] kvsjxd opened #162 "Add about screen"
Add about screen in the app to display important information like:

* Developer name/profile
* Version
* Libraries used
* Report issue
* Contact
* GitHub repository link
* Google Play/F-Droid link
* Contributor list
* License/Restrictions
Etc.

[2018-07-03 18:32] Kirti0808 commented on #115
Should I update the image in Step 2 of README.md ([https://github.com/Swati4star/Images-to-PDF/blob/master/README.md](url))

[2018-07-04 03:00] gibcheesepuffs opened #164 "Add cloud storage support"
Add support for the following features:
* Selecting images from cloud storage services.
* Uploading PDF(and other file formats) natively from this app to cloud storage services.

Cloud Services that can be supported:

* Google Drive
* MEGA
* OneDrive (SkyDrive)
* Dropbox
* Box
* Amazon Cloud Drive
* GMX
* MediaFire
* pCloud
* SugarSync
* ownCloud
* Flickr

Resources:
https://developers.google.com/

[2018-07-04 03:12] kvsjxd opened #165 "Add image marking/doodling support"
Add image marking/doodling support in Edit Images and PDFs. You can take reference from the difference between the two attached images.
![screenshot_pixel_launcher_20180704-083111](https://user-images.githubusercontent.com/17274550/42254746-b75f2de8-7f37-11e8-9cef-2a9945c477ef.png)
![img-20180704-wa0002](https://user-images.githubusercontent.com/17274550/42254796-f38f8fb0-7f37-11e8-87d1-da6ab5dd2e

[2018-07-04 05:38] #115 closed

[2018-07-04 08:36] shiv07tiwari commented on #152
Can I start working on this issue ? @Swati4star

[2018-07-04 08:38] Swati4star commented on #152
Yeah sure. Add this option in the view files section only.

When I click on the PDF, add the option `Remove Password`.
Do check that the PDF should already be a password protected PDF. Then, show an alert with the password.
If everything is correct, create a new pdf (abc_unencrypted.pdf)

[2018-07-04 08:44] shiv07tiwari commented on #152
Should i force the user to enter password if he wants to decrypt the pdf ?

[2018-07-04 08:44] Swati4star commented on #152
You won't be able to decrypt the PDF with the password.

Regards,
Swati Garg

On Wed, Jul 4, 2018, 2:14 PM Shivansh Tiwari <notifications@github.com>
wrote:

[2018-07-04 08:46] shiv07tiwari commented on #152
No, I am saying for security purpose, i can allow the user to decrypt only when he enters the password

[2018-07-04 12:09] Sabihashaik commented on #42
@Swati4star I think you accidentally referenced the wrong issue.  You were supposed to reference #49

[2018-07-04 12:12] Swati4star commented on #42
oh yes! @Sabihashaik I'll reword that commit.

[2018-07-04 14:12] #49 closed

[2018-07-04 15:51] #58 closed

[2018-07-04 15:51] Swati4star commented on #85
Fixed by ee949163bf3ea62af5e4df340e7c60730e1a0902

[2018-07-04 15:51] #85 closed

[2018-07-04 16:00] Swati4star commented on #164
Is there any library or service which can provide this support?

[2018-07-04 16:30] Swati4star commented on #162
Can you provide a sample UI for this? @kvsjxd

[2018-07-04 16:56] Swati4star opened #166 "Add an option to change default value of image compression"
- Select few images
- Click `compress the image` option

### What to do?
- Add a new checkbox in that dialog `Set as default`
- By default, that checkbox should be set to off
- If the user selects that checkbox, save that quality value in shared preferences
- Use the new default value from then (current default is 30)

[2018-07-04 17:47] kvsjxd commented on #164
I updated the issue

[2018-07-04 17:47] kvsjxd commented on #164
I updated the issue.

[2018-07-04 17:52] kvsjxd commented on #162
You can take reference from these apps
![screenshot_fasthub-libre_20180704-225021](https://user-images.githubusercontent.com/17274550/42290069-bd456e58-7fe0-11e8-9fb5-c92fddcd0bef.png)
![screenshot_fasthub-libre_20180704-225026](https://user-images.githubusercontent.com/17274550/42290073-c07beeda-7fe0-11e8-9428-36260376ae5a.png)
![screenshot_xda_20180704-225043](https://user-images.githubuserconte

[2018-07-04 21:05] tanvidadu commented on #165
Is there any specific library that can be used?

[2018-07-05 03:13] kvsjxd commented on #165
Try using DrawingView class

[2018-07-05 05:00] kvsjxd commented on #165
There is a tutorial on that, see if it helps https://code.tutsplus.com/tutorials/android-sdk-create-a-drawing-app-touch-interaction--mobile-19202

[2018-07-05 09:50] ac491 commented on #131
I would like to try to solve this issue

[2018-07-05 09:59] vyankatesh24 commented on #155
I would like to work on this

[2018-07-05 10:00] Swati4star commented on #155
Sure @vyankatesh24 👍

[2018-07-05 10:34] Swati4star commented on #155
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/168

[2018-07-05 10:34] #155 closed

[2018-07-05 10:41] Swati4star commented on #108
This library looks good, if anyone want to use for this issue: https://github.com/apl-devs/AppIntro

[2018-07-05 10:47] Swati4star commented on #147
The following library can be used for this purpose : https://github.com/MatthiasRobbers/shortbread

[2018-07-05 10:51] Swati4star commented on #42
You can this library also : https://github.com/burhanrashid52/PhotoEditor

[2018-07-05 10:54] Sabihashaik commented on #42
@Swati4star Yes, I came across this one as well.

[2018-07-05 11:39] Swati4star commented on #131
Sure @ac491 👍

[2018-07-05 15:24] kvsjxd commented on #147
According to me it should be tagged as cake walk. Also we don't really need a library to do this.

[2018-07-05 15:56] Swati4star commented on #147
I'll make in intermediate.

[2018-07-05 16:18] eddygta17 commented on #143
Can I be assigned this @Swati4star ?

[2018-07-05 16:19] Swati4star commented on #143
Sure @eddygta17
You can work on this.

[2018-07-05 18:17] Sabihashaik commented on #42
@Swati4star The library you mentioned only takes images from resources, file or (Picasso/Glide). So If I'm trying to set the Images which are already selected to have filters, since the library sets the image/drawable to the ImageView and then applies filter to it, I'm not quite sure how to make it accept URIs, could you please clarify a little bit?

So far, I'm able to apply Filters to images. Ju

[2018-07-05 18:19] ac491 commented on #131
Hey, I tried implementing it. when the files are shared from other app, we get an arrayList of uris in mainActivity. I pass this arraylist to the homeFragment using a bundle. In homeFragment, I simply add the arrayList to mTempUris. It works for images shared from gallery but does not work for other app like whatsapp. The Uri of the images shared from whatsapp are not showing the real path due to

[2018-07-05 18:33] kvsjxd opened #169 "3 dot menu is only shown in View Files activity"
3 dot menu is only shown in View Files activity and not shown on:
* Main Screen
* Merge PDF
Make it accessible via these two activities too.

[2018-07-06 05:29] Swati4star commented on #42
@Sabihashaik you can get file path from Uri, and can convert it to bitmap. You can then set it to imageview. After the filter is applied, you may save the new image (with effects) in user's gallery. and use the new Uri.

Am I able to solve the problem or is there any confusion?

[2018-07-06 05:32] Swati4star commented on #131
` It works for images shared from gallery but does not work for other app like whatsapp. `
Why is it happening? Do we not have the required permissions?

`The Uri of the images shared from whatsapp are not showing the real path`
I am not able to get this. what uri are we getting for whatsapp images?

[2018-07-06 05:34] Swati4star commented on #169
@kvsjxd The issue is not clear. What do you want in the 3 dot menu for the main screen & merge PDF?
There is a reason the menu is not there (because we don't have any settings to be applied for these screens)

[2018-07-06 05:55] ac491 commented on #131
![img_20180706_112125](https://user-images.githubusercontent.com/31413484/42362069-306a4712-810f-11e8-87da-f284047ab38d.jpg)
This is what i get from uri.getPath for whatsapp images

[2018-07-06 06:02] Swati4star commented on #131
@ac491 I think this link might help https://www.dev2qa.com/how-to-get-real-file-path-from-android-uri/

[2018-07-06 06:06] Swati4star commented on #131
@ac491 If that doesn't help, you may look into this : https://ebaytech.berlin/receiving-shared-content-on-android-823e9d1286ee

[2018-07-06 06:18] ac491 commented on #131
Thanks, I will try them out

[2018-07-06 06:44] Sabihashaik commented on #42
@Swati4star  Thank you, I'll give this method a try.

[2018-07-06 13:55] vyankatesh24 commented on #166
Hi @Swati4star
I will work on it

[2018-07-06 14:03] Swati4star commented on #166
Sure.

[2018-07-06 14:07] kvsjxd commented on #169
I meant that the 3 dot menu is visible only on View Files screen, how about moving compression settings to a new activity and make that activity accessible via menu? Because assuming most of the users won't be changing default compression settings anyway.

[2018-07-06 17:34] Swati4star commented on #169
The compression setting should be on main page only. That setting is required while creating PDF. So, it should definitely be on main page only.

[2018-07-06 18:20] milisharma27 opened #172 "Camera Rotation"
There should be an availability of camera rotation. As in, when we change the orientation of the mobile screen to click an image in a portrait form, the camera should be flexible enough to flip itself according to the movement of the phone.

[2018-07-06 18:25] milisharma27 opened #173 "Allow users to edit images in preview mode"
After cropping the clicked or selected image, a preview of the edited image should be visible to the user so that he/she can check the image accordingly before converting to PDF.

[2018-07-06 18:31] Pratul1997 commented on #173
@milisharma27 These features are good, can you highlight me whether we require another layer of confirmation of edited image before we finalize the conversion to PDF?

[2018-07-06 18:36] milisharma27 commented on #173
@Pratul1997 Yes, we do require one more step of confirmation before converting to PDF because once the PDF is created, we won't have an option to edit it later on.

[2018-07-06 18:39] Swati4star commented on #173
@milisharma27 is your issue different from https://github.com/Swati4star/Images-to-PDF/issues/88?

[2018-07-06 18:43] milisharma27 commented on #173
@Pratul1997 Yes, a little bit. #88 is an issue to preview the PDF in making before the final conversion. I have put an issue to have a preview of the edited(cropped/rotated) image before saving the changes to the image before using it for PDF conversion.

[2018-07-06 18:45] Swati4star commented on #173
I think it's exactly the same issue. Both have the same purpose. Both allows user to view final images just before creating PDF.

[2018-07-06 18:48] milisharma27 commented on #173
@Swati4star I mean, if the user is dissatisfied with the edited image, he/she can change at that moment before viewing the rough module of PDF to be converted.

[2018-07-06 18:48] Swati4star commented on #172
Are you talking about the black space that comes before & after the picture area? Because, I think camera is rotating well as per the needs.

[2018-07-06 18:50] Swati4star commented on #173
I don't think showing 2 different previews is gonna be helpful. The rough PDF preview is also going to show what final images will look like & your preview is also going to do that only.

[2018-07-06 18:50] Pratul1997 commented on #173
@milisharma27 @Swati4star but while trying to crop the image I was not able to manually crop my image and see the image after cropped and being converted to PDF?

[2018-07-06 18:57] Swati4star commented on #169
The issue is not very informative. Create separate issue for the specific option you want in different screens to be present on a particular screen and it's purpose.

[2018-07-06 18:57] #169 closed

[2018-07-06 19:01] Swati4star commented on #173
I am updating the issue title & description.

The issue is:

User should be allowed to edit images in preview mode. (This can only be implemented after the preview mode is ready)

[2018-07-07 02:38] eddygta17 commented on #143
@Swati4star Please take a look.

[2018-07-07 06:39] milisharma27 commented on #173
Okay @Swati4star
Kindly make the required changes in the way the issue can be more elaborative to the audience.

[2018-07-07 08:41] ac491 commented on #131
I tried many different methods but nothing seems to work for whatsapp images. I have written a simple method which gets the path from meta data stored in MediaStore, but it still does not work for whatsapp images (but it does work for google photos). I also tried to get the bitmap directly from the inputstream instead of getPath() but it still does not work.

[2018-07-07 10:19] Swati4star commented on #131
Then, don't add whatsapp images. Just show the error message, `We could add only x of y images. Please select more images from our **Select Images**` option.

[2018-07-07 10:43] Sabihashaik commented on #42
@Swati4star I figured out the error. Sorry for any delay, I'll send a PR quite soon :)

[2018-07-07 10:47] Swati4star commented on #42
Awesome!

[2018-07-07 11:48] Swati4star opened #176 "[New Feature] Convert webpage to PDF"
Add option to convert a webpage to PDF.
The process should be like this:
- Add a new option in the navigation drawer `Webpage to PDF`
- There should be an option to enter a URL
- If the URL is invalid, show appropriate error message
- If it's a valid URL, open a dialog for user to enter the name of PDF.
- When PDF is created, show the snackbar (similar to what happens on home page)

Reference:
htt

[2018-07-07 11:50] Swati4star commented on #172
@milisharma27 ?

[2018-07-07 11:54] Swati4star opened #177 "[New Feature] Convert text to PDF"
Add option to convert a webpage to PDF.
The process should be like this:
- Add a new option in the navigation drawer `Text to PDF`
- There should be an option to select text file
- On clicking it, the file picker should open up
- When PDF is created, show the snackbar (similar to what happens on home page)

Reference:
https://developers.itextpdf.com/content/itext-7-examples/itext-7-differences-ite

[2018-07-07 13:12] Swati4star commented on #152
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/178

[2018-07-07 13:12] #152 closed

[2018-07-07 15:06] shiv07tiwari commented on #158
I am working on this issue @Swati4star .

[2018-07-07 15:07] Swati4star commented on #158
Sure 👍

[2018-07-07 15:50] kvsjxd commented on #172
Issue not clear enough.

[2018-07-07 16:35] Swati4star commented on #158
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/181

[2018-07-07 16:35] #158 closed

[2018-07-07 16:41] #131 closed

[2018-07-07 16:57] shiv07tiwari commented on #176
Can I work on this issue ?

[2018-07-07 17:43] Swati4star commented on #176
Sure @shiv07tiwari

[2018-07-08 04:21] Swati4star commented on #172
Similar to this then https://github.com/Swati4star/Images-to-PDF/issues/146

[2018-07-08 09:34] #172 closed

[2018-07-08 09:36] milisharma27 commented on #172
Maybe. It is kind of a part of #146.

[2018-07-08 09:45] milisharma27 opened #182 "Access to saved converted PDF for merging PDF"
There should be an access to the (converted) PDF files which are saved in the space provided by the app, for merging PDF files as they can only use those files which are on SD card..

[2018-07-08 09:52] Swati4star commented on #182
### What to do in this issue?
- The merged PDF should be listed in the `View Files` tab
- When merging files, user should be allowed to choose from all PDF files (not just on SD card)

Is there anything else I missed in above 2 points @milisharma27 ?

[2018-07-08 10:06] milisharma27 opened #183 "Display number of images selected"
In order to enhance the app, we could show the number of selected images for PDF conversion.

[2018-07-08 16:13] milisharma27 commented on #182
It's right. I think no point is missed out regarding this issue.

[2018-07-08 16:59] #93 closed

[2018-07-08 19:07] ac491 commented on #136
I would like to try to solve this issue.

[2018-07-09 02:46] Swati4star commented on #136
Sure :D

[2018-07-09 05:51] #42 closed

[2018-07-09 06:21] Swati4star opened #185 "UI changes in `Filter images` screen"
Currently, the `filter images` screen looks like this:
<img width="320" alt="screen shot 2018-07-09 at 11 38 51 am" src="https://user-images.githubusercontent.com/9164477/42433386-c39c24ba-836c-11e8-8549-f5eb5776a10b.png">

### Make following enhancements to it:
- Add a greyish background color to bottom strip
- Change the filter icons (`None`, `Sepia`, `Black & white`) to look like this:
![img_20

[2018-07-09 06:56] Sabihashaik commented on #185
@Swati4star I would like to work on this issue.
Can you clarify what you mean by the Two way list view?

[2018-07-09 06:59] Swati4star commented on #185
I was actually referring to this one : https://github.com/lucasr/twoway-view
(But this repository seems to be archived now)
The purpose of this was horizontal list view.

I think we can create horizontal list view using recycler view also. So, you may use that only.

[2018-07-09 07:05] Sabihashaik commented on #185
@Swati4star Ok, So something such as this?  [Horizontal list view using Recycler view ](https://stackoverflow.com/questions/28460300/how-to-build-a-horizontal-listview-with-recyclerviewl)

[2018-07-09 07:11] Swati4star commented on #185
Yes @Sabihashaik 👍

[2018-07-09 09:54] Swati4star opened #186 "[New Feature] Convert excel to PDF"
### What to do?
- Add a new option in the navigation drawer `Excel to PDF`
- In that fragment, allow users to select an existing excel file
- Ask for the output PDF name

### Reference:
http://thinktibits.blogspot.com/2012/12/POI-iText-Convert-XLS-to-PDF-Java-Program.html

[2018-07-09 09:57] Swati4star commented on #144
@raghavpuri31 I am not able to reproduce this issue. I did the following steps:
- Select `Select Images`. Select few images
- Select `Create PDF`.
- Don't write anything in the filename & press ok.

### Actual output
- I remain on the same activity only & a snackbar is displayed saying `Name cannot be blank`

[2018-07-09 10:24] Swati4star opened #187 "Integrate Lottie animations when PDF is getting created"
When PDF is being created, remove the Material dialog loader, and add animation.

### How to do it?
http://airbnb.io/lottie/android/android.html

### Animation file to be used:
https://www.lottiefiles.com/70-image-icon-tadah

[2018-07-09 10:47] Swati4star commented on #165
We are already using this library for image filters. This only can be used image doodling support also:
https://github.com/burhanrashid52/PhotoEditor

[2018-07-09 14:16] raghavpuri31 commented on #144
@Swati4star Oh yes, so I think this issue is solved, but it was going back to "Select Images" activity.

[2018-07-09 14:31] #144 closed

[2018-07-09 16:09] ac491 commented on #136
Can I use sharedPreference to store the different directory names locally so that I can retrieve the files from these directories in populateListView() method?

[2018-07-09 16:11] Swati4star commented on #136
Go ahead with this implementation.
 Just remember, even if the user clears app data, then also the list files should behave same.

[2018-07-09 16:30] Swati4star commented on #136
The text file will also be completely under the control of the user.
you can get a list of the folders under a folder through other methods also.

[2018-07-10 10:54] kvsjxd commented on #164
Any update on "under-review" tag?

[2018-07-11 05:13] vyankatesh24 commented on #154
@Swati4star
May I work on it?

[2018-07-11 05:14] Swati4star commented on #154
Sure!

[2018-07-11 05:33] Swati4star commented on #176
The itextpdf doesn't seem to do this task properly.

[2018-07-11 05:33] #176 closed

[2018-07-11 06:04] Swati4star commented on #154
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/190

[2018-07-11 06:04] #154 closed

[2018-07-11 08:30] Swati4star commented on #183
@vyankatesh24 Are you working on this issue?

[2018-07-11 08:59] vyankatesh24 commented on #183
@Swati4star
I will work on it

[2018-07-11 09:01] shiv07tiwari commented on #147
I am working on this issue.

[2018-07-11 09:02] Swati4star commented on #147
Sure @shiv07tiwari

[2018-07-11 10:48] Swati4star commented on #183
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/191

[2018-07-11 10:48] #183 closed

[2018-07-11 11:33] vyankatesh24 commented on #149
@Swati4star
I did not any other layout with such font if you know
Let me know.

[2018-07-11 11:37] Swati4star commented on #149
We have used many different fonts in View Files fragment. Just remove those fonts.

[2018-07-11 12:35] ac491 commented on #136
Removing the directory should move the files back to home directory or delete the files too?

[2018-07-11 12:37] Swati4star commented on #136
Don't move the files to home directory
Just show an alert `The folder is not empty. Do you want to delete the containing files?`
If user selects yes, delete everything, else do nothing.

[2018-07-11 13:11] Swati4star commented on #149
@vyankatesh24 Are you working on this one?

[2018-07-11 14:54] Swati4star commented on #149
In this file, https://github.com/Swati4star/Images-to-PDF/blob/a77c1aceb508cc7cf17fabde8d85b918d8b81bf9/app/src/main/res/layout/item_file.xml

Remove the `fontFamily` & `textStyle` attributes

[2018-07-11 15:17] vyankatesh24 commented on #149
Yes I am working on it.

[2018-07-11 15:41] Swati4star commented on #149
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/192

[2018-07-11 15:41] #149 closed

[2018-07-11 17:53] ac491 commented on #136
Should I also add an option "Move to home Directory" to move files present in some directory to home directory?

[2018-07-11 17:58] Swati4star commented on #136
Yes. add a move option also.

[2018-07-12 03:49] vyankatesh24 commented on #114
I would like to work on it.

[2018-07-12 03:50] Swati4star commented on #114
Sure @vyankatesh24

[2018-07-12 04:05] eddygta17 commented on #157
Can I be assigned this?

[2018-07-12 04:07] Swati4star commented on #157
Sure!

[2018-07-12 04:36] vyankatesh24 commented on #183
![image](https://user-images.githubusercontent.com/18503975/42612798-fbd6757e-85ba-11e8-9c81-9a7d2cfb8fa1.png)

@Swati4star
I forgot to remove No of images textview after pdf creation
Shall I fix this in current PR
Or will you create new issue.

[2018-07-12 04:43] Swati4star commented on #183
Create a new issue. Either I'll do it by tonight, or you can also open one now

[2018-07-12 06:20] vyankatesh24 commented on #94
@Swati4star
I would like work on it.
Will you please elaborate issue.
For page size, should I give option to choose page sizes given PageSize class of itext library or custom size height and width.

[2018-07-12 06:39] vyankatesh24 commented on #94
A0 to A10
B0 to B10
static PageSize | Default
static PageSize | EXECUTIVE
static PageSize | LEDGER
static PageSize | LEGAL
static PageSize | LETTER
static PageSize | TABLOID

[2018-07-12 06:47] Swati4star commented on #94
We can add a new option in the home page, in the enhancement options list only. `Set Page Size`
On clicking this, open up a dialog/activity. It should have the options for above page sizes :

All the options should be in  radio buttons.
Default should be selected by selected.
Add all other options in radio buttons.
For A1 to A

[2018-07-12 06:49] Swati4star commented on #94
Sorry, closed this issue by mistake.

Also, mention the page size (like actual heigth & width) below each page size option also.

[2018-07-12 06:51] vyankatesh24 commented on #94
Ok

[2018-07-12 07:13] Swati4star commented on #114
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/193

[2018-07-12 07:13] #114 closed

[2018-07-12 07:15] Swati4star opened #194 "Number of images selected is visible even after the PDF is created"
![](https://user-images.githubusercontent.com/18503975/42612798-fbd6757e-85ba-11e8-9c81-9a7d2cfb8fa1.png)

### Expected behavior:
Hide this view after the PDF is created

[2018-07-12 14:06] Swati4star commented on #185
@Sabihashaik Any updates?

[2018-07-12 14:16] Swati4star opened #196 "[Code Cleanup] Create a PDFOptions class"
### What to do?
- Create a new package [here](https://github.com/Swati4star/Images-to-PDF/tree/master/app/src/main/java/swati4star/createpdf) named `objects`
- Create a new class `PDFOptions` in `objects`
- This class should have
[code]
- Use this class in `CreatePdf` function

[2018-07-12 14:35] Sabihashaik commented on #185
Yes. Working on it. Will send a PR quite soon.

[2018-07-12 15:35] Swati4star opened #197 "Retain the order selected by user in View files"
### Steps to reproduce
- Go to `View Files` section
- Select the sort icon in action bar

### Actual behaviour
There is some random by which the files are displayed by default

### Expected
- Retain the order selected by the user in view files
- For example, if I select `Sort by name` once, the files should always be selected by name, unless I select some other option.

<img width="325" alt="scree

[2018-07-12 18:05] Swati4star commented on #94
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/195

[2018-07-12 18:05] #94 closed

[2018-07-13 02:38] shiv07tiwari commented on #137
I am working on this issue @Swati4star

[2018-07-13 02:40] Swati4star commented on #137
Sure! And use Android room persistence library for storing the conversions.

[2018-07-13 02:41] shiv07tiwari commented on #137
Ya sure !

[2018-07-13 04:43] vyankatesh24 commented on #194
@Swati4star
I will work on it.

[2018-07-13 04:43] Swati4star commented on #194
Sure!

[2018-07-13 05:22] Swati4star commented on #137
@shiv07tiwari First fix the app shortcuts issue. Then move on to this one.

[2018-07-13 06:37] vyankatesh24 opened #202 "Set page size dialog opens up on Filter Images click"
When we click on Filter images Set page size dialog opens up also.

[2018-07-13 07:17] vyankatesh24 commented on #197
@Swati4star
I would like to work on it.

[2018-07-13 07:18] vyankatesh24 commented on #197
What Sorting order to be kept default?

[2018-07-13 07:18] Swati4star commented on #197
Sure. By name.

[2018-07-13 07:42] vyankatesh24 commented on #202
@Swati4star
I will work on it.

[2018-07-13 07:45] vyankatesh24 commented on #202
shall I?

[2018-07-13 07:54] Swati4star commented on #202
Sure

[2018-07-13 07:55] vyankatesh24 opened #205 "Can select image multiple times"
## Steps to reproduce
 * Click on Select Images.
 * Select Gallery Option
 * Select Image
 * Click on Check-mark in Action bar
 * Again Click on Select Images.
 * Selected Image will again available to select

[2018-07-13 07:58] Swati4star commented on #205
Does the final PDF also have multiple instances of image?

[2018-07-13 08:01] vyankatesh24 commented on #205
Yes.

[2018-07-13 08:03] Swati4star commented on #205
Then, I guess it's fine. Doesn't seem to be an issue.

[2018-07-13 08:04] vyankatesh24 commented on #205
Ok. Shall I Close?

[2018-07-13 08:13] Swati4star commented on #205
Yes!

[2018-07-13 08:13] #205 closed

[2018-07-13 08:46] Swati4star commented on #197
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/204

[2018-07-13 08:46] #197 closed

[2018-07-13 08:50] Swati4star commented on #202
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/206

[2018-07-13 08:50] #202 closed

[2018-07-13 11:29] Swati4star commented on #187
Sure.

[2018-07-13 12:14] eddygta17 commented on #157
The buttons, created here are not clickable. I do not know why.

[2018-07-13 12:15] Swati4star commented on #157
It's just a textview only right now. What's the problem?

[2018-07-13 13:56] Sabihashaik commented on #185
@Swati4star I have a question, I have set everything up, a Recycler View with circle images and such. However, I'm facing a problem when trying to access my previously made functions (None filter, Sepia etc) through which position is being clicked.
I'm checking which position is being clicked in a new class called RecyclerViewAdapter and then passing the value to PhotoEditor class where I have a f

[2018-07-13 15:12] #142 closed

[2018-07-13 15:13] Swati4star commented on #157
I'll have to see the code. I can't figure out what's the problem this way.

[2018-07-13 15:21] #136 closed

[2018-07-13 16:03] Swati4star opened #208 "Add a new option in `View Files` Section for `Select all`"
- Open `View Files` from the navigation drawer

### What to do?
- Add a new option in the action bar for `Select all`
- On clicking that, all the PDF files should be selected

<img width="334" alt="screen shot 2018-07-13 at 9 30 58 pm" src="https://user-images.githubusercontent.com/9164477/42701518-6acbbdca-86e4-11e8-99e9-3cf9b490e8a3.png">

[2018-07-13 16:29] Sabihashaik commented on #185
@Swati4star  I'm able to get the position of the item being clicked, but not able to set the Image View with the new image once clicked.
It shows a null pointer exception when I try to set it from the Recycler View Adapter, like if item position is 0, I call the none function from photo editor but it returns a null pointer exception.

Googling seems like I have to set up an interface to handle cal

[2018-07-13 16:34] Swati4star commented on #185
What you can do it...

- Create a new interface class `OnFilterItemClickedListener` & add a new function to it to handle clicks (https://github.com/Swati4star/Images-to-PDF/tree/master/app/src/main/java/swati4star/createpdf/interfaces)
- Make the `PhotoEditor.java` implement it
- Pass an instance of OnFilterItemClickedListener to the new adapter

[2018-07-13 17:55] milisharma27 commented on #208
:+1: Yes, a good point not to be missed. :)

[2018-07-13 17:58] milisharma27 commented on #196
@Swati4star
I do not get it.
What will it do?

[2018-07-13 17:59] Swati4star commented on #196
This is just for code cleanup. Adding class. It will make adding more options for PDF formatting easier.

[2018-07-14 06:20] shiv07tiwari commented on #208
Can I work on this @Swati4star

[2018-07-14 06:31] Swati4star commented on #208
Sure @shiv07tiwari

[2018-07-14 07:32] Sabihashaik commented on #185
@Swati4star Thank you! That works! :)

[2018-07-14 08:08] Swati4star commented on #208
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/210

[2018-07-14 08:08] #208 closed

[2018-07-14 08:42] shiv07tiwari commented on #177
Working on this issue @Swati4star .

[2018-07-14 08:58] #185 closed

[2018-07-14 10:19] Swati4star opened #212 "change few icons"
- Change heavy tick mark icon. This looks a lot bold as compared to the search icon
<img width="328" alt="screen shot 2018-07-14 at 3 46 55 pm" src="https://user-images.githubusercontent.com/9164477/42723530-2aabd880-877d-11e8-9d44-eff309365970.png">

- Change the compress the image icon to something more relevant to compression
<img width="173" alt="screen shot 2018-07-14 at 3 48 16 pm" src="http

[2018-07-14 10:30] Swati4star opened #213 "[Bug] Create PDF button is disabled even when an image is selected"
### Steps to reproduce
- Go to any other gallery app. Select any image.
- Select share button. Choose `PDF Converter` application.
<img width="344" alt="screen shot 2018-07-14 at 3 58 29 pm" src="https://user-images.githubusercontent.com/9164477/42723618-f2318b24-877e-11e8-9390-99bc97dd523a.png">

The above view opens up. The `Create PDF` button should not be disabled.

[2018-07-14 10:32] Swati4star opened #214 "Add set as default option in Page Size dialog"
<img width="309" alt="screen shot 2018-07-14 at 4 00 55 pm" src="https://user-images.githubusercontent.com/9164477/42723627-2cb266e2-877f-11e8-89e6-4619ad4d3b51.png">

Add a checkbox at the bottom : `Set as default`

If that checkbox is checked, set the current selected page size as default option. & show that option in the first radio box from next time onwards.

[2018-07-14 10:34] Swati4star opened #215 "UI changes in View Files fragment"
<img width="328" alt="screen shot 2018-07-14 at 4 02 42 pm" src="https://user-images.githubusercontent.com/9164477/42723639-647f9504-877f-11e8-96f1-13455a7e6520.png">

We have a lot of options in the dropdown menu.

### What to do?

- Create a new strip at the top
- It should have name & icons for following : New directory, Move files, move files to home directory, delete directory.
- The function

[2018-07-14 11:22] Swati4star opened #216 "Show previous image button also in filter image screen"
The filter image screen currently has this UI:
<img width="337" alt="screen shot 2018-07-14 at 4 51 05 pm" src="https://user-images.githubusercontent.com/9164477/42723902-1f99d164-8786-11e8-9e10-1865b433ee52.png">

- Add a previous arrow button also by the left of `Showing 1 of 1 images`
- It should allow users to edit previous image

[2018-07-14 11:25] Swati4star opened #217 "Show directory structure in View files section"
- Currently, we can move files to a newly created directory
- But, after the files are moved, there isn't any change in the UI
- A directory type structure should be there in view files. It means we should have folders also in the list view. On selecting the particular folder, it's content should open up.

<img width="327" alt="screen shot 2018-07-14 at 4 55 01 pm" src="https://user-images.githubu

[2018-07-14 11:33] Swati4star opened #218 "[Bug] Image filter is not applied in a specific case"
### Steps to reproduce
- Select 2-3 images
- Select `Filter Images`
- Apply some filter to image (blac&white or sepia)
- Select `Save current`
- Press back button
- Create PDF. Type some name.

### Expected behaviour
The first image should have the filter applied

### Actual behaviour
The filter is not applied to image.

[2018-07-14 14:58] Swati4star commented on #157
@eddygta17 Is the issue resolved?

[2018-07-14 15:22] milisharma27 commented on #196
Okay.

[2018-07-14 15:37] milisharma27 opened #220 "Edit option not working"
Once the PDF is created, the edit option is not working.
![edit option](https://user-images.githubusercontent.com/33100116/42725935-ef266d3e-87a9-11e8-9e95-e1f96f954987.jpg)

[2018-07-14 15:42] Swati4star commented on #220
In which application are you viewing this PDF?

[2018-07-14 17:56] milisharma27 commented on #220
WPS Office

[2018-07-14 17:58] Swati4star commented on #220
So, that's the issue with your app only. We are just creating the PDF. The PDF viewer is not managed by us

[2018-07-14 19:01] milisharma27 commented on #220
Okay, got it.

[2018-07-14 19:02] #220 closed

[2018-07-14 19:03] #177 closed

[2018-07-14 19:12] shiv07tiwari commented on #215
The strip should be just above the pdf list, and below the Toolbar, right ? @Swati4star

[2018-07-14 19:13] Swati4star commented on #215
Yes. & the PDF list should start below that.

[2018-07-14 19:13] shiv07tiwari commented on #215
Okay, Can I work on this ?

[2018-07-14 19:16] Swati4star commented on #215
Sure @shiv07tiwari 👍

[2018-07-14 19:23] Swati4star opened #221 "Show the text file name after file is selected"
<img width="325" alt="screen shot 2018-07-15 at 12 40 48 am" src="https://user-images.githubusercontent.com/9164477/42727703-081fd4c8-87c9-11e8-8555-2cc74ab2f73c.png">

### Steps to reproduce
- Select `Text to PDF` from navigation drawer
- Click on `Select Text file`
- A file chooser opens up. Selct a file. Nothing changes in the UI

### Expected behaviour
- Just like, we show image count after th

[2018-07-14 19:24] milisharma27 opened #222 "Option to leave image crop"
There should be an option to leave the image crop if we don't want to crop some particular image.

[2018-07-14 19:28] Swati4star opened #223 "Add More Enhancement Section in Text to PDF fragment"
### What to do?
- Just like, we have `More Enhancement options` in home fragment, create similar in `Text to PDF` also.
- For now, add only 1 option to it, `Edit Font size`. It's 11 by default. (Show default value also, just like Compress the image option in home fragment)
- On clicking this option, a dialog should open up. `Enter font size`
<img width="342" alt="screen shot 2018-07-15 at 12 57 34

[2018-07-15 09:01] Swati4star opened #224 "Add action to snackbar when text is converted to PDF"
The snackbar when we create a PDF is:
<img width="411" alt="screen shot 2018-07-15 at 2 28 59 pm" src="https://user-images.githubusercontent.com/9164477/42732245-75df1c54-883b-11e8-8416-0abd1c43139e.png">

It has an action to view the PDF. This opens up the newly created PDF.

### What to do?
- Add the same action to snackbar after the text os converted to PDF.
- Currently we have just a normal sn

[2018-07-15 09:39] eddygta17 commented on #213
@Swati4star I have been unable to rectify the problem, any button placed on that screen is not able to click, but in other screens buttons can be clicked. Rest of the functions work properly.

[2018-07-15 09:50] Swati4star commented on #213
@eddygta17 I have figured out the solution:
Remove `mSwipeView.bringToFront();` && it'll work fine

[2018-07-15 10:52] #215 closed

[2018-07-15 11:14] shiv07tiwari commented on #224
Can I do this @Swati4star  ?

[2018-07-15 11:17] Swati4star commented on #224
Sure!

[2018-07-15 11:35] #224 closed

[2018-07-15 11:40] shiv07tiwari commented on #223
Working on this @Swati4star .

[2018-07-15 11:42] Swati4star commented on #223
@shiv07tiwari Sure!

[2018-07-15 15:42] vyankatesh24 commented on #213
Hi @Swati4star
I would like to work on it

[2018-07-15 15:52] Swati4star commented on #213
Sure.

[2018-07-15 16:53] Swati4star commented on #157
@eddygta17 I have figured out the solution:
Remove mSwipeView.bringToFront(); && it'll work fine

[2018-07-15 16:56] #213 closed

[2018-07-16 02:56] Swati4star commented on #157
Looks good! Also remove the toast, "No PDFs right now"

[2018-07-16 03:55] vyankatesh24 opened #229 "Create button enables even when no image is selected"
### Steps to Reproduce
   * Click on select images.
   * And then click back
   * button will enable and color is not bluish

[2018-07-16 04:08] Swati4star commented on #229
The button should be disabled.

[2018-07-16 05:52] Swati4star commented on #157
Looks good! @eddygta17 Create a PR

[2018-07-16 06:17] #157 closed

[2018-07-16 08:43] #229 closed

[2018-07-16 09:11] vyankatesh24 commented on #221
I would like to work on it.

[2018-07-16 09:33] Swati4star commented on #221
Sure @vyankatesh24 👍

[2018-07-16 10:40] #221 closed

[2018-07-16 10:44] vyankatesh24 commented on #216
I would like to work on it.

[2018-07-16 10:48] Swati4star commented on #216
Sure @vyankatesh24 👍

[2018-07-16 14:03] #216 closed

[2018-07-16 14:11] Swati4star opened #234 "Add more filters in filter images screen"
This is a list of filters that can be applied using PhotoEditor library we are using:
https://github.com/burhanrashid52/PhotoEditor/blob/b32e40c091f336d4123da45da901feacb66972fd/photoeditor/src/main/java/ja/burhanrashid52/photoeditor/PhotoFilter.java

We currently have only 2 filters : None, black & white, sepia
<img width="321" alt="screen shot 2018-07-16 at 7 40 09 pm" src="https://user-images.g

[2018-07-17 13:35] vyankatesh24 commented on #212
![image](https://user-images.githubusercontent.com/18503975/42820510-fd961788-89f3-11e8-883e-83a1604af76c.png)
@Swati4star
Shall I use this icon

[2018-07-17 14:04] Swati4star commented on #212
@vyankatesh24 It looks good. Just change the color of the icon

[2018-07-17 14:07] #223 closed

[2018-07-17 14:10] vyankatesh24 commented on #212
Ok

[2018-07-17 14:53] vyankatesh24 commented on #212
![image](https://user-images.githubusercontent.com/18503975/42825119-f6320f00-89fe-11e8-9ebb-4980b6c88301.png)

After Selection
![image](https://user-images.githubusercontent.com/18503975/42824416-708a67d6-89fd-11e8-873a-a644e5c52c04.png)

Before Selection
![image](https://user-images.githubusercontent.com/18503975/42824462-80e4838c-89fd-11e8-83d8-42c87912cd47.png)

is this ok?
Shall I add Deselec

[2018-07-17 14:55] Swati4star commented on #212
Looks good!
add selection/deselection also in this issue only. I'll increase the difficulty level of this issue.

[2018-07-17 15:33] vyankatesh24 commented on #212
Ok

[2018-07-17 17:07] #212 closed

[2018-07-17 19:56] shiv07tiwari commented on #162
Working on this ! @Swati4star

[2018-07-19 04:33] vyankatesh24 opened #238 "Files are getting Overwritten in Text To PDF"
If we create a file with the same name in Text To PDF, the file contents are getting overwritten.

[2018-07-19 04:38] vyankatesh24 commented on #238
May I work on it?

[2018-07-19 04:39] Swati4star commented on #238
Sure @vyankatesh24

[2018-07-19 04:39] Swati4star commented on #238
We have done similar thing in images to PDF also, you can use the same function in fileutils to check for file with same name

[2018-07-19 04:40] vyankatesh24 commented on #238
Ok

[2018-07-19 04:59] vyankatesh24 commented on #238
@Swati4star
Is Text to PDF working correctly at your side?
It's crashing on my side on create pdf click.

[2018-07-19 05:04] vyankatesh24 commented on #238
I think the problem is with Font Size.

[2018-07-19 05:07] Swati4star commented on #238
It was working fine for me. If there's some crash, create a new issue for that. You can submit a PR for that first.

[2018-07-19 05:21] vyankatesh24 commented on #238
@Swati4star
I will work on that issue later the issue is the default font size not set needs to give every time.

[2018-07-19 05:39] Swati4star opened #240 "App crashes if we don't provide font size"
### Steps to reproduce
- Open `Text to PDF` from navigation drawer
- Select a text file
- Select `Create PDF`
- Type a file name
- App crashes

[2018-07-19 05:41] Swati4star opened #241 "Snackbar is shown even if we don't select any file"
### Steps to reproduce
- Select `Text to PDF`
- Select `Select text file`
- Don't select any file. Press back
- Snackbar is shown saying `Text File Selected`

### Expected behaviour
Remove the snackbar when text file is not selected

[2018-07-19 05:49] Swati4star opened #242 "Few UI changes"
- Change the black border to white in `View Files`
<img width="329" alt="screen shot 2018-07-19 at 11 14 04 am" src="https://user-images.githubusercontent.com/9164477/42923792-020381be-8b45-11e8-9daa-5d6b9b509e7d.png">

- Make the UI of `Text to PDF` similar to `Create PDF`
<img width="334" alt="screen shot 2018-07-19 at 11 16 21 am" src="https://user-images.githubusercontent.com/9164477/42923847-

[2018-07-19 05:53] Swati4star opened #243 "Add an option to set default font size"
<img width="313" alt="screen shot 2018-07-19 at 11 20 54 am" src="https://user-images.githubusercontent.com/9164477/42924006-fbc4aaa2-8b45-11e8-9484-e809b00f24f4.png">

- Add a new checkbox in this dialog (`Set as default`)
- On clicking this, make the entered size as default

[2018-07-19 06:14] #238 closed

[2018-07-19 07:15] vyankatesh24 commented on #240
May I work on it?

[2018-07-19 07:16] Swati4star commented on #240
Sure.

[2018-07-19 07:52] Swati4star commented on #241
Sure.

[2018-07-19 08:09] vyankatesh24 commented on #242
I would like to work on it.

[2018-07-19 08:56] Swati4star commented on #242
Go ahead with this one.

[2018-07-19 09:03] vyankatesh24 commented on #242
![image](https://user-images.githubusercontent.com/18503975/42932667-8f0b3370-8b60-11e8-9274-9841b891f2cf.png)

![image](https://user-images.githubusercontent.com/18503975/42932683-97431fd0-8b60-11e8-89a5-ca40cd303cd5.png)

![image](https://user-images.githubusercontent.com/18503975/42932691-9bdc82c0-8b60-11e8-87f8-b0f73f983b4c.png)

[2018-07-19 09:09] Swati4star commented on #242
Looks good.

Can you also change the input type on font size dialog to number, so that numbers keyboard comes up.

[2018-07-19 09:55] vyankatesh24 commented on #242
Ok

[2018-07-19 10:44] #240 closed

[2018-07-19 10:45] #241 closed

[2018-07-19 10:46] #242 closed

[2018-07-19 11:00] vyankatesh24 commented on #196
@Swati4star
May I work on it?

[2018-07-19 11:07] Swati4star commented on #196
@vyankatesh24
I actually did create a PDFOptionsClass (https://github.com/Swati4star/Images-to-PDF/blob/master/app/src/main/java/swati4star/createpdf/model/PDFOptions.java)
but haven't used it anywhere. You can either use this one or create a new one(and delete this one)

What I expect in this issue is:

- You create a base PDFOptions Class (have common functions in this one)
- From this class, we

[2018-07-19 11:10] vyankatesh24 commented on #196
Ok

[2018-07-19 11:12] vyankatesh24 commented on #196
All three classes in 'objects' package right?

[2018-07-19 11:14] Swati4star commented on #162
@shiv07tiwari  Some information you might need for this:
- LIcense link : https://github.com/Swati4star/Images-to-PDF/blob/master/LICENSE.md
- Privacy policy : https://sites.google.com/view/privacy-policy-image-to-pdf/home
- playstore link: https://play.google.com/store/apps/details?id=swati4star.createpdf
- website link : http://swati4star.github.io/Images-to-PDF/
- Send an email : Use my email i

[2018-07-19 11:16] Swati4star commented on #196
@vyankatesh24  Don't create a new package, add it to `model` package only.

[2018-07-19 11:16] vyankatesh24 commented on #196
Ok

[2018-07-19 11:56] Swati4star opened #247 "Wrong filename is shown in text to PDF"
![screenshot_20180719-170757](https://user-images.githubusercontent.com/9164477/42940746-3380c7be-8b78-11e8-82bf-b851781a9053.jpg)

### Steps to reproduce
- Download some txt file. My file's name was `sample.txt`
- Open our app. Select `Text to PDF`
- Select the above-downloaded file
- The file name shown in the above view is some random number.

### Expected behaviour
- The actual file name shoul

[2018-07-19 12:13] Swati4star opened #248 "Allow users to select doc, docx also in text to"

[2018-07-19 12:24] Swati4star opened #250 "Create PPT to PDF feature"
### What to do?
- Create a new section in the navigation drawer `PPT to PDF`
- Create similar UI as text to PDF
- The user should be able to select ppt & pptx files on clicking `Select Files` option
- `Create PDF` should be disabled when no file is selected
- On selecting, `Creat PDF`, a dialog should open up for filename
- If the filename does not exist already, create the PDF with the mentioned

[2018-07-19 12:35] #196 closed

[2018-07-19 12:39] Swati4star commented on #147
This issue is open for other's to take up now.

[2018-07-19 14:28] Swati4star opened #251 "Don't add border to the images in PDF"
- Select few images & convert it to PDF
- There is a border to the image in the converted PDF
- By default, there shouldn't be any border.

[2018-07-20 08:50] vyankatesh24 commented on #243
Shall I work on it?

[2018-07-20 08:53] Swati4star commented on #243
Sure!

[2018-07-20 10:56] vyankatesh24 commented on #137
@Swati4star
Shall I work on it, or is anyone working?

[2018-07-20 10:58] Swati4star commented on #243
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/253

[2018-07-20 10:58] #243 closed

[2018-07-20 10:59] Swati4star commented on #137
You can work on it. It's up for grabs :)

[2018-07-20 11:00] vyankatesh24 commented on #137
Ok

[2018-07-20 15:18] #162 closed

[2018-07-20 15:46] #88 closed

[2018-07-20 15:54] Swati4star opened #256 "[Bug] Default font size is not getting changed in the UI"
### Steps to reproduce
- Go to `Text to PDF`
- Select `Font Size`
- Set font size to, let's say, 13
- check `Set as default` option
- again, select `Font Size`
- Observe  the text on the dialog

### Expected behaviour
should show **(Default: 13)**

### Actual behaviour
It shows **(Default: 11)**
[the previous default font size]

[2018-07-20 16:00] Swati4star opened #257 "[Preview Images] Allow users to arrange images alphabetically"
- Add a new option in `Preview images` screen named `Sort Images`
- Open a new dialog on clicking this.
- This option should allow users to sort images
     - alphabetically increasing
     - alphabetically decreasing
     - date created (increasing)
     - date created (decreasing)
- On clicking, any of the above option, the images array should get updated accordingly & preview screen should also

[2018-07-20 19:33] Swati4star commented on #217
Use any of the library:
https://github.com/TellH/RecyclerTreeView
https://github.com/bmelnychuk/AndroidTreeView

[2018-07-21 02:21] shiv07tiwari commented on #234
I am working on this @Swati4star

[2018-07-21 04:30] eddygta17 opened #259 "Searching In view files changes button position"
Searching In view files when there are no files changes button position and it aligns with the keyboard.

[2018-07-21 04:30] eddygta17 commented on #259
![screenshot_2018-07-21-10-00-34](https://user-images.githubusercontent.com/24777071/43032122-f1a6f826-8ccc-11e8-95b3-bc849410cd96.png)

[2018-07-21 04:32] Swati4star commented on #247
what was the name of the file you selected?

[2018-07-21 04:35] eddygta17 commented on #247
dumbo.txt

[2018-07-21 04:37] eddygta17 commented on #256
Can I take this?

[2018-07-21 04:37] Swati4star commented on #256
Sure @eddygta17 👍

[2018-07-21 04:41] #234 closed

[2018-07-21 04:54] shiv07tiwari opened #260 "View Files UI fault."
When no pdfs are present, the view files should show a different layout, but it is still showing the ui same as when w ehave some pdfs in our list. @Swati4star
![screenshot_20180721_102500](https://user-images.githubusercontent.com/38163725/43032250-1c964138-8cd0-11e8-9b01-e975b5b2a539.jpg)

[2018-07-21 04:57] Swati4star commented on #260
In which case is it happening? I am not able to reproduce this issue.

[2018-07-21 04:58] shiv07tiwari commented on #260
Whenever we are going to that fragment with no pdfs.
Delete all the PDFs in your list
Then go to some other fragment and then return to view files fragment.

[2018-07-21 05:01] Swati4star commented on #260
I did the following steps & not able to reproduce this error. Let me know if I am doing something wrong,
- Go to view files fragment. Delete all the files
- Go to some other fragment from navigation drawer.
- Come back to view files again

[2018-07-21 05:06] shiv07tiwari commented on #260
I just checked on my another device (Redmi note 5 pro Oreo), and I am not able to see the error, but I am easily able to reproduce the error in my Vivo device (android 6.0)

[2018-07-21 05:10] shiv07tiwari commented on #247
Again, this issue is also not visible in my Vivo device (android 6.0), but is easily observed in another device. @Swati4star

[2018-07-21 05:31] Swati4star commented on #247
must be the issue of internal & external storage issue.

[2018-07-21 05:34] Swati4star commented on #251
Fixed by 32331c36a32a6ff97864a0420e52b918d4b0e245

[2018-07-21 05:34] #251 closed

[2018-07-21 05:52] eddygta17 commented on #256
![screenshot_2018-07-21-11-11-11](https://user-images.githubusercontent.com/24777071/43032588-512861c6-8cd8-11e8-90de-131c34ca172e.png)

[2018-07-21 05:56] Swati4star commented on #256
looks good @eddygta17

[2018-07-21 06:19] #256 closed

[2018-07-21 06:24] Swati4star opened #262 "Few changes in preview screen"
### How to open preview screen?
- Select few images
- Select `Preview images` option

### What to do?
- In the preview screen, right now, the whole view gets swiped
- Make following changes
    - Keep only imageview in the viewpager only
    - The bottom 2 text line (`showing x of x` & `swipe right to view more images`) should not get swiped. Make them a part of viewpager view
    - The bottom tex

[2018-07-21 06:29] Swati4star opened #263 "Allow users to select font family in text to PDF"
### What to do?
- Add a new option in `Text to PDF` screen, `Font family`
- It should be `TIMES_ROMAN ` by default
- All available font families for itextpdf are : http://itextsupport.com/apidocs/itext5/latest/com/itextpdf/text/Font.FontFamily.html
- On clicking the option, show a dialog with radio buttons in front of each font name
- Add a checkbox `Set as default` also in the dialog
- On checkin

[2018-07-21 06:30] Swati4star commented on #153
Sure @eddygta17

[2018-07-21 06:31] Swati4star commented on #153
Also, reduce the size of these 2 big buttons. You can change their orientation also (whichever UI you feel looks better)

[2018-07-21 06:32] eddygta17 commented on #247
![screenshot_2018-07-21-11-59-44](https://user-images.githubusercontent.com/24777071/43032863-c67592fa-8cdd-11e8-91e5-1f47d574397f.png)

This is from my external storage with filename duck.txt , I am using the latest build of the app.

[2018-07-21 06:50] #247 closed

[2018-07-21 08:38] shiv07tiwari commented on #260
I am working on this @Swati4star

[2018-07-21 09:18] #260 closed

[2018-07-21 11:10] shiv07tiwari commented on #218
@Swati4star  In this, we are not pressing the "OK" button in Filter Images so as to reproduce the bug, right ?

[2018-07-21 11:14] Swati4star commented on #218
Which `OK` button? There is no ok button in filters screen.

[2018-07-21 11:15] shiv07tiwari commented on #218
Oh sorry, done button (top right)

[2018-07-21 11:18] Swati4star commented on #218
Yes. exactly.

After pressing the save button, the filter should have been applied. But, it's not getting applied in case, we press back button

[2018-07-21 11:19] shiv07tiwari commented on #218
So basically, we need to execute the code of "Done" button, when we press the back button also ?

[2018-07-21 11:22] Swati4star commented on #218
Yes. 👍
..and also when we press the back button on the top left corner.

[2018-07-22 05:39] #137 closed

[2018-07-22 07:13] shiv07tiwari opened #268 "Fragment Transitions."
When the user is in one of the fragments except home fragment, then pressing the back button should lead him to home fragment instead of  closing the app, I guess this might be a better user experience. :) @Swati4star

[2018-07-22 07:39] shiv07tiwari commented on #165
@Swati4star  where exactly should we add this option ?

[2018-07-22 07:45] Swati4star commented on #165
This can be added in `Filter images`. In the bottom strip, we can have 2 options: Doodle, filters.
On filters, the filters should open up.
On selecting doodle option, doodling should get enabled on the image

[2018-07-22 12:51] eddygta17 commented on #153
![screenshot_2018-07-22-18-20-27](https://user-images.githubusercontent.com/24777071/43045739-07da4af2-8ddc-11e8-9856-8ab84a8e3fbb.png)

[2018-07-22 13:02] Swati4star commented on #153
The green color looks too bright.

[2018-07-22 13:05] eddygta17 commented on #153
I am using `Color.GREEN` , which color to use?

[2018-07-22 13:06] Swati4star commented on #153
Define a new color. A bit darker shade of green.
And use that.

[2018-07-22 16:04] eddygta17 commented on #153
![screenshot_2018-07-22-21-31-38](https://user-images.githubusercontent.com/24777071/43047587-f2847df6-8df6-11e8-8ee2-41d96e64dd6d.png)

[2018-07-22 16:13] Swati4star commented on #153
Go with this one. This looks better.

[2018-07-22 18:11] #153 closed

[2018-07-23 07:49] shiv07tiwari commented on #250
I am working on this  @Swati4star

[2018-07-23 09:04] Swati4star commented on #250
Sure @shiv07tiwari

[2018-07-23 13:49] vyankatesh24 commented on #263
I would like to work on it.

[2018-07-23 14:51] Swati4star commented on #263
Sure @vyankatesh24

[2018-07-23 16:03] eddygta17 commented on #259
Can I work on this?

[2018-07-23 16:03] Swati4star commented on #259
Sure @eddygta17 👍

[2018-07-23 16:34] eddygta17 commented on #259
![screenshot_2018-07-23-22-02-37](https://user-images.githubusercontent.com/24777071/43090193-55159f22-8ec4-11e8-80d0-119651ba38e8.png)

[2018-07-23 16:34] Swati4star commented on #259
Looks good @eddygta17 👍

[2018-07-23 16:35] eddygta17 commented on #259
Shall I send a pull ?

[2018-07-23 16:36] Swati4star commented on #259
Yeah sure

[2018-07-23 16:46] #259 closed

[2018-07-23 16:57] eddygta17 commented on #262
Can you post a screenshot?

[2018-07-23 17:01] Swati4star commented on #262
See the below screenshot. I selected 2 images:
![screenshot_20180723-222921](https://user-images.githubusercontent.com/9164477/43091554-fa46b64a-8ec7-11e8-9fc4-4278a948fca3.jpg)

When I swipe the screen, the whole screen gets swiped. I just want the image to get swiped.

[2018-07-24 06:57] milisharma27 opened #273 "Create GIF to PDF feature"
Along with images of JPG format, there can be an option to include GIF format images for conversion to PDF. @Swati4star

[2018-07-24 08:49] Swati4star commented on #273
This feature already exists. I downloaded a gif & I was able to convert it into a PDF.

[2018-07-24 08:58] #273 closed

[2018-07-25 05:12] #262 closed

[2018-07-25 07:48] milisharma27 commented on #273
But this feature is not working. It accesses only some images from gallery. It is not able to access GIF type of image.

[2018-07-25 09:46] kvsjxd commented on #273
Are you referring to animated gifs?

[2018-07-25 12:07] Swati4star commented on #89
Sure.

And do one thing, add this option in preview screen & not on the home screen.

[2018-07-25 12:18] vyankatesh24 commented on #89
Ok

[2018-07-25 12:39] vyankatesh24 commented on #89
Shall I add it as a menu or on the viewport as a button?

[2018-07-25 12:41] Swati4star commented on #89
Add it as an option above the place where it is written `swipe left to view next` in preview activity

( We'll add more options also over there later)

[2018-07-25 12:46] vyankatesh24 commented on #89
Ok

[2018-07-25 12:50] vyankatesh24 commented on #89
"As an option" do you mean in RecyclerView?

[2018-07-25 12:50] vyankatesh24 commented on #89
Or just simple button is Ok

[2018-07-25 12:53] Swati4star commented on #89
It would be better if you add it in recycler view (similar to filters in filters screen)

[2018-07-25 12:53] vyankatesh24 commented on #89
Ok

[2018-07-25 13:05] Swati4star commented on #89
Also, how do you plan to allow users to rearrange images? I don't have any specific UI in mind. You can share whatever you do, and we can discuss on that further.

[2018-07-25 14:12] milisharma27 commented on #273
Yes, animated as well as inanimate.

[2018-07-26 01:51] eddygta17 commented on #218
@Swati4star

Shouldn't that be an option to cancel the applied filter?

![ezgif-1-d1b86bb1fa](https://user-images.githubusercontent.com/24777071/43236762-6d29c05c-90a4-11e8-8c29-d146962c6453.gif)

[2018-07-26 03:09] Swati4star commented on #218
But, if the user has clicked save current filter button & press back, then the current filter should be applied.

Also, in the gif, you are pressing back button after applying the filter on first image?

[2018-07-26 03:38] eddygta17 commented on #218
I am pressing back on keypad in the gif.

Then how about replacing the arrow on the menubar with "CANCEL"

[2018-07-26 04:36] Swati4star commented on #218
@eddygta17 Good idea! But, when user clicks on cancel, just show a confirmation dialog `Are you sure you want to remove filters from all your images?`
If user says, ok, then go ahead. Else, do nothing.

[2018-07-26 04:58] Swati4star opened #275 "Search option does not search all the files"
### Steps
- Move any file to a directory
- Select search icon on the top
- Type name of moved file.
- Nothing is shown in the view

[2018-07-26 05:13] Swati4star opened #276 "Add an undo option in delete snackbar"
### Steps to reproduce
- Go to view files section
- Select any PDF.
- Select delete option
- A snackbar comes up

### What to do?
Add an undo option in the snackbar. On selecting that, file should reappear.

[2018-07-26 05:39] eddygta17 commented on #218
Sure will do.

[2018-07-26 05:40] shiv07tiwari commented on #276
Working on this @Swati4star

[2018-07-26 05:41] Swati4star commented on #276
Sure! @shiv07tiwari

[2018-07-26 06:02] Swati4star opened #277 "Unable to view pdfs created by our app in Merge PDF section"
### Steps
- Create few PDFs using our application
- Select `Merge PDF`
- Click on `Select First PDF`

### Issue
- We are unable to view the PDFs created by our application in the file picker

### Expected behavior
- User should be able to choose from these files.
- We can create an small list view at the bottom in the merge pdf section only. This view should have a list of all the PDFs created by

[2018-07-26 08:36] kvsjxd commented on #268
Yes this can be done

[2018-07-26 11:36] vyankatesh24 commented on #89
@Swati4star
Have a  look.

![screenshot_2018-07-26-17-02-38-335_swati4star createpdf](https://user-images.githubusercontent.com/18503975/43260041-de9f07e6-90f5-11e8-8c2e-84f4b3b14416.png)

![screenshot_2018-07-26-17-02-07-959_swati4star createpdf](https://user-images.githubusercontent.com/18503975/43260061-efe8802c-90f5-11e8-9c8c-84192522ea56.png)

[2018-07-26 11:45] Swati4star commented on #89
@vyankatesh24
Looks perfect! Just a few UI changes
- Add a back arrow on top left corner in the second preview screen
- In the first screen, give a card type look to the rearrange button.

[2018-07-26 11:59] vyankatesh24 commented on #89
![screenshot_2018-07-26-17-22-09-170_swati4star createpdf](https://user-images.githubusercontent.com/18503975/43261102-30ee2736-90f9-11e8-97bf-32a41f0052ee.png)

![screenshot_2018-07-26-17-26-34-402_swati4star createpdf](https://user-images.githubusercontent.com/18503975/43261107-33582076-90f9-11e8-91fc-119347868fb9.png)

[2018-07-26 12:00] Swati4star commented on #89
@vyankatesh24 Looks good. Create a PR! 👍

[2018-07-26 13:42] eddygta17 commented on #277
I have been using this since beginning, try on a different device or os version.

[2018-07-26 13:44] Swati4star commented on #277
In any case, the PDFs which are create using our app should be avail easily. So, just adding a list of PDFs in that view would provide easy access.

[2018-07-26 14:36] Swati4star opened #280 "[Bug] Merge PDF is enabled even if we don't select any PDF"
### Steps to reproduce
- Go to `Merge PDF`
- Select  `Merge files` option

### Actual behaviour
The alert dialog for naming the PDF opens up

### Expected behaviour
Disable the `merge files` option unless both the PDFs are selected

[2018-07-26 15:20] Swati4star opened #281 "Show animation in merge PDF also"
- When we convert some images to PDF, the dialog with animation is displayed

### Expected behavior
Show the same animation while we merge 2 PDFs

[2018-07-26 15:32] Swati4star opened #282 "[Merge PDF] The invalid file is created in case of error"
### Steps to reproduce
- Go to `Merge PDF`
- Select PDF from internal storage
- There is some internal error, but the file is created.
- When a user tries to open that file, it shows `invalid format`

### Expected behavior
- In case of any error, display a snackbar that `Files can not be merged. There is some internal error.`. Also, don't create PDF in this case
- In case the PDF is created succes

[2018-07-26 15:40] Swati4star opened #283 "Open PDF files when it is selected in history section"
### Steps
Go to `History` from the navigation drawer

### Expected behaviour
- When user clicks on any list item, open up the PDF (if it exists, else show a snackbar with text `The PDF doesn't exist`)

[2018-07-26 15:45] Swati4star opened #284 "[Bug] Select Images activity open twice on clicking the button twice"
### Steps to reproduce
- Select `Create PDF` from navigation drawer
- Click on `Select Images` button twice (very fastly)
- The activity opens up twice

### Expected behvaiour
- The activity should open up only once

[2018-07-26 15:52] Swati4star opened #285 "[Merge PDF] Full file path is not coming up on the buttons"
Observe this gif:
![my](https://user-images.githubusercontent.com/9164477/43274923-1ccae0a8-911e-11e8-96df-cf69e12f4b9f.gif)

### Expected behaviour
The full path (along with filename) should be there on the buttons

[2018-07-26 16:36] #89 closed

[2018-07-27 00:55] eddygta17 commented on #285
![screenshot_2018-07-27-06-24-09](https://user-images.githubusercontent.com/24777071/43295906-bbd707d4-9165-11e8-9ea6-ce028a5a3225.png)

Does having just the filename improve the experience?

[2018-07-27 02:18] Swati4star commented on #285
I think, we should have the full path. (Path + name)

[2018-07-27 10:36] #283 closed

[2018-07-27 11:44] shiv07tiwari commented on #275
I am working on this @Swati4star

[2018-07-27 11:46] Swati4star commented on #275
Sure.

[2018-07-27 22:59] eddygta17 commented on #285
How about just changing the text size if filename exceeds character length?

![screenshot_2018-07-28-04-27-28](https://user-images.githubusercontent.com/24777071/43349623-c2748de6-921e-11e8-8bb5-432c49593028.png)

[2018-07-28 02:30] eddygta17 commented on #285
Yes
![screenshot_2018-07-28-07-57-36](https://user-images.githubusercontent.com/24777071/43352115-38652e44-923c-11e8-8e20-426ff2356270.png)

[2018-07-28 02:33] Swati4star commented on #285
Okay then. Create a PR.

[2018-07-28 02:34] eddygta17 commented on #280
![whatsapp image 2018-07-28 at 8 03 34 am](https://user-images.githubusercontent.com/24777071/43352146-cd440ac6-923c-11e8-8fdb-12ce0fd00826.jpeg)

[2018-07-28 02:35] eddygta17 commented on #285
![whatsapp image 2018-07-28 at 8 03 34 am](https://user-images.githubusercontent.com/24777071/43352155-e43372ee-923c-11e8-8308-62c2a6914541.jpeg)

#282 still exits

[2018-07-28 02:37] Swati4star commented on #285
Let's focus on one issue only first.

[2018-07-28 02:59] Swati4star commented on #285
This PR is just changing the text size. The problem was that the whole file path was not coming.

I'll check it locally. I don't think this will solve the issue.,

[2018-07-28 04:05] Swati4star opened #289 "Preview images screen is not updated after rearranging images"
### Steps to reproduce
- Select few images
- Select `Preview images`
- Select `rearrange images`. Change the sequence of few images
- Go back.

### Actual behaviour
The `preview images` screen has the previous sequence of images

### Expected behaviour
the `preview images` screen should also get updated

[2018-07-28 04:18] Swati4star opened #290 "Change in UI of preview screen options"
Currently, the options screen look like this:
<img width="323" alt="screen shot 2018-07-28 at 9 45 14 am" src="https://user-images.githubusercontent.com/9164477/43353000-ff2140e6-924a-11e8-840a-880e4bdfb8a7.png">

### Expected behaviour
- Add a heading to this view `Image Rearranging options`
- Change the view to circular. Something like this: (Instead of blue, it should be our app's primary color

[2018-07-28 05:18] Swati4star opened #291 "Provide support for Java 8 language features"
### Expected behaviour
- Provide the support so that major features like Lambda expressions, Default and static interface methods, etc. can be put to use in the development.
- Use lambda function wherever possible

### Reference:
https://developer.android.com/studio/write/java8-support

[2018-07-28 06:34] #291 closed

[2018-07-28 07:43] Swati4star opened #293 "[Bug] Empty view is still there after undoing delete"
### Steps to reproduce
- Delete all the PDFs
- Create 1 PDF
- Go to `View Files` section
- Select the file. Select `Delete` option
- A snackbar comes up
- Select undo option

<img width="322" alt="screen shot 2018-07-28 at 1 06 17 pm" src="https://user-images.githubusercontent.com/9164477/43354343-0343f228-9268-11e8-96cb-ce10a1b8a74c.png">

### Expected behaviour
Hide the empty view

[2018-07-28 07:45] #289 closed

[2018-07-28 07:48] vyankatesh24 commented on #290
Shall I work on it?

[2018-07-28 07:49] Swati4star commented on #290
Yeah sure!,

[2018-07-28 08:31] Swati4star commented on #290
Looks good. Create a PR.

[2018-07-28 08:43] vyankatesh24 commented on #290
![image](https://user-images.githubusercontent.com/18503975/43354820-7099d592-9270-11e8-9ba4-610fdc8e5930.png)

[2018-07-28 08:44] Swati4star commented on #290
@vyankatesh24 IT's great

[2018-07-28 08:50] Swati4star opened #294 "UI changes in image rearrange screen"
### Steps :
- Select few images. Select `Preview PDF`
- select rearrange option.
- Following view comes up:
<img width="327" alt="screen shot 2018-07-28 at 2 14 55 pm" src="https://user-images.githubusercontent.com/9164477/43354837-c628bb7c-9270-11e8-851b-318ef74cc17c.png">

### Expected behavior:
- Add the page number at the top right corner of each page
- Change the icons view to something simil

[2018-07-28 09:01] #290 closed

[2018-07-28 11:05] shiv07tiwari commented on #284
Can I start working on this @Swati4star

[2018-07-28 12:51] #275 closed

[2018-07-28 14:35] #284 closed

[2018-07-28 14:55] vyankatesh24 commented on #294
Shall I work on it?

[2018-07-28 14:55] Swati4star commented on #294
Sure.

[2018-07-28 16:18] Swati4star commented on #173
We have added the preview feature & it allows users to rearrange images.
A user can always come back to home screen & edit images (crop, apply filter). It doesn't make sense to add these options again in the preview feature.

[2018-07-28 16:18] #173 closed

[2018-07-28 16:31] Swati4star opened #298 "Fragment is not getting highlighted in few cases"
### Case 1
- Open the app
- Nothing is highlighted in the navigation drawer for the first time

#### Expected behaviour
`Create PDF` should be selected

### Case 2
- Delete all the files in `View Files` section.
- The empty status view comes up.
- Select `Get Started` option.
- Observer the navigation drawer. `View Files` is selected

#### Expected behaviour
`Create PDF` should be selected

[2018-07-28 16:33] Swati4star opened #299 "[History] Change the files order in history section"
### Current behaviour
The most recent operation is listed at the bottom of the list in history section

### Expected behaviour
Reverse the listing order. The most recent operation should be on top

[2018-07-28 16:35] Swati4star opened #300 "The filtered image name always contains sepia"
### Steps
- Select few images. Select `Filter images`
- Apply any filter to the image & Select `Save current`
- Go to any gallery app & observe the name of the filtered image saved

### Actual behaviour
The image name always contain `sepia` at the end

### Expected behaviour
The image name should contain the applied filter name at the end

[2018-07-28 16:38] Swati4star opened #301 "[Preview Screen] Show image name at the bottom in preview images"
### Steps
Select a few images. Select `Preview PDF`. Following UI comes up:
<img width="333" alt="screen shot 2018-07-28 at 10 06 35 pm" src="https://user-images.githubusercontent.com/9164477/43358640-9db7dde8-92b2-11e8-828b-3d7bed61a856.png">

### Expected behaviour
Show the image name at the bottom of this view. (above the image rearranging options)

[2018-07-28 16:42] Swati4star opened #302 "Add `Set Page size` option in text to PDF"
We have `Set Page size` option in images to PDF.
<img width="297" alt="screen shot 2018-07-28 at 10 10 46 pm" src="https://user-images.githubusercontent.com/9164477/43358682-1ce8b786-92b3-11e8-8606-beefde4a3326.png">

### Expected behaviour
- Add same option in `Text to PDF` screen
- Don't just copy paste the code from ImagesToPDFrgament. Create a new utlity file (or add a new function in existing

[2018-07-28 16:53] vyankatesh24 commented on #294
![image](https://user-images.githubusercontent.com/18503975/43358779-cab5a594-92b4-11e8-94a7-6880f9446eef.png)

[2018-07-28 16:57] Swati4star commented on #294
The icons look good. Just change the color of page number on greyish button to white.

[2018-07-28 17:03] vyankatesh24 commented on #294
![image](https://user-images.githubusercontent.com/18503975/43358865-4316e52e-92b6-11e8-924f-d975bab8c50d.png)

[2018-07-28 17:07] Swati4star commented on #294
Yes. This looks good. Just one more thing. Decrease the right margin on the page number icon. Align with the arrow icons...and then, you can create a PR.

[2018-07-28 17:09] vyankatesh24 commented on #294
Ok

[2018-07-28 17:48] #294 closed

[2018-07-28 20:18] vyankatesh24 commented on #301
Have a look!

![image](https://user-images.githubusercontent.com/18503975/43360330-5bafb1fe-92d1-11e8-91fc-8b639521112f.png)

[2018-07-29 03:35] Swati4star commented on #301
Looks good!

[2018-07-29 04:06] #299 closed

[2018-07-29 05:48] vyankatesh24 commented on #293
shall I work on it?

[2018-07-29 05:56] Swati4star commented on #293
Sure @vyankatesh24

[2018-07-29 07:21] Swati4star opened #306 "Edit Images doesn't work after selecting filter images"
### Steps to reproduce
- Select few images
- Select `Filter images`.
- Do nothing, press back
- Selec `Edit images`

### Actual behaviour
Nothing happens

### Expected behaviour
Edit images screen should open up

[2018-07-29 11:30] milisharma27 opened #308 "An option to undo saved changes in filter image option"
There can be add-on of undoing the change after saving the image in filter image option.

[2018-07-29 11:34] Swati4star commented on #308
You have none filter. User can always apply that.

[2018-07-29 11:39] milisharma27 commented on #308
But what if after saving the change, the user wants to remove it?

[2018-07-29 11:40] Swati4star commented on #308
That exactly is what I am saying. If user wants to remove the filter, he can apply none filter

[2018-07-29 11:42] Swati4star opened #309 "Use consistent date format"
Date format is different in `View Files` and `history` section
<img width="350" alt="screen shot 2018-07-29 at 5 11 50 pm" src="https://user-images.githubusercontent.com/9164477/43365958-8490da9a-9352-11e8-987a-2bf12d241992.png">
<img width="349" alt="screen shot 2018-07-29 at 5 11 56 pm" src="https://user-images.githubusercontent.com/9164477/43365959-84b8ac5a-9352-11e8-8733-146e2b2621b1.png">

##

[2018-07-29 12:20] shiv07tiwari commented on #309
Working on this @Swati4star

[2018-07-29 12:20] Swati4star commented on #309
Okay!

[2018-07-29 17:21] #309 closed

[2018-07-29 17:21] shiv07tiwari commented on #268
working on this @Swati4star.

[2018-07-29 18:35] #268 closed

[2018-07-29 18:41] milisharma27 commented on #308
What I am trying to say is, if suppose I put a B&W filter and save the current change. But then if I want to remove B&W filter and apply none or any other filter, it will do the changes in the newly saved image. It cannot undo the change.
This is the original picture:
![img-20180717-wa0001](https://user-images.githubusercontent.com/33100116/43369437-016293a4-938c-11e8-8215-06b91f54d74d.jpg)

When

[2018-07-30 17:05] Swati4star opened #313 "[Bug] Number of images changes if we select back in the filter images screen"
### Steps to reproduce
- Select 2 images
- Select `Apply filter`
- Apply some filter (let's say, `black n white`) & select `Save Current`
- Press back on the action bar, select ok
- Now, go to preview images or create PDF

### Actual behaviour
There are **3** images in the PDF

### Expected behaviour
There should be only **2** images in the output PDF

[2018-07-31 04:39] vyankatesh24 commented on #306
I would like to work on it.

[2018-07-31 04:45] Swati4star commented on #306
Sure. :+1:

[2018-07-31 04:56] shiv07tiwari opened #314 "Get Started button."
When the user clicks getting started button, he is directed towards the main app screen, which he is already aware of, so instead of this, we can direct him directly to take the pictures. I guess this might improve the user experience :)

[2018-07-31 05:30] Swati4star commented on #314
I think, the current experience is fine.

[2018-07-31 05:44] #306 closed

[2018-07-31 05:50] vyankatesh24 commented on #313
I would like to work on it.
Also, there is one more that  is,
If you apply a filter saves it and go to next image after that again come back to the previous image the filter is not shown (original image is shown).

I would like to work on both simultaneously.

[2018-07-31 05:55] Swati4star commented on #313
@vyankatesh24 Great finding! Sure :D
I am increasing the difficulty level of this issue.

[2018-07-31 12:25] vyankatesh24 commented on #308
@Swati4star
Where shall I add this option?

[2018-07-31 12:26] Swati4star commented on #308
To the left of save current. Make the save current button smaller (decrease text size)

[2018-07-31 12:28] vyankatesh24 commented on #308
Ok
What text Shall I add to new button
Is "Reset" Ok?

[2018-07-31 12:29] Swati4star commented on #308
Yes. It's fine.

[2018-07-31 12:45] vyankatesh24 commented on #308
I am working on it.

[2018-07-31 12:48] Swati4star commented on #308
Sure.

[2018-07-31 14:03] #300 closed

[2018-07-31 15:13] #314 closed

[2018-08-01 04:52] vyankatesh24 commented on #302
I would like to work on it.

[2018-08-01 04:52] Swati4star commented on #302
Sure @vyankatesh24

[2018-08-01 10:30] #302 closed

[2018-08-01 10:43] vyankatesh24 commented on #257
Would like to work on it.

[2018-08-01 10:43] Swati4star commented on #257
Sure

[2018-08-01 14:55] Swati4star opened #320 "Show a lock icon by the side of encrypted PDFs in View Files"
### Steps
Go to `View Files` from the navigation drawer

### Expected behaviour
Show a lock icon at the top right corner of the crad of the PDFs (which are encrypted)

This is just to show a difference between encrypted & unencrypted PDFs

[2018-08-02 08:31] vishalkalra9 opened #321 "Back button on any navigation bar activity closes the app"
The back button on any side navigation bar closes the activity and user has to open the app again to access again

[2018-08-02 08:45] Swati4star commented on #321
Which activity are you taking about?

We don't have back button on navigation drawer in MainActivity. For other activities, it is supposed to finish that.

[2018-08-02 09:01] #257 closed

[2018-08-02 09:08] vishalkalra9 commented on #321
I was actually mentioning the screens which are opened from navigation drawer. For eg if I open "About us" screen and press back to go to previous screen shouldn't I be taken back to home/Default page in case current one isn't as that's generic user behaviour?

[2018-08-02 09:12] Swati4star commented on #321
This issue is same as https://github.com/Swati4star/Images-to-PDF/issues/268
It has been fixed.

[2018-08-02 09:14] vyankatesh24 commented on #281
I would like to work on it.
Shall add `mergePdf` function's code in `AsyncTask` ?

[2018-08-02 09:49] vishalkalra9 commented on #321
Okay. I couldn't find the same in the latest build from your master that's why. Anyhow, closing it.

[2018-08-02 10:36] shiv07tiwari commented on #165
Working on this @Swati4star

[2018-08-02 11:42] vyankatesh24 commented on #277
Would like to work on it.
What details need to be shown in the list just `filename` or anything else also?

[2018-08-02 11:46] #320 closed

[2018-08-02 11:47] #281 closed

[2018-08-02 11:49] Swati4star commented on #277
@vyankatesh24 Sure!
The workflow should be something like:
- In merge PDF section, just a list of PDFs(names) created using our app in the bottom (use horizontal recycler view)
- When I click on a PDF, add a dialog or something to ask user, if they want to add it as first PDF or second PDF.
- Show the corresponding filename on the buttons then

[2018-08-02 11:54] vyankatesh24 commented on #277
Ok!
The `recyclerView` should be horizontally scrolling?

[2018-08-02 12:10] Swati4star commented on #277
@vyankatesh24 It's your choice, whichever you feel looks better.

[2018-08-02 13:57] #298 closed

[2018-08-02 14:16] Swati4star opened #326 "create a settings page : Allow users to select storage location"
### What to do?
- Create a new settings page in the navigation drawer
- On selecting that, open up a new fragment
- Add a heading to this page  `PDF Storage Location`
- Under this heading, show a text view with the current storage location of PDFs
- At the right end of this text view, add a folder icon
- On clicking this, a folder chooser should open up, allowing the user to select a storage locat

[2018-08-02 17:11] Swati4star commented on #321
Sorry, This issue is actually not resolved. I checked in the app.

[2018-08-03 06:17] vishalkalra9 commented on #321
Yeah. I'll work on this. Also, shouldn't we prompt the user to press back twice to close the app?

[2018-08-03 08:26] #165 closed

[2018-08-03 11:25] Swati4star commented on #326
Also, if there are PDFs in current location, show an alert, if user wants to move the PDFs at previous path, to new path.

[2018-08-03 13:32] Swati4star opened #329 "UI problem in `View Files` section of merge PDF"
- When we have a few PDFs, the UI looks like this:
<img width="315" alt="screen shot 2018-08-03 at 6 59 40 pm" src="https://user-images.githubusercontent.com/9164477/43645465-96fe3f50-974f-11e8-804e-3f96e7d22b4e.png">

### Expected behaviour
The files list should either start from top or be in bottom.

[2018-08-03 13:33] Swati4star opened #330 "Don't show the `View Files` option in Merge PDF, when there are no files"
Hide the view files option in Merge PDF, when there are no files to show

<img width="329" alt="screen shot 2018-08-03 at 7 02 28 pm" src="https://user-images.githubusercontent.com/9164477/43645557-eb715996-974f-11e8-80e8-7287bd9ee9dd.png">

[2018-08-03 13:36] Swati4star opened #331 "An empty PDF is created in `Text to PDF` when we don't have any file selected"
### Steps to reproduce
- Go to `Text to PDF`
- Select `Create PDF`
- A PDF with size 0 is created

### Expected behaviour
The `Create PDF` should be disabled (and greyish in color) when we don't have any text file selecte

[2018-08-03 13:39] Swati4star opened #332 "Add an action to snackbar to view created PDF in Merge PDF section"
- Select `Merge PDF`
- Select PDFs
- Click on `Merge Files`
- A snackbar is displayed

### Expected behaviour
Add a `View` action to snackbar (similar to images to PDF section). On clicking this, open the created PDF

[2018-08-03 13:42] Swati4star opened #333 "The select PDF button doesn't change color to green when selected from `view files`"
- Go to `Merge PDF`
- Select `View Files`
- Select any PDF, and set it as first
- Again, select `View Files` bar

### Expected behaviour
The color of first button should change to green

### Actual behaviour
It is greyish
<img width="316" alt="screen shot 2018-08-03 at 7 10 27 pm" src="https://user-images.githubusercontent.com/9164477/43645985-322a9c84-9751-11e8-89a0-891cf3d279f9.png">

[2018-08-03 13:49] Swati4star opened #334 "Don't change the background color of `Disable doodle effect` button, when it is selected"
the UI looks like this:
Not selected
<img width="336" alt="screen shot 2018-08-03 at 7 18 36 pm" src="https://user-images.githubusercontent.com/9164477/43646260-109d5024-9752-11e8-82db-af04cabf350e.png">

Selected
<img width="324" alt="screen shot 2018-08-03 at 7 18 40 pm" src="https://user-images.githubusercontent.com/9164477/43646280-1aac10dc-9752-11e8-9536-f3ef3e60fd08.png">

[2018-08-03 13:52] Swati4star opened #335 "The doodle is getting removed from the image, when `Save current is clicked`"
Before clicking `Save current`
<img width="339" alt="screen shot 2018-08-03 at 7 21 19 pm" src="https://user-images.githubusercontent.com/9164477/43646389-6fd9de2c-9752-11e8-81a9-4588868130c5.png">

After clicking `Save current`
<img width="326" alt="screen shot 2018-08-03 at 7 21 49 pm" src="https://user-images.githubusercontent.com/9164477/43646408-7e481a96-9752-11e8-8757-56deddb1e29e.png">

[2018-08-03 17:20] shiv07tiwari commented on #334
working on this @Swati4star

[2018-08-04 02:54] #329 closed

[2018-08-04 02:57] #332 closed

[2018-08-04 03:00] #333 closed

[2018-08-04 07:37] vyankatesh24 commented on #330
Would like to work on it.

[2018-08-04 07:39] Swati4star commented on #330
Sure

[2018-08-04 09:33] vyankatesh24 commented on #331
Would like to work on it.

[2018-08-04 09:35] Swati4star commented on #331
Go ahead.
 I am traveling & I don't have access to my laptop, that's why there is a delay in merging your current PR, but you can go ahead with this one!

[2018-08-04 09:35] vyankatesh24 commented on #331
Do I have to disable the 'More Enhancement Option' also or Just `Create PDF` button?

[2018-08-04 09:36] Swati4star commented on #331
Just `Create PDF`

(Similar to `images to PDF` fragment)

[2018-08-04 09:37] vyankatesh24 commented on #331
Ok.

[2018-08-04 15:57] #330 closed

[2018-08-04 15:59] #331 closed

[2018-08-05 13:07] vyankatesh24 commented on #280
Would like to work on it.

[2018-08-05 14:13] Swati4star opened #343 "Bug in File History when File is renamed"
### Steps
- Create a file name `abc.pdf`
- Rename it to `xyz.pdf`
- The history looks like this :
![unnamed](https://user-images.githubusercontent.com/9164477/43686685-96acc1ae-98e7-11e8-9120-6e04d3047652.jpg)

- When we click on the file, it says, `Pdf doesn't exist.`

### Expected behavior:
On renaming the file, update the file URI also in the database. It should point to the new file after rena

[2018-08-05 14:14] Swati4star opened #344 "Bug in filter screen"
Bug in filter screen

### Steps
- Select few images
- Select `Filter images`
- apply some filter to the image
- (Don't click on `Save current`)
- select check icon on the top bar

### Expected behavior
The filter should be applied on the image.

### Actual Behavior
Filter is not applied

### What to do?
When user clicks on check icon (with few unsaved changes), show a snackbar saying `The filter o

[2018-08-05 14:29] Swati4star opened #345 "Edit images is not enabled when we select it second time"
### Steps
- Select few images
- Go to `Edit Images`
- Don't press back. Select `Crop` on every image
- Select `Edit Images` again.

### expected behaviour
Edit images screen should open up

### Actual Behavior
Nothing happens

[2018-08-05 14:33] Swati4star opened #346 "Disable the scroll on image when Doodle effect is selected"
### Steps
- Select images
- Select `Filter images`
- Select `Enable Doodle Effect`

### Issue
The doodle effect does not get applied properly when trying to create a vertical line (the image scrolls)

### Expected behaviour
Disable the scroll on image, when doodle effect is selected

[2018-08-05 14:35] vyankatesh24 commented on #343
If we change the `Uri` to new, it will show the new file name on a screen.
Because we are extracting a name from the `Uri`
Will that be Ok?

[2018-08-05 14:35] Swati4star commented on #343
Yes. The new file name should be displayed

[2018-08-05 14:36] vyankatesh24 commented on #343
OK, Shall I work on it?

[2018-08-05 14:37] Swati4star commented on #343
Sure. Go ahead @vyankatesh24

[2018-08-05 14:42] Swati4star opened #347 "Change in UI of doodle effect"
Current Filter screen UI looks like this:
<img width="327" alt="screen shot 2018-08-05 at 8 08 52 pm" src="https://user-images.githubusercontent.com/9164477/43686955-6e2a7d44-98eb-11e8-838b-0ae7b30ec1e9.png">

### What to do?
- Remove the square button `Enable Doodle Effect`
- Move it to bottom strip only.
- Add this in circular shape only. (Add it after None, at second position)
- When this optio

[2018-08-05 14:45] Swati4star opened #348 "Dont show snackbar in Filter screen, if no change is made on the image"
### Steps
- Select few images
- Go to `Filter Images`
- Don't apply any filter (or apply none filter)
- Select (right arrow)▶️ icon

### Actual behaviour
A toast message is displayed, `Save Current Images First`

### Expected behaviour
When no change is made to the image, this toast should not be displayed

[2018-08-05 14:51] vyankatesh24 opened #350 "Files are getting Overwritten while renaming the file"
Files are getting Overwritten while renaming the file from `View files` Fragment

[2018-08-05 14:52] Swati4star commented on #350
What do you mean by overwritten?

[2018-08-05 14:53] Swati4star opened #351 "Reset the values on Merge PDF, when PDF is created"
### Steps
- Go to `Merge PDF`
- Select first & second PDF
- Select `Merge Files`.
- PDF is created

### Actual behaviour
UI looks like this:
<img width="333" alt="screen shot 2018-08-05 at 8 18 58 pm" src="https://user-images.githubusercontent.com/9164477/43687098-4ee8c254-98ed-11e8-87df-807c3e09306d.png">

### Expected behaviour
- The values on buttons should reset (and grey colored)
- `Merge Fil

[2018-08-05 14:56] vyankatesh24 commented on #350
Another file having the same name as the Entered new name, gets overwritten.

[2018-08-05 14:56] Swati4star opened #352 "Values should reset when PDF is created in `Text to PDF`"
### Steps
- Select `Text to PDF`
- Create PDF

### Actual behaviour
When we click `Create PDF` second time, another PDF is created

### Expected behaviour
The `Create PDF` should be disabled
There should not be any txt file selcted

[2018-08-05 14:57] Swati4star commented on #350
oh 👍

[2018-08-05 15:09] #343 closed

[2018-08-05 15:22] Swati4star opened #353 "Set Page Size value is not retained"
### Steps
- Go to `Images to PDF` or `Text to PDF` section
- Select `Set Page Size`
- Set it to anything, other than Default value (Let's say: Legal)
- Select `Set Page Size` again.

### Expected behaviour
`Legal` should be selected in Page size dialog

### Actual behaviour
`Default` option is selected always

Fix it for `Images to PDF` as well as `Text to PDF` section

[2018-08-05 15:25] Swati4star opened #354 "Add Password Protection option in Text to PDF also"
Similar to the Password Protection option we have in `Images to PDF` section, add it to `Text to PDF` also.

[2018-08-05 17:30] Swati4star commented on #350
@vyankatesh24 Are you working on this one?

[2018-08-06 13:27] Swati4star commented on #321
The issue is still not solved. The behaviour is very weird now.
The fragments are getting stacked on top of each other & we need to press back so many times

[2018-08-06 13:37] Swati4star commented on #321
Fixed by beed200bd4bb09ede59cdef2a33b9e4ad2c9aebe

[2018-08-06 13:37] #321 closed

[2018-08-06 17:05] #350 closed

[2018-08-06 17:51] vishalkalra9 commented on #321
How exactly is it reproducible? I checked again it's fine. Following is the use case I followed:

1. Opened app -> Selected View files from drawer -> pressed back -> pressed back twice on home -> Closes app

2. Opened app -> Selected View files -> Selected History -> pressed back -> pressed back twice on home -> Closes app

[2018-08-06 17:54] Swati4star opened #356 "Use `Bottom Sheet` for `View Files` in `Merge PDF`"
### Steps
- Go to `Merge Files` from the navigation drawer. There is a `View Files` option at the bottom
- Right now, when we click on `View Files`, a view opens up & hides, when we select it

### Expected behaviour
- Use `Persistent Bottom Sheet` for `View Files`. For example:
<img width="751" alt="screen shot 2018-08-06 at 11 21 09 pm" src="https://user-images.githubusercontent.com/9164477/43732

[2018-08-07 04:09] vyankatesh24 commented on #351
Would like to work on it.

[2018-08-07 04:09] Swati4star commented on #351
Sure

[2018-08-07 04:38] vyankatesh24 commented on #352
Would like to work on it.

[2018-08-07 04:39] Swati4star commented on #352
Go ahead :+1:

[2018-08-07 05:05] #351 closed

[2018-08-07 05:06] #352 closed

[2018-08-07 05:25] vyankatesh24 commented on #356
I would like to try it.

[2018-08-07 05:52] Swati4star commented on #356
Sure @vyankatesh24
Let me know if you face any problem

[2018-08-07 05:57] vyankatesh24 commented on #356
Yeah Sure!

[2018-08-07 08:28] #356 closed

[2018-08-07 16:00] Swati4star opened #360 "[Merge PDF Bug] Invalid file is created when encrypted PDF is merged"
### Steps
- Create an encrypted PDF
- In Merge PDF, choose one of them to be that encrypted PDF

### Actual behaviour
`PDFs merged` message is displayed & invalid file is created

### Expected behaviour
Show an error message in the snackbar `PDFs can't be merged. Remove the encryption from the PDF`

[2018-08-07 17:17] Swati4star commented on #360
Fixed by b7c101092767b6e5be44dad193d0c452407d8c2f

[2018-08-07 17:17] #360 closed

[2018-08-07 17:17] Swati4star commented on #282
Fixed by b7c101092767b6e5be44dad193d0c452407d8c2f

[2018-08-07 17:17] #282 closed

[2018-08-08 08:32] Swati4star opened #361 "Show a different view in the action bar when one or more PDFs are selected"
In the `View Files` section,

Show the view similar to this, when one or more files are selected
<img width="532" alt="screen shot 2018-08-08 at 2 00 06 pm" src="https://user-images.githubusercontent.com/9164477/43825847-7549b05c-9b13-11e8-8d8e-2abc9e7b0376.png">

- The first number should be the number of PDFs selected
- The search & sort icon should get hidden
- Other icons present there should

[2018-08-09 06:06] #348 closed

[2018-08-09 08:50] vyankatesh24 commented on #344
@Swati4star
Please check once, after merging #362 this bug situation is not occurring.

[2018-08-09 08:52] Swati4star commented on #344
I'll check it in a while.

You can work on some other issue by the time.

[2018-08-09 08:52] vyankatesh24 commented on #344
Yeah Sure.

[2018-08-09 09:00] vyankatesh24 commented on #354
Would like to work on it.

[2018-08-09 09:02] Swati4star commented on #354
Sure @vyankatesh24 👍

[2018-08-09 12:00] Swati4star commented on #354
Fixed by https://github.com/Swati4star/Images-to-PDF/pull/363

[2018-08-09 12:00] #354 closed

[2018-08-09 15:23] Swati4star commented on #344
@vyankatesh24 The issue is still here.

[2018-08-09 15:26] Swati4star opened #364 "There is no text on `Create PDF` button when PDF is created for second time"
### Steps
- Select few images. Create a PDF
- Again select images. When you come back to the main screen, the UI looks like this:

<img width="313" alt="screen shot 2018-08-09 at 8 54 14 pm" src="https://user-images.githubusercontent.com/9164477/43908758-6f438f94-9c16-11e8-9906-9a16013c7bae.png">

[2018-08-09 15:30] Swati4star opened #365 "Random file selection behaviour in view files"
### Steps:
- Go to `View Files`
- Select few files (by selecting checkbox) [let's say first top 2]
<img width="314" alt="screen shot 2018-08-09 at 9 00 00 pm" src="https://user-images.githubusercontent.com/9164477/43909107-3473c4b4-9c17-11e8-9966-d4f23cf43f65.png">

- Now, click on some other file (not on checkbox, on the filename)
- A dialog opens up. Don't select any option. PRess back. Dialog c

[2018-08-10 11:59] vyankatesh24 commented on #353
@Swati4star
Working on this.

[2018-08-10 12:00] Swati4star commented on #353
Sure!

[2018-08-10 13:39] #353 closed

[2018-08-10 15:10] Swati4star opened #367 "[Text to PDF] Permissions error"
### Steps
- Go to app info & turn off the storage permissions
- Open the app. The runtime permission dialog opens up. `Deny` the permissions
- Go to `Text to PDF` section
- Select a text file. Select `Convert to PDF`

### Actual behaviour
Nothing happens (An internal error occurs)
[code]

### Expected behaviour
On selecting `Create PDF`, show the runtime permissions dialog (similar to `Images to P

[2018-08-10 15:26] Swati4star opened #368 "[View Files] Empty view is shown in case permissions are not provided"
### Steps
- Diable the storage permission
- Go to `View Files`
- The empty view is display (even when there are PDF files)

### Expected behaviour
- When we open up view files (and we don't have required runtime permissions), show the runtime permissions dialog
- Now, let's say, the user deny the permission
- Instead of empty status view, show this lottie animation
https://www.lottiefiles.com/872-

[2018-08-11 06:32] #334 closed

[2018-08-11 08:08] #335 closed

[2018-08-11 08:08] #347 closed

[2018-08-11 09:42] Swati4star opened #369 "Filter images does not show the cropped image"
### Steps
- Select an image
- Go to `Edit Images`. Crop some part of image. Select `Crop`
- Select `Filter Images`

### Expected behaviour
Cropped image should be there

### Actual behaviour
There is original image (not cropped)

[2018-08-11 12:51] #33 closed

[2018-08-11 15:39] Swati4star opened #370 "`Add Border` text is not visible when images are selected"
### Steps
- Initial view
<img width="324" alt="screen shot 2018-08-11 at 9 08 19 pm" src="https://user-images.githubusercontent.com/9164477/43993428-b4b52660-9daa-11e8-903a-e187d59a5374.png">
- After selecting few images, when we scroll down, it looks like,
<img width="324" alt="screen shot 2018-08-11 at 9 07 35 pm" src="https://user-images.githubusercontent.com/9164477/43993433-c610f592-9daa-11e8

[2018-08-11 15:52] Swati4star opened #371 "[Merge Files] Files get overwritten if existing name is given"
### Steps
- Let's say, you alreay have created a PDF named `abc.pdf`
- Go to `Merge PDF`. Select both PDFs
- Select `Merge Files`. Type the name as `abc.pdf`

### Expected behaviour
Show the dialog
<img width="293" alt="screen shot 2018-08-11 at 9 21 15 pm" src="https://user-images.githubusercontent.com/9164477/43993528-836e20dc-9dac-11e8-8063-47ad15e43cd5.png">
(Similar behaviour is in text-to-pd

[2018-08-11 15:56] Swati4star opened #372 "[Merge PDF - View Files] Show lock icon if PDF is encrypted"
### What to do?
Show a lock icon to the encrypted files in this view:
<img width="318" alt="screen shot 2018-08-11 at 9 24 53 pm" src="https://user-images.githubusercontent.com/9164477/43993566-0d57a728-9dad-11e8-85e5-e458fac70f60.png">

Similar behaviour is already there in view files
<img width="336" alt="screen shot 2018-08-11 at 9 25 40 pm" src="https://user-images.githubusercontent.com/916447

[2018-08-11 16:00] Swati4star opened #373 "[Filter images] Don't show arrow icon when there is just one image"
### Steps
- Select one image
- Go to `Filter images`
<img width="324" alt="screen shot 2018-08-11 at 9 29 36 pm" src="https://user-images.githubusercontent.com/9164477/43993611-c5e36610-9dad-11e8-8a8d-d72bbee67f83.png">

### Expected behaviour
Hide the arrows

[2018-08-11 16:04] Swati4star opened #374 "[Filter images UI] Alert is shown even if we don't apply any filter"
### Steps
- Select few images
- Go to `Filter images`
- Don't do anything. Select ◀️ (back arrow icon on top left of action bar)

### Actual behaviour
This alert is shown
<img width="285" alt="screen shot 2018-08-11 at 9 33 28 pm" src="https://user-images.githubusercontent.com/9164477/43993638-3791f416-9dae-11e8-9854-a9c1d2c4ed24.png">

### Expected behaviour
Don't show the alert if no changes are

[2018-08-11 18:36] #345 closed

[2018-08-11 18:36] #369 closed

[2018-08-12 04:30] #373 closed

[2018-08-12 06:28] #364 closed

[2018-08-12 10:09] Swati4star opened #379 "[Compress PDF] Add an option to compress PDF"
### What to do?
- Add a new option in navigation drawer : `Compress PDF`
- This fragment should have :
  - a button to `select PDF`, and a button to `Compress PDF`
  - a `View Files` bottom sheet (similar to merge Files)
  - when PDF is selected, open up a dialog to enter compression level . (between 0 to 100)
  - when ok is pressed, create a pdf with name `<filename>_compressed<level>.pdf`

### R

[2018-08-12 10:14] Swati4star opened #380 "Add an option to remove image in rearrange screen"
### Steps
- Select few images. Go to `Preview PDF`
- Go to `rearrange`

### What to do?
- Add a new icon on this screen. Add a cross icon at the top right corner of each image.
<img width="329" alt="screen shot 2018-08-12 at 3 42 33 pm" src="https://user-images.githubusercontent.com/9164477/44000936-605bdb58-9e46-11e8-9002-9938e8dcdb3c.png">

- When this icon is clicked, show an alert `Are you sur

[2018-08-12 10:16] Swati4star opened #381 "[Image Border] Add `Set as default` option"
### Steps
- Select a few images. Select `Add border`
<img width="301" alt="screen shot 2018-08-12 at 3 45 23 pm" src="https://user-images.githubusercontent.com/9164477/44000964-d0e9bc5a-9e46-11e8-93e5-11f92977111e.png">

### What to do?
Add a new checkbox here, `Set as default`
If this is set, set current value as the default

[2018-08-12 18:53] #90 closed

[2018-08-13 12:45] vyankatesh24 commented on #214
Would like to work on it

[2018-08-13 14:52] Swati4star opened #383 "[Extract images] Show the files in a view after they are extracted"
### Steps
- Go to `Extract Images` from the navigation drawer
- Select a PDF. Select `Extract images`
- After the images are extracted, a snackbar is displayed with a message of how many images were extracted

### What to do?
If more than 0 images are extracted, show a heading (below the extract images button) : `Images Extracted`
Under this heading, show a horizontal recycler view of the extracte

[2018-08-13 14:57] #214 closed

[2018-08-13 15:03] Swati4star opened #384 "[Filter Images] Toast to save current is displayed even when image is saved"
### Steps
- Select few images. Go to `Filter images`
- Don't add any effect. Select `Brush` option. Draw something. Select `Save current`
- Now, press right arrow icon. The toast is displayed `Save current first`

### Expected behaviour
Toast shouldn't be displayed, when image is saved

[2018-08-13 15:26] Swati4star commented on #321
@vishalkalra9 Actually, the fragments were getting stacked on the top of each other & the view was turning out to be weird.

I don't any screenshots right now to post.

[2018-08-14 05:09] #384 closed

[2018-08-14 07:27] shiv07tiwari commented on #379
Working on this @Swati4star

[2018-08-14 10:57] Swati4star commented on #379
Sure @shiv07tiwari

[2018-08-14 11:49] Swati4star commented on #344
Sure @vyankatesh24

[2018-08-14 12:10] vyankatesh24 commented on #374
Would like to work on it.

[2018-08-14 12:13] Swati4star commented on #374
Sure! @vyankatesh24

[2018-08-14 13:10] vyankatesh24 commented on #380
Shall I work on it?

[2018-08-14 13:38] Swati4star commented on #380
Yes @vyankatesh24

[2018-08-14 13:38] #374 closed

[2018-08-14 13:40] #344 closed

[2018-08-14 13:48] Swati4star opened #388 "[Extract Images] App crashes if we select extract images button without selecting a PDF"
### What to do?
- Disable (and change color to grey) the `extract images` button when there is no PDF selected, and when images are extracted from PDF
- Enable the button (and change color to blue) when PDF is selected.

[2018-08-14 13:50] Swati4star opened #389 "[Extract images] App hangs if we select a PDF with a large number of images"
### What to do?
- Move the image extraction function to background thread
- While images are getting extracted, show the animation dialog (similar to images to PDF)

[2018-08-14 13:57] Swati4star opened #390 "[Extract images] Change the image names to prevent overwrite"
### Existing behaviour
Image name is `image_<current time in ms>.jpg`
https://github.com/Swati4star/Images-to-PDF/blob/e1bc745e210ee39f0137f57d71a514b217c3fe4b/app/src/main/java/swati4star/createpdf/util/FileUtils.java#L301

### What to do?
Change the name to
`<pdf_name>_<incrementing numbers>.jpg`
incrementing numbers should start with one or the first available number (the number which does not

[2018-08-14 17:25] Swati4star commented on #380
Looks good!!

[2018-08-14 18:01] #380 closed

[2018-08-15 04:39] Swati4star opened #392 "[Watermark] Add watermark settings page"
### What to do?
- There is a `Add Watermark` option on the home page
- On clicking this, open up anew page with watermark properties. This should have
  - Text to be added as watermark
  - Text color
  - Text Size
  - Text font family, also text style
<img width="376" alt="screen shot 2018-08-15 at 9 58 07 am" src="https://user-images.githubusercontent.com/9164477/44131601-c522772c-a071-11e8-98eb-

[2018-08-15 04:45] Swati4star commented on #92
Created a new issue with more details for this.

[2018-08-15 04:45] #92 closed

[2018-08-15 06:18] #148 closed

[2018-08-15 06:48] vyankatesh24 commented on #365
Would like to work on it.

[2018-08-15 06:50] Swati4star commented on #365
Sure @vyankatesh24

[2018-08-15 07:09] Swati4star opened #393 "Create a Home Page"
### Create a new Home frgament

- The UI should look like below. Use horizontal recycler view for this.
- On selecting the items in first & third row, open the respective fragments
- On selecting items in second row, open the `View Files` fragment, and show a dialog.
For example, if user selected `Add Password`, open up `View Files` section & show the dialog saying

[code]
Also, add `Don't show ag

[2018-08-15 07:47] #365 closed

[2018-08-15 08:01] Swati4star opened #395 "[Extract images] Add an option to share the extracted images"
When the images get extracted from the PDF, show a button `Share extracted images` (with share icon).
On clicking this button, open a share intent with extracted images

[2018-08-15 08:03] Swati4star opened #396 "[Merge PDF] Add an option to encrypt PDF"
<img width="312" alt="screen shot 2018-08-15 at 1 32 12 pm" src="https://user-images.githubusercontent.com/9164477/44137900-b0bfe1ac-a08f-11e8-9058-1eea235dfbab.png">

- Add `More enhancement options` below `Merge Files` button
- Add `Password Protect PDF` option. On clicking this, open up same dialog as images to PDF section

[2018-08-15 08:08] Swati4star opened #397 "[Settings Page] Create a settings page to show/edit display default values"
### What to do?
- Add a new settings page in the navigation drawer (above `about us`)
- On this page, show default values of various settings
  - Default compression value
  - Page Size
  - Font Size
  - Font Family
- User should also be able to modify these values

[2018-08-15 10:41] vyankatesh24 commented on #372
Would like to work on it

[2018-08-15 10:42] Swati4star commented on #372
Sure @vyankatesh24

[2018-08-15 11:19] #372 closed

[2018-08-15 16:42] Swati4star commented on #91
Fixed.

[2018-08-15 16:42] #91 closed

[2018-08-15 17:18] Swati4star opened #399 "[New Feature] Allow user to reorder pages of an existing PDF"
- `Reorder Pages` :  Add a new option in the dialog in `View Files` (The dialog opens up when we select a PDF)
- On selecting this option, open up a dialog asking user how they want to reorder their pages?
(ask them the page number sequence)
### Reference
https://developers.itextpdf.com/question/how-reorder-pages-pdf-file

[2018-08-15 17:22] Swati4star opened #400 "[New Feature] Allow users to rotate pages of an existing PDF"
- `Rotate Pages` :  Add a new option in the dialog in `View Files` (The dialog opens up when we select a PDF)
- On selecting this option, open up a dialog asking user the angle by which they want to rotate their pages.
- On selecting `ok`, save the PDF with name `<pdf_name>_rotated<angle>.pdf`

### Reference:
https://developers.itextpdf.com/question/how-rotate-page-90-degrees

[2018-08-16 14:38] #383 closed

[2018-08-17 04:07] vyankatesh24 commented on #371
Would like to work on it.

[2018-08-17 04:08] Swati4star commented on #371
Sure. @vyankatesh24

[2018-08-17 06:08] vyankatesh24 commented on #400
Would like to work on it

[2018-08-17 06:11] Swati4star commented on #400
@vyankatesh24 Go ahead! 👍

[2018-08-17 09:57] #400 closed

[2018-08-17 10:32] Swati4star opened #403 "[History] Few operations missing"
Add these operations (along with appropriate icons) to the history database:
- View Files -> Add Password ( operation name : `encrypted`)
- View Files -> Remove Password ( operation name : `decrypted`)
- View Files -> Rotate Pages ( operation name : `rotated`)

[2018-08-17 10:57] Swati4star commented on #379
@shiv07tiwari Updates?

[2018-08-17 14:54] #403 closed

[2018-08-17 14:56] Swati4star commented on #379
Add this option in `View Files` only. Not as separate option in navigation drawer

[2018-08-17 15:02] Swati4star opened #404 "[Merge PDF] Allow users to merge multiple files"
- Remove the select first PDF & select second PDF option from `Merge Files`
- Move Merge Files button to top
- Add a `Select PDF` button below it
- After the file is selected, add it to the list (below the Merge Files button)

- In the bottom sheet also, remove the dialog & just keep adding PDF to the list (when user clicks it), and just show a snackbar `PDF has been added to the list`

[2018-08-17 15:06] Swati4star opened #405 "[View Files] Sorting order messes up when we add/remove password from PDF"
### Steps
- Go to `View Files`
- Select the sorting order as `by name`
- Select a PDF. select `add password` or `remove password`
- Type in password
- The sorting order messes up

[2018-08-17 18:29] #399 closed

[2018-08-18 05:41] #405 closed

[2018-08-18 17:54] #381 closed

[2018-08-18 18:00] vyankatesh24 commented on #389
Would like to work on it.

[2018-08-18 18:02] Swati4star commented on #389
Sure @vyankatesh24 👍

[2018-08-19 04:10] #389 closed

[2018-08-19 04:29] vyankatesh24 commented on #395
Would like to work on it.

[2018-08-19 04:34] Swati4star commented on #395
Sure @vyankatesh24

[2018-08-19 04:39] Swati4star opened #407 "The file does not get added in view when delete undo is clicked"
### Steps
- Select a file in `View Files`
- Select `delete`. (The file gets hidden from the list)
- Select `undo.`

### Expected behaviour
File should reappear in the view

### Actual behaviour
File doesn't reappear.
On swiping, the file reappears in the view

[2018-08-19 05:40] vyankatesh24 commented on #395
![image](https://user-images.githubusercontent.com/18503975/44305852-62a6e600-a3a0-11e8-88bc-6f933d1239dd.png)

Have a look!

[2018-08-19 05:43] Swati4star commented on #395
Move it to the end of the list.

[2018-08-19 05:52] vyankatesh24 commented on #395
Ok

[2018-08-19 06:11] vyankatesh24 commented on #395
![image](https://user-images.githubusercontent.com/18503975/44306071-c9c69980-a3a4-11e8-9482-9a5741c8feea.png)

Have a look!

[2018-08-19 07:48] #395 closed

[2018-08-19 13:26] kvsjxd opened #409 "Camera switching impossible while clicking images from the app"
Camera switching is impossible while clicking images from the app itself. Add an option to switch from primary camera to secondary camera from the app.

Reason for supporting this functionality is that some OEMs mess up configuration (in rare cases) of their devices while building android image and does not even fix it later with updates. Another reason is that, some tablets only have front camera

[2018-08-19 17:59] Swati4star opened #410 "[Extract images] Show a small thumbnail of extracted image in listview"
### Steps
- Go to `Extract images`. Select a PDF. Select Extract images.
- there is a listview with image names

### What to do?
- Show a small circular thumbnail of the images also in the listview.

[2018-08-21 15:21] #410 closed

[2018-08-21 15:21] #407 closed

[2018-08-21 17:09] #379 closed

[2018-08-22 04:37] vyankatesh24 commented on #404
Would like to work on it.

[2018-08-22 04:38] Swati4star commented on #404
Sure.

[2018-08-22 12:06] #404 closed

[2018-08-22 15:13] Swati4star commented on #409
The library we have doesn't provide support for this. So, this issue can only be solved after https://github.com/Swati4star/Images-to-PDF/issues/146 is done.

[2018-08-22 15:21] Swati4star opened #412 "[Home page] fragment automatically scrolls down"
- Go to some other fragment
- then, come to `create PDF` fragment.

### Actual behaviour
The fragment scrolls down

### Expected behaviour
It shouldn't

[2018-08-22 15:27] Swati4star opened #413 "[New feature] Add images to existing PDF"
### What to do?
- Add a new option in the navigation drawer `Add Images`
- Make this fragment similar to reorder pages . (with button to select file, bottom sheet, and create PDF button)
- In addition to that, add a button to allow users to select images (similar to home page). Also add a text view, `The images you select will be added to the end of selected PDF.`

- when user selects `create PDF`

[2018-08-27 10:42] Swati4star commented on #397
Sure @anirudh8860

[2018-08-27 10:50] #412 closed

[2018-08-27 12:59] vyankatesh24 commented on #285
@Swati4star
This issue is not valid now, as we have removed those buttons.

[2018-08-27 14:14] Swati4star commented on #397
Also, add default border width value also

[2018-08-27 14:39] Swati4star commented on #285
Oh yes! Thanks for noticing!

[2018-08-27 14:39] #285 closed

[2018-08-28 09:36] #397 closed

[2018-08-28 14:33] Swati4star commented on #367
@vyankatesh24 The read & write permission should be enough for this. 👍

[2018-08-28 15:17] Swati4star opened #420 "[Split PDF] Allow random file splitting"
Currently, the split PDf option splits the selected PDF into PDFs of single page

### What to do?
Allow users to split files randomly also

[2018-08-28 16:17] #367 closed

[2018-09-01 18:44] #326 closed

[2018-09-02 05:56] #368 closed

[2018-09-02 06:49] vyankatesh24 commented on #147
Would like to work it.

[2018-09-02 06:51] Swati4star commented on #147
Sure @vyankatesh24 👍

[2018-09-02 13:42] Swati4star opened #425 "[Extract images] Add an option to view all the extracted images"
- When the images are extracted, add a new button `View Images`
- On selecting this, open up a new activity which has image & textview `showing x of x`
- On sliding this image, next image should be shown.

[2018-09-03 08:54] #147 closed

[2018-09-10 06:34] vishalkalra9 commented on #393
Hi Swati, I think on home page there should be only options to view and create new as not many users would be coming with the intention to add or remove passwords. Those are mostly required at the time of creating pdfs. Still some might come for removing passwords before sharing so that can be placed at the bottom for better user interface. Also sharing is done after browsing only so View files sh

[2018-09-10 15:52] Swati4star commented on #393
We should move View files & view conversion history to top.

[2018-09-11 13:58] Swati4star commented on #409
We have started using device camera only, while selecting images (after integration of new Matisse library)

[2018-09-11 13:58] #409 closed

[2018-09-11 14:00] Swati4star commented on #146
We have started using a new library (Mattise). That application uses device's primary camera only when clicking images.

[2018-09-11 14:00] #146 closed

[2018-09-15 08:48] #393 closed

[2018-09-15 16:44] #425 closed

[2018-09-16 08:01] #390 closed

[2018-09-18 06:01] Swati4star opened #427 "[New Feature] Allow users to scan QR code"
### Scan QR code
- This should open up a QR code scanner
- Show the output.
- Allow users to save the QR code information as pdf or text file.

Use this library :
https://github.com/zxing/zxing

[2018-09-24 05:32] #361 closed

[2018-09-26 11:06] #138 closed

[2018-09-26 11:24] Swati4star opened #431 "[Merge PDF enhancement] Show checkboxes on selected files"
- In merge PDF, users can select multiple files to be merged

### What to do?
- Add checkbox before each filename in the bottom sheet
- On checking that, it should be added for merge.
- On unchecking, remove it.

[2018-09-26 11:27] Swati4star opened #432 "[Merge PDF] Allow users to reorder the sequence of PDFs in merged PDF"
- While merging PDF, user can select multiple files.

### what to do?
- Add an upward & downward arrow item to the listview where list of PDFs to be merged is displayed.
- Disable upward icon for top one & downward icon for bottom most one
- On selecting upward icon, PDF should move 1 step up & down on selecting downward icon

[2018-09-27 15:47] Swati4star commented on #432
Sure @santoshhiremani !!

[2018-09-27 16:08] santoshhiremani commented on #432
Its ready for PR already....!!

[2018-09-27 16:08] Swati4star commented on #432
Awesome! 👍
Bring on the PR :D

[2018-09-27 16:31] santoshhiremani commented on #427
Zxing supports both QR and Barcodes..

[2018-09-27 16:32] Swati4star commented on #427
@santoshhiremani We can have the facility for both then.

[2018-09-27 18:32] #145 closed

[2018-09-28 03:50] Swati4star commented on #427
Not in `Create PDF`. Add it as a seperate fragment in the navigation drawer.

In the home page, just add an icon for it in other options.

[2018-09-28 09:59] santoshhiremani commented on #427
Is there any implemented method to write string to pdf ? Since i can see its only from text file path.

[2018-09-28 11:29] sasfmlzr opened #438 "[Bug] App crashed, when pdf created from snapshot of camera"
Click Images to PDF - SELECT IMAGES - Camera - Snapshot - Create PDF.
After click Create PDF - stacktrace.
`W/4star.createpd: Accessing hidden field Landroid/widget/TextView;->mCursorDrawableRes:I (light greylist, reflection)
    Accessing hidden field Landroid/widget/TextView;->mEditor:Landroid/widget/Editor; (light greylist, reflection)
D/MDTintHelper: Device issue with cursor tinting: No field

[2018-09-28 11:33] sasfmlzr commented on #438
After crached file saved with 0 bytes and it encrypted.
![image](https://user-images.githubusercontent.com/32689674/46206061-80665400-c32b-11e8-9dd8-3ee752f40950.png)

[2018-09-28 16:41] #427 closed

[2018-09-28 16:41] Swati4star commented on #438
Good finding!

[2018-09-29 16:36] Swati4star opened #440 "Add Merge PDF option in View Files"
### What to do?
The user can select multiple multiple files in `View Files` fragment.
- When more than 1 file is selected, show a new option in the action bar: `Merge PDF` (show it's icon)
- If the user selects that option, show a dialog to allow user to enter file name
- Merge the selected PDFs into a single PDF

[2018-09-29 16:39] Swati4star opened #441 "Add `Remove password` and `Add password` option in navigation drawer"
The option to `add` and `remove` password is already there in view files.
- Add this option in navigation drawer
- The view should be similar to `compress PDF`....with a button to select file, a bottom sheet with file list populated & a button to add/remove password
- On selecting the button, ask user to enter password
- If everything goes fine, create the required PDF

[2018-09-30 17:13] DJCrashdummy opened #442 "please change version name & increase version code for each release"
according to [this issue](https://gitlab.com/fdroid/fdroiddata/issues/1378) can you please ensure to change the version name and increase the version code for each release, to make automatic updates work at [f-droid](https://f-droid.org/packages/swati4star.createpdf/).

thank you very much!

[2018-10-01 05:47] Swati4star opened #443 "Allow users to add margins while creating PDF from images"
- Add a new option in Images to PDF : `Add custom margin`
- On clicking this, a new dialog should open up, which allows user to enter 4 values : top, bottom, right, left margin

### Reference
https://developers.itextpdf.com/examples/itext5-building-blocks/page-size

[2018-10-01 07:16] DJCrashdummy commented on #442
as you can [see here](https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/swati4star.createpdf.txt#L47), it is now setup for auto-updating (it's just a matter of time until build 2.5 appears).
[but release 2.5.1 won't be detected](https://gitlab.com/fdroid/fdroiddata/blob/master/metadata/swati4star.createpdf.txt#L49) because - according to the linked issue - the release was tagged before bum

[2018-10-01 07:28] Swati4star commented on #442
I have created a new release now. Is this fine?
I hope the latest version would be available on fdroid soon.

[2018-10-01 07:28] Swati4star commented on #442
https://github.com/Swati4star/Images-to-PDF/releases

[2018-10-01 07:30] Swati4star commented on #442
It's still version 1.0 available here : https://fossdroid.com/a/pdf-creator-2.html

[2018-10-01 08:01] DJCrashdummy commented on #442
@Swati4star yes, as added afterwards to the 1st paragraph of my last comment: it can take some time ~1-3 days until a new release is recognized, build and published... probably even a little longer until it gets to fossdroid.

...so lets wait and see if auto-update works and 2.5 & 8.0.0 appear. :wink:

[2018-10-01 09:27] rishabhdeepsingh opened #444 "Showing PDF is password Protected"
I try to remove pages from a PDF I created it's saying that its password protected even though I have not set any password.

How to rebuild this bug.
1. Create a new PDF.
2. Select ```Remove Pages```
3. In remove pages select ```Select a File```
4. After setting a page number (e.g. ```1```  or  ```1-1```) and clicking on ```Create PDF``` I get a Toast saying PDF is password Protected even though I

[2018-10-01 09:32] Swati4star commented on #444
- This issue exists when we select PDF from external storage.
- We are unable to correctly convert file path to uri.

[2018-10-01 09:43] Cuesta46 commented on #444
that could be when you created a pdf and shared you have to posible license read and write or only read

[2018-10-01 09:44] rishabhdeepsingh commented on #444
Its an issue with Internet storage as well. I don't have any External storge.

[2018-10-01 09:46] Swati4star commented on #444
Yes! The issue is, we are getting uri from the intent, and we are incorrectly parsing it to wrong storage path.

The pdf reader is unable to read any PDF from that path, and is throwing `password protected PDF` error

[2018-10-01 13:12] santoshhiremani commented on #250
Still open ?

[2018-10-01 13:13] Swati4star commented on #250
Yes. It's open

[2018-10-01 13:14] santoshhiremani commented on #250
Can i check this

[2018-10-01 13:15] Swati4star commented on #250
Sure.

[2018-10-01 13:29] santoshhiremani commented on #250
Will to keep only password, set page size, preview,  border and greyscale i. e related to PDF, I don't think image properties are required here to process images out of PPT.

[2018-10-01 13:46] manjutapali commented on #186
Can I work on this?

[2018-10-01 13:50] Swati4star commented on #186
Sure @manjutapali

[2018-10-01 13:50] Swati4star commented on #250
Yeah. Keep only the relevant properties

[2018-10-01 17:15] Swati4star opened #445 "[New feature] Extract text from PDF"
### What to do?
- Add a new option in the navigation drawer: `Extract text`. Add this to home page also.
- Allow user to select a PDF (using a button, as well as, bottom sheet)
- Add another button : `Extract text from PDF`
- On clicking above button, ask user to enter file name. Create txt file from text in the PDF

### Reference
https://stackoverflow.com/a/11317420/3623128

[2018-10-01 17:23] Swati4star opened #446 "[PDF enhancement options] Add page number of PDF"
- Add a new option `Show page number` in `More enhancement option` in `images to PDF`
- On selecting above, show a dialog to Allow users to select from some page number formats like :
  - Page X of N
  - Page X
  - X

### Reference
https://stackoverflow.com/questions/5717981/show-page-numbers-in-pdf-using-itext

[2018-10-01 17:42] Swati4star opened #447 "[Improve remove pages] Show a preview of each page and cross icons"
- Allow users to select a pdf.
- Remove the edit text & text view that is already there. Instead of that, when a PDF is selected, render the pages of PDF as images (https://developer.android.com/reference/android/graphics/pdf/PdfRenderer) in a list view.
- At the top right of each page, add a cross icon.
- When user selects that cross icon, remove that page
- Add a button at the bottom, `Create PD

[2018-10-01 18:02] getsanjeev commented on #445
@Swati4star May I work on this?

[2018-10-01 19:13] Arbalest007 commented on #346
I would like to work on this!

[2018-10-02 04:41] Swati4star commented on #346
Sure @Arbalest007 👍

[2018-10-02 04:42] Swati4star commented on #445
Sure @PseudoAj 👍
You can work on this.

[2018-10-02 06:54] bunhann commented on #446
I'll complete this.

[2018-10-02 10:39] Rimjhim28 commented on #441
@Swati4star Can I work on this issue?

[2018-10-02 15:39] manjutapali commented on #186
@Swati4star
Hi,
To convert Excel to PDF, I need to read the excel file and tabulate it to write in PDF file. The link which you suggested uses Apache POI library. The library is available as jar file and needs to remove the dependencies from it to use in android. Here is what I found,

https://stackoverflow.com/questions/24442758/how-to-satisfy-dependencies-for-apache-poi-on-android

Can you pleas

[2018-10-02 17:35] #447 closed

[2018-10-03 08:55] manjutapali commented on #186
I am not sure about reading excel file using iText7.
I meant Apache POI is used to read the excel file and use Itext7 to write it in PDF.

[2018-10-03 11:35] manjutapali commented on #186
I referred the following link - https://stackoverflow.com/a/45907948/4865744
Please read the first comment.

[2018-10-04 05:49] Swati4star opened #452 "Few issues in Bottom sheet"
- The lock icon is white in color [See the last PDF] : Inreorder/remove/compress/split/merge PDF, there is a bottom sheet. If PDF is password protected, a lock icon is displayed
<img width="337" alt="screenshot 2018-10-04 at 11 17 27 am" src="https://user-images.githubusercontent.com/9164477/46455102-189a8800-c7c7-11e8-96e1-681199407f7e.png">

- Show `fetching files..` message in the bottom sheet

[2018-10-04 05:51] Swati4star opened #453 "The current fragment is not getting highlighted when we select fragment from home page"
## Steps to reproduce
- Go to home page. Select any option
- check the navigation drawer, still home is selected

### Expected behaviour
The corresponding fragment should get selected

[2018-10-04 07:03] Swati4star opened #454 "[Crash] Input dispatching timed out"
### Crash log

I received this crash log in playstore reports. I don't know how this issue can be reproduced looking at the logs. If someone can help with this, it would be great. 💯

[code]

[code]
[code]

[code]

[2018-10-04 08:00] konstzv commented on #452
question on the first point - do you want to change the color of the icon to make it more visible or no?
Explain this point pls

[2018-10-04 08:42] Swati4star commented on #452
I want to make it more visible. [black in color]

[2018-10-04 08:57] Swati4star commented on #452
@konstzv Also, take care that we have different themes also. (Go to settings from the navigation drawer)

In white theme, the icon color should be black
but, in dark & black theme, it should be white.

[2018-10-04 09:33] #452 closed

[2018-10-04 09:46] manjutapali commented on #186
Ok.. Thank you. I'll try to do the same as you said.

I just want to clarify how many rows and columns can be added in the page. If it's relative to the number of columns then it's not good to do for a large number of column sheets.

[2018-10-04 10:03] konstzv commented on #453
Question:
The main screen has more actions than the navigation menu has  (for example Add password)
What should be selected for missing actions?

[2018-10-04 10:07] Swati4star commented on #186
What do you mean by how many rows & columns can be added? you can read that from excel sheet.

[2018-10-04 10:10] Swati4star commented on #453
I'll write down the expected selected fragment :
- For first, second, fourth & fifth row, it's pretty clear from the name
- For thrid row, select view files fragment for each of the three.

[2018-10-04 10:20] Swati4star opened #456 "[Bottom sheet] Show animation while files are getting loaded"
Show this animation while the files are getting loaded:
https://www.lottiefiles.com/2269-search-file

[Take care of animation color in different themes]

Currently, only a text `fetching files` is displayed.

[2018-10-04 10:44] manjutapali commented on #186
I thought PDF conversion should be of A4 size sheet.

[2018-10-04 11:34] manjutapali commented on #186
Hi @Swati4star,

Reading an excel file as a text file with input stream doesn't give the values of the rows and columns in a formatted style. Since it has a proprietary binary format which can be read using Workbook which is available in the Apache POI library. I did try to go through many links, everywhere they used Apache POI library. If you have any specific links to refer please share.

I have

[2018-10-04 15:03] Swati4star commented on #186
Will have to include apache POI library only then. I don't know how to integrate that in the project, will have to google only.

[2018-10-04 15:04] #453 closed

[2018-10-04 15:19] manjutapali commented on #186
Ok. I'll try to do it and let u know if something breaks up.

[2018-10-05 13:11] vyankatesh24 commented on #396
Hello @Swati4star
Would like to work on it.

[2018-10-05 15:59] nitinnatural commented on #456
@Swati4star Can you explain this.. like at which screen need to implement this.

[2018-10-05 16:03] yuval105 commented on #443
I'll give it a try.

[2018-10-05 16:18] Swati4star commented on #396
Hi! Yeah, sure 👍

[2018-10-05 16:19] Swati4star commented on #443
Sure @yuval105 👍

[2018-10-05 16:20] Swati4star commented on #456
Check this PR. https://github.com/Swati4star/Images-to-PDF/pull/455
I am talking about the bottom sheet. While the files are getting fetched, only `fetching files` is displayed. I want it to be replaced with animation

[2018-10-05 16:40] mursyidah commented on #108
May i try for this issue?

[2018-10-05 17:05] Swati4star commented on #108
Sure @mursyidah  👍

[2018-10-05 17:52] vyankatesh24 opened #458 "[Merge PDF] Merge PDF button remains white after File selection."
# Merge PDF button remains white even after File selection.
## how to reproduce
* Home -> Merge PDF
* Add Files
* Merge PDF button enables and color remains white.

## Expected Behaviour
* Color of the `Merge PDF` button should be same as of `Select Files` button

[2018-10-05 18:23] Swati4star opened #460 "[Bottom Sheet arrow icon] Add animation to bottom sheet arrow icon when it is getting slide up or down"
The bottom sheet in merge/split/reorder/remove   pages....and many other options, has a arrow icon.
The icon gets change to down & up. Add animation to it.

### Reference
https://android.jlelse.eu/choreographic-animations-with-androids-bottomsheet-fef06e6ecb81
[Check 2nd one here : Image animation]

[2018-10-05 19:14] vyankatesh24 commented on #458
Would like to work on it.

[2018-10-05 19:14] Swati4star commented on #458
Sure. Go ahead :+1:

[2018-10-05 19:41] amy6 commented on #460
Hey @Swati4star I'd like to take this up!

[2018-10-05 21:54] jwojciec commented on #132
PR opened: https://github.com/Swati4star/Images-to-PDF/pull/464

[2018-10-06 08:42] #443 closed